In [1]:
# Import dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pymongo

## Extract Victorian Biodiversity Atlas (VBA) fauna data

In [2]:
# Read just the column names in fauna data csv
col_names = pd.read_csv("../data/VBA_2015_2020.csv", nrows = 0).columns
col_names

Index(['RECORD_ID', 'SITE_ID', 'SURVEY_ID', 'PROJECT_ID', 'TAXON_ID',
       'SCI_NAME', 'COMM_NAME', 'RECORDTYPE', 'RELIABILTY', 'TOTALCOUNT',
       'STARTDATE', 'START_YEAR', 'START_MTH', 'ENDDATE', 'END_YEAR',
       'END_MTH', 'LOCN_DESC', 'TAXON_TYPE', 'LONG_DD94', 'LAT_DD94'],
      dtype='object')

In [3]:
# Set data types for columns with data types other than strings
dtypes_dict = {
    "TOTALCOUNT": int,
    "START_YEAR": int,
    "START_MTH": int,
    "END_YEAR": int,
    "END_MTH": int,
    "LONG_DD94": float,
    "LAT_DD94": float
}

In [4]:
# Read in vic fauna csv from 2015 to 2020
fauna_data = pd.read_csv(
    "../data/VBA_2015_2020.csv",
    parse_dates = ["STARTDATE", "ENDDATE"],
    dtype = {col: str for col in col_names if col not in dtypes_dict})
fauna_data.head()

,RECORD_ID,SITE_ID,SURVEY_ID,PROJECT_ID,TAXON_ID,SCI_NAME,COMM_NAME,RECORDTYPE,RELIABILTY,TOTALCOUNT,STARTDATE,START_YEAR,START_MTH,ENDDATE,END_YEAR,END_MTH,LOCN_DESC,TAXON_TYPE,LONG_DD94,LAT_DD94
0,8597419,947931,1405903,4377,1557,Paratya australiensis,Common Freshwater Shrimp,Observation,Confirmed,0,2016-12-16,2016,12,NaT,0,0,McCallum Creek-4_7-TR-16-333,"Mussels, decopod crustacea",143.649002,-37.283901
1,9067844,1084677,1776514,5326,10408,Colluricincla harmonica,Grey Shrike-thrush,Observation with supporting evidence,Acceptable,0,2018-08-28,2018,8,2018-09-25,2018,9,345-513-0003 FSQ1,Passerine birds,145.768997,-37.782501
2,8218590,771970,1221401,4366,10991,Turdus merula,Common Blackbird,Seen,Acceptable,0,2015-04-12,2015,4,NaT,0,0,Ocean Acres Bush Park Nature Reserve,Passerine birds,144.287399,-38.315601
3,9047388,1070861,1760792,5326,11242,Wallabia bicolor,Black-tailed Wallaby,Observation with supporting evidence,Acceptable,0,2018-11-14,2018,11,2018-12-14,2018,12,833-518-0004 BUQ1,Mammals,148.848099,-37.601601
4,9359539,1116727,1809370,5543,10525,Cisticola exilis,Golden-headed Cisticola,Seen,Acceptable,1,2015-05-07,2015,5,2015-05-07,2015,5,MANNIBADAR (581481),Passerine birds,143.481903,-37.781799

## Transform VBA fauna data

In [5]:
# Column Renaming
fauna_df = fauna_data.rename(columns={
    "RECORD_ID": "record_id",
    "SITE_ID": "site_id",
    "SURVEY_ID": "survey_id",
    "PROJECT_ID": "project_id",
    "TAXON_ID": "taxon_id",
    "SCI_NAME": "sci_name",
    "COMM_NAME": "comm_name",
    "RECORDTYPE": "recordtype",
    "RELIABILTY": "reliability",
    "TOTALCOUNT": "totalcount",
    "STARTDATE": "start_date",
    "START_YEAR": "start_year",
    "START_MTH": "start_mth",
    "ENDDATE": "end_date",
    "END_YEAR": "end_year",
    "END_MTH": "end_mth",
    "LOCN_DESC": "location_desc",
    "TAXON_TYPE": "taxon_type",
    "LONG_DD94": "long",
    "LAT_DD94": "lat"})

In [6]:
# Test record_id uniqueness
fauna_df.record_id.is_unique

True

In [7]:
print(f"Number of unique record ids: {fauna_df.record_id.nunique()}")

Number of unique record ids: 346829

In [8]:
# Test survey_id uniqueness
fauna_df.survey_id.is_unique

False

In [9]:
print(f"Number of unique survey ids: {fauna_df.survey_id.nunique()}")

Number of unique survey ids: 97240

In [10]:
# Test site_id uniqueness
fauna_df.site_id.is_unique

False

In [11]:
print(f"Number of unique site ids: {fauna_df.site_id.nunique()}")

Number of unique site ids: 55164

In [12]:
# Test project_id uniqueness
fauna_df.project_id.is_unique

False

In [13]:
print(f"Number of unique project ids: {fauna_df.project_id.nunique()}")

Number of unique project ids: 522

In [14]:
# Test taxon_id uniqueness
fauna_df.taxon_id.is_unique

False

In [15]:
print(f"Number of unique taxon ids: {fauna_df.taxon_id.nunique()}")

Number of unique taxon ids: 941

In [16]:
print(f"Number of unique taxon types: {fauna_df.taxon_type.nunique()}")

Number of unique taxon types: 14

In [17]:
# Reorder the columns
fauna_df = fauna_df[["record_id", "survey_id", "site_id", "project_id", "taxon_id", "taxon_type"
                     ,"comm_name", "sci_name", "totalcount", "location_desc", "long", "lat"
                     ,"end_year", "end_mth", "end_date", "start_year", "start_mth", "start_date"
                     ,"recordtype", "reliability"]]
fauna_df.head()

,record_id,survey_id,site_id,project_id,taxon_id,taxon_type,comm_name,sci_name,totalcount,location_desc,long,lat,end_year,end_mth,end_date,start_year,start_mth,start_date,recordtype,reliability
0,8597419,1405903,947931,4377,1557,"Mussels, decopod crustacea",Common Freshwater Shrimp,Paratya australiensis,0,McCallum Creek-4_7-TR-16-333,143.649002,-37.283901,0,0,NaT,2016,12,2016-12-16,Observation,Confirmed
1,9067844,1776514,1084677,5326,10408,Passerine birds,Grey Shrike-thrush,Colluricincla harmonica,0,345-513-0003 FSQ1,145.768997,-37.782501,2018,9,2018-09-25,2018,8,2018-08-28,Observation with supporting evidence,Acceptable
2,8218590,1221401,771970,4366,10991,Passerine birds,Common Blackbird,Turdus merula,0,Ocean Acres Bush Park Nature Reserve,144.287399,-38.315601,0,0,NaT,2015,4,2015-04-12,Seen,Acceptable
3,9047388,1760792,1070861,5326,11242,Mammals,Black-tailed Wallaby,Wallabia bicolor,0,833-518-0004 BUQ1,148.848099,-37.601601,2018,12,2018-12-14,2018,11,2018-11-14,Observation with supporting evidence,Acceptable
4,9359539,1809370,1116727,5543,10525,Passerine birds,Golden-headed Cisticola,Cisticola exilis,1,MANNIBADAR (581481),143.481903,-37.781799,2015,5,2015-05-07,2015,5,2015-05-07,Seen,Acceptable

In [18]:
# Overview of the fauna data
fauna_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 346829 entries, 0 to 346828
Data columns (total 20 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   record_id      346829 non-null  object
 1   survey_id      346829 non-null  object
 2   site_id        346829 non-null  object
 3   project_id     346829 non-null  object
 4   taxon_id       346829 non-null  object
 5   taxon_type     346829 non-null  object
 6   comm_name      346829 non-null  object
 7   sci_name       346829 non-null  object
 8   totalcount     346829 non-null  int64
 9   location_desc  346829 non-null  object
 10  long           346829 non-null  float64
 11  lat            346829 non-null  float64
 12  end_year       346829 non-null  int64
 13  end_mth        346829 non-null  int64
 14  end_date       52465 non-null   datetime64[ns]
 15  start_year     346829 non-null  int64
 16  start_mth      346829 non-null  int64
 17  start_date     346829 non-null  datetime64[ns]
 18  recordtype     346829 non-null  object
 19  reliability    346829 non-null  object
dtypes: datetime64[ns](2), float64(2), int64(5), object(11)
memory usage: 52.9+ MB

In [19]:
# We can see that the TOTALCOUNT of some records is 0. Let's have an overview of them
zero_totalcount = fauna_df[fauna_df["totalcount"] == 0]
zero_totalcount.head(10)

,record_id,survey_id,site_id,project_id,taxon_id,taxon_type,comm_name,sci_name,totalcount,location_desc,long,lat,end_year,end_mth,end_date,start_year,start_mth,start_date,recordtype,reliability
0,8597419,1405903,947931,4377,1557,"Mussels, decopod crustacea",Common Freshwater Shrimp,Paratya australiensis,0,McCallum Creek-4_7-TR-16-333,143.649002,-37.283901,0,0,NaT,2016,12,2016-12-16,Observation,Confirmed
1,9067844,1776514,1084677,5326,10408,Passerine birds,Grey Shrike-thrush,Colluricincla harmonica,0,345-513-0003 FSQ1,145.768997,-37.782501,2018,9,2018-09-25,2018,8,2018-08-28,Observation with supporting evidence,Acceptable
2,8218590,1221401,771970,4366,10991,Passerine birds,Common Blackbird,Turdus merula,0,Ocean Acres Bush Park Nature Reserve,144.287399,-38.315601,0,0,NaT,2015,4,2015-04-12,Seen,Acceptable
3,9047388,1760792,1070861,5326,11242,Mammals,Black-tailed Wallaby,Wallabia bicolor,0,833-518-0004 BUQ1,148.848099,-37.601601,2018,12,2018-12-14,2018,11,2018-11-14,Observation with supporting evidence,Acceptable
6,9067841,1776514,1084677,5326,10488,Passerine birds,White-browed Scrubwren,Sericornis frontalis,0,345-513-0003 FSQ1,145.768997,-37.782501,2018,9,2018-09-25,2018,8,2018-08-28,Observation with supporting evidence,Acceptable
9,8897604,1686135,1000965,4335,528552,Mammals,Red Fox,Vulpes vulpes,0,Basalt 10,144.098206,-37.270500,2018,2,2018-02-07,2018,1,2018-01-17,Observation with supporting evidence,Acceptable
10,9345216,1799930,1107289,2936,5140,Fish,Dry waterbody,Misc Dry,0,Pig and Whistle Creek-2_23-TR-18-421,147.853394,-37.532299,0,0,NaT,2018,11,2018-11-16,Observation,Confirmed
12,8432377,1292811,840246,4551,10364,Passerine birds,Willie Wagtail,Rhipidura leucophrys,0,Bulla Hill and School Hill,144.802200,-37.634102,0,0,NaT,2015,5,2015-05-18,Observation,Acceptable
13,8956790,1715391,1027944,4836,11003,Mammals,Short-beaked Echidna,Tachyglossus aculeatus,0,New Holland Mouse camera survey_Site_NHM423,147.533798,-38.084000,2018,3,2018-03-20,2018,3,2018-03-07,Observation with supporting evidence,Acceptable
15,8994856,1741637,1052493,5326,11115,Mammals,Mountain Brush-tailed Possum,Trichosurus cunninghami,0,298-516-0003,145.521393,-37.442902,2018,8,2018-08-23,2018,7,2018-07-27,Observation with supporting evidence,Acceptable

In [20]:
# Percentage of number of rows with totalcount equal to 0 against total number of rows of the dataframe
(zero_totalcount.shape[0]/fauna_df.shape[0])*100

19.936914156544002

## Filter VBA fauna data against scraped data

In [21]:
# Import the webscraped animal data
scraped_df = pd.read_csv("../data/animal_image_to_merge.csv", dtype="str")
scraped_df.head()

,animal_name,image_url,image_alternative,introduction,threat_paragraph
0,Alpine She-oak Skink,https://www.zoo.org.au/media/2050/1023_alpine_...,Alpine She-oak Skink sunning it self on a rock...,Found in only a few locations in Victoria and ...,Major threats\nFire is a huge danger to the Al...
1,Baw Baw Frog,https://www.zoo.org.au/media/2052/21295_baw_ba...,Baw Baw Frog resting in bright green moss. Loo...,All estimates point to extinction in the wild ...,Major threats\nThe loss of the Baw Baw Frog is...
2,Brush-tailed Rock-wallaby,https://www.zoo.org.au/media/2045/21882_brush-...,Brush Tailed Rock Wallabies resting in the grass.,"In Victoria, the Brush-tailed Rock-wallaby now...",Major threats \nChanges to habitat and the imp...
3,Eastern Barred Bandicoot,https://www.zoo.org.au/media/2053/4376_eastern...,Small Eastern Barred Bandicoot side view forag...,The Eastern Barred Bandicoot is listed as exti...,The plan for recovery\nZoos Victoria has partn...
4,Giant Burrowing Frog,https://www.zoo.org.au/media/2056/23479_giant_...,Giant Burrowing Frog on wet rocks side view. T...,Although we know that populations of the Giant...,"['Over the next five years, Zoos Victoria will..."

In [22]:
# Extract list of unique animals of interest
species = scraped_df["animal_name"].unique().tolist()

In [23]:
# Filter the fauna data with the species of interest
short_fauna_df = fauna_df[fauna_df["comm_name"].isin(species)]
short_fauna_df.head()

,record_id,survey_id,site_id,project_id,taxon_id,taxon_type,comm_name,sci_name,totalcount,location_desc,long,lat,end_year,end_mth,end_date,start_year,start_mth,start_date,recordtype,reliability
102,8261909,1225877,833395,4236,11141,Mammals,Leadbeater's Possum,Gymnobelideus leadbeateri,0,DSS3B,145.841904,-37.845600,0,0,NaT,2016,4,2016-04-24,Observation,Confirmed
195,8590335,1401349,943395,4095,11141,Mammals,Leadbeater's Possum,Gymnobelideus leadbeateri,1,DELWP Case Reference number 2017-0060,146.288498,-37.922600,0,0,NaT,2017,8,2017-08-20,Seen,Confirmed
391,6942095,1102090,766516,4078,11141,Mammals,Leadbeater's Possum,Gymnobelideus leadbeateri,1,Mon1_camera1,145.934403,-37.818600,2015,9,2015-09-29,2015,9,2015-09-08,Observation,Confirmed
426,8596613,1405576,947609,1,10309,Non-passerine birds,Swift Parrot,Lathamus discolor,5,"Mclaughlans Lane Pipetrack, Plenty",145.108398,-37.676399,2017,9,2017-09-25,2017,9,2017-09-25,Observation,Acceptable
538,6870927,1085373,716545,4078,11141,Mammals,Leadbeater's Possum,Gymnobelideus leadbeateri,1,40.2_camera2,146.115204,-37.784802,2015,5,2015-05-11,2015,4,2015-04-17,Observation,Confirmed

In [24]:
# Overview of the fauna data after filtering
short_fauna_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2712 entries, 102 to 346720
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   record_id      2712 non-null   object
 1   survey_id      2712 non-null   object
 2   site_id        2712 non-null   object
 3   project_id     2712 non-null   object
 4   taxon_id       2712 non-null   object
 5   taxon_type     2712 non-null   object
 6   comm_name      2712 non-null   object
 7   sci_name       2712 non-null   object
 8   totalcount     2712 non-null   int64
 9   location_desc  2712 non-null   object
 10  long           2712 non-null   float64
 11  lat            2712 non-null   float64
 12  end_year       2712 non-null   int64
 13  end_mth        2712 non-null   int64
 14  end_date       899 non-null    datetime64[ns]
 15  start_year     2712 non-null   int64
 16  start_mth      2712 non-null   int64
 17  start_date     2712 non-null   datetime64[ns]
 18  recordtype     2712 non-null   object
 19  reliability    2712 non-null   object
dtypes: datetime64[ns](2), float64(2), int64(5), object(11)
memory usage: 444.9+ KB

In [25]:
# Check for any extreme values
print(f"Maximum total count is: {short_fauna_df.totalcount.max()}")
print(f"Minimum total count is: {short_fauna_df.totalcount.min()}")
print(f"Maximum longitude is: {short_fauna_df.long.max()}")
print(f"Minimum longitude is: {short_fauna_df.long.min()}")
print(f"Maximum latitude is: {short_fauna_df.lat.max()}")
print(f"Minimum latitude is: {short_fauna_df.lat.min()}")
print(f"Maximum end year is: {short_fauna_df.end_year.max()}")
print(f"Minimum end year is: {short_fauna_df.end_year.min()}")
print(f"Maximum end month is: {short_fauna_df.end_mth.max()}")
print(f"Minimum end month is: {short_fauna_df.end_mth.min()}")
print(f"Maximum start year is: {short_fauna_df.start_year.max()}")
print(f"Minimum start year is: {short_fauna_df.start_year.min()}")
print(f"Maximum start month is: {short_fauna_df.start_mth.max()}")
print(f"Minimum start month is: {short_fauna_df.start_mth.min()}")
print(f"Maximum start date is: {short_fauna_df.start_date.max()}")
print(f"Minimum start date is: {short_fauna_df.start_date.min()}")

Maximum total count is: 128
Minimum total count is: 0
Maximum longitude is: 149.9367981
Minimum longitude is: 140.9933014
Maximum latitude is: -34.5940018
Minimum latitude is: -39.0321007
Maximum end year is: 2020
Minimum end year is: 0
Maximum end month is: 12
Minimum end month is: 0
Maximum start year is: 2020
Minimum start year is: 2015
Maximum start month is: 12
Minimum start month is: 1
Maximum start date is: 2020-03-30 00:00:00
Minimum start date is: 2015-01-01 00:00:00

As can be seen, there are a number of records with total count of 0. They are records of surveys with no sightings of a targeted specie. Hence, we'll remove them.

As there are a lot of null end_date values, their extracted end years and end months equal to 0. Hence we might use start date in our time series visualisation. The null end dates might indicate that a survey hasn't ended up to our group's data extraction.

In [26]:
print(f"The number of records with totalcount of zero: {short_fauna_df[short_fauna_df.totalcount == 0].shape[0]}")

The number of records with totalcount of zero: 623

In [27]:
# Values in location description column
short_fauna_df["location_desc"].unique()

array(['DSS3B', 'DELWP Case Reference number 2017-0060', 'Mon1_camera1',
       ..., '316A', '316B', '316C'], dtype=object)

In [28]:
# Values in record types column
short_fauna_df["recordtype"].unique()

array(['Observation', 'Seen', 'Observation with supporting evidence',
       'Captured and released', 'Indirect evidence', 'Heard', 'Captured'],
      dtype=object)

In [29]:
# Values in reliability column
short_fauna_df["reliability"].unique()

array(['Confirmed', 'Acceptable'], dtype=object)

Values in the location description, record types and reliability columns do not seem to be informative enough. Hence we'll remove these columns. We'll also remove columns project_id and site_id as they are not required for our project's purpose.

In [30]:
# Filter out the records with total count of 0 and remove end_year, end_date, and end_mth columns
final_fauna_df = short_fauna_df[short_fauna_df.totalcount > 0].drop([
    'site_id', 'project_id', "location_desc", 'end_year', 'end_mth', 'end_date', 'recordtype', 'reliability'], axis = 1)
final_fauna_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2089 entries, 195 to 346720
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   record_id   2089 non-null   object
 1   survey_id   2089 non-null   object
 2   taxon_id    2089 non-null   object
 3   taxon_type  2089 non-null   object
 4   comm_name   2089 non-null   object
 5   sci_name    2089 non-null   object
 6   totalcount  2089 non-null   int64
 7   long        2089 non-null   float64
 8   lat         2089 non-null   float64
 9   start_year  2089 non-null   int64
 10  start_mth   2089 non-null   int64
 11  start_date  2089 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(3), object(6)
memory usage: 212.2+ KB

In [31]:
# Sort the fauna dataframe by comm_name and start_date
final_fauna_df.sort_values(by=["comm_name", "start_date"], ascending=False, inplace=True)
final_fauna_df.head(10)

,record_id,survey_id,taxon_id,taxon_type,comm_name,sci_name,totalcount,long,lat,start_year,start_mth,start_date
215900,10101482,1974369,10309,Non-passerine birds,Swift Parrot,Lathamus discolor,3,142.891296,-37.227798,2019,7,2019-07-31
251630,10101212,1974245,10309,Non-passerine birds,Swift Parrot,Lathamus discolor,24,142.959793,-37.034199,2019,7,2019-07-28
183286,10101124,1974203,10309,Non-passerine birds,Swift Parrot,Lathamus discolor,2,145.136703,-37.910301,2019,7,2019-07-27
115272,10101013,1974141,10309,Non-passerine birds,Swift Parrot,Lathamus discolor,1,144.324997,-36.826500,2019,7,2019-07-25
254338,10002266,1934731,10309,Non-passerine birds,Swift Parrot,Lathamus discolor,1,144.506195,-38.239498,2019,7,2019-07-14
329159,9595974,1834431,10309,Non-passerine birds,Swift Parrot,Lathamus discolor,1,142.725494,-37.002800,2019,7,2019-07-12
135869,10100209,1973712,10309,Non-passerine birds,Swift Parrot,Lathamus discolor,2,144.711807,-36.962601,2019,7,2019-07-09
177207,10099902,1973554,10309,Non-passerine birds,Swift Parrot,Lathamus discolor,2,144.613297,-37.314499,2019,7,2019-07-04
213876,10099632,1973406,10309,Non-passerine birds,Swift Parrot,Lathamus discolor,15,144.672394,-37.940201,2019,6,2019-06-30
87682,10099502,1973343,10309,Non-passerine birds,Swift Parrot,Lathamus discolor,1,144.780395,-37.860199,2019,6,2019-06-26

## Filter webscraped animal image data against VBA fauna data

In [32]:
final_animal_list = final_fauna_df["comm_name"].unique().tolist()
final_animal_list

['Swift Parrot',
 'Regent Honeyeater',
 'New Holland Mouse',
 'Mountain Pygmy-possum',
 'Mallee Emu-wren',
 "Leadbeater's Possum",
 'Hooded Plover',
 'Greater Glider',
 'Giant Burrowing Frog']

In [33]:
# Number of final animals
len(final_animal_list)

9

In [34]:
# Number of taxon ids
taxon_ids = final_fauna_df["taxon_id"].unique().tolist()
len(taxon_ids)

9

The number of animals is equal to the number of taxon ids. For each animal of interest, there is only one corresponding taxon id.

In [35]:
# Filter the webscraped data to have only the above animals
final_scraped_df = scraped_df[scraped_df["animal_name"].isin(final_animal_list)].copy()
final_scraped_df

,animal_name,image_url,image_alternative,introduction,threat_paragraph
4,Giant Burrowing Frog,https://www.zoo.org.au/media/2056/23479_giant_...,Giant Burrowing Frog on wet rocks side view. T...,Although we know that populations of the Giant...,"['Over the next five years, Zoos Victoria will..."
11,Leadbeater's Possum,https://www.zoo.org.au/media/2057/22861_leadbe...,Close up view of the face of a Leadbeater Poss...,"Once thought to be extinct, the Leadbeater's P...",The major threats\nThe loss of hollow-bearing ...
13,Mallee Emu-wren,https://www.zoo.org.au/media/1961/23483_mallee...,Mallee Emu-wren in long dry grass looking at t...,The Mallee Emu-wren is particularly vulnerable...,"['In fact, it was a series of fires that cause..."
14,Mountain Pygmy-possum,https://www.zoo.org.au/media/2058/16910_mounta...,Mountain Pygmy Possum standing on its hind leg...,Mountain Pygmy-possums were thought to be exti...,"The major threats \nClimate change, the loss o..."
15,New Holland Mouse,https://www.zoo.org.au/media/1732/new-holland-...,New Holland Mouse getting a health check wrapp...,The New Holland Mouse is classified as extinct...,The major threats\nThe New Holland Mouse is in...
19,Regent Honeyeater,https://www.zoo.org.au/media/2055/22249_regent...,Regent Honeyeater bird on a branch looking dow...,The Regent Honeyeater has been in decline sinc...,The major threats\nThe loss of the Box-Ironbar...
25,Swift Parrot,https://www.zoo.org.au/media/1960/23484_swift_...,Green Swift Parrot perched on a branch looking...,The Swift Parrot is critically endangered.,['Unless we can solve the issues surrounding i...
27,Greater Glider,https://www.environment.vic.gov.au/__data/asse...,Greater Glider,NaN,Species InformationThe Greater Glider is Austr...
28,Hooded Plover,https://www.environment.vic.gov.au/__data/asse...,Hooded Plover,Species Information\n\nHooded Plovers are a re...,Threats\n\nHooded Plovers often share their oc...

In [36]:
# Overview of the scraped data
final_scraped_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9 entries, 4 to 28
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   animal_name        9 non-null      object
 1   image_url          9 non-null      object
 2   image_alternative  9 non-null      object
 3   introduction       8 non-null      object
 4   threat_paragraph   9 non-null      object
dtypes: object(5)
memory usage: 432.0+ bytes

In [37]:
# Fill the NaN values with None values for the json-converted file to work
final_scraped_df = final_scraped_df.where(final_scraped_df.notnull(), None)
final_scraped_df

,animal_name,image_url,image_alternative,introduction,threat_paragraph
4,Giant Burrowing Frog,https://www.zoo.org.au/media/2056/23479_giant_...,Giant Burrowing Frog on wet rocks side view. T...,Although we know that populations of the Giant...,"['Over the next five years, Zoos Victoria will..."
11,Leadbeater's Possum,https://www.zoo.org.au/media/2057/22861_leadbe...,Close up view of the face of a Leadbeater Poss...,"Once thought to be extinct, the Leadbeater's P...",The major threats\nThe loss of hollow-bearing ...
13,Mallee Emu-wren,https://www.zoo.org.au/media/1961/23483_mallee...,Mallee Emu-wren in long dry grass looking at t...,The Mallee Emu-wren is particularly vulnerable...,"['In fact, it was a series of fires that cause..."
14,Mountain Pygmy-possum,https://www.zoo.org.au/media/2058/16910_mounta...,Mountain Pygmy Possum standing on its hind leg...,Mountain Pygmy-possums were thought to be exti...,"The major threats \nClimate change, the loss o..."
15,New Holland Mouse,https://www.zoo.org.au/media/1732/new-holland-...,New Holland Mouse getting a health check wrapp...,The New Holland Mouse is classified as extinct...,The major threats\nThe New Holland Mouse is in...
19,Regent Honeyeater,https://www.zoo.org.au/media/2055/22249_regent...,Regent Honeyeater bird on a branch looking dow...,The Regent Honeyeater has been in decline sinc...,The major threats\nThe loss of the Box-Ironbar...
25,Swift Parrot,https://www.zoo.org.au/media/1960/23484_swift_...,Green Swift Parrot perched on a branch looking...,The Swift Parrot is critically endangered.,['Unless we can solve the issues surrounding i...
27,Greater Glider,https://www.environment.vic.gov.au/__data/asse...,Greater Glider,None,Species InformationThe Greater Glider is Austr...
28,Hooded Plover,https://www.environment.vic.gov.au/__data/asse...,Hooded Plover,Species Information\n\nHooded Plovers are a re...,Threats\n\nHooded Plovers often share their oc...

## Load

In [38]:
# Initialize PyMongo to work with MongoDBs
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

# Define database and collections
db = client.animal_visual_db
vba_fauna = db.vba_fauna
scraped_fauna = db.scraped_fauna

In [39]:
# Drops collections if available to remove duplicates
vba_fauna.drop()
scraped_fauna.drop()

In [40]:
# Load vba fauna data into the vba_fauna collection
vba_fauna.insert_many(final_fauna_df.to_dict('records'))

In [41]:
# Load scraped fauna image and info into the scraped_fauna collection
scraped_fauna.insert_many(final_scraped_df.to_dict('records'))

In [42]:
from pprint import pprint

for record in vba_fauna.find():
    pprint(record)

{'_id': ObjectId('5f695a1d145902aefb85b74c'),
 'comm_name': 'Swift Parrot',
 'lat': -37.2277985,
 'long': 142.89129640000002,
 'record_id': '10101482',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 7, 31, 0, 0),
 'start_mth': 7,
 'start_year': 2019,
 'survey_id': '1974369',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85b74d'),
 'comm_name': 'Swift Parrot',
 'lat': -37.0341988,
 'long': 142.95979309999998,
 'record_id': '10101212',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 7, 28, 0, 0),
 'start_mth': 7,
 'start_year': 2019,
 'survey_id': '1974245',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 24}
{'_id': ObjectId('5f695a1d145902aefb85b74e'),
 'comm_name': 'Swift Parrot',
 'lat': -37.910301200000006,
 'long': 145.13670349999998,
 'record_id': '10101124',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 7, 27, 0, 0),
 'start_mth': 7,
 'start_year': 2019,
 'survey_id': '1974203',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b74f'),
 'comm_name': 'Swift Parrot',
 'lat': -36.8264999,
 'long': 144.3249969,
 'record_id': '10101013',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 7, 25, 0, 0),
 'start_mth': 7,
 'start_year': 2019,
 'survey_id': '1974141',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b750'),
 'comm_name': 'Swift Parrot',
 'lat': -38.239498100000006,
 'long': 144.50619509999999,
 'record_id': '10002266',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 7, 14, 0, 0),
 'start_mth': 7,
 'start_year': 2019,
 'survey_id': '1934731',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b751'),
 'comm_name': 'Swift Parrot',
 'lat': -37.0028,
 'long': 142.7254944,
 'record_id': '9595974',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 7, 12, 0, 0),
 'start_mth': 7,
 'start_year': 2019,
 'survey_id': '1834431',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b752'),
 'comm_name': 'Swift Parrot',
 'lat': -36.9626007,
 'long': 144.7118073,
 'record_id': '10100209',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 7, 9, 0, 0),
 'start_mth': 7,
 'start_year': 2019,
 'survey_id': '1973712',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b753'),
 'comm_name': 'Swift Parrot',
 'lat': -37.3144989,
 'long': 144.61329650000002,
 'record_id': '10099902',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 7, 4, 0, 0),
 'start_mth': 7,
 'start_year': 2019,
 'survey_id': '1973554',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b754'),
 'comm_name': 'Swift Parrot',
 'lat': -37.9402008,
 'long': 144.6723938,
 'record_id': '10099632',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 6, 30, 0, 0),
 'start_mth': 6,
 'start_year': 2019,
 'survey_id': '1973406',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 15}
{'_id': ObjectId('5f695a1d145902aefb85b755'),
 'comm_name': 'Swift Parrot',
 'lat': -37.860199,
 'long': 144.7803955,
 'record_id': '10099502',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 6, 26, 0, 0),
 'start_mth': 6,
 'start_year': 2019,
 'survey_id': '1973343',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b756'),
 'comm_name': 'Swift Parrot',
 'lat': -36.1259003,
 'long': 146.6112976,
 'record_id': '10099235',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 6, 23, 0, 0),
 'start_mth': 6,
 'start_year': 2019,
 'survey_id': '1973205',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b757'),
 'comm_name': 'Swift Parrot',
 'lat': -36.1259003,
 'long': 146.6112976,
 'record_id': '10099277',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 6, 23, 0, 0),
 'start_mth': 6,
 'start_year': 2019,
 'survey_id': '1973238',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b758'),
 'comm_name': 'Swift Parrot',
 'lat': -37.836200700000006,
 'long': 144.8459015,
 'record_id': '10098530',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 6, 15, 0, 0),
 'start_mth': 6,
 'start_year': 2019,
 'survey_id': '1972931',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b759'),
 'comm_name': 'Swift Parrot',
 'lat': -37.231098200000005,
 'long': 142.88960269999998,
 'record_id': '10098334',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 6, 10, 0, 0),
 'start_mth': 6,
 'start_year': 2019,
 'survey_id': '1972843',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 11}
{'_id': ObjectId('5f695a1d145902aefb85b75a'),
 'comm_name': 'Swift Parrot',
 'lat': -36.9902,
 'long': 142.7312012,
 'record_id': '9083089',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 6, 9, 0, 0),
 'start_mth': 6,
 'start_year': 2019,
 'survey_id': '1780930',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85b75b'),
 'comm_name': 'Swift Parrot',
 'lat': -37.0079994,
 'long': 142.719696,
 'record_id': '9071084',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 6, 9, 0, 0),
 'start_mth': 6,
 'start_year': 2019,
 'survey_id': '1778046',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 7}
{'_id': ObjectId('5f695a1d145902aefb85b75c'),
 'comm_name': 'Swift Parrot',
 'lat': -36.9976006,
 'long': 142.7348022,
 'record_id': '9071098',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 6, 9, 0, 0),
 'start_mth': 6,
 'start_year': 2019,
 'survey_id': '1778047',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 11}
{'_id': ObjectId('5f695a1d145902aefb85b75d'),
 'comm_name': 'Swift Parrot',
 'lat': -37.0163002,
 'long': 142.74780269999997,
 'record_id': '9071156',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 6, 9, 0, 0),
 'start_mth': 6,
 'start_year': 2019,
 'survey_id': '1778051',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b75e'),
 'comm_name': 'Swift Parrot',
 'lat': -37.02259829999999,
 'long': 142.7792053,
 'record_id': '9071162',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 6, 9, 0, 0),
 'start_mth': 6,
 'start_year': 2019,
 'survey_id': '1778052',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 8}
{'_id': ObjectId('5f695a1d145902aefb85b75f'),
 'comm_name': 'Swift Parrot',
 'lat': -37.198600799999994,
 'long': 142.8657074,
 'record_id': '10098063',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 6, 8, 0, 0),
 'start_mth': 6,
 'start_year': 2019,
 'survey_id': '1972713',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 20}
{'_id': ObjectId('5f695a1d145902aefb85b760'),
 'comm_name': 'Swift Parrot',
 'lat': -37.207698799999996,
 'long': 142.87089540000002,
 'record_id': '10098065',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 6, 8, 0, 0),
 'start_mth': 6,
 'start_year': 2019,
 'survey_id': '1972714',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 40}
{'_id': ObjectId('5f695a1d145902aefb85b761'),
 'comm_name': 'Swift Parrot',
 'lat': -37.231098200000005,
 'long': 142.88960269999998,
 'record_id': '10098060',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 6, 8, 0, 0),
 'start_mth': 6,
 'start_year': 2019,
 'survey_id': '1972712',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 12}
{'_id': ObjectId('5f695a1d145902aefb85b762'),
 'comm_name': 'Swift Parrot',
 'lat': -37.0079994,
 'long': 142.719696,
 'record_id': '9070967',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 6, 8, 0, 0),
 'start_mth': 6,
 'start_year': 2019,
 'survey_id': '1778039',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b763'),
 'comm_name': 'Swift Parrot',
 'lat': -36.9976006,
 'long': 142.7348022,
 'record_id': '9070981',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 6, 8, 0, 0),
 'start_mth': 6,
 'start_year': 2019,
 'survey_id': '1778040',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b764'),
 'comm_name': 'Swift Parrot',
 'lat': -36.9976006,
 'long': 142.7348022,
 'record_id': '9070990',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 6, 8, 0, 0),
 'start_mth': 6,
 'start_year': 2019,
 'survey_id': '1778040',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b765'),
 'comm_name': 'Swift Parrot',
 'lat': -36.9976006,
 'long': 142.7348022,
 'record_id': '9071001',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 6, 8, 0, 0),
 'start_mth': 6,
 'start_year': 2019,
 'survey_id': '1778041',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 10}
{'_id': ObjectId('5f695a1d145902aefb85b766'),
 'comm_name': 'Swift Parrot',
 'lat': -37.0028992,
 'long': 142.7516937,
 'record_id': '9071016',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 6, 8, 0, 0),
 'start_mth': 6,
 'start_year': 2019,
 'survey_id': '1778042',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b767'),
 'comm_name': 'Swift Parrot',
 'lat': -37.02259829999999,
 'long': 142.7792053,
 'record_id': '9071065',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 6, 8, 0, 0),
 'start_mth': 6,
 'start_year': 2019,
 'survey_id': '1778045',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 10}
{'_id': ObjectId('5f695a1d145902aefb85b768'),
 'comm_name': 'Swift Parrot',
 'lat': -37.0063019,
 'long': 142.7420959,
 'record_id': '9598837',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 6, 8, 0, 0),
 'start_mth': 6,
 'start_year': 2019,
 'survey_id': '1835247',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b769'),
 'comm_name': 'Swift Parrot',
 'lat': -36.9887009,
 'long': 142.7191925,
 'record_id': '9083091',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 6, 8, 0, 0),
 'start_mth': 6,
 'start_year': 2019,
 'survey_id': '1780931',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b76a'),
 'comm_name': 'Swift Parrot',
 'lat': -36.9884987,
 'long': 142.7303925,
 'record_id': '9083098',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 6, 8, 0, 0),
 'start_mth': 6,
 'start_year': 2019,
 'survey_id': '1780933',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 6}
{'_id': ObjectId('5f695a1d145902aefb85b76b'),
 'comm_name': 'Swift Parrot',
 'lat': -37.006500200000005,
 'long': 142.7308044,
 'record_id': '9598845',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 6, 8, 0, 0),
 'start_mth': 6,
 'start_year': 2019,
 'survey_id': '1835248',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 6}
{'_id': ObjectId('5f695a1d145902aefb85b76c'),
 'comm_name': 'Swift Parrot',
 'lat': -37.0018997,
 'long': 142.7306976,
 'record_id': '9598871',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 6, 8, 0, 0),
 'start_mth': 6,
 'start_year': 2019,
 'survey_id': '1835250',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 6}
{'_id': ObjectId('5f695a1d145902aefb85b76d'),
 'comm_name': 'Swift Parrot',
 'lat': -36.9976006,
 'long': 142.7348022,
 'record_id': '9598831',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 6, 7, 0, 0),
 'start_mth': 6,
 'start_year': 2019,
 'survey_id': '1835244',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 5}
{'_id': ObjectId('5f695a1d145902aefb85b76e'),
 'comm_name': 'Swift Parrot',
 'lat': -36.73440170000001,
 'long': 142.6175995,
 'record_id': '10097546',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 6, 2, 0, 0),
 'start_mth': 6,
 'start_year': 2019,
 'survey_id': '1972503',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85b76f'),
 'comm_name': 'Swift Parrot',
 'lat': -37.62829970000001,
 'long': 145.10110469999998,
 'record_id': '10097292',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 5, 30, 0, 0),
 'start_mth': 5,
 'start_year': 2019,
 'survey_id': '1972418',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b770'),
 'comm_name': 'Swift Parrot',
 'lat': -37.231098200000005,
 'long': 142.88960269999998,
 'record_id': '10097184',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 5, 26, 0, 0),
 'start_mth': 5,
 'start_year': 2019,
 'survey_id': '1972358',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 12}
{'_id': ObjectId('5f695a1d145902aefb85b771'),
 'comm_name': 'Swift Parrot',
 'lat': -37.7142982,
 'long': 144.31770319999998,
 'record_id': '10001614',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 5, 22, 0, 0),
 'start_mth': 5,
 'start_year': 2019,
 'survey_id': '1934456',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 14}
{'_id': ObjectId('5f695a1d145902aefb85b772'),
 'comm_name': 'Swift Parrot',
 'lat': -37.947799700000004,
 'long': 145.172699,
 'record_id': '10096440',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 5, 18, 0, 0),
 'start_mth': 5,
 'start_year': 2019,
 'survey_id': '1972055',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85b773'),
 'comm_name': 'Swift Parrot',
 'lat': -37.231098200000005,
 'long': 142.88960269999998,
 'record_id': '10096306',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 5, 17, 0, 0),
 'start_mth': 5,
 'start_year': 2019,
 'survey_id': '1971989',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 12}
{'_id': ObjectId('5f695a1d145902aefb85b774'),
 'comm_name': 'Swift Parrot',
 'lat': -36.8998985,
 'long': 142.8677063,
 'record_id': '10096199',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 5, 16, 0, 0),
 'start_mth': 5,
 'start_year': 2019,
 'survey_id': '1971937',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b775'),
 'comm_name': 'Swift Parrot',
 'lat': -36.906200399999996,
 'long': 142.8491974,
 'record_id': '10096263',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 5, 16, 0, 0),
 'start_mth': 5,
 'start_year': 2019,
 'survey_id': '1971967',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 16}
{'_id': ObjectId('5f695a1d145902aefb85b776'),
 'comm_name': 'Swift Parrot',
 'lat': -38.254100799999996,
 'long': 144.53100590000003,
 'record_id': '10001458',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 5, 15, 0, 0),
 'start_mth': 5,
 'start_year': 2019,
 'survey_id': '1934375',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 9}
{'_id': ObjectId('5f695a1d145902aefb85b777'),
 'comm_name': 'Swift Parrot',
 'lat': -37.0718994,
 'long': 142.7003021,
 'record_id': '10096189',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 5, 15, 0, 0),
 'start_mth': 5,
 'start_year': 2019,
 'survey_id': '1971932',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 6}
{'_id': ObjectId('5f695a1d145902aefb85b778'),
 'comm_name': 'Swift Parrot',
 'lat': -38.2668991,
 'long': 144.5222015,
 'record_id': '10001439',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 5, 15, 0, 0),
 'start_mth': 5,
 'start_year': 2019,
 'survey_id': '1934371',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 26}
{'_id': ObjectId('5f695a1d145902aefb85b779'),
 'comm_name': 'Swift Parrot',
 'lat': -36.906200399999996,
 'long': 142.8491974,
 'record_id': '10096123',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 5, 15, 0, 0),
 'start_mth': 5,
 'start_year': 2019,
 'survey_id': '1971900',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 7}
{'_id': ObjectId('5f695a1d145902aefb85b77a'),
 'comm_name': 'Swift Parrot',
 'lat': -37.0001984,
 'long': 142.7285004,
 'record_id': '10096158',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 5, 15, 0, 0),
 'start_mth': 5,
 'start_year': 2019,
 'survey_id': '1971914',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 51}
{'_id': ObjectId('5f695a1d145902aefb85b77b'),
 'comm_name': 'Swift Parrot',
 'lat': -36.8274994,
 'long': 142.9756012,
 'record_id': '10096050',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 5, 14, 0, 0),
 'start_mth': 5,
 'start_year': 2019,
 'survey_id': '1971870',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 32}
{'_id': ObjectId('5f695a1d145902aefb85b77c'),
 'comm_name': 'Swift Parrot',
 'lat': -36.839698799999994,
 'long': 143.017395,
 'record_id': '10096041',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 5, 14, 0, 0),
 'start_mth': 5,
 'start_year': 2019,
 'survey_id': '1971866',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b77d'),
 'comm_name': 'Swift Parrot',
 'lat': -36.8917007,
 'long': 142.82710269999998,
 'record_id': '10096056',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 5, 14, 0, 0),
 'start_mth': 5,
 'start_year': 2019,
 'survey_id': '1971874',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b77e'),
 'comm_name': 'Swift Parrot',
 'lat': -36.73509979999999,
 'long': 143.0818939,
 'record_id': '10096029',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 5, 14, 0, 0),
 'start_mth': 5,
 'start_year': 2019,
 'survey_id': '1971860',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 12}
{'_id': ObjectId('5f695a1d145902aefb85b77f'),
 'comm_name': 'Swift Parrot',
 'lat': -38.254100799999996,
 'long': 144.53100590000003,
 'record_id': '10001419',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 5, 13, 0, 0),
 'start_mth': 5,
 'start_year': 2019,
 'survey_id': '1934361',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 25}
{'_id': ObjectId('5f695a1d145902aefb85b780'),
 'comm_name': 'Swift Parrot',
 'lat': -38.254100799999996,
 'long': 144.53100590000003,
 'record_id': '10001385',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 5, 11, 0, 0),
 'start_mth': 5,
 'start_year': 2019,
 'survey_id': '1934344',
 'taxon_id': '10309',

 'start_date': datetime.datetime(2018, 9, 30, 0, 0),
 'start_mth': 9,
 'start_year': 2018,
 'survey_id': '1960049',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b7c2'),
 'comm_name': 'Swift Parrot',
 'lat': -36.159099600000005,
 'long': 146.64160159999997,
 'record_id': '10065215',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 9, 29, 0, 0),
 'start_mth': 9,
 'start_year': 2018,
 'survey_id': '1960000',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b7c3'),
 'comm_name': 'Swift Parrot',
 'lat': -37.0838013,
 'long': 143.69160459999998,
 'record_id': '10062744',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 9, 8, 0, 0),
 'start_mth': 9,
 'start_year': 2018,
 'survey_id': '1958882',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 25}
{'_id': ObjectId('5f695a1d145902aefb85b7c4'),
 'comm_name': 'Swift Parrot',
 'lat': -37.883598299999996,
 'long': 145.18910219999998,
 'record_id': '10062011',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 9, 1, 0, 0),
 'start_mth': 9,
 'start_year': 2018,
 'survey_id': '1958553',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85b7c5'),
 'comm_name': 'Swift Parrot',
 'lat': -36.608501399999994,
 'long': 145.0245056,
 'record_id': '10062076',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 9, 1, 0, 0),
 'start_mth': 9,
 'start_year': 2018,
 'survey_id': '1958584',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 6}
{'_id': ObjectId('5f695a1d145902aefb85b7c6'),
 'comm_name': 'Swift Parrot',
 'lat': -37.880100299999995,
 'long': 145.1923065,
 'record_id': '10061795',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 8, 28, 0, 0),
 'start_mth': 8,
 'start_year': 2018,
 'survey_id': '1958450',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b7c7'),
 'comm_name': 'Swift Parrot',
 'lat': -36.159099600000005,
 'long': 146.64160159999997,
 'record_id': '10061523',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 8, 25, 0, 0),
 'start_mth': 8,
 'start_year': 2018,
 'survey_id': '1958317',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b7c8'),
 'comm_name': 'Swift Parrot',
 'lat': -36.7249985,
 'long': 144.2341003,
 'record_id': '10061403',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 8, 23, 0, 0),
 'start_mth': 8,
 'start_year': 2018,
 'survey_id': '1958250',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85b7c9'),
 'comm_name': 'Swift Parrot',
 'lat': -36.1393013,
 'long': 146.6620941,
 'record_id': '10061303',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 8, 21, 0, 0),
 'start_mth': 8,
 'start_year': 2018,
 'survey_id': '1958204',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b7ca'),
 'comm_name': 'Swift Parrot',
 'lat': -36.7249985,
 'long': 144.2341003,
 'record_id': '10061114',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 8, 18, 0, 0),
 'start_mth': 8,
 'start_year': 2018,
 'survey_id': '1958119',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 5}
{'_id': ObjectId('5f695a1d145902aefb85b7cb'),
 'comm_name': 'Swift Parrot',
 'lat': -36.7675018,
 'long': 142.212204,
 'record_id': '10060915',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 8, 14, 0, 0),
 'start_mth': 8,
 'start_year': 2018,
 'survey_id': '1958016',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85b7cc'),
 'comm_name': 'Swift Parrot',
 'lat': -36.9822006,
 'long': 143.7362976,
 'record_id': '10060865',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 8, 13, 0, 0),
 'start_mth': 8,
 'start_year': 2018,
 'survey_id': '1957984',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 8}
{'_id': ObjectId('5f695a1d145902aefb85b7cd'),
 'comm_name': 'Swift Parrot',
 'lat': -37.9482994,
 'long': 145.29789730000002,
 'record_id': '10060436',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 8, 7, 0, 0),
 'start_mth': 8,
 'start_year': 2018,
 'survey_id': '1957766',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 24}
{'_id': ObjectId('5f695a1d145902aefb85b7ce'),
 'comm_name': 'Swift Parrot',
 'lat': -36.1411018,
 'long': 146.6623993,
 'record_id': '10060321',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 8, 5, 0, 0),
 'start_mth': 8,
 'start_year': 2018,
 'survey_id': '1957722',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b7cf'),
 'comm_name': 'Swift Parrot',
 'lat': -37.9482994,
 'long': 145.29789730000002,
 'record_id': '10060239',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 8, 5, 0, 0),
 'start_mth': 8,
 'start_year': 2018,
 'survey_id': '1957682',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 5}
{'_id': ObjectId('5f695a1d145902aefb85b7d0'),
 'comm_name': 'Swift Parrot',
 'lat': -37.9482994,
 'long': 145.29789730000002,
 'record_id': '10060107',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 8, 4, 0, 0),
 'start_mth': 8,
 'start_year': 2018,
 'survey_id': '1957629',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b7d1'),
 'comm_name': 'Swift Parrot',
 'lat': -37.9482994,
 'long': 145.29789730000002,
 'record_id': '10060048',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 8, 3, 0, 0),
 'start_mth': 8,
 'start_year': 2018,
 'survey_id': '1957602',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 9}
{'_id': ObjectId('5f695a1d145902aefb85b7d2'),
 'comm_name': 'Swift Parrot',
 'lat': -37.9482994,
 'long': 145.29789730000002,
 'record_id': '10060060',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 8, 3, 0, 0),
 'start_mth': 8,
 'start_year': 2018,
 'survey_id': '1957609',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 20}
{'_id': ObjectId('5f695a1d145902aefb85b7d3'),
 'comm_name': 'Swift Parrot',
 'lat': -37.763900799999995,
 'long': 145.00709530000003,
 'record_id': '10059958',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 8, 2, 0, 0),
 'start_mth': 8,
 'start_year': 2018,
 'survey_id': '1957551',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b7d4'),
 'comm_name': 'Swift Parrot',
 'lat': -37.9482994,
 'long': 145.29789730000002,
 'record_id': '10059934',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 8, 1, 0, 0),
 'start_mth': 8,
 'start_year': 2018,
 'survey_id': '1957538',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 7}
{'_id': ObjectId('5f695a1d145902aefb85b7d5'),
 'comm_name': 'Swift Parrot',
 'lat': -36.3793983,
 'long': 145.3592072,
 'record_id': '10058916',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 7, 19, 0, 0),
 'start_mth': 7,
 'start_year': 2018,
 'survey_id': '1957112',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b7d6'),
 'comm_name': 'Swift Parrot',
 'lat': -36.4954987,
 'long': 144.36639399999999,
 'record_id': '10058608',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 7, 14, 0, 0),
 'start_mth': 7,
 'start_year': 2018,
 'survey_id': '1956978',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 6}
{'_id': ObjectId('5f695a1d145902aefb85b7d7'),
 'comm_name': 'Swift Parrot',
 'lat': -38.1570015,
 'long': 144.3312988,
 'record_id': '9991927',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 7, 13, 0, 0),
 'start_mth': 7,
 'start_year': 2018,
 'survey_id': '1930845',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 17}
{'_id': ObjectId('5f695a1d145902aefb85b7d8'),
 'comm_name': 'Swift Parrot',
 'lat': -36.3793983,
 'long': 145.3592072,
 'record_id': '10058459',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 7, 12, 0, 0),
 'start_mth': 7,
 'start_year': 2018,
 'survey_id': '1956911',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b7d9'),
 'comm_name': 'Swift Parrot',
 'lat': -36.3793983,
 'long': 145.3592072,
 'record_id': '10057700',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 7, 1, 0, 0),
 'start_mth': 7,
 'start_year': 2018,
 'survey_id': '1956528',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85b7da'),
 'comm_name': 'Swift Parrot',
 'lat': -36.3793983,
 'long': 145.3592072,
 'record_id': '10057095',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 6, 24, 0, 0),
 'start_mth': 6,
 'start_year': 2018,
 'survey_id': '1956303',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85b7db'),
 'comm_name': 'Swift Parrot',
 'lat': -37.7893982,
 'long': 144.57209780000002,
 'record_id': '8943027',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 6, 12, 0, 0),
 'start_mth': 6,
 'start_year': 2018,
 'survey_id': '1709982',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 7}
{'_id': ObjectId('5f695a1d145902aefb85b7dc'),
 'comm_name': 'Swift Parrot',
 'lat': -36.117698700000005,
 'long': 144.7451935,
 'record_id': '10056129',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 6, 7, 0, 0),
 'start_mth': 6,
 'start_year': 2018,
 'survey_id': '1955831',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b7dd'),
 'comm_name': 'Swift Parrot',
 'lat': -36.159099600000005,
 'long': 146.64160159999997,
 'record_id': '10055475',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 5, 27, 0, 0),
 'start_mth': 5,
 'start_year': 2018,
 'survey_id': '1955530',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 6}
{'_id': ObjectId('5f695a1d145902aefb85b7de'),
 'comm_name': 'Swift Parrot',
 'lat': -36.1217995,
 'long': 146.8883057,
 'record_id': '10055070',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 5, 23, 0, 0),
 'start_mth': 5,
 'start_year': 2018,
 'survey_id': '1955380',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 13}
{'_id': ObjectId('5f695a1d145902aefb85b7df'),
 'comm_name': 'Swift Parrot',
 'lat': -36.778400399999995,
 'long': 144.66499330000002,
 'record_id': '10054829',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 5, 20, 0, 0),
 'start_mth': 5,
 'start_year': 2018,
 'survey_id': '1955279',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85b7e0'),
 'comm_name': 'Swift Parrot',
 'lat': -36.94079970000001,
 'long': 145.1499023,
 'record_id': '10054600',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 5, 19, 0, 0),
 'start_mth': 5,
 'start_year': 2018,
 'survey_id': '1955198',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85b7e1'),
 'comm_name': 'Swift Parrot',
 'lat': -36.887699100000006,
 'long': 142.82110600000001,
 'record_id': '10054466',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 5, 16, 0, 0),
 'start_mth': 5,
 'start_year': 2018,
 'survey_id': '1955130',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 5}
{'_id': ObjectId('5f695a1d145902aefb85b7e2'),
 'comm_name': 'Swift Parrot',
 'lat': -36.826400799999995,
 'long': 144.3289948,
 'record_id': '10054350',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 5, 14, 0, 0),
 'start_mth': 5,
 'start_year': 2018,
 'survey_id': '1955061',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b7e3'),
 'comm_name': 'Swift Parrot',
 'lat': -36.854599,
 'long': 144.4156036,
 'record_id': '10054182',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 5, 11, 0, 0),
 'start_mth': 5,
 'start_year': 2018,
 'survey_id': '1954975',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 5}
{'_id': ObjectId('5f695a1d145902aefb85b7e4'),
 'comm_name': 'Swift Parrot',
 'lat': -37.712200200000005,
 'long': 145.0715942,
 'record_id': '10053690',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 5, 5, 0, 0),
 'start_mth': 5,
 'start_year': 2018,
 'survey_id': '1954784',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 5}
{'_id': ObjectId('5f695a1d145902aefb85b7e5'),
 'comm_name': 'Swift Parrot',
 'lat': -37.71289829999999,
 'long': 145.06089780000002,
 'record_id': '10053689',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 5, 5, 0, 0),
 'start_mth': 5,
 'start_year': 2018,
 'survey_id': '1954783',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 5}
{'_id': ObjectId('5f695a1d145902aefb85b7e6'),
 'comm_name': 'Swift Parrot',
 'lat': -37.7206001,
 'long': 145.04840090000002,
 'record_id': '10053291',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 30, 0, 0),
 'start_mth': 4,
 'start_year': 2018,
 'survey_id': '1954618',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 6}
{'_id': ObjectId('5f695a1d145902aefb85b7e7'),
 'comm_name': 'Swift Parrot',
 'lat': -37.745899200000004,
 'long': 145.17190549999998,
 'record_id': '10053055',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 28, 0, 0),
 'start_mth': 4,
 'start_year': 2018,
 'survey_id': '1954527',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85b7e8'),
 'comm_name': 'Swift Parrot',
 'lat': -37.745899200000004,
 'long': 145.17190549999998,
 'record_id': '10052980',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 28, 0, 0),
 'start_mth': 4,
 'start_year': 2018,
 'survey_id': '1954497',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85b7e9'),
 'comm_name': 'Swift Parrot',
 'lat': -37.7896004,
 'long': 144.5733032,
 'record_id': '9990653',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 27, 0, 0),
 'start_mth': 4,
 'start_year': 2018,
 'survey_id': '1930238',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b7ea'),
 'comm_name': 'Swift Parrot',
 'lat': -36.9485016,
 'long': 144.43949890000002,
 'record_id': '10052693',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 26, 0, 0),
 'start_mth': 4,
 'start_year': 2018,
 'survey_id': '1954382',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b7eb'),
 'comm_name': 'Swift Parrot',
 'lat': -37.7164001,
 'long': 145.05540469999997,
 'record_id': '10052261',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 23, 0, 0),
 'start_mth': 4,
 'start_year': 2018,
 'survey_id': '1954212',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85b7ec'),
 'comm_name': 'Swift Parrot',
 'lat': -37.7206001,
 'long': 145.04840090000002,
 'record_id': '10052050',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 22, 0, 0),
 'start_mth': 4,
 'start_year': 2018,
 'survey_id': '1954144',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 10}
{'_id': ObjectId('5f695a1d145902aefb85b7ed'),
 'comm_name': 'Swift Parrot',
 'lat': -37.7206001,
 'long': 145.04840090000002,
 'record_id': '10051921',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 21, 0, 0),
 'start_mth': 4,
 'start_year': 2018,
 'survey_id': '1954086',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 7}
{'_id': ObjectId('5f695a1d145902aefb85b7ee'),
 'comm_name': 'Swift Parrot',
 'lat': -37.7206001,
 'long': 145.04840090000002,
 'record_id': '10051922',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 21, 0, 0),
 'start_mth': 4,
 'start_year': 2018,
 'survey_id': '1954087',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 7}
{'_id': ObjectId('5f695a1d145902aefb85b7ef'),
 'comm_name': 'Swift Parrot',
 'lat': -37.7206001,
 'long': 145.04840090000002,
 'record_id': '10051995',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 21, 0, 0),
 'start_mth': 4,
 'start_year': 2018,
 'survey_id': '1954111',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 30}
{'_id': ObjectId('5f695a1d145902aefb85b7f0'),
 'comm_name': 'Swift Parrot',
 'lat': -36.3793983,
 'long': 145.3592072,
 'record_id': '10051702',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 20, 0, 0),
 'start_mth': 4,
 'start_year': 2018,
 'survey_id': '1954002',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b7f1'),
 'comm_name': 'Swift Parrot',
 'lat': -37.7206001,
 'long': 145.04840090000002,
 'record_id': '10051521',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 18, 0, 0),
 'start_mth': 4,
 'start_year': 2018,
 'survey_id': '1953926',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85b7f2'),
 'comm_name': 'Swift Parrot',
 'lat': -37.719101,
 'long': 145.0516968,
 'record_id': '10051406',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 16, 0, 0),
 'start_mth': 4,
 'start_year': 2018,
 'survey_id': '1953887',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 8}
{'_id': ObjectId('5f695a1d145902aefb85b7f3'),
 'comm_name': 'Swift Parrot',
 'lat': -37.7206001,
 'long': 145.04840090000002,
 'record_id': '10051345',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 15, 0, 0),
 'start_mth': 4,
 'start_year': 2018,
 'survey_id': '1953859',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 20}
{'_id': ObjectId('5f695a1d145902aefb85b7f4'),
 'comm_name': 'Swift Parrot',
 'lat': -37.7206001,
 'long': 145.04840090000002,
 'record_id': '10051349',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 15, 0, 0),
 'start_mth': 4,
 'start_year': 2018,
 'survey_id': '1953861',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 30}
{'_id': ObjectId('5f695a1d145902aefb85b7f5'),
 'comm_name': 'Swift Parrot',
 'lat': -37.7164001,
 'long': 145.05540469999997,
 'record_id': '10051388',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 15, 0, 0),
 'start_mth': 4,
 'start_year': 2018,
 'survey_id': '1953875',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b7f6'),
 'comm_name': 'Swift Parrot',

 'lat': -37.7206001,
 'long': 145.04840090000002,
 'record_id': '10049025',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 3, 28, 0, 0),
 'start_mth': 3,
 'start_year': 2018,
 'survey_id': '1952945',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b81f'),
 'comm_name': 'Swift Parrot',
 'lat': -37.6901016,
 'long': 145.0995941,
 'record_id': '8908206',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 3, 27, 0, 0),
 'start_mth': 3,
 'start_year': 2018,
 'survey_id': '1691366',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85b820'),
 'comm_name': 'Swift Parrot',
 'lat': -37.6901016,
 'long': 145.0993958,
 'record_id': '10048723',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 3, 25, 0, 0),
 'start_mth': 3,
 'start_year': 2018,
 'survey_id': '1952804',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b821'),
 'comm_name': 'Swift Parrot',
 'lat': -37.0303001,
 'long': 145.1334991,
 'record_id': '10047165',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 3, 10, 0, 0),
 'start_mth': 3,
 'start_year': 2018,
 'survey_id': '1952138',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b822'),
 'comm_name': 'Swift Parrot',
 'lat': -38.2588997,
 'long': 144.5307007,
 'record_id': '9989442',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 2, 11, 0, 0),
 'start_mth': 2,
 'start_year': 2018,
 'survey_id': '1929691',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b823'),
 'comm_name': 'Swift Parrot',
 'lat': -38.2588005,
 'long': 144.530304,
 'record_id': '9989443',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 2, 11, 0, 0),
 'start_mth': 2,
 'start_year': 2018,
 'survey_id': '1929692',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b824'),
 'comm_name': 'Swift Parrot',
 'lat': -37.676399200000006,
 'long': 145.10839840000003,
 'record_id': '8596613',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 9, 25, 0, 0),
 'start_mth': 9,
 'start_year': 2017,
 'survey_id': '1405576',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 5}
{'_id': ObjectId('5f695a1d145902aefb85b825'),
 'comm_name': 'Swift Parrot',
 'lat': -38.196701000000004,
 'long': 144.3025055,
 'record_id': '9985789',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 9, 20, 0, 0),
 'start_mth': 9,
 'start_year': 2017,
 'survey_id': '1928155',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 5}
{'_id': ObjectId('5f695a1d145902aefb85b826'),
 'comm_name': 'Swift Parrot',
 'lat': -37.676399200000006,
 'long': 145.10839840000003,
 'record_id': '8596612',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 9, 18, 0, 0),
 'start_mth': 9,
 'start_year': 2017,
 'survey_id': '1405575',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 10}
{'_id': ObjectId('5f695a1d145902aefb85b827'),
 'comm_name': 'Swift Parrot',
 'lat': -37.6762009,
 'long': 145.1083069,
 'record_id': '10025896',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 9, 18, 0, 0),
 'start_mth': 9,
 'start_year': 2017,
 'survey_id': '1943957',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 10}
{'_id': ObjectId('5f695a1d145902aefb85b828'),
 'comm_name': 'Swift Parrot',
 'lat': -36.7070007,
 'long': 144.88699340000002,
 'record_id': '10024431',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 8, 31, 0, 0),
 'start_mth': 8,
 'start_year': 2017,
 'survey_id': '1943406',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b829'),
 'comm_name': 'Swift Parrot',
 'lat': -38.04090120000001,
 'long': 144.1387024,
 'record_id': '9985476',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 8, 25, 0, 0),
 'start_mth': 8,
 'start_year': 2017,
 'survey_id': '1927995',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85b82a'),
 'comm_name': 'Swift Parrot',
 'lat': -38.04090120000001,
 'long': 144.1387024,
 'record_id': '9985442',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 8, 22, 0, 0),
 'start_mth': 8,
 'start_year': 2017,
 'survey_id': '1927983',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 19}
{'_id': ObjectId('5f695a1d145902aefb85b82b'),
 'comm_name': 'Swift Parrot',
 'lat': -38.04090120000001,
 'long': 144.1387024,
 'record_id': '9985360',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 8, 15, 0, 0),
 'start_mth': 8,
 'start_year': 2017,
 'survey_id': '1927947',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 10}
{'_id': ObjectId('5f695a1d145902aefb85b82c'),
 'comm_name': 'Swift Parrot',
 'lat': -36.8277016,
 'long': 144.12469480000001,
 'record_id': '10023095',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 8, 8, 0, 0),
 'start_mth': 8,
 'start_year': 2017,
 'survey_id': '1942816',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 8}
{'_id': ObjectId('5f695a1d145902aefb85b82d'),
 'comm_name': 'Swift Parrot',
 'lat': -37.678901700000004,
 'long': 145.1098938,
 'record_id': '10023068',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 8, 7, 0, 0),
 'start_mth': 8,
 'start_year': 2017,
 'survey_id': '1942803',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 6}
{'_id': ObjectId('5f695a1d145902aefb85b82e'),
 'comm_name': 'Swift Parrot',
 'lat': -37.0405006,
 'long': 144.0679932,
 'record_id': '10022317',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 7, 23, 0, 0),
 'start_mth': 7,
 'start_year': 2017,
 'survey_id': '1942458',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85b82f'),
 'comm_name': 'Swift Parrot',
 'lat': -37.0405006,
 'long': 144.0679932,
 'record_id': '10022356',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 7, 23, 0, 0),
 'start_mth': 7,
 'start_year': 2017,
 'survey_id': '1942478',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85b830'),
 'comm_name': 'Swift Parrot',
 'lat': -36.7070007,
 'long': 144.88699340000002,
 'record_id': '10021834',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 7, 12, 0, 0),
 'start_mth': 7,
 'start_year': 2017,
 'survey_id': '1942263',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b831'),
 'comm_name': 'Swift Parrot',
 'lat': -38.0474014,
 'long': 144.1401978,
 'record_id': '9984899',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 7, 9, 0, 0),
 'start_mth': 7,
 'start_year': 2017,
 'survey_id': '1927743',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 8}
{'_id': ObjectId('5f695a1d145902aefb85b832'),
 'comm_name': 'Swift Parrot',
 'lat': -37.679798100000006,
 'long': 145.1165924,
 'record_id': '10021316',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 7, 6, 0, 0),
 'start_mth': 7,
 'start_year': 2017,
 'survey_id': '1942082',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 10}
{'_id': ObjectId('5f695a1d145902aefb85b833'),
 'comm_name': 'Swift Parrot',
 'lat': -37.679798100000006,
 'long': 145.1165924,
 'record_id': '10021130',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 7, 3, 0, 0),
 'start_mth': 7,
 'start_year': 2017,
 'survey_id': '1942030',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 12}
{'_id': ObjectId('5f695a1d145902aefb85b834'),
 'comm_name': 'Swift Parrot',
 'lat': -37.679798100000006,
 'long': 145.1165924,
 'record_id': '8564492',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 7, 2, 0, 0),
 'start_mth': 7,
 'start_year': 2017,
 'survey_id': '1394208',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 8}
{'_id': ObjectId('5f695a1d145902aefb85b835'),
 'comm_name': 'Swift Parrot',
 'lat': -36.9071007,
 'long': 144.6786957,
 'record_id': '10020991',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 7, 2, 0, 0),
 'start_mth': 7,
 'start_year': 2017,
 'survey_id': '1941979',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b836'),
 'comm_name': 'Swift Parrot',
 'lat': -37.679798100000006,
 'long': 145.1165924,
 'record_id': '10020820',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 7, 1, 0, 0),
 'start_mth': 7,
 'start_year': 2017,
 'survey_id': '1941926',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 12}
{'_id': ObjectId('5f695a1d145902aefb85b837'),
 'comm_name': 'Swift Parrot',
 'lat': -37.679798100000006,
 'long': 145.1165924,
 'record_id': '10020728',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 6, 29, 0, 0),
 'start_mth': 6,
 'start_year': 2017,
 'survey_id': '1941898',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 15}
{'_id': ObjectId('5f695a1d145902aefb85b838'),
 'comm_name': 'Swift Parrot',
 'lat': -37.679798100000006,
 'long': 145.1165924,
 'record_id': '10020390',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 6, 25, 0, 0),
 'start_mth': 6,
 'start_year': 2017,
 'survey_id': '1941804',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85b839'),
 'comm_name': 'Swift Parrot',
 'lat': -37.679798100000006,
 'long': 145.1165924,
 'record_id': '10020335',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 6, 24, 0, 0),
 'start_mth': 6,
 'start_year': 2017,
 'survey_id': '1941788',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b83a'),
 'comm_name': 'Swift Parrot',
 'lat': -37.679798100000006,
 'long': 145.1165924,
 'record_id': '10020277',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 6, 24, 0, 0),
 'start_mth': 6,
 'start_year': 2017,
 'survey_id': '1941776',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85b83b'),
 'comm_name': 'Swift Parrot',
 'lat': -37.910301200000006,
 'long': 145.13670349999998,
 'record_id': '10020380',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 6, 24, 0, 0),
 'start_mth': 6,
 'start_year': 2017,
 'survey_id': '1941797',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b83c'),
 'comm_name': 'Swift Parrot',
 'lat': -37.679798100000006,
 'long': 145.1165924,
 'record_id': '10020215',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 6, 23, 0, 0),
 'start_mth': 6,
 'start_year': 2017,
 'survey_id': '1941751',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85b83d'),
 'comm_name': 'Swift Parrot',
 'lat': -37.679798100000006,
 'long': 145.1165924,
 'record_id': '10020132',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 6, 22, 0, 0),
 'start_mth': 6,
 'start_year': 2017,
 'survey_id': '1941728',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85b83e'),
 'comm_name': 'Swift Parrot',
 'lat': -37.679798100000006,
 'long': 145.1165924,
 'record_id': '10019941',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 6, 19, 0, 0),
 'start_mth': 6,
 'start_year': 2017,
 'survey_id': '1941645',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 5}
{'_id': ObjectId('5f695a1d145902aefb85b83f'),
 'comm_name': 'Swift Parrot',
 'lat': -37.73440170000001,
 'long': 144.330307,
 'record_id': '9984641',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 6, 18, 0, 0),
 'start_mth': 6,
 'start_year': 2017,
 'survey_id': '1927609',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b840'),
 'comm_name': 'Swift Parrot',
 'lat': -37.679798100000006,
 'long': 145.1165924,
 'record_id': '10019869',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 6, 18, 0, 0),
 'start_mth': 6,
 'start_year': 2017,
 'survey_id': '1941614',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85b841'),
 'comm_name': 'Swift Parrot',
 'lat': -37.679798100000006,
 'long': 145.1165924,
 'record_id': '10019833',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 6, 18, 0, 0),
 'start_mth': 6,
 'start_year': 2017,
 'survey_id': '1941597',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 8}
{'_id': ObjectId('5f695a1d145902aefb85b842'),
 'comm_name': 'Swift Parrot',
 'lat': -37.679798100000006,
 'long': 145.1166992,
 'record_id': '10019853',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 6, 18, 0, 0),
 'start_mth': 6,
 'start_year': 2017,
 'survey_id': '1941607',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 10}
{'_id': ObjectId('5f695a1d145902aefb85b843'),
 'comm_name': 'Swift Parrot',
 'lat': -37.679798100000006,
 'long': 145.1165924,
 'record_id': '10019725',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 6, 17, 0, 0),
 'start_mth': 6,
 'start_year': 2017,
 'survey_id': '1941560',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 15}
{'_id': ObjectId('5f695a1d145902aefb85b844'),
 'comm_name': 'Swift Parrot',
 'lat': -37.6799011,
 'long': 145.11639399999999,
 'record_id': '10019734',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 6, 17, 0, 0),
 'start_mth': 6,
 'start_year': 2017,
 'survey_id': '1941563',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85b845'),
 'comm_name': 'Swift Parrot',
 'lat': -37.6799011,
 'long': 145.1163025,
 'record_id': '10019703',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 6, 16, 0, 0),
 'start_mth': 6,
 'start_year': 2017,
 'survey_id': '1941546',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 30}
{'_id': ObjectId('5f695a1d145902aefb85b846'),
 'comm_name': 'Swift Parrot',
 'lat': -37.782798799999995,
 'long': 144.9441071,
 'record_id': '10019719',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 6, 16, 0, 0),
 'start_mth': 6,
 'start_year': 2017,
 'survey_id': '1941556',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b847'),
 'comm_name': 'Swift Parrot',
 'lat': -37.6799011,
 'long': 145.1163025,
 'record_id': '10019700',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 6, 16, 0, 0),
 'start_mth': 6,
 'start_year': 2017,
 'survey_id': '1941543',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 22}
{'_id': ObjectId('5f695a1d145902aefb85b848'),
 'comm_name': 'Swift Parrot',
 'lat': -37.6799011,
 'long': 145.11639399999999,
 'record_id': '10019701',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 6, 16, 0, 0),
 'start_mth': 6,
 'start_year': 2017,
 'survey_id': '1941544',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 12}
{'_id': ObjectId('5f695a1d145902aefb85b849'),
 'comm_name': 'Swift Parrot',
 'lat': -37.9082985,
 'long': 145.13960269999998,
 'record_id': '10019677',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 6, 15, 0, 0),
 'start_mth': 6,
 'start_year': 2017,
 'survey_id': '1941532',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b84a'),
 'comm_name': 'Swift Parrot',
 'lat': -37.6796989,
 'long': 145.1166992,
 'record_id': '10019640',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 6, 14, 0, 0),
 'start_mth': 6,
 'start_year': 2017,
 'survey_id': '1941518',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 20}
{'_id': ObjectId('5f695a1d145902aefb85b84b'),
 'comm_name': 'Swift Parrot',
 'lat': -37.6796989,
 'long': 145.1166992,
 'record_id': '10019602',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 6, 13, 0, 0),
 'start_mth': 6,
 'start_year': 2017,
 'survey_id': '1941495',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 15}
{'_id': ObjectId('5f695a1d145902aefb85b84c'),
 'comm_name': 'Swift Parrot',
 'lat': -36.8147011,
 'long': 144.3186035,
 'record_id': '10019545',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 6, 12, 0, 0),
 'start_mth': 6,
 'start_year': 2017,
 'survey_id': '1941464',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 6}
{'_id': ObjectId('5f695a1d145902aefb85b84d'),
 'comm_name': 'Swift Parrot',
 'lat': -37.0248985,
 'long': 144.0747986,
 'record_id': '10019027',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 6, 4, 0, 0),
 'start_mth': 6,
 'start_year': 2017,
 'survey_id': '1941286',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 7}
{'_id': ObjectId('5f695a1d145902aefb85b84e'),
 'comm_name': 'Swift Parrot',
 'lat': -36.1400986,
 'long': 146.5816956,
 'record_id': '8563619',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 5, 22, 0, 0),
 'start_mth': 5,
 'start_year': 2017,
 'survey_id': '1393972',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85b84f'),
 'comm_name': 'Swift Parrot',
 'lat': -36.141201,
 'long': 146.6553955,
 'record_id': '10017674',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 5, 15, 0, 0),
 'start_mth': 5,
 'start_year': 2017,
 'survey_id': '1940800',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85b850'),
 'comm_name': 'Swift Parrot',
 'lat': -38.2141991,
 'long': 144.54420469999997,
 'record_id': '9984149',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 5, 8, 0, 0),
 'start_mth': 5,
 'start_year': 2017,
 'survey_id': '1927302',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b851'),
 'comm_name': 'Swift Parrot',
 'lat': -36.6399994,
 'long': 145.1177063,
 'record_id': '10015908',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 4, 23, 0, 0),
 'start_mth': 4,
 'start_year': 2017,
 'survey_id': '1940082',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 7}
{'_id': ObjectId('5f695a1d145902aefb85b852'),
 'comm_name': 'Swift Parrot',
 'lat': -36.6399994,
 'long': 145.1177063,
 'record_id': '10015945',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 4, 23, 0, 0),
 'start_mth': 4,
 'start_year': 2017,
 'survey_id': '1940099',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 7}
{'_id': ObjectId('5f695a1d145902aefb85b853'),

 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b892'),
 'comm_name': 'New Holland Mouse',
 'lat': -37.91490170000001,
 'long': 147.2779999,
 'record_id': '8206803',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2016, 3, 14, 0, 0),
 'start_mth': 3,
 'start_year': 2016,
 'survey_id': '1218192',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85b893'),
 'comm_name': 'New Holland Mouse',
 'lat': -37.9343987,
 'long': 147.2870026,
 'record_id': '8206819',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2016, 3, 14, 0, 0),
 'start_mth': 3,
 'start_year': 2016,
 'survey_id': '1218203',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 6}
{'_id': ObjectId('5f695a1d145902aefb85b894'),
 'comm_name': 'New Holland Mouse',
 'lat': -37.908500700000005,
 'long': 147.2931061,
 'record_id': '8206812',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2016, 3, 14, 0, 0),
 'start_mth': 3,
 'start_year': 2016,
 'survey_id': '1218197',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b895'),
 'comm_name': 'New Holland Mouse',
 'lat': -37.8992004,
 'long': 147.2955933,
 'record_id': '8206806',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2016, 3, 14, 0, 0),
 'start_mth': 3,
 'start_year': 2016,
 'survey_id': '1218193',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b896'),
 'comm_name': 'New Holland Mouse',
 'lat': -37.9146004,
 'long': 147.2783966,
 'record_id': '8206801',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2016, 3, 14, 0, 0),
 'start_mth': 3,
 'start_year': 2016,
 'survey_id': '1218191',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b897'),
 'comm_name': 'New Holland Mouse',
 'lat': -38.1080017,
 'long': 147.4611969,
 'record_id': '6918800',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2015, 4, 9, 0, 0),
 'start_mth': 4,
 'start_year': 2015,
 'survey_id': '1094543',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b898'),
 'comm_name': 'New Holland Mouse',
 'lat': -38.105701399999994,
 'long': 147.4732971,
 'record_id': '6918794',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2015, 4, 9, 0, 0),
 'start_mth': 4,
 'start_year': 2015,
 'survey_id': '1094540',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85b899'),
 'comm_name': 'New Holland Mouse',
 'lat': -38.10950089999999,
 'long': 147.4857941,
 'record_id': '6918787',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2015, 4, 9, 0, 0),
 'start_mth': 4,
 'start_year': 2015,
 'survey_id': '1094536',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b89a'),
 'comm_name': 'New Holland Mouse',
 'lat': -38.123699200000004,
 'long': 147.45320130000002,
 'record_id': '6918792',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2015, 4, 9, 0, 0),
 'start_mth': 4,
 'start_year': 2015,
 'survey_id': '1094539',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b89b'),
 'comm_name': 'New Holland Mouse',
 'lat': -38.1100006,
 'long': 147.449295,
 'record_id': '6918803',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2015, 4, 9, 0, 0),
 'start_mth': 4,
 'start_year': 2015,
 'survey_id': '1094545',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85b89c'),
 'comm_name': 'New Holland Mouse',
 'lat': -38.1080017,
 'long': 147.46069340000003,
 'record_id': '6918798',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2015, 4, 9, 0, 0),
 'start_mth': 4,
 'start_year': 2015,
 'survey_id': '1094542',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b89d'),
 'comm_name': 'New Holland Mouse',
 'lat': -38.1472015,
 'long': 147.4217072,
 'record_id': '6918805',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2015, 4, 9, 0, 0),
 'start_mth': 4,
 'start_year': 2015,
 'survey_id': '1094546',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85b89e'),
 'comm_name': 'New Holland Mouse',
 'lat': -38.1054993,
 'long': 147.47300719999998,
 'record_id': '6918796',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2015, 4, 9, 0, 0),
 'start_mth': 4,
 'start_year': 2015,
 'survey_id': '1094541',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 6}
{'_id': ObjectId('5f695a1d145902aefb85b89f'),
 'comm_name': 'New Holland Mouse',
 'lat': -37.9393005,
 'long': 147.280304,
 'record_id': '6918755',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2015, 3, 23, 0, 0),
 'start_mth': 3,
 'start_year': 2015,
 'survey_id': '1094515',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85b8a0'),
 'comm_name': 'New Holland Mouse',
 'lat': -37.9403992,
 'long': 147.28480530000002,
 'record_id': '6918757',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2015, 3, 23, 0, 0),
 'start_mth': 3,
 'start_year': 2015,
 'survey_id': '1094517',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b8a1'),
 'comm_name': 'New Holland Mouse',
 'lat': -37.9308014,
 'long': 147.28010559999998,
 'record_id': '6918763',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2015, 3, 23, 0, 0),
 'start_mth': 3,
 'start_year': 2015,
 'survey_id': '1094521',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b8a2'),
 'comm_name': 'New Holland Mouse',
 'lat': -37.9305,
 'long': 147.2799072,
 'record_id': '6918765',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2015, 3, 23, 0, 0),
 'start_mth': 3,
 'start_year': 2015,
 'survey_id': '1094522',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b8a3'),
 'comm_name': 'New Holland Mouse',
 'lat': -37.9418983,
 'long': 147.2877045,
 'record_id': '6918759',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2015, 3, 23, 0, 0),
 'start_mth': 3,
 'start_year': 2015,
 'survey_id': '1094518',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b8a4'),
 'comm_name': 'New Holland Mouse',
 'lat': -37.9345016,
 'long': 147.2870026,
 'record_id': '6918754',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2015, 3, 23, 0, 0),
 'start_mth': 3,
 'start_year': 2015,
 'survey_id': '1094514',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 7}
{'_id': ObjectId('5f695a1d145902aefb85b8a5'),
 'comm_name': 'New Holland Mouse',
 'lat': -37.9343987,
 'long': 147.2864075,
 'record_id': '6918753',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2015, 3, 23, 0, 0),
 'start_mth': 3,
 'start_year': 2015,
 'survey_id': '1094513',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85b8a6'),
 'comm_name': 'New Holland Mouse',
 'lat': -37.9329987,
 'long': 147.2808075,
 'record_id': '6918746',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2015, 3, 23, 0, 0),
 'start_mth': 3,
 'start_year': 2015,
 'survey_id': '1094509',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b8a7'),
 'comm_name': 'New Holland Mouse',
 'lat': -37.9394989,
 'long': 147.2796021,
 'record_id': '6918756',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2015, 3, 23, 0, 0),
 'start_mth': 3,
 'start_year': 2015,
 'survey_id': '1094516',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b8a8'),
 'comm_name': 'New Holland Mouse',
 'lat': -37.9333,
 'long': 147.28660580000002,
 'record_id': '6918748',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2015, 3, 23, 0, 0),
 'start_mth': 3,
 'start_year': 2015,
 'survey_id': '1094511',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b8a9'),
 'comm_name': 'New Holland Mouse',
 'lat': -37.933399200000004,
 'long': 147.2807007,
 'record_id': '6918747',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2015, 3, 23, 0, 0),
 'start_mth': 3,
 'start_year': 2015,
 'survey_id': '1094510',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b8aa'),
 'comm_name': 'New Holland Mouse',
 'lat': -37.9417,
 'long': 147.2870941,
 'record_id': '6918760',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2015, 3, 23, 0, 0),
 'start_mth': 3,
 'start_year': 2015,
 'survey_id': '1094519',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 5}
{'_id': ObjectId('5f695a1d145902aefb85b8ab'),
 'comm_name': 'New Holland Mouse',
 'lat': -37.8829002,
 'long': 147.2924042,
 'record_id': '6918722',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2015, 3, 16, 0, 0),
 'start_mth': 3,
 'start_year': 2015,
 'survey_id': '1094487',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b8ac'),
 'comm_name': 'New Holland Mouse',
 'lat': -37.9098015,
 'long': 147.2828064,
 'record_id': '6918730',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2015, 3, 16, 0, 0),
 'start_mth': 3,
 'start_year': 2015,
 'survey_id': '1094494',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b8ad'),
 'comm_name': 'Mountain Pygmy-possum',
 'lat': -36.896900200000005,
 'long': 147.218399,
 'record_id': '8926485',
 'sci_name': 'Burramys parvus',
 'start_date': datetime.datetime(2017, 12, 14, 0, 0),
 'start_mth': 12,
 'start_year': 2017,
 'survey_id': '1705220',
 'taxon_id': '11156',
 'taxon_type': 'Mammals',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85b8ae'),
 'comm_name': 'Mountain Pygmy-possum',
 'lat': -36.9547997,
 'long': 147.1578979,
 'record_id': '8926482',
 'sci_name': 'Burramys parvus',
 'start_date': datetime.datetime(2017, 11, 30, 0, 0),
 'start_mth': 11,
 'start_year': 2017,
 'survey_id': '1705219',
 'taxon_id': '11156',
 'taxon_type': 'Mammals',
 'totalcount': 54}
{'_id': ObjectId('5f695a1d145902aefb85b8af'),
 'comm_name': 'Mountain Pygmy-possum',
 'lat': -36.985401200000005,
 'long': 147.1421967,
 'record_id': '8617165',
 'sci_name': 'Burramys parvus',
 'start_date': datetime.datetime(2017, 11, 26, 0, 0),
 'start_mth': 11,
 'start_year': 2017,
 'survey_id': '1410384',
 'taxon_id': '11156',
 'taxon_type': 'Mammals',
 'totalcount': 15}
{'_id': ObjectId('5f695a1d145902aefb85b8b0'),
 'comm_name': 'Mountain Pygmy-possum',
 'lat': -36.9836006,
 'long': 147.1445007,
 'record_id': '8617169',
 'sci_name': 'Burramys parvus',
 'start_date': datetime.datetime(2017, 11, 24, 0, 0),
 'start_mth': 11,
 'start_year': 2017,
 'survey_id': '1410385',
 'taxon_id': '11156',
 'taxon_type': 'Mammals',
 'totalcount': 17}
{'_id': ObjectId('5f695a1d145902aefb85b8b1'),
 'comm_name': 'Mountain Pygmy-possum',
 'lat': -36.990798999999996,
 'long': 147.15800480000001,
 'record_id': '8617172',
 'sci_name': 'Burramys parvus',
 'start_date': datetime.datetime(2017, 11, 23, 0, 0),
 'start_mth': 11,
 'start_year': 2017,
 'survey_id': '1410386',
 'taxon_id': '11156',
 'taxon_type': 'Mammals',
 'totalcount': 41}
{'_id': ObjectId('5f695a1d145902aefb85b8b2'),
 'comm_name': 'Mountain Pygmy-possum',
 'lat': -37.14659879999999,
 'long': 146.422699,
 'record_id': '8617178',
 'sci_name': 'Burramys parvus',
 'start_date': datetime.datetime(2017, 11, 13, 0, 0),
 'start_mth': 11,
 'start_year': 2017,
 'survey_id': '1410388',
 'taxon_id': '11156',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b8b3'),
 'comm_name': 'Mountain Pygmy-possum',
 'lat': -37.1515999,
 'long': 146.4349976,
 'record_id': '8926475',
 'sci_name': 'Burramys parvus',
 'start_date': datetime.datetime(2017, 11, 13, 0, 0),
 'start_mth': 11,
 'start_year': 2017,
 'survey_id': '1705216',
 'taxon_id': '11156',
 'taxon_type': 'Mammals',
 'totalcount': 22}
{'_id': ObjectId('5f695a1d145902aefb85b8b4'),
 'comm_name': 'Mountain Pygmy-possum',
 'lat': -37.153801,
 'long': 146.4288025,
 'record_id': '8926480',
 'sci_name': 'Burramys parvus',
 'start_date': datetime.datetime(2017, 11, 12, 0, 0),
 'start_mth': 11,
 'start_year': 2017,
 'survey_id': '1705218',
 'taxon_id': '11156',
 'taxon_type': 'Mammals',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85b8b5'),
 'comm_name': 'Mountain Pygmy-possum',
 'lat': -37.150501299999995,
 'long': 146.4338074,
 'record_id': '8926461',
 'sci_name': 'Burramys parvus',
 'start_date': datetime.datetime(2017, 11, 12, 0, 0),
 'start_mth': 11,
 'start_year': 2017,
 'survey_id': '1705211',
 'taxon_id': '11156',
 'taxon_type': 'Mammals',
 'totalcount': 20}
{'_id': ObjectId('5f695a1d145902aefb85b8b6'),
 'comm_name': 'Mountain Pygmy-possum',
 'lat': -37.1511002,
 'long': 146.4402008,
 'record_id': '8926467',
 'sci_name': 'Burramys parvus',
 'start_date': datetime.datetime(2017, 11, 12, 0, 0),
 'start_mth': 11,
 'start_year': 2017,
 'survey_id': '1705213',
 'taxon_id': '11156',
 'taxon_type': 'Mammals',
 'totalcount': 5}
{'_id': ObjectId('5f695a1d145902aefb85b8b7'),
 'comm_name': 'Mountain Pygmy-possum',
 'lat': -37.1535988,
 'long': 146.43800349999998,
 'record_id': '8926473',
 'sci_name': 'Burramys parvus',
 'start_date': datetime.datetime(2017, 11, 10, 0, 0),
 'start_mth': 11,
 'start_year': 2017,
 'survey_id': '1705215',
 'taxon_id': '11156',
 'taxon_type': 'Mammals',
 'totalcount': 8}
{'_id': ObjectId('5f695a1d145902aefb85b8b8'),
 'comm_name': 'Mountain Pygmy-possum',
 'lat': -37.1533012,
 'long': 146.43719480000001,
 'record_id': '8926477',
 'sci_name': 'Burramys parvus',
 'start_date': datetime.datetime(2017, 11, 9, 0, 0),
 'start_mth': 11,
 'start_year': 2017,
 'survey_id': '1705217',
 'taxon_id': '11156',
 'taxon_type': 'Mammals',
 'totalcount': 12}
{'_id': ObjectId('5f695a1d145902aefb85b8b9'),
 'comm_name': 'Mountain Pygmy-possum',
 'lat': -37.154098499999996,
 'long': 146.4385986,
 'record_id': '8926464',
 'sci_name': 'Burramys parvus',
 'start_date': datetime.datetime(2017, 11, 9, 0, 0),
 'start_mth': 11,
 'start_year': 2017,
 'survey_id': '1705212',
 'taxon_id': '11156',
 'taxon_type': 'Mammals',
 'totalcount': 8}
{'_id': ObjectId('5f695a1d145902aefb85b8ba'),
 'comm_name': 'Mountain Pygmy-possum',
 'lat': -37.151901200000005,
 'long': 146.43609619999998,
 'record_id': '8926470',
 'sci_name': 'Burramys parvus',
 'start_date': datetime.datetime(2017, 11, 8, 0, 0),
 'start_mth': 11,
 'start_year': 2017,
 'survey_id': '1705214',
 'taxon_id': '11156',
 'taxon_type': 'Mammals',
 'totalcount': 71}
{'_id': ObjectId('5f695a1d145902aefb85b8bb'),
 'comm_name': 'Mountain Pygmy-possum',
 'lat': -37.1533012,
 'long': 146.43719480000001,
 'record_id': '8490354',
 'sci_name': 'Burramys parvus',
 'start_date': datetime.datetime(2016, 11, 26, 0, 0),
 'start_mth': 11,
 'start_year': 2016,
 'survey_id': '1342588',
 'taxon_id': '11156',
 'taxon_type': 'Mammals',
 'totalcount': 9}
{'_id': ObjectId('5f695a1d145902aefb85b8bc'),
 'comm_name': 'Mountain Pygmy-possum',
 'lat': -37.1535988,
 'long': 146.43800349999998,
 'record_id': '8490355',
 'sci_name': 'Burramys parvus',
 'start_date': datetime.datetime(2016, 11, 26, 0, 0),
 'start_mth': 11,
 'start_year': 2016,
 'survey_id': '1342589',
 'taxon_id': '11156',
 'taxon_type': 'Mammals',
 'totalcount': 11}
{'_id': ObjectId('5f695a1d145902aefb85b8bd'),
 'comm_name': 'Mountain Pygmy-possum',
 'lat': -36.9836006,
 'long': 147.1445007,
 'record_id': '8490240',
 'sci_name': 'Burramys parvus',
 'start_date': datetime.datetime(2016, 11, 22, 0, 0),
 'start_mth': 11,
 'start_year': 2016,
 'survey_id': '1342574',
 'taxon_id': '11156',
 'taxon_type': 'Mammals',
 'totalcount': 15}
{'_id': ObjectId('5f695a1d145902aefb85b8be'),
 'comm_name': 'Mountain Pygmy-possum',
 'lat': -36.9547997,
 'long': 147.1578979,
 'record_id': '8490248',
 'sci_name': 'Burramys parvus',
 'start_date': datetime.datetime(2016, 11, 20, 0, 0),
 'start_mth': 11,
 'start_year': 2016,
 'survey_id': '1342577',
 'taxon_id': '11156',
 'taxon_type': 'Mammals',
 'totalcount': 45}
{'_id': ObjectId('5f695a1d145902aefb85b8bf'),
 'comm_name': 'Mountain Pygmy-possum',
 'lat': -36.985401200000005,
 'long': 147.1421967,
 'record_id': '8490237',
 'sci_name': 'Burramys parvus',
 'start_date': datetime.datetime(2016, 11, 17, 0, 0),
 'start_mth': 11,
 'start_year': 2016,
 'survey_id': '1342573',
 'taxon_id': '11156',
 'taxon_type': 'Mammals',
 'totalcount': 26}
{'_id': ObjectId('5f695a1d145902aefb85b8c0'),
 'comm_name': 'Mountain Pygmy-possum',
 'lat': -36.990798999999996,
 'long': 147.15800480000001,
 'record_id': '8490242',
 'sci_name': 'Burramys parvus',
 'start_date': datetime.datetime(2016, 11, 16, 0, 0),
 'start_mth': 11,
 'start_year': 2016,
 'survey_id': '1342575',
 'taxon_id': '11156',
 'taxon_type': 'Mammals',
 'totalcount': 30}
{'_id': ObjectId('5f695a1d145902aefb85b8c1'),
 'comm_name': 'Mountain Pygmy-possum',
 'lat': -37.1515999,
 'long': 146.4349976,
 'record_id': '8490352',
 'sci_name': 'Burramys parvus',
 'start_date': datetime.datetime(2016, 11, 3, 0, 0),
 'start_mth': 11,
 'start_year': 2016,
 'survey_id': '1342587',
 'taxon_id': '11156',
 'taxon_type': 'Mammals',
 'totalcount': 31}
{'_id': ObjectId('5f695a1d145902aefb85b8c2'),
 'comm_name': 'Mountain Pygmy-possum',
 'lat': -37.153801,
 'long': 146.4288025,
 'record_id': '8490267',
 'sci_name': 'Burramys parvus',
 'start_date': datetime.datetime(2016, 11, 3, 0, 0),
 'start_mth': 11,
 'start_year': 2016,
 'survey_id': '1342583',
 'taxon_id': '11156',
 'taxon_type': 'Mammals',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b8c3'),
 'comm_name': 'Mountain Pygmy-possum',
 'lat': -37.154098499999996,
 'long': 146.4385986,
 'record_id': '8490261',
 'sci_name': 'Burramys parvus',
 'start_date': datetime.datetime(2016, 11, 2, 0, 0),
 'start_mth': 11,
 'start_year': 2016,
 'survey_id': '1342581',
 'taxon_id': '11156',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b8c4'),
 'comm_name': 'Mountain Pygmy-possum',
 'lat': -37.1511002,
 'long': 146.4402008,
 'record_id': '8490264',
 'sci_name': 'Burramys parvus',
 'start_date': datetime.datetime(2016, 11, 2, 0, 0),
 'start_mth': 11,
 'start_year': 2016,
 'survey_id': '1342582',
 'taxon_id': '11156',
 'taxon_type': 'Mammals',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85b8c5'),
 'comm_name': 'Mountain Pygmy-possum',
 'lat': -37.150501299999995,
 'long': 146.4338074,
 'record_id': '8490258',
 'sci_name': 'Burramys parvus',
 'start_date': datetime.datetime(2016, 11, 2, 0, 0),
 'start_mth': 11,
 'start_year': 2016,
 'survey_id': '1342580',
 'taxon_id': '11156',
 'taxon_type': 'Mammals',
 'totalcount': 19}
{'_id': ObjectId('5f695a1d145902aefb85b8c6'),
 'comm_name': 'Mountain Pygmy-possum',
 'lat': -37.151901200000005,
 'long': 146.43609619999998,
 'record_id': '8490255',
 'sci_name': 'Burramys parvus',
 'start_date': datetime.datetime(2016, 11, 2, 0, 0),
 'start_mth': 11,
 'start_year': 2016,
 'survey_id': '1342579',
 'taxon_id': '11156',
 'taxon_type': 'Mammals',
 'totalcount': 128}
{'_id': ObjectId('5f695a1d145902aefb85b8c7'),
 'comm_name': 'Mountain Pygmy-possum',

 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10065257',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 9, 29, 0, 0),
 'start_mth': 9,
 'start_year': 2018,
 'survey_id': '1960014',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b909'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10065259',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 9, 29, 0, 0),
 'start_mth': 9,
 'start_year': 2018,
 'survey_id': '1960016',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b90a'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7839012,
 'long': 141.0677948,
 'record_id': '10065105',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 9, 28, 0, 0),
 'start_mth': 9,
 'start_year': 2018,
 'survey_id': '1959951',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b90b'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.8286018,
 'long': 142.2940979,
 'record_id': '10064951',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 9, 28, 0, 0),
 'start_mth': 9,
 'start_year': 2018,
 'survey_id': '1959884',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b90c'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6911011,
 'long': 142.2727051,
 'record_id': '10064781',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 9, 27, 0, 0),
 'start_mth': 9,
 'start_year': 2018,
 'survey_id': '1959806',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85b90d'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6911011,
 'long': 142.2727051,
 'record_id': '10064783',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 9, 27, 0, 0),
 'start_mth': 9,
 'start_year': 2018,
 'survey_id': '1959807',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85b90e'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7136002,
 'long': 141.061203,
 'record_id': '8977842',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 9, 26, 0, 0),
 'start_mth': 9,
 'start_year': 2018,
 'survey_id': '1726007',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b90f'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10064714',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 9, 26, 0, 0),
 'start_mth': 9,
 'start_year': 2018,
 'survey_id': '1959769',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 12}
{'_id': ObjectId('5f695a1d145902aefb85b910'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -35.031200399999996,
 'long': 141.7563019,
 'record_id': '10063849',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 9, 20, 0, 0),
 'start_mth': 9,
 'start_year': 2018,
 'survey_id': '1959394',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 5}
{'_id': ObjectId('5f695a1d145902aefb85b911'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10063834',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 9, 20, 0, 0),
 'start_mth': 9,
 'start_year': 2018,
 'survey_id': '1959389',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b912'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.68360139999999,
 'long': 142.27110290000002,
 'record_id': '10063498',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 9, 16, 0, 0),
 'start_mth': 9,
 'start_year': 2018,
 'survey_id': '1959214',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b913'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.68360139999999,
 'long': 142.27110290000002,
 'record_id': '10063376',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 9, 16, 0, 0),
 'start_mth': 9,
 'start_year': 2018,
 'survey_id': '1959166',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b914'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6911011,
 'long': 142.2727051,
 'record_id': '10063371',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 9, 16, 0, 0),
 'start_mth': 9,
 'start_year': 2018,
 'survey_id': '1959165',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b915'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6911011,
 'long': 142.2727051,
 'record_id': '10063494',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 9, 16, 0, 0),
 'start_mth': 9,
 'start_year': 2018,
 'survey_id': '1959213',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b916'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10061836',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 8, 29, 0, 0),
 'start_mth': 8,
 'start_year': 2018,
 'survey_id': '1958474',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b917'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10061907',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 8, 29, 0, 0),
 'start_mth': 8,
 'start_year': 2018,
 'survey_id': '1958501',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b918'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6911011,
 'long': 142.2727051,
 'record_id': '10060683',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 8, 12, 0, 0),
 'start_mth': 8,
 'start_year': 2018,
 'survey_id': '1957902',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85b919'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10060799',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 8, 12, 0, 0),
 'start_mth': 8,
 'start_year': 2018,
 'survey_id': '1957951',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85b91a'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10060652',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 8, 11, 0, 0),
 'start_mth': 8,
 'start_year': 2018,
 'survey_id': '1957879',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b91b'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10060173',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 8, 4, 0, 0),
 'start_mth': 8,
 'start_year': 2018,
 'survey_id': '1957657',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b91c'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10060188',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 8, 4, 0, 0),
 'start_mth': 8,
 'start_year': 2018,
 'survey_id': '1957660',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b91d'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10060210',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 8, 4, 0, 0),
 'start_mth': 8,
 'start_year': 2018,
 'survey_id': '1957667',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b91e'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10055551',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 5, 28, 0, 0),
 'start_mth': 5,
 'start_year': 2018,
 'survey_id': '1955562',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b91f'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10054189',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 5, 11, 0, 0),
 'start_mth': 5,
 'start_year': 2018,
 'survey_id': '1954976',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85b920'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6911011,
 'long': 142.2727051,
 'record_id': '10054032',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 5, 8, 0, 0),
 'start_mth': 5,
 'start_year': 2018,
 'survey_id': '1954917',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b921'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6911011,
 'long': 142.2727051,
 'record_id': '10053912',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 5, 7, 0, 0),
 'start_mth': 5,
 'start_year': 2018,
 'survey_id': '1954879',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85b922'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10052935',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 4, 27, 0, 0),
 'start_mth': 4,
 'start_year': 2018,
 'survey_id': '1954477',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 7}
{'_id': ObjectId('5f695a1d145902aefb85b923'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10052236',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 4, 22, 0, 0),
 'start_mth': 4,
 'start_year': 2018,
 'survey_id': '1954204',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b924'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10052145',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 4, 22, 0, 0),
 'start_mth': 4,
 'start_year': 2018,
 'survey_id': '1954179',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b925'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10052220',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 4, 22, 0, 0),
 'start_mth': 4,
 'start_year': 2018,
 'survey_id': '1954200',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b926'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10051071',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 4, 11, 0, 0),
 'start_mth': 4,
 'start_year': 2018,
 'survey_id': '1953752',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b927'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6911011,
 'long': 142.2727051,
 'record_id': '10050559',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 4, 7, 0, 0),
 'start_mth': 4,
 'start_year': 2018,
 'survey_id': '1953537',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 5}
{'_id': ObjectId('5f695a1d145902aefb85b928'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6911011,
 'long': 142.2727051,
 'record_id': '10050643',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 4, 7, 0, 0),
 'start_mth': 4,
 'start_year': 2018,
 'survey_id': '1953581',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 6}
{'_id': ObjectId('5f695a1d145902aefb85b929'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10050554',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 4, 7, 0, 0),
 'start_mth': 4,
 'start_year': 2018,
 'survey_id': '1953536',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 10}
{'_id': ObjectId('5f695a1d145902aefb85b92a'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10050444',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 4, 6, 0, 0),
 'start_mth': 4,
 'start_year': 2018,
 'survey_id': '1953486',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 10}
{'_id': ObjectId('5f695a1d145902aefb85b92b'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10050451',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 4, 6, 0, 0),
 'start_mth': 4,
 'start_year': 2018,
 'survey_id': '1953489',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 10}
{'_id': ObjectId('5f695a1d145902aefb85b92c'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10050348',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 4, 5, 0, 0),
 'start_mth': 4,
 'start_year': 2018,
 'survey_id': '1953452',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 8}
{'_id': ObjectId('5f695a1d145902aefb85b92d'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10050330',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 4, 5, 0, 0),
 'start_mth': 4,
 'start_year': 2018,
 'survey_id': '1953447',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 8}
{'_id': ObjectId('5f695a1d145902aefb85b92e'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7624016,
 'long': 142.3204041,
 'record_id': '10049614',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 4, 1, 0, 0),
 'start_mth': 4,
 'start_year': 2018,
 'survey_id': '1953200',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85b92f'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7560997,
 'long': 142.3247986,
 'record_id': '10049513',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 4, 1, 0, 0),
 'start_mth': 4,
 'start_year': 2018,
 'survey_id': '1953166',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b930'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6935997,
 'long': 142.2707977,
 'record_id': '10049482',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 4, 1, 0, 0),
 'start_mth': 4,
 'start_year': 2018,
 'survey_id': '1953152',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 5}
{'_id': ObjectId('5f695a1d145902aefb85b931'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10048283',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 3, 20, 0, 0),
 'start_mth': 3,
 'start_year': 2018,
 'survey_id': '1952616',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b932'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10045236',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 2, 20, 0, 0),
 'start_mth': 2,
 'start_year': 2018,
 'survey_id': '1951340',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85b933'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6911011,
 'long': 142.2727051,
 'record_id': '10035175',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 12, 4, 0, 0),
 'start_mth': 12,
 'start_year': 2017,
 'survey_id': '1947733',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 9}
{'_id': ObjectId('5f695a1d145902aefb85b934'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6911011,
 'long': 142.2727051,
 'record_id': '10035454',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 12, 4, 0, 0),
 'start_mth': 12,
 'start_year': 2017,
 'survey_id': '1947782',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 9}
{'_id': ObjectId('5f695a1d145902aefb85b935'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6911011,
 'long': 142.2727051,
 'record_id': '10034859',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 11, 28, 0, 0),
 'start_mth': 11,
 'start_year': 2017,
 'survey_id': '1947610',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 12}
{'_id': ObjectId('5f695a1d145902aefb85b936'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10033767',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 11, 19, 0, 0),
 'start_mth': 11,
 'start_year': 2017,
 'survey_id': '1947231',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b937'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10033798',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 11, 19, 0, 0),
 'start_mth': 11,
 'start_year': 2017,
 'survey_id': '1947242',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b938'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10033472',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 11, 17, 0, 0),
 'start_mth': 11,
 'start_year': 2017,
 'survey_id': '1947115',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b939'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10033477',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 11, 17, 0, 0),
 'start_mth': 11,
 'start_year': 2017,
 'survey_id': '1947118',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b93a'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7042007,
 'long': 141.06199650000002,
 'record_id': '10032062',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 11, 5, 0, 0),
 'start_mth': 11,
 'start_year': 2017,
 'survey_id': '1946512',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85b93b'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6911011,
 'long': 142.2727051,
 'record_id': '10031417',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 11, 1, 0, 0),
 'start_mth': 11,
 'start_year': 2017,
 'survey_id': '1946250',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85b93c'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10031282',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 10, 30, 0, 0),
 'start_mth': 10,
 'start_year': 2017,
 'survey_id': '1946182',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b93d'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7839012,

 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b98d'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -35.799400299999995,
 'long': 141.552597,
 'record_id': '8986211',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2015, 11, 11, 0, 0),
 'start_mth': 11,
 'start_year': 2015,
 'survey_id': '1734106',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b98e'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -35.9943008,
 'long': 141.6280975,
 'record_id': '8986214',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2015, 11, 11, 0, 0),
 'start_mth': 11,
 'start_year': 2015,
 'survey_id': '1734109',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b98f'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -35.8002014,
 'long': 141.5578003,
 'record_id': '8986209',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2015, 11, 11, 0, 0),
 'start_mth': 11,
 'start_year': 2015,
 'survey_id': '1734104',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b990'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -35.7986984,
 'long': 141.5500031,
 'record_id': '8986212',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2015, 11, 11, 0, 0),
 'start_mth': 11,
 'start_year': 2015,
 'survey_id': '1734107',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b991'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -35.652900700000004,
 'long': 141.69819640000003,
 'record_id': '8986220',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2015, 11, 10, 0, 0),
 'start_mth': 11,
 'start_year': 2015,
 'survey_id': '1734115',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b992'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -35.9749985,
 'long': 141.69500730000001,
 'record_id': '8986184',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2015, 11, 10, 0, 0),
 'start_mth': 11,
 'start_year': 2015,
 'survey_id': '1734079',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b993'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -35.9796982,
 'long': 141.69970700000002,
 'record_id': '8986186',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2015, 11, 10, 0, 0),
 'start_mth': 11,
 'start_year': 2015,
 'survey_id': '1734081',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b994'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -35.9561005,
 'long': 141.6651001,
 'record_id': '8986187',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2015, 11, 10, 0, 0),
 'start_mth': 11,
 'start_year': 2015,
 'survey_id': '1734082',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b995'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -35.9566994,
 'long': 141.66329960000002,
 'record_id': '8986188',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2015, 11, 10, 0, 0),
 'start_mth': 11,
 'start_year': 2015,
 'survey_id': '1734083',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b996'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -35.9572983,
 'long': 141.66329960000002,
 'record_id': '8986150',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2015, 4, 21, 0, 0),
 'start_mth': 4,
 'start_year': 2015,
 'survey_id': '1734045',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b997'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -35.6537018,
 'long': 141.6051025,
 'record_id': '8986151',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2015, 4, 21, 0, 0),
 'start_mth': 4,
 'start_year': 2015,
 'survey_id': '1734046',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b998'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -35.6425018,
 'long': 141.702301,
 'record_id': '8986148',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2015, 4, 21, 0, 0),
 'start_mth': 4,
 'start_year': 2015,
 'survey_id': '1734043',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b999'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -35.7993011,
 'long': 141.55499269999999,
 'record_id': '8986152',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2015, 4, 21, 0, 0),
 'start_mth': 4,
 'start_year': 2015,
 'survey_id': '1734047',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b99a'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -35.641201,
 'long': 141.70379640000002,
 'record_id': '8986147',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2015, 4, 21, 0, 0),
 'start_mth': 4,
 'start_year': 2015,
 'survey_id': '1734042',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b99b'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -35.79759979999999,
 'long': 141.5487976,
 'record_id': '8986149',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2015, 4, 21, 0, 0),
 'start_mth': 4,
 'start_year': 2015,
 'survey_id': '1734044',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85b99c'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7999992,
 'long': 146.0688019,
 'record_id': '10150668',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2020, 1, 28, 0, 0),
 'start_mth': 1,
 'start_year': 2020,
 'survey_id': '1988592',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b99d'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8008003,
 'long': 146.0666962,
 'record_id': '10150669',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2020, 1, 28, 0, 0),
 'start_mth': 1,
 'start_year': 2020,
 'survey_id': '1988593',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b99e'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8013,
 'long': 146.0662994,
 'record_id': '10150670',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2020, 1, 28, 0, 0),
 'start_mth': 1,
 'start_year': 2020,
 'survey_id': '1988594',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b99f'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8005981,
 'long': 146.06700130000002,
 'record_id': '10150672',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2020, 1, 28, 0, 0),
 'start_mth': 1,
 'start_year': 2020,
 'survey_id': '1988596',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b9a0'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8021011,
 'long': 146.0657959,
 'record_id': '10150674',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2020, 1, 28, 0, 0),
 'start_mth': 1,
 'start_year': 2020,
 'survey_id': '1988598',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b9a1'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8037987,
 'long': 146.06410219999998,
 'record_id': '10150678',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2020, 1, 28, 0, 0),
 'start_mth': 1,
 'start_year': 2020,
 'survey_id': '1988602',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b9a2'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8008003,
 'long': 146.0666962,
 'record_id': '10150675',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2020, 1, 27, 0, 0),
 'start_mth': 1,
 'start_year': 2020,
 'survey_id': '1988599',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b9a3'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.401199299999995,
 'long': 145.96000669999998,
 'record_id': '10179333',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2020, 1, 23, 0, 0),
 'start_mth': 1,
 'start_year': 2020,
 'survey_id': '2013903',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b9a4'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.775600399999995,
 'long': 145.9382019,
 'record_id': '10183271',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 12, 24, 0, 0),
 'start_mth': 12,
 'start_year': 2019,
 'survey_id': '2014811',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b9a5'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.775600399999995,
 'long': 145.93890380000002,
 'record_id': '10183274',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 12, 24, 0, 0),
 'start_mth': 12,
 'start_year': 2019,
 'survey_id': '2014812',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b9a6'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7757988,
 'long': 145.9398041,
 'record_id': '10183275',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 12, 24, 0, 0),
 'start_mth': 12,
 'start_year': 2019,
 'survey_id': '2014813',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b9a7'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7804985,
 'long': 145.9369049,
 'record_id': '10183276',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 12, 24, 0, 0),
 'start_mth': 12,
 'start_year': 2019,
 'survey_id': '2014814',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b9a8'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7815018,
 'long': 145.93760680000003,
 'record_id': '10183278',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 12, 24, 0, 0),
 'start_mth': 12,
 'start_year': 2019,
 'survey_id': '2014816',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b9a9'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.781799299999996,
 'long': 145.9398956,
 'record_id': '10183285',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 12, 24, 0, 0),
 'start_mth': 12,
 'start_year': 2019,
 'survey_id': '2014817',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b9aa'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.782299,
 'long': 145.9398956,
 'record_id': '10183288',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 12, 24, 0, 0),
 'start_mth': 12,
 'start_year': 2019,
 'survey_id': '2014818',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b9ab'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7818985,
 'long': 145.9407959,
 'record_id': '10183294',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 12, 24, 0, 0),
 'start_mth': 12,
 'start_year': 2019,
 'survey_id': '2014819',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b9ac'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.3824005,
 'long': 145.934906,
 'record_id': '10183222',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 12, 19, 0, 0),
 'start_mth': 12,
 'start_year': 2019,
 'survey_id': '2014797',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b9ad'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.382,
 'long': 145.93460080000003,
 'record_id': '10183234',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 12, 19, 0, 0),
 'start_mth': 12,
 'start_year': 2019,
 'survey_id': '2014798',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b9ae'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7914009,
 'long': 146.0861053,
 'record_id': '10149640',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 12, 18, 0, 0),
 'start_mth': 12,
 'start_year': 2019,
 'survey_id': '1988412',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b9af'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7921982,
 'long': 146.08630369999997,
 'record_id': '10149642',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 12, 18, 0, 0),
 'start_mth': 12,
 'start_year': 2019,
 'survey_id': '1988413',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b9b0'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.792800899999996,
 'long': 146.0865021,
 'record_id': '10149644',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 12, 18, 0, 0),
 'start_mth': 12,
 'start_year': 2019,
 'survey_id': '1988414',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b9b1'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7925987,
 'long': 146.0709991,
 'record_id': '10149648',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 12, 18, 0, 0),
 'start_mth': 12,
 'start_year': 2019,
 'survey_id': '1988415',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b9b2'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.792099,
 'long': 146.0704041,
 'record_id': '10149649',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 12, 18, 0, 0),
 'start_mth': 12,
 'start_year': 2019,
 'survey_id': '1988416',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b9b3'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7919998,
 'long': 146.0697937,
 'record_id': '10149651',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 12, 18, 0, 0),
 'start_mth': 12,
 'start_year': 2019,
 'survey_id': '1988417',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b9b4'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.79370120000001,
 'long': 146.07699580000002,
 'record_id': '10149657',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 12, 18, 0, 0),
 'start_mth': 12,
 'start_year': 2019,
 'survey_id': '1988420',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b9b5'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.777401,
 'long': 145.9385071,
 'record_id': '10142465',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 12, 17, 0, 0),
 'start_mth': 12,
 'start_year': 2019,
 'survey_id': '1985727',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b9b6'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7793999,
 'long': 145.9398956,
 'record_id': '10142463',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 12, 17, 0, 0),
 'start_mth': 12,
 'start_year': 2019,
 'survey_id': '1985725',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b9b7'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.774601000000004,
 'long': 145.9734955,
 'record_id': '10183077',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 12, 17, 0, 0),
 'start_mth': 12,
 'start_year': 2019,
 'survey_id': '2014697',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b9b8'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.4679985,
 'long': 145.949295,
 'record_id': '10183174',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 12, 17, 0, 0),
 'start_mth': 12,
 'start_year': 2019,
 'survey_id': '2014786',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b9b9'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.467201200000005,
 'long': 145.9499054,
 'record_id': '10183175',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 12, 17, 0, 0),
 'start_mth': 12,
 'start_year': 2019,
 'survey_id': '2014787',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b9ba'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.4667015,
 'long': 145.94909669999998,
 'record_id': '10183177',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 12, 17, 0, 0),
 'start_mth': 12,
 'start_year': 2019,
 'survey_id': '2014788',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b9bb'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7756996,
 'long': 145.9732056,
 'record_id': '10183067',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 12, 16, 0, 0),
 'start_mth': 12,
 'start_year': 2019,
 'survey_id': '2014687',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b9bc'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.773498499999995,
 'long': 145.97470090000002,
 'record_id': '10183069',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 12, 16, 0, 0),
 'start_mth': 12,
 'start_year': 2019,
 'survey_id': '2014689',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b9bd'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.775600399999995,
 'long': 145.9732056,
 'record_id': '10183074',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 12, 16, 0, 0),
 'start_mth': 12,
 'start_year': 2019,
 'survey_id': '2014694',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b9be'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.819599200000006,
 'long': 145.77020259999998,
 'record_id': '10149683',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 12, 14, 0, 0),
 'start_mth': 12,
 'start_year': 2019,
 'survey_id': '1988427',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b9bf'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8209,
 'long': 145.7736969,
 'record_id': '10149698',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 12, 14, 0, 0),
 'start_mth': 12,
 'start_year': 2019,
 'survey_id': '1988432',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b9c0'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.6473007,
 'long': 145.7259979,
 'record_id': '10132689',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 12, 11, 0, 0),
 'start_mth': 12,
 'start_year': 2019,
 'survey_id': '1982539',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b9c1'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.64759829999999,
 'long': 145.7263947,

 'start_mth': 10,
 'start_year': 2019,
 'survey_id': '1982470',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b9e7'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.805999799999995,
 'long': 146.3235016,
 'record_id': '10131964',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 10, 1, 0, 0),
 'start_mth': 10,
 'start_year': 2019,
 'survey_id': '1982452',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b9e8'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.804798100000006,
 'long': 146.32420349999998,
 'record_id': '10131967',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 10, 1, 0, 0),
 'start_mth': 10,
 'start_year': 2019,
 'survey_id': '1982454',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b9e9'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8059006,
 'long': 146.32000730000001,
 'record_id': '10131970',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 10, 1, 0, 0),
 'start_mth': 10,
 'start_year': 2019,
 'survey_id': '1982456',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b9ea'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.661300700000005,
 'long': 146.168396,
 'record_id': '10131238',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 9, 30, 0, 0),
 'start_mth': 9,
 'start_year': 2019,
 'survey_id': '1982263',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b9eb'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.608799,
 'long': 146.24380490000001,
 'record_id': '10131857',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 9, 26, 0, 0),
 'start_mth': 9,
 'start_year': 2019,
 'survey_id': '1982416',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b9ec'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.6090012,
 'long': 146.243103,
 'record_id': '10131859',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 9, 26, 0, 0),
 'start_mth': 9,
 'start_year': 2019,
 'survey_id': '1982417',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b9ed'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.60940170000001,
 'long': 146.2425995,
 'record_id': '10131861',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 9, 26, 0, 0),
 'start_mth': 9,
 'start_year': 2019,
 'survey_id': '1982418',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b9ee'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.612098700000004,
 'long': 146.2440033,
 'record_id': '10131866',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 9, 26, 0, 0),
 'start_mth': 9,
 'start_year': 2019,
 'survey_id': '1982419',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b9ef'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.6125984,
 'long': 146.2445068,
 'record_id': '10131876',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 9, 26, 0, 0),
 'start_mth': 9,
 'start_year': 2019,
 'survey_id': '1982420',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b9f0'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.6118011,
 'long': 146.23019409999998,
 'record_id': '10132841',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 9, 25, 0, 0),
 'start_mth': 9,
 'start_year': 2019,
 'survey_id': '1982580',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b9f1'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.611301399999995,
 'long': 146.22970580000003,
 'record_id': '10132842',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 9, 25, 0, 0),
 'start_mth': 9,
 'start_year': 2019,
 'survey_id': '1982581',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b9f2'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.6111984,
 'long': 146.2290039,
 'record_id': '10132843',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 9, 25, 0, 0),
 'start_mth': 9,
 'start_year': 2019,
 'survey_id': '1982582',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b9f3'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.654701200000005,
 'long': 146.14129640000002,
 'record_id': '10132860',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 9, 23, 0, 0),
 'start_mth': 9,
 'start_year': 2019,
 'survey_id': '1982590',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b9f4'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.651199299999995,
 'long': 146.1369019,
 'record_id': '10132870',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 9, 23, 0, 0),
 'start_mth': 9,
 'start_year': 2019,
 'survey_id': '1982594',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b9f5'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.650600399999995,
 'long': 146.1360016,
 'record_id': '10132871',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 9, 23, 0, 0),
 'start_mth': 9,
 'start_year': 2019,
 'survey_id': '1982595',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b9f6'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.6500015,
 'long': 146.1360016,
 'record_id': '10132878',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 9, 23, 0, 0),
 'start_mth': 9,
 'start_year': 2019,
 'survey_id': '1982596',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b9f7'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.757499700000004,
 'long': 145.8365021,
 'record_id': '10130948',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 9, 19, 0, 0),
 'start_mth': 9,
 'start_year': 2019,
 'survey_id': '1982217',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b9f8'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.5360985,
 'long': 145.60940549999998,
 'record_id': '9598689',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 9, 19, 0, 0),
 'start_mth': 9,
 'start_year': 2019,
 'survey_id': '1835201',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b9f9'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.5354996,
 'long': 145.60870359999998,
 'record_id': '9598690',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 9, 19, 0, 0),
 'start_mth': 9,
 'start_year': 2019,
 'survey_id': '1835202',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85b9fa'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.77259829999999,
 'long': 145.8498993,
 'record_id': '10130996',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 9, 18, 0, 0),
 'start_mth': 9,
 'start_year': 2019,
 'survey_id': '1982230',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b9fb'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7737999,
 'long': 145.84480290000002,
 'record_id': '10130998',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 9, 18, 0, 0),
 'start_mth': 9,
 'start_year': 2019,
 'survey_id': '1982232',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b9fc'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.773700700000006,
 'long': 145.84399409999997,
 'record_id': '10131002',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 9, 18, 0, 0),
 'start_mth': 9,
 'start_year': 2019,
 'survey_id': '1982233',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b9fd'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.6099014,
 'long': 146.043396,
 'record_id': '10131038',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 9, 4, 0, 0),
 'start_mth': 9,
 'start_year': 2019,
 'survey_id': '1982245',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b9fe'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.6086006,
 'long': 146.04949950000002,
 'record_id': '10131045',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 9, 4, 0, 0),
 'start_mth': 9,
 'start_year': 2019,
 'survey_id': '1982247',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85b9ff'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.6071014,
 'long': 146.05160519999998,
 'record_id': '10131049',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 9, 4, 0, 0),
 'start_mth': 9,
 'start_year': 2019,
 'survey_id': '1982249',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba00'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.6068001,
 'long': 146.0520935,
 'record_id': '10131051',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 9, 4, 0, 0),
 'start_mth': 9,
 'start_year': 2019,
 'survey_id': '1982250',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba01'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.537300099999996,
 'long': 145.9125061,
 'record_id': '10132848',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 9, 3, 0, 0),
 'start_mth': 9,
 'start_year': 2019,
 'survey_id': '1982583',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba02'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.53710170000001,
 'long': 145.9131012,
 'record_id': '10132849',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 9, 3, 0, 0),
 'start_mth': 9,
 'start_year': 2019,
 'survey_id': '1982584',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba03'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.5415001,
 'long': 145.9080963,
 'record_id': '10132852',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 9, 3, 0, 0),
 'start_mth': 9,
 'start_year': 2019,
 'survey_id': '1982585',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba04'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.542301200000004,
 'long': 145.908493,
 'record_id': '10132854',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 9, 3, 0, 0),
 'start_mth': 9,
 'start_year': 2019,
 'survey_id': '1982586',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba05'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.808200799999995,
 'long': 146.0854034,
 'record_id': '10131020',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 8, 28, 0, 0),
 'start_mth': 8,
 'start_year': 2019,
 'survey_id': '1982241',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba06'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8087997,
 'long': 146.08590700000002,
 'record_id': '10131029',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 8, 28, 0, 0),
 'start_mth': 8,
 'start_year': 2019,
 'survey_id': '1982242',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba07'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8088989,
 'long': 146.0852051,
 'record_id': '10131032',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 8, 28, 0, 0),
 'start_mth': 8,
 'start_year': 2019,
 'survey_id': '1982243',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba08'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.5439987,
 'long': 145.5601959,
 'record_id': '9622191',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 8, 25, 0, 0),
 'start_mth': 8,
 'start_year': 2019,
 'survey_id': '1864333',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba09'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8017998,
 'long': 146.088501,
 'record_id': '10131975',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 8, 22, 0, 0),
 'start_mth': 8,
 'start_year': 2019,
 'survey_id': '1982460',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba0a'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.801998100000006,
 'long': 146.08949280000002,
 'record_id': '10131977',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 8, 22, 0, 0),
 'start_mth': 8,
 'start_year': 2019,
 'survey_id': '1982461',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba0b'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.801601399999996,
 'long': 146.08909609999998,
 'record_id': '10131979',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 8, 22, 0, 0),
 'start_mth': 8,
 'start_year': 2019,
 'survey_id': '1982462',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba0c'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.799598700000004,
 'long': 146.0904999,
 'record_id': '10131981',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 8, 22, 0, 0),
 'start_mth': 8,
 'start_year': 2019,
 'survey_id': '1982463',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba0d'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.799598700000004,
 'long': 146.0895996,
 'record_id': '10131986',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 8, 22, 0, 0),
 'start_mth': 8,
 'start_year': 2019,
 'survey_id': '1982464',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba0e'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.799400299999995,
 'long': 146.08909609999998,
 'record_id': '10131989',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 8, 22, 0, 0),
 'start_mth': 8,
 'start_year': 2019,
 'survey_id': '1982465',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba0f'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.5387001,
 'long': 145.9055939,
 'record_id': '9622104',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 7, 28, 0, 0),
 'start_mth': 7,
 'start_year': 2019,
 'survey_id': '1864256',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba10'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8073006,
 'long': 146.11279299999998,
 'record_id': '10130964',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 7, 25, 0, 0),
 'start_mth': 7,
 'start_year': 2019,
 'survey_id': '1982222',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba11'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8070984,
 'long': 146.11689760000002,
 'record_id': '10130975',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 7, 25, 0, 0),
 'start_mth': 7,
 'start_year': 2019,
 'survey_id': '1982225',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba12'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8059006,
 'long': 146.11450200000002,
 'record_id': '10130981',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 7, 25, 0, 0),
 'start_mth': 7,
 'start_year': 2019,
 'survey_id': '1982226',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba13'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8041992,
 'long': 146.10969540000002,
 'record_id': '10149625',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 7, 24, 0, 0),
 'start_mth': 7,
 'start_year': 2019,
 'survey_id': '1988408',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba14'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8041992,
 'long': 146.1065063,
 'record_id': '10149628',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 7, 24, 0, 0),
 'start_mth': 7,
 'start_year': 2019,
 'survey_id': '1988409',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba15'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.805000299999996,
 'long': 146.10670469999997,
 'record_id': '10149630',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 7, 24, 0, 0),
 'start_mth': 7,
 'start_year': 2019,
 'survey_id': '1988410',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba16'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8586998,
 'long': 146.15750119999998,
 'record_id': '10130902',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 7, 23, 0, 0),
 'start_mth': 7,
 'start_year': 2019,
 'survey_id': '1982201',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba17'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8658981,
 'long': 146.15649409999997,
 'record_id': '10130903',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 7, 23, 0, 0),
 'start_mth': 7,
 'start_year': 2019,
 'survey_id': '1982202',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba18'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8653984,
 'long': 146.1569061,
 'record_id': '10130905',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 7, 23, 0, 0),
 'start_mth': 7,
 'start_year': 2019,
 'survey_id': '1982203',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba19'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8655014,
 'long': 146.15640259999998,
 'record_id': '10130913',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 7, 23, 0, 0),
 'start_mth': 7,
 'start_year': 2019,
 'survey_id': '1982204',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba1a'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.85940170000001,
 'long': 146.22250369999998,
 'record_id': '10131247',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 7, 22, 0, 0),
 'start_mth': 7,
 'start_year': 2019,
 'survey_id': '1982267',
 'taxon_id': '11141',

 'survey_id': '1733991',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba5b'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.819599200000006,
 'long': 146.1479034,
 'record_id': '8986762',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2018, 8, 25, 0, 0),
 'start_mth': 8,
 'start_year': 2018,
 'survey_id': '1734181',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba5c'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.536201500000004,
 'long': 145.60960390000002,
 'record_id': '8986761',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2018, 8, 16, 0, 0),
 'start_mth': 8,
 'start_year': 2018,
 'survey_id': '1734180',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba5d'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7751007,
 'long': 145.9927063,
 'record_id': '8943078',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2018, 3, 11, 0, 0),
 'start_mth': 3,
 'start_year': 2018,
 'survey_id': '1710285',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba5e'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.535301200000006,
 'long': 145.83999630000002,
 'record_id': '8906481',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2018, 2, 28, 0, 0),
 'start_mth': 2,
 'start_year': 2018,
 'survey_id': '1690228',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85ba5f'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7801018,
 'long': 146.3011017,
 'record_id': '8943077',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2018, 2, 17, 0, 0),
 'start_mth': 2,
 'start_year': 2018,
 'survey_id': '1710284',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba60'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.6598015,
 'long': 146.0578003,
 'record_id': '8943076',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2018, 2, 17, 0, 0),
 'start_mth': 2,
 'start_year': 2018,
 'survey_id': '1710283',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba61'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.799499499999996,
 'long': 145.9300995,
 'record_id': '8943075',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2018, 2, 10, 0, 0),
 'start_mth': 2,
 'start_year': 2018,
 'survey_id': '1710282',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba62'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.56579970000001,
 'long': 146.4243011,
 'record_id': '8958129',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2018, 1, 31, 0, 0),
 'start_mth': 1,
 'start_year': 2018,
 'survey_id': '1715912',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba63'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8731003,
 'long': 145.9196014,
 'record_id': '8943074',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2018, 1, 21, 0, 0),
 'start_mth': 1,
 'start_year': 2018,
 'survey_id': '1710281',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba64'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.6753006,
 'long': 146.5292053,
 'record_id': '8958128',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 12, 15, 0, 0),
 'start_mth': 12,
 'start_year': 2017,
 'survey_id': '1715911',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba65'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8115005,
 'long': 146.0944061,
 'record_id': '8590336',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 8, 29, 0, 0),
 'start_mth': 8,
 'start_year': 2017,
 'survey_id': '1401350',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba66'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.92259979999999,
 'long': 146.2884979,
 'record_id': '8590335',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 8, 20, 0, 0),
 'start_mth': 8,
 'start_year': 2017,
 'survey_id': '1401349',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba67'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8168983,
 'long': 145.8404999,
 'record_id': '8590317',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 7, 28, 0, 0),
 'start_mth': 7,
 'start_year': 2017,
 'survey_id': '1401331',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba68'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.5386009,
 'long': 145.9046936,
 'record_id': '8590276',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 7, 18, 0, 0),
 'start_mth': 7,
 'start_year': 2017,
 'survey_id': '1401292',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba69'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.769100200000004,
 'long': 146.28469850000002,
 'record_id': '8590302',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 7, 1, 0, 0),
 'start_mth': 7,
 'start_year': 2017,
 'survey_id': '1401316',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba6a'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7650986,
 'long': 146.2863007,
 'record_id': '8590301',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 7, 1, 0, 0),
 'start_mth': 7,
 'start_year': 2017,
 'survey_id': '1401315',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba6b'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.6049995,
 'long': 146.45309450000002,
 'record_id': '8958130',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 6, 26, 0, 0),
 'start_mth': 6,
 'start_year': 2017,
 'survey_id': '1715913',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba6c'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.4970016,
 'long': 145.5296936,
 'record_id': '8590294',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 6, 23, 0, 0),
 'start_mth': 6,
 'start_year': 2017,
 'survey_id': '1401308',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba6d'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.6050987,
 'long': 146.4535065,
 'record_id': '8960030',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 6, 21, 0, 0),
 'start_mth': 6,
 'start_year': 2017,
 'survey_id': '1716157',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba6e'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.5141983,
 'long': 145.539505,
 'record_id': '8590262',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 6, 13, 0, 0),
 'start_mth': 6,
 'start_year': 2017,
 'survey_id': '1401279',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba6f'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7355995,
 'long': 146.1457977,
 'record_id': '8590260',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 6, 7, 0, 0),
 'start_mth': 6,
 'start_year': 2017,
 'survey_id': '1401277',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba70'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.5587997,
 'long': 146.49349980000002,
 'record_id': '8958132',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 6, 4, 0, 0),
 'start_mth': 6,
 'start_year': 2017,
 'survey_id': '1715915',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba71'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.558399200000004,
 'long': 146.493103,
 'record_id': '8958131',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 6, 1, 0, 0),
 'start_mth': 6,
 'start_year': 2017,
 'survey_id': '1715914',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba72'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.760501899999994,
 'long': 146.13589480000002,
 'record_id': '8590221',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 5, 23, 0, 0),
 'start_mth': 5,
 'start_year': 2017,
 'survey_id': '1401240',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba73'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.823101,
 'long': 145.8871002,
 'record_id': '8590220',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 5, 19, 0, 0),
 'start_mth': 5,
 'start_year': 2017,
 'survey_id': '1401239',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba74'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.771499600000006,
 'long': 146.134201,
 'record_id': '8590218',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 5, 16, 0, 0),
 'start_mth': 5,
 'start_year': 2017,
 'survey_id': '1401237',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba75'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.771701799999995,
 'long': 146.134201,
 'record_id': '8590219',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 5, 16, 0, 0),
 'start_mth': 5,
 'start_year': 2017,
 'survey_id': '1401238',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba76'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8983002,
 'long': 146.2879028,
 'record_id': '8590216',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 5, 13, 0, 0),
 'start_mth': 5,
 'start_year': 2017,
 'survey_id': '1401235',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba77'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.892601,
 'long': 145.7330933,
 'record_id': '8590186',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 5, 7, 0, 0),
 'start_mth': 5,
 'start_year': 2017,
 'survey_id': '1401205',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba78'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8106003,
 'long': 145.82380680000003,
 'record_id': '8590185',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 5, 4, 0, 0),
 'start_mth': 5,
 'start_year': 2017,
 'survey_id': '1401204',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba79'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.789001500000005,
 'long': 145.9328003,
 'record_id': '8590153',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 4, 11, 0, 0),
 'start_mth': 4,
 'start_year': 2017,
 'survey_id': '1401173',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba7a'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.633598299999996,
 'long': 146.38250730000001,
 'record_id': '8958417',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 4, 10, 0, 0),
 'start_mth': 4,
 'start_year': 2017,
 'survey_id': '1715988',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba7b'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.634201000000004,
 'long': 146.38310239999998,
 'record_id': '8958414',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 4, 10, 0, 0),
 'start_mth': 4,
 'start_year': 2017,
 'survey_id': '1715986',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba7c'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.56969829999999,
 'long': 146.42700200000002,
 'record_id': '8958410',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 4, 10, 0, 0),
 'start_mth': 4,
 'start_year': 2017,
 'survey_id': '1715985',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba7d'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.780700700000004,
 'long': 145.919693,
 'record_id': '8590152',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 4, 1, 0, 0),
 'start_mth': 4,
 'start_year': 2017,
 'survey_id': '1401172',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba7e'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.651001,
 'long': 145.7006073,
 'record_id': '8584570',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 3, 24, 0, 0),
 'start_mth': 3,
 'start_year': 2017,
 'survey_id': '1398150',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba7f'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.65150070000001,
 'long': 145.7019043,
 'record_id': '8584569',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 3, 24, 0, 0),
 'start_mth': 3,
 'start_year': 2017,
 'survey_id': '1398149',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba80'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.5200996,
 'long': 145.8285065,
 'record_id': '8584564',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 3, 24, 0, 0),
 'start_mth': 3,
 'start_year': 2017,
 'survey_id': '1398147',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba81'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.6049004,
 'long': 146.1148987,
 'record_id': '8584554',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 3, 23, 0, 0),
 'start_mth': 3,
 'start_year': 2017,
 'survey_id': '1398143',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba82'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.6054993,
 'long': 146.1154938,
 'record_id': '8584562',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 3, 23, 0, 0),
 'start_mth': 3,
 'start_year': 2017,
 'survey_id': '1398145',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba83'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.6088982,
 'long': 146.076004,
 'record_id': '8584536',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 3, 23, 0, 0),
 'start_mth': 3,
 'start_year': 2017,
 'survey_id': '1398135',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba84'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.6096992,
 'long': 146.07550049999998,
 'record_id': '8584535',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 3, 23, 0, 0),
 'start_mth': 3,
 'start_year': 2017,
 'survey_id': '1398134',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba85'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.444999700000004,
 'long': 145.80439760000002,
 'record_id': '8584492',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 3, 20, 0, 0),
 'start_mth': 3,
 'start_year': 2017,
 'survey_id': '1398109',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba86'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.4076996,
 'long': 145.81199650000002,
 'record_id': '8584496',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 3, 20, 0, 0),
 'start_mth': 3,
 'start_year': 2017,
 'survey_id': '1398111',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba87'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.785598799999995,
 'long': 146.3155975,
 'record_id': '8590150',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 3, 11, 0, 0),
 'start_mth': 3,
 'start_year': 2017,
 'survey_id': '1401170',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba88'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.790000899999995,
 'long': 146.1401978,
 'record_id': '8584480',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 3, 10, 0, 0),
 'start_mth': 3,
 'start_year': 2017,
 'survey_id': '1398099',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba89'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.789699600000006,
 'long': 146.1392975,
 'record_id': '8584478',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 3, 10, 0, 0),
 'start_mth': 3,
 'start_year': 2017,
 'survey_id': '1398098',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba8a'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7383003,
 'long': 146.1905975,
 'record_id': '8584429',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 3, 8, 0, 0),
 'start_mth': 3,
 'start_year': 2017,
 'survey_id': '1398074',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba8b'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.675399799999994,
 'long': 146.0587006,
 'record_id': '8584443',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 3, 8, 0, 0),
 'start_mth': 3,
 'start_year': 2017,
 'survey_id': '1398081',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba8c'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.691799200000005,
 'long': 146.1372986,
 'record_id': '8584453',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 3, 8, 0, 0),
 'start_mth': 3,
 'start_year': 2017,
 'survey_id': '1398085',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba8d'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7705002,
 'long': 146.19650269999997,
 'record_id': '8584436',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 3, 8, 0, 0),
 'start_mth': 3,
 'start_year': 2017,
 'survey_id': '1398077',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba8e'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7911987,
 'long': 146.12510680000003,
 'record_id': '8584407',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 3, 7, 0, 0),
 'start_mth': 3,
 'start_year': 2017,
 'survey_id': '1398064',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85ba8f'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.791698499999995,
 'long': 146.12460330000002,

 'record_id': '8584039',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 10, 25, 0, 0),
 'start_mth': 10,
 'start_year': 2016,
 'survey_id': '1397803',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bacb'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.83959960000001,
 'long': 146.3580017,
 'record_id': '8584035',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 10, 25, 0, 0),
 'start_mth': 10,
 'start_year': 2016,
 'survey_id': '1397800',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bacc'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.838501,
 'long': 146.3578033,
 'record_id': '8584032',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 10, 25, 0, 0),
 'start_mth': 10,
 'start_year': 2016,
 'survey_id': '1397799',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bacd'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.909599299999996,
 'long': 146.31230159999998,
 'record_id': '8584028',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 10, 24, 0, 0),
 'start_mth': 10,
 'start_year': 2016,
 'survey_id': '1397795',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bace'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8853989,
 'long': 146.3822021,
 'record_id': '8584020',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 10, 24, 0, 0),
 'start_mth': 10,
 'start_year': 2016,
 'survey_id': '1397787',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bacf'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.9099007,
 'long': 146.311203,
 'record_id': '8584026',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 10, 24, 0, 0),
 'start_mth': 10,
 'start_year': 2016,
 'survey_id': '1397793',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bad0'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.92259979999999,
 'long': 146.3222961,
 'record_id': '8584023',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 10, 24, 0, 0),
 'start_mth': 10,
 'start_year': 2016,
 'survey_id': '1397790',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bad1'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8030014,
 'long': 145.7366943,
 'record_id': '8584004',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 10, 21, 0, 0),
 'start_mth': 10,
 'start_year': 2016,
 'survey_id': '1397778',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bad2'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8717995,
 'long': 145.89039609999998,
 'record_id': '8583986',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 10, 20, 0, 0),
 'start_mth': 10,
 'start_year': 2016,
 'survey_id': '1397767',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bad3'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8708,
 'long': 145.89059450000002,
 'record_id': '8583987',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 10, 20, 0, 0),
 'start_mth': 10,
 'start_year': 2016,
 'survey_id': '1397768',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bad4'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8083,
 'long': 145.8338013,
 'record_id': '8583994',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 10, 20, 0, 0),
 'start_mth': 10,
 'start_year': 2016,
 'survey_id': '1397772',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bad5'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8091011,
 'long': 145.83279419999997,
 'record_id': '8584000',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 10, 20, 0, 0),
 'start_mth': 10,
 'start_year': 2016,
 'survey_id': '1397774',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bad6'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.4631996,
 'long': 145.5726013,
 'record_id': '8583980',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 10, 19, 0, 0),
 'start_mth': 10,
 'start_year': 2016,
 'survey_id': '1397763',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bad7'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7929993,
 'long': 145.721405,
 'record_id': '8583973',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 10, 19, 0, 0),
 'start_mth': 10,
 'start_year': 2016,
 'survey_id': '1397760',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bad8'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.793598200000005,
 'long': 145.7218018,
 'record_id': '8583976',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 10, 19, 0, 0),
 'start_mth': 10,
 'start_year': 2016,
 'survey_id': '1397761',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bad9'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.5628014,
 'long': 145.5558929,
 'record_id': '8583890',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 10, 17, 0, 0),
 'start_mth': 10,
 'start_year': 2016,
 'survey_id': '1397734',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bada'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.5637016,
 'long': 145.5552979,
 'record_id': '8583874',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 10, 17, 0, 0),
 'start_mth': 10,
 'start_year': 2016,
 'survey_id': '1397731',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85badb'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.5626984,
 'long': 145.5552979,
 'record_id': '8583876',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 10, 17, 0, 0),
 'start_mth': 10,
 'start_year': 2016,
 'survey_id': '1397733',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85badc'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.55250170000001,
 'long': 145.54949950000002,
 'record_id': '8583869',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 10, 17, 0, 0),
 'start_mth': 10,
 'start_year': 2016,
 'survey_id': '1397730',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85badd'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.6764984,
 'long': 145.740799,
 'record_id': '8426389',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 8, 4, 0, 0),
 'start_mth': 8,
 'start_year': 2016,
 'survey_id': '1289040',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bade'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.566600799999996,
 'long': 145.56660459999998,
 'record_id': '8220611',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 6, 2, 0, 0),
 'start_mth': 6,
 'start_year': 2016,
 'survey_id': '1222745',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85badf'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.6100006,
 'long': 145.9953003,
 'record_id': '8220610',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 5, 24, 0, 0),
 'start_mth': 5,
 'start_year': 2016,
 'survey_id': '1222744',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bae0'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.5625,
 'long': 145.9387054,
 'record_id': '8220609',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 5, 24, 0, 0),
 'start_mth': 5,
 'start_year': 2016,
 'survey_id': '1222743',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bae1'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.523700700000006,
 'long': 145.5090942,
 'record_id': '8220606',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 5, 15, 0, 0),
 'start_mth': 5,
 'start_year': 2016,
 'survey_id': '1222740',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bae2'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.5175018,
 'long': 145.5054932,
 'record_id': '8220605',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 4, 18, 0, 0),
 'start_mth': 4,
 'start_year': 2016,
 'survey_id': '1222739',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bae3'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.95240020000001,
 'long': 145.9161987,
 'record_id': '6953749',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 3, 26, 0, 0),
 'start_mth': 3,
 'start_year': 2016,
 'survey_id': '1107787',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bae4'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.45240020000001,
 'long': 145.9387054,
 'record_id': '8207149',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 3, 22, 0, 0),
 'start_mth': 3,
 'start_year': 2016,
 'survey_id': '1218405',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bae5'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.521801,
 'long': 145.9141998,
 'record_id': '8207156',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 3, 22, 0, 0),
 'start_mth': 3,
 'start_year': 2016,
 'survey_id': '1218409',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bae6'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.42200089999999,
 'long': 145.8993073,
 'record_id': '8207127',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 3, 21, 0, 0),
 'start_mth': 3,
 'start_year': 2016,
 'survey_id': '1218388',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bae7'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.901001,
 'long': 145.7424011,
 'record_id': '8207089',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 3, 17, 0, 0),
 'start_mth': 3,
 'start_year': 2016,
 'survey_id': '1218369',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bae8'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.9043999,
 'long': 145.7467041,
 'record_id': '8207099',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 3, 17, 0, 0),
 'start_mth': 3,
 'start_year': 2016,
 'survey_id': '1218372',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bae9'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8950996,
 'long': 145.7306061,
 'record_id': '8207105',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 3, 17, 0, 0),
 'start_mth': 3,
 'start_year': 2016,
 'survey_id': '1218376',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85baea'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.9009018,
 'long': 145.7416992,
 'record_id': '8207094',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 3, 17, 0, 0),
 'start_mth': 3,
 'start_year': 2016,
 'survey_id': '1218370',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85baeb'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.9174004,
 'long': 145.85270690000002,
 'record_id': '8207117',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 3, 16, 0, 0),
 'start_mth': 3,
 'start_year': 2016,
 'survey_id': '1218384',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85baec'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.5393982,
 'long': 145.84260559999998,
 'record_id': '8206985',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 3, 8, 0, 0),
 'start_mth': 3,
 'start_year': 2016,
 'survey_id': '1218315',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85baed'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.5360985,
 'long': 145.8404999,
 'record_id': '8206986',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 3, 8, 0, 0),
 'start_mth': 3,
 'start_year': 2016,
 'survey_id': '1218316',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85baee'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.5340004,
 'long': 145.83949280000002,
 'record_id': '8206987',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 3, 8, 0, 0),
 'start_mth': 3,
 'start_year': 2016,
 'survey_id': '1218317',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85baef'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7868004,
 'long': 146.1013031,
 'record_id': '8207066',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 3, 4, 0, 0),
 'start_mth': 3,
 'start_year': 2016,
 'survey_id': '1218359',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85baf0'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7832985,
 'long': 146.0930939,
 'record_id': '8207073',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 3, 4, 0, 0),
 'start_mth': 3,
 'start_year': 2016,
 'survey_id': '1218362',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85baf1'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7408981,
 'long': 146.1647949,
 'record_id': '8207036',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 3, 3, 0, 0),
 'start_mth': 3,
 'start_year': 2016,
 'survey_id': '1218342',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85baf2'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.757301299999995,
 'long': 146.15739440000002,
 'record_id': '8207031',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 3, 3, 0, 0),
 'start_mth': 3,
 'start_year': 2016,
 'survey_id': '1218339',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85baf3'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7261009,
 'long': 146.1585999,
 'record_id': '8207047',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 3, 3, 0, 0),
 'start_mth': 3,
 'start_year': 2016,
 'survey_id': '1218347',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85baf4'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.726501500000005,
 'long': 146.1578979,
 'record_id': '8207044',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 3, 3, 0, 0),
 'start_mth': 3,
 'start_year': 2016,
 'survey_id': '1218345',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85baf5'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.75719829999999,
 'long': 146.1569061,
 'record_id': '8207033',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 3, 3, 0, 0),
 'start_mth': 3,
 'start_year': 2016,
 'survey_id': '1218340',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85baf6'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.741401700000004,
 'long': 146.16499330000002,
 'record_id': '8207042',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 3, 3, 0, 0),
 'start_mth': 3,
 'start_year': 2016,
 'survey_id': '1218344',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85baf7'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.757099200000006,
 'long': 146.15649409999997,
 'record_id': '8207034',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 3, 3, 0, 0),
 'start_mth': 3,
 'start_year': 2016,
 'survey_id': '1218341',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85baf8'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.740798999999996,
 'long': 146.16520690000002,
 'record_id': '8207038',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 3, 3, 0, 0),
 'start_mth': 3,
 'start_year': 2016,
 'survey_id': '1218343',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85baf9'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.727001200000004,
 'long': 146.1584015,
 'record_id': '8207046',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 3, 3, 0, 0),
 'start_mth': 3,
 'start_year': 2016,
 'survey_id': '1218346',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bafa'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.716499299999995,
 'long': 146.1546936,
 'record_id': '8207026',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 3, 3, 0, 0),
 'start_mth': 3,
 'start_year': 2016,
 'survey_id': '1218336',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bafb'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.6875,
 'long': 146.1553955,
 'record_id': '8207001',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 3, 2, 0, 0),
 'start_mth': 3,
 'start_year': 2016,
 'survey_id': '1218325',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bafc'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.6992989,
 'long': 146.138504,
 'record_id': '8207018',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 3, 2, 0, 0),
 'start_mth': 3,
 'start_year': 2016,
 'survey_id': '1218331',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bafd'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.6982002,
 'long': 146.13839719999999,
 'record_id': '8207022',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 3, 2, 0, 0),
 'start_mth': 3,
 'start_year': 2016,
 'survey_id': '1218332',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bafe'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.6985016,
 'long': 146.13800049999998,
 'record_id': '8207013',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 3, 2, 0, 0),
 'start_mth': 3,
 'start_year': 2016,
 'survey_id': '1218330',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}

 'start_year': 2016,
 'survey_id': '1218263',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb24'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8652992,
 'long': 145.8789063,
 'record_id': '8206890',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 1, 21, 0, 0),
 'start_mth': 1,
 'start_year': 2016,
 'survey_id': '1218250',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb25'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8572998,
 'long': 145.8533936,
 'record_id': '8206903',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 1, 21, 0, 0),
 'start_mth': 1,
 'start_year': 2016,
 'survey_id': '1218259',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb26'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.799099,
 'long': 145.8800964,
 'record_id': '8206878',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 1, 21, 0, 0),
 'start_mth': 1,
 'start_year': 2016,
 'survey_id': '1218243',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb27'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8646011,
 'long': 145.8789063,
 'record_id': '8206894',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 1, 21, 0, 0),
 'start_mth': 1,
 'start_year': 2016,
 'survey_id': '1218252',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb28'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.803199799999994,
 'long': 145.88000490000002,
 'record_id': '8206882',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 1, 21, 0, 0),
 'start_mth': 1,
 'start_year': 2016,
 'survey_id': '1218244',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb29'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7831001,
 'long': 145.89750669999998,
 'record_id': '8206837',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 1, 20, 0, 0),
 'start_mth': 1,
 'start_year': 2016,
 'survey_id': '1218215',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb2a'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.78990170000001,
 'long': 145.8966064,
 'record_id': '8206846',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 1, 20, 0, 0),
 'start_mth': 1,
 'start_year': 2016,
 'survey_id': '1218219',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb2b'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.813201899999996,
 'long': 145.8740997,
 'record_id': '8206852',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 1, 20, 0, 0),
 'start_mth': 1,
 'start_year': 2016,
 'survey_id': '1218222',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb2c'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.783401500000004,
 'long': 145.896698,
 'record_id': '8206836',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 1, 20, 0, 0),
 'start_mth': 1,
 'start_year': 2016,
 'survey_id': '1218214',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bb2d'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.772499100000005,
 'long': 145.8932037,
 'record_id': '8206830',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 1, 20, 0, 0),
 'start_mth': 1,
 'start_year': 2016,
 'survey_id': '1218211',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb2e'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.771701799999995,
 'long': 145.89329530000003,
 'record_id': '8206834',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 1, 20, 0, 0),
 'start_mth': 1,
 'start_year': 2016,
 'survey_id': '1218213',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb2f'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.782501200000006,
 'long': 145.8972015,
 'record_id': '8206839',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 1, 20, 0, 0),
 'start_mth': 1,
 'start_year': 2016,
 'survey_id': '1218216',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb30'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.825500500000004,
 'long': 145.92680359999997,
 'record_id': '8206871',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 1, 19, 0, 0),
 'start_mth': 1,
 'start_year': 2016,
 'survey_id': '1218236',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb31'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8175011,
 'long': 145.92579650000002,
 'record_id': '8206873',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 1, 19, 0, 0),
 'start_mth': 1,
 'start_year': 2016,
 'survey_id': '1218238',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb32'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8320007,
 'long': 145.92529299999998,
 'record_id': '8206824',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 1, 19, 0, 0),
 'start_mth': 1,
 'start_year': 2016,
 'survey_id': '1218208',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb33'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8316994,
 'long': 145.92460630000002,
 'record_id': '8206825',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 1, 19, 0, 0),
 'start_mth': 1,
 'start_year': 2016,
 'survey_id': '1218209',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb34'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8526993,
 'long': 145.8307037,
 'record_id': '8206858',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 1, 18, 0, 0),
 'start_mth': 1,
 'start_year': 2016,
 'survey_id': '1218226',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb35'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8540001,
 'long': 145.83569340000003,
 'record_id': '8206863',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 1, 18, 0, 0),
 'start_mth': 1,
 'start_year': 2016,
 'survey_id': '1218229',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb36'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8543015,
 'long': 145.8365021,
 'record_id': '8206865',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 1, 18, 0, 0),
 'start_mth': 1,
 'start_year': 2016,
 'survey_id': '1218231',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bb37'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8074989,
 'long': 145.80969240000002,
 'record_id': '6948971',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 1, 13, 0, 0),
 'start_mth': 1,
 'start_year': 2016,
 'survey_id': '1105987',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb38'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8419991,
 'long': 145.8079071,
 'record_id': '6948974',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 1, 13, 0, 0),
 'start_mth': 1,
 'start_year': 2016,
 'survey_id': '1105990',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb39'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.81579970000001,
 'long': 145.7944946,
 'record_id': '6948972',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 1, 13, 0, 0),
 'start_mth': 1,
 'start_year': 2016,
 'survey_id': '1105988',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bb3a'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8263016,
 'long': 145.7955017,
 'record_id': '6948973',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 1, 13, 0, 0),
 'start_mth': 1,
 'start_year': 2016,
 'survey_id': '1105989',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb3b'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.912300099999996,
 'long': 145.8338013,
 'record_id': '8220608',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 1, 6, 0, 0),
 'start_mth': 1,
 'start_year': 2016,
 'survey_id': '1222742',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb3c'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8292007,
 'long': 145.80839540000002,
 'record_id': '8220607',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 1, 6, 0, 0),
 'start_mth': 1,
 'start_year': 2016,
 'survey_id': '1222741',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb3d'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7710991,
 'long': 145.991806,
 'record_id': '8220626',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 12, 14, 0, 0),
 'start_mth': 12,
 'start_year': 2015,
 'survey_id': '1222760',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb3e'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8219986,
 'long': 145.77699280000002,
 'record_id': '8220627',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 12, 14, 0, 0),
 'start_mth': 12,
 'start_year': 2015,
 'survey_id': '1222761',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb3f'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.9199982,
 'long': 146.3283997,
 'record_id': '6942520',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 11, 27, 0, 0),
 'start_mth': 11,
 'start_year': 2015,
 'survey_id': '1102395',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb40'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7882996,
 'long': 146.33120730000002,
 'record_id': '6942511',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 11, 26, 0, 0),
 'start_mth': 11,
 'start_year': 2015,
 'survey_id': '1102387',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb41'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.765701299999996,
 'long': 146.3125,
 'record_id': '6942505',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 11, 26, 0, 0),
 'start_mth': 11,
 'start_year': 2015,
 'survey_id': '1102384',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb42'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.76549910000001,
 'long': 146.3114014,
 'record_id': '6942508',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 11, 26, 0, 0),
 'start_mth': 11,
 'start_year': 2015,
 'survey_id': '1102386',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb43'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8081017,
 'long': 146.3179932,
 'record_id': '6942490',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 11, 25, 0, 0),
 'start_mth': 11,
 'start_year': 2015,
 'survey_id': '1102373',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb44'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.801399200000006,
 'long': 146.313797,
 'record_id': '6942485',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 11, 25, 0, 0),
 'start_mth': 11,
 'start_year': 2015,
 'survey_id': '1102370',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb45'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8077011,
 'long': 146.3184052,
 'record_id': '6942489',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 11, 25, 0, 0),
 'start_mth': 11,
 'start_year': 2015,
 'survey_id': '1102372',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb46'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8084984,
 'long': 146.31900019999998,
 'record_id': '6942493',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 11, 25, 0, 0),
 'start_mth': 11,
 'start_year': 2015,
 'survey_id': '1102374',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb47'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.78540039999999,
 'long': 146.3016968,
 'record_id': '6942471',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 11, 24, 0, 0),
 'start_mth': 11,
 'start_year': 2015,
 'survey_id': '1102359',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb48'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.799499499999996,
 'long': 146.2933044,
 'record_id': '6942482',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 11, 24, 0, 0),
 'start_mth': 11,
 'start_year': 2015,
 'survey_id': '1102367',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb49'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7848015,
 'long': 146.3025055,
 'record_id': '6942467',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 11, 24, 0, 0),
 'start_mth': 11,
 'start_year': 2015,
 'survey_id': '1102357',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb4a'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7840004,
 'long': 146.2911987,
 'record_id': '6942475',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 11, 24, 0, 0),
 'start_mth': 11,
 'start_year': 2015,
 'survey_id': '1102363',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb4b'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7999001,
 'long': 146.29359440000002,
 'record_id': '6942480',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 11, 24, 0, 0),
 'start_mth': 11,
 'start_year': 2015,
 'survey_id': '1102366',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb4c'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7839012,
 'long': 146.2917023,
 'record_id': '6942478',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 11, 24, 0, 0),
 'start_mth': 11,
 'start_year': 2015,
 'survey_id': '1102364',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb4d'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8008003,
 'long': 146.2938995,
 'record_id': '6942483',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 11, 24, 0, 0),
 'start_mth': 11,
 'start_year': 2015,
 'survey_id': '1102368',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb4e'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.784999799999994,
 'long': 146.30200200000002,
 'record_id': '6942468',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 11, 24, 0, 0),
 'start_mth': 11,
 'start_year': 2015,
 'survey_id': '1102358',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb4f'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8737984,
 'long': 146.3813019,
 'record_id': '6942463',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 11, 23, 0, 0),
 'start_mth': 11,
 'start_year': 2015,
 'survey_id': '1102354',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb50'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8736,
 'long': 146.3818054,
 'record_id': '6942466',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 11, 23, 0, 0),
 'start_mth': 11,
 'start_year': 2015,
 'survey_id': '1102356',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bb51'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.873298600000005,
 'long': 146.3809967,
 'record_id': '6942464',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 11, 23, 0, 0),
 'start_mth': 11,
 'start_year': 2015,
 'survey_id': '1102355',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb52'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.868,
 'long': 145.8352051,
 'record_id': '6942417',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 11, 20, 0, 0),
 'start_mth': 11,
 'start_year': 2015,
 'survey_id': '1102321',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb53'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.855999,
 'long': 145.848999,
 'record_id': '6942454',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 11, 19, 0, 0),
 'start_mth': 11,
 'start_year': 2015,
 'survey_id': '1102346',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb54'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.85060120000001,
 'long': 145.85929869999998,
 'record_id': '6942435',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 11, 19, 0, 0),
 'start_mth': 11,
 'start_year': 2015,
 'survey_id': '1102332',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bb55'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.855899799999996,
 'long': 145.8497925,
 'record_id': '6942455',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 11, 19, 0, 0),
 'start_mth': 11,
 'start_year': 2015,
 'survey_id': '1102347',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb56'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.860401200000005,
 'long': 145.852005,
 'record_id': '6942425',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 11, 19, 0, 0),
 'start_mth': 11,
 'start_year': 2015,
 'survey_id': '1102327',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb57'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.850498200000004,
 'long': 145.8598938,
 'record_id': '6942433',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 11, 19, 0, 0),
 'start_mth': 11,
 'start_year': 2015,
 'survey_id': '1102331',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb58'),

{'_id': ObjectId('5f695a1d145902aefb85bb6b'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8527985,
 'long': 146.24659730000002,
 'record_id': '6942338',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 20, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1102258',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb6c'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.930000299999996,
 'long': 146.3294067,
 'record_id': '6942355',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 19, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1102271',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb6d'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.778400399999995,
 'long': 146.14480590000002,
 'record_id': '6942331',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 16, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1102251',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb6e'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.810798600000005,
 'long': 146.1463928,
 'record_id': '6942328',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 16, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1102248',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb6f'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8109016,
 'long': 146.1468964,
 'record_id': '6942324',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 16, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1102247',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bb70'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7439995,
 'long': 146.2147064,
 'record_id': '6942317',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 15, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1102243',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bb71'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7454987,
 'long': 146.2044067,
 'record_id': '6942314',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 15, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1102241',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb72'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.729198499999995,
 'long': 146.16180419999998,
 'record_id': '6942306',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 15, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1102236',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb73'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7458,
 'long': 146.2046967,
 'record_id': '6942315',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 15, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1102242',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bb74'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7289009,
 'long': 146.1622925,
 'record_id': '6942304',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 15, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1102235',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bb75'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7434006,
 'long': 146.21530149999998,
 'record_id': '6942321',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 15, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1102245',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85bb76'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7453995,
 'long': 146.205307,
 'record_id': '6942313',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 15, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1102240',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bb77'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7436981,
 'long': 146.21530149999998,
 'record_id': '6942319',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 15, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1102244',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bb78'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7384987,
 'long': 146.1623993,
 'record_id': '6942307',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 15, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1102237',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb79'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.712699900000004,
 'long': 146.153595,
 'record_id': '6942294',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 14, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1102229',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb7a'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.723800700000005,
 'long': 146.15609740000002,
 'record_id': '6942298',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 14, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1102231',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb7b'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7234001,
 'long': 146.1569061,
 'record_id': '6942301',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 14, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1102233',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb7c'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.708400700000006,
 'long': 146.1463928,
 'record_id': '6942286',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 14, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1102225',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb7d'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.712699900000004,
 'long': 146.15240480000003,
 'record_id': '6942296',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 14, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1102230',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb7e'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.705101,
 'long': 146.1423035,
 'record_id': '6942282',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 14, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1102223',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85bb7f'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7134018,
 'long': 146.1533051,
 'record_id': '6942291',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 14, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1102228',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb80'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7055016,
 'long': 146.1417999,
 'record_id': '6942284',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 14, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1102224',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bb81'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7081985,
 'long': 146.14729309999998,
 'record_id': '6942288',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 14, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1102226',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb82'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.6945,
 'long': 146.1432037,
 'record_id': '6942280',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 13, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1102221',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb83'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.6764984,
 'long': 146.1352997,
 'record_id': '6942277',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 13, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1102218',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85bb84'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.6771011,
 'long': 146.1349945,
 'record_id': '6942273',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 13, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1102216',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb85'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.676998100000006,
 'long': 146.13569640000003,
 'record_id': '6942275',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 13, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1102217',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bb86'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.6543999,
 'long': 146.0852051,
 'record_id': '6942267',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 13, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1102213',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb87'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.6537018,
 'long': 146.0854034,
 'record_id': '6942269',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 13, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1102214',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bb88'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7938995,
 'long': 146.12640380000002,
 'record_id': '6942262',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 12, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1102208',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb89'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.792099,
 'long': 146.13270569999997,
 'record_id': '6942258',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 12, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1102205',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb8a'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.793598200000005,
 'long': 146.12719730000003,
 'record_id': '6942261',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 12, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1102207',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb8b'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7927017,
 'long': 146.1325989,
 'record_id': '6942256',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 12, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1102204',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb8c'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.595901500000004,
 'long': 145.7059021,
 'record_id': '6942221',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 9, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1102181',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb8d'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.599399600000005,
 'long': 145.7046967,
 'record_id': '6942251',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 9, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1102201',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb8e'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.5957985,
 'long': 145.7068939,
 'record_id': '6942219',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 9, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1102180',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb8f'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.5998993,
 'long': 145.7044983,
 'record_id': '6942254',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 9, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1102202',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb90'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.60670089999999,
 'long': 145.99659730000002,
 'record_id': '6942239',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 8, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1102195',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb91'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.5942001,
 'long': 145.9933014,
 'record_id': '6942209',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 8, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1102176',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bb92'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.643699600000005,
 'long': 146.0292053,
 'record_id': '6942212',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 8, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1102177',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb93'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.629299200000005,
 'long': 146.0133057,
 'record_id': '6942248',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 8, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1102199',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb94'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.593200700000004,
 'long': 145.99229430000003,
 'record_id': '6942206',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 8, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1102174',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb95'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.5938988,
 'long': 145.9925995,
 'record_id': '6942207',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 8, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1102175',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb96'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.4053993,
 'long': 145.9138947,
 'record_id': '6942204',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 7, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1102173',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb97'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.38990020000001,
 'long': 145.9239044,
 'record_id': '6942196',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 7, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1102168',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb98'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.3897018,
 'long': 145.9250031,
 'record_id': '6942198',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 7, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1102169',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb99'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.3797989,
 'long': 145.9320068,
 'record_id': '6942233',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 7, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1102191',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb9a'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.389801,
 'long': 145.925705,
 'record_id': '6942199',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 7, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1102170',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb9b'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.3810005,
 'long': 145.9313965,
 'record_id': '6942231',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 7, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1102189',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb9c'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.344799,
 'long': 145.9010925,
 'record_id': '6942187',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 6, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1102163',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb9d'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.5555,
 'long': 145.6121979,
 'record_id': '6942542',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 9, 18, 0, 0),
 'start_mth': 9,
 'start_year': 2015,
 'survey_id': '1102410',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bb9e'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.5555992,
 'long': 145.611496,
 'record_id': '6942538',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 9, 18, 0, 0),
 'start_mth': 9,
 'start_year': 2015,
 'survey_id': '1102409',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bb9f'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.543598200000005,
 'long': 145.55810549999998,
 'record_id': '6942528',

 'lat': -37.7454987,
 'long': 146.2458038,
 'record_id': '6870902',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 4, 23, 0, 0),
 'start_mth': 4,
 'start_year': 2015,
 'survey_id': '1085359',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bbb5'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.760299700000004,
 'long': 146.24139399999999,
 'record_id': '6870893',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 4, 23, 0, 0),
 'start_mth': 4,
 'start_year': 2015,
 'survey_id': '1085353',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bbb6'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7478981,
 'long': 146.24969480000001,
 'record_id': '6870906',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 4, 23, 0, 0),
 'start_mth': 4,
 'start_year': 2015,
 'survey_id': '1085360',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bbb7'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.769699100000004,
 'long': 146.3097992,
 'record_id': '6870881',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 4, 22, 0, 0),
 'start_mth': 4,
 'start_year': 2015,
 'survey_id': '1085345',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bbb8'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7733002,
 'long': 146.3132019,
 'record_id': '6870885',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 4, 22, 0, 0),
 'start_mth': 4,
 'start_year': 2015,
 'survey_id': '1085346',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bbb9'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.781299600000004,
 'long': 146.2987061,
 'record_id': '6870890',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 4, 22, 0, 0),
 'start_mth': 4,
 'start_year': 2015,
 'survey_id': '1085350',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bbba'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7803993,
 'long': 146.32470700000002,
 'record_id': '6870876',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 4, 22, 0, 0),
 'start_mth': 4,
 'start_year': 2015,
 'survey_id': '1085342',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bbbb'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7700996,
 'long': 146.3103943,
 'record_id': '6870879',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 4, 22, 0, 0),
 'start_mth': 4,
 'start_year': 2015,
 'survey_id': '1085344',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bbbc'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.785301200000006,
 'long': 146.2973022,
 'record_id': '6870856',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 4, 21, 0, 0),
 'start_mth': 4,
 'start_year': 2015,
 'survey_id': '1085328',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bbbd'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.796600299999994,
 'long': 146.2881012,
 'record_id': '6870860',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 4, 21, 0, 0),
 'start_mth': 4,
 'start_year': 2015,
 'survey_id': '1085331',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bbbe'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8035011,
 'long': 146.3209991,
 'record_id': '6870865',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 4, 21, 0, 0),
 'start_mth': 4,
 'start_year': 2015,
 'survey_id': '1085335',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bbbf'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7848015,
 'long': 146.1152039,
 'record_id': '6870927',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 4, 17, 0, 0),
 'start_mth': 4,
 'start_year': 2015,
 'survey_id': '1085373',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bbc0'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.782501200000006,
 'long': 146.1100006,
 'record_id': '6870922',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 4, 17, 0, 0),
 'start_mth': 4,
 'start_year': 2015,
 'survey_id': '1085371',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bbc1'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.79090120000001,
 'long': 146.0995941,
 'record_id': '6870936',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 4, 17, 0, 0),
 'start_mth': 4,
 'start_year': 2015,
 'survey_id': '1085377',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bbc2'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.78599929999999,
 'long': 146.1161041,
 'record_id': '6870924',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 4, 17, 0, 0),
 'start_mth': 4,
 'start_year': 2015,
 'survey_id': '1085372',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bbc3'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.801101700000004,
 'long': 146.1318054,
 'record_id': '6870942',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 4, 16, 0, 0),
 'start_mth': 4,
 'start_year': 2015,
 'survey_id': '1085379',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bbc4'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8069992,
 'long': 146.10389709999998,
 'record_id': '6870980',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 4, 16, 0, 0),
 'start_mth': 4,
 'start_year': 2015,
 'survey_id': '1085398',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bbc5'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8037987,
 'long': 146.1347046,
 'record_id': '6870943',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 4, 16, 0, 0),
 'start_mth': 4,
 'start_year': 2015,
 'survey_id': '1085380',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bbc6'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8042984,
 'long': 146.13400269999997,
 'record_id': '6870946',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 4, 16, 0, 0),
 'start_mth': 4,
 'start_year': 2015,
 'survey_id': '1085381',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bbc7'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8003006,
 'long': 146.1322021,
 'record_id': '6870938',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 4, 16, 0, 0),
 'start_mth': 4,
 'start_year': 2015,
 'survey_id': '1085378',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bbc8'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.80250170000001,
 'long': 146.1401062,
 'record_id': '6870953',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 4, 16, 0, 0),
 'start_mth': 4,
 'start_year': 2015,
 'survey_id': '1085383',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bbc9'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8033981,
 'long': 146.14039609999998,
 'record_id': '6870949',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 4, 16, 0, 0),
 'start_mth': 4,
 'start_year': 2015,
 'survey_id': '1085382',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bbca'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7991982,
 'long': 146.0661011,
 'record_id': '6870974',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 4, 15, 0, 0),
 'start_mth': 4,
 'start_year': 2015,
 'survey_id': '1085394',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bbcb'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8162003,
 'long': 146.0648041,
 'record_id': '6870976',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 4, 15, 0, 0),
 'start_mth': 4,
 'start_year': 2015,
 'survey_id': '1085396',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bbcc'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7896004,
 'long': 146.0574036,
 'record_id': '6870932',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 4, 15, 0, 0),
 'start_mth': 4,
 'start_year': 2015,
 'survey_id': '1085375',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bbcd'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.813800799999996,
 'long': 146.03720090000002,
 'record_id': '6870958',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 4, 15, 0, 0),
 'start_mth': 4,
 'start_year': 2015,
 'survey_id': '1085387',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bbce'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.794899,
 'long': 146.0727997,
 'record_id': '6870971',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 4, 15, 0, 0),
 'start_mth': 4,
 'start_year': 2015,
 'survey_id': '1085393',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bbcf'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.5261002,
 'long': 145.59930419999998,
 'record_id': '6870838',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 3, 4, 0, 0),
 'start_mth': 3,
 'start_year': 2015,
 'survey_id': '1085314',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bbd0'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8490982,
 'long': 146.11300659999998,
 'record_id': '6871059',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 2, 27, 0, 0),
 'start_mth': 2,
 'start_year': 2015,
 'survey_id': '1085437',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bbd1'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8446007,
 'long': 146.1195068,
 'record_id': '6871053',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 2, 27, 0, 0),
 'start_mth': 2,
 'start_year': 2015,
 'survey_id': '1085434',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bbd2'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.843799600000004,
 'long': 146.12089540000002,
 'record_id': '6871056',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 2, 27, 0, 0),
 'start_mth': 2,
 'start_year': 2015,
 'survey_id': '1085435',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bbd3'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8177986,
 'long': 146.03909299999998,
 'record_id': '6871041',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 2, 26, 0, 0),
 'start_mth': 2,
 'start_year': 2015,
 'survey_id': '1085430',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bbd4'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8172989,
 'long': 146.0397034,
 'record_id': '6871045',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 2, 26, 0, 0),
 'start_mth': 2,
 'start_year': 2015,
 'survey_id': '1085431',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bbd5'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8105011,
 'long': 146.1416931,
 'record_id': '6871029',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 2, 25, 0, 0),
 'start_mth': 2,
 'start_year': 2015,
 'survey_id': '1085424',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bbd6'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8121986,
 'long': 146.1320038,
 'record_id': '6871016',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 2, 25, 0, 0),
 'start_mth': 2,
 'start_year': 2015,
 'survey_id': '1085419',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bbd7'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8087006,
 'long': 146.1383057,
 'record_id': '6871022',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 2, 25, 0, 0),
 'start_mth': 2,
 'start_year': 2015,
 'survey_id': '1085422',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bbd8'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8087006,
 'long': 146.1322021,
 'record_id': '6871019',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 2, 25, 0, 0),
 'start_mth': 2,
 'start_year': 2015,
 'survey_id': '1085421',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bbd9'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8123016,
 'long': 146.1307068,
 'record_id': '6871012',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 2, 25, 0, 0),
 'start_mth': 2,
 'start_year': 2015,
 'survey_id': '1085418',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bbda'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8115005,
 'long': 146.1408997,
 'record_id': '6871030',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 2, 25, 0, 0),
 'start_mth': 2,
 'start_year': 2015,
 'survey_id': '1085425',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bbdb'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8527985,
 'long': 146.11090090000002,
 'record_id': '6870730',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 1, 23, 0, 0),
 'start_mth': 1,
 'start_year': 2015,
 'survey_id': '1085252',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bbdc'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8484001,
 'long': 146.1183929,
 'record_id': '6870752',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 1, 23, 0, 0),
 'start_mth': 1,
 'start_year': 2015,
 'survey_id': '1085264',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bbdd'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.851299299999994,
 'long': 146.1036987,
 'record_id': '6870727',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 1, 23, 0, 0),
 'start_mth': 1,
 'start_year': 2015,
 'survey_id': '1085250',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bbde'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7863998,
 'long': 146.10879519999997,
 'record_id': '6870679',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 1, 22, 0, 0),
 'start_mth': 1,
 'start_year': 2015,
 'survey_id': '1085224',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bbdf'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7901001,
 'long': 146.1049957,
 'record_id': '6870691',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 1, 22, 0, 0),
 'start_mth': 1,
 'start_year': 2015,
 'survey_id': '1085231',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bbe0'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7858009,
 'long': 146.1080933,
 'record_id': '6870676',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 1, 22, 0, 0),
 'start_mth': 1,
 'start_year': 2015,
 'survey_id': '1085223',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bbe1'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.828701,
 'long': 146.105896,
 'record_id': '6870714',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 1, 21, 0, 0),
 'start_mth': 1,
 'start_year': 2015,
 'survey_id': '1085246',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bbe2'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8129005,
 'long': 146.13670349999998,
 'record_id': '6870699',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 1, 21, 0, 0),
 'start_mth': 1,
 'start_year': 2015,
 'survey_id': '1085237',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bbe3'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.790699,
 'long': 145.7145996,
 'record_id': '6870684',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 1, 16, 0, 0),
 'start_mth': 1,
 'start_year': 2015,
 'survey_id': '1085227',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bbe4'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.842498799999994,
 'long': 145.8020935,
 'record_id': '6870773',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 1, 15, 0, 0),
 'start_mth': 1,
 'start_year': 2015,
 'survey_id': '1085275',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bbe5'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.808399200000004,
 'long': 145.8065948,
 'record_id': '6870802',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 1, 15, 0, 0),
 'start_mth': 1,
 'start_year': 2015,
 'survey_id': '1085290',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bbe6'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.841499299999995,
 'long': 145.8031006,
 'record_id': '6870776',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 1, 15, 0, 0),
 'start_mth': 1,
 'start_year': 2015,
 'survey_id': '1085276',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bbe7'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8410988,
 'long': 145.79859919999998,
 'record_id': '6870777',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 1, 15, 0, 0),
 'start_mth': 1,
 'start_year': 2015,
 'survey_id': '1085277',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bbe8'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.841598499999996,
 'long': 145.797699,
 'record_id': '6870778',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 1, 15, 0, 0),
 'start_mth': 1,
 'start_year': 2015,
 'survey_id': '1085278',
 'taxon_id': '11141',

 'long': 146.3088074,
 'record_id': '10099630',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 6, 29, 0, 0),
 'start_mth': 6,
 'start_year': 2019,
 'survey_id': '1973405',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bc04'),
 'comm_name': 'Hooded Plover',
 'lat': -38.281299600000004,
 'long': 144.4328003,
 'record_id': '10002036',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 6, 28, 0, 0),
 'start_mth': 6,
 'start_year': 2019,
 'survey_id': '1934647',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bc05'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5438995,
 'long': 145.33949280000002,
 'record_id': '10099152',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 6, 22, 0, 0),
 'start_mth': 6,
 'start_year': 2019,
 'survey_id': '1973160',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6}
{'_id': ObjectId('5f695a1d145902aefb85bc06'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10099038',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 6, 18, 0, 0),
 'start_mth': 6,
 'start_year': 2019,
 'survey_id': '1973105',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bc07'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '10001938',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 6, 16, 0, 0),
 'start_mth': 6,
 'start_year': 2019,
 'survey_id': '1934600',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85bc08'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5758018,
 'long': 145.51089480000002,
 'record_id': '10098757',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 6, 16, 0, 0),
 'start_mth': 6,
 'start_year': 2019,
 'survey_id': '1972995',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 43}
{'_id': ObjectId('5f695a1d145902aefb85bc09'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5514984,
 'long': 145.3509064,
 'record_id': '10098610',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 6, 15, 0, 0),
 'start_mth': 6,
 'start_year': 2019,
 'survey_id': '1972952',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 9}
{'_id': ObjectId('5f695a1d145902aefb85bc0a'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10098555',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 6, 15, 0, 0),
 'start_mth': 6,
 'start_year': 2019,
 'survey_id': '1972938',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6}
{'_id': ObjectId('5f695a1d145902aefb85bc0b'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10098637',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 6, 15, 0, 0),
 'start_mth': 6,
 'start_year': 2019,
 'survey_id': '1972962',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6}
{'_id': ObjectId('5f695a1d145902aefb85bc0c'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3550987,
 'long': 142.3352966,
 'record_id': '10098560',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 6, 15, 0, 0),
 'start_mth': 6,
 'start_year': 2019,
 'survey_id': '1972939',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 11}
{'_id': ObjectId('5f695a1d145902aefb85bc0d'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3550987,
 'long': 142.3352966,
 'record_id': '10098644',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 6, 15, 0, 0),
 'start_mth': 6,
 'start_year': 2019,
 'survey_id': '1972963',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 11}
{'_id': ObjectId('5f695a1d145902aefb85bc0e'),
 'comm_name': 'Hooded Plover',
 'lat': -38.39059829999999,
 'long': 142.45159909999998,
 'record_id': '10098364',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 6, 11, 0, 0),
 'start_mth': 6,
 'start_year': 2019,
 'survey_id': '1972864',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5}
{'_id': ObjectId('5f695a1d145902aefb85bc0f'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3550987,
 'long': 142.3352966,
 'record_id': '10098323',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 6, 10, 0, 0),
 'start_mth': 6,
 'start_year': 2019,
 'survey_id': '1972838',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5}
{'_id': ObjectId('5f695a1d145902aefb85bc10'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7631989,
 'long': 143.67349240000001,
 'record_id': '10001898',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 6, 9, 0, 0),
 'start_mth': 6,
 'start_year': 2019,
 'survey_id': '1934585',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85bc11'),
 'comm_name': 'Hooded Plover',
 'lat': -38.166698499999995,
 'long': 141.2333069,
 'record_id': '10098085',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 6, 8, 0, 0),
 'start_mth': 6,
 'start_year': 2019,
 'survey_id': '1972724',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 44}
{'_id': ObjectId('5f695a1d145902aefb85bc12'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3638,
 'long': 142.4062042,
 'record_id': '10097903',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 6, 7, 0, 0),
 'start_mth': 6,
 'start_year': 2019,
 'survey_id': '1972652',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 12}
{'_id': ObjectId('5f695a1d145902aefb85bc13'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7811012,
 'long': 143.662796,
 'record_id': '10001821',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 6, 4, 0, 0),
 'start_mth': 6,
 'start_year': 2019,
 'survey_id': '1934544',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bc14'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10097545',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 6, 2, 0, 0),
 'start_mth': 6,
 'start_year': 2019,
 'survey_id': '1972502',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bc15'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10097548',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 6, 2, 0, 0),
 'start_mth': 6,
 'start_year': 2019,
 'survey_id': '1972504',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bc16'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10097365',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 5, 31, 0, 0),
 'start_mth': 5,
 'start_year': 2019,
 'survey_id': '1972450',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bc17'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5438995,
 'long': 145.33949280000002,
 'record_id': '10097210',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 5, 26, 0, 0),
 'start_mth': 5,
 'start_year': 2019,
 'survey_id': '1972366',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 12}
{'_id': ObjectId('5f695a1d145902aefb85bc18'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5514984,
 'long': 145.3509064,
 'record_id': '10097164',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 5, 26, 0, 0),
 'start_mth': 5,
 'start_year': 2019,
 'survey_id': '1972345',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5}
{'_id': ObjectId('5f695a1d145902aefb85bc19'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5758018,
 'long': 145.51089480000002,
 'record_id': '10097169',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 5, 26, 0, 0),
 'start_mth': 5,
 'start_year': 2019,
 'survey_id': '1972347',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bc1a'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '10001658',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 5, 23, 0, 0),
 'start_mth': 5,
 'start_year': 2019,
 'survey_id': '1934473',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bc1b'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '10001662',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 5, 23, 0, 0),
 'start_mth': 5,
 'start_year': 2019,
 'survey_id': '1934474',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bc1c'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7528992,
 'long': 143.6651001,
 'record_id': '10001627',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 5, 23, 0, 0),
 'start_mth': 5,
 'start_year': 2019,
 'survey_id': '1934463',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bc1d'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7360001,
 'long': 143.6842041,
 'record_id': '10001606',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 5, 22, 0, 0),
 'start_mth': 5,
 'start_year': 2019,
 'survey_id': '1934449',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bc1e'),
 'comm_name': 'Hooded Plover',
 'lat': -38.273700700000006,
 'long': 144.6033936,
 'record_id': '10001512',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 5, 19, 0, 0),
 'start_mth': 5,
 'start_year': 2019,
 'survey_id': '1934405',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85bc1f'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2776985,
 'long': 144.4644012,
 'record_id': '10001526',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 5, 19, 0, 0),
 'start_mth': 5,
 'start_year': 2019,
 'survey_id': '1934409',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 21}
{'_id': ObjectId('5f695a1d145902aefb85bc20'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10096457',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 5, 19, 0, 0),
 'start_mth': 5,
 'start_year': 2019,
 'survey_id': '1972062',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 8}
{'_id': ObjectId('5f695a1d145902aefb85bc21'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2776985,
 'long': 144.4644012,
 'record_id': '10001536',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 5, 19, 0, 0),
 'start_mth': 5,
 'start_year': 2019,
 'survey_id': '1934417',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 21}
{'_id': ObjectId('5f695a1d145902aefb85bc22'),
 'comm_name': 'Hooded Plover',
 'lat': -38.301101700000004,
 'long': 144.3670959,
 'record_id': '10001504',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 5, 18, 0, 0),
 'start_mth': 5,
 'start_year': 2019,
 'survey_id': '1934400',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85bc23'),
 'comm_name': 'Hooded Plover',
 'lat': -38.485199,
 'long': 147.0207977,
 'record_id': '10096356',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 5, 18, 0, 0),
 'start_mth': 5,
 'start_year': 2019,
 'survey_id': '1972018',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85bc24'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7528992,
 'long': 143.6651001,
 'record_id': '10001477',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 5, 16, 0, 0),
 'start_mth': 5,
 'start_year': 2019,
 'survey_id': '1934381',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85bc25'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7773018,
 'long': 143.6645966,
 'record_id': '10001441',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 5, 15, 0, 0),
 'start_mth': 5,
 'start_year': 2019,
 'survey_id': '1934372',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bc26'),
 'comm_name': 'Hooded Plover',
 'lat': -38.281299600000004,
 'long': 144.4328003,
 'record_id': '10001421',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 5, 13, 0, 0),
 'start_mth': 5,
 'start_year': 2019,
 'survey_id': '1934362',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85bc27'),
 'comm_name': 'Hooded Plover',
 'lat': -38.261100799999994,
 'long': 144.57719419999998,
 'record_id': '10001390',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 5, 11, 0, 0),
 'start_mth': 5,
 'start_year': 2019,
 'survey_id': '1934348',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 18}
{'_id': ObjectId('5f695a1d145902aefb85bc28'),
 'comm_name': 'Hooded Plover',
 'lat': -38.281299600000004,
 'long': 144.4328003,
 'record_id': '10001375',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 5, 9, 0, 0),
 'start_mth': 5,
 'start_year': 2019,
 'survey_id': '1934337',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85bc29'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3819008,
 'long': 142.23109440000002,
 'record_id': '10095706',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 5, 7, 0, 0),
 'start_mth': 5,
 'start_year': 2019,
 'survey_id': '1971668',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bc2a'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '10001264',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 5, 3, 0, 0),
 'start_mth': 5,
 'start_year': 2019,
 'survey_id': '1934286',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bc2b'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10095036',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 5, 1, 0, 0),
 'start_mth': 5,
 'start_year': 2019,
 'survey_id': '1971393',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bc2c'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7579002,
 'long': 143.67640690000002,
 'record_id': '10001047',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 4, 21, 0, 0),
 'start_mth': 4,
 'start_year': 2019,
 'survey_id': '1934185',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bc2d'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3917999,
 'long': 142.221405,
 'record_id': '10093407',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 4, 18, 0, 0),
 'start_mth': 4,
 'start_year': 2019,
 'survey_id': '1970703',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6}
{'_id': ObjectId('5f695a1d145902aefb85bc2e'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5514984,
 'long': 145.3509064,
 'record_id': '10093259',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 4, 17, 0, 0),
 'start_mth': 4,
 'start_year': 2019,
 'survey_id': '1970655',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bc2f'),
 'comm_name': 'Hooded Plover',
 'lat': -38.391498600000006,
 'long': 142.2230988,
 'record_id': '10093099',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 4, 15, 0, 0),
 'start_mth': 4,
 'start_year': 2019,
 'survey_id': '1970584',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bc30'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '10000869',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 4, 13, 0, 0),
 'start_mth': 4,
 'start_year': 2019,
 'survey_id': '1934111',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85bc31'),
 'comm_name': 'Hooded Plover',
 'lat': -38.4824982,
 'long': 145.0249023,
 'record_id': '10092598',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 4, 12, 0, 0),
 'start_mth': 4,
 'start_year': 2019,
 'survey_id': '1970401',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85bc32'),
 'comm_name': 'Hooded Plover',
 'lat': -38.359100299999994,
 'long': 142.2911987,
 'record_id': '10092610',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 4, 12, 0, 0),
 'start_mth': 4,
 'start_year': 2019,
 'survey_id': '1970406',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85bc33'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '10000813',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 4, 11, 0, 0),
 'start_mth': 4,
 'start_year': 2019,
 'survey_id': '1934088',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85bc34'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3874016,
 'long': 142.2317963,
 'record_id': '10092402',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 4, 11, 0, 0),
 'start_mth': 4,
 'start_year': 2019,
 'survey_id': '1970340',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5}
{'_id': ObjectId('5f695a1d145902aefb85bc35'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2714005,
 'long': 144.6013947,
 'record_id': '10000805',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 4, 10, 0, 0),
 'start_mth': 4,
 'start_year': 2019,
 'survey_id': '1934083',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 20}
{'_id': ObjectId('5f695a1d145902aefb85bc36'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '10000784',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 4, 9, 0, 0),
 'start_mth': 4,
 'start_year': 2019,
 'survey_id': '1934073',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6}
{'_id': ObjectId('5f695a1d145902aefb85bc37'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '10000782',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 4, 9, 0, 0),
 'start_mth': 4,
 'start_year': 2019,
 'survey_id': '1934071',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6}
{'_id': ObjectId('5f695a1d145902aefb85bc38'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '10000613',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 3, 31, 0, 0),
 'start_mth': 3,
 'start_year': 2019,
 'survey_id': '1934008',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85bc39'),
 'comm_name': 'Hooded Plover',
 'lat': -38.4684982,
 'long': 144.10470580000003,

 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 2, 17, 0, 0),
 'start_mth': 2,
 'start_year': 2019,
 'survey_id': '1967999',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 12}
{'_id': ObjectId('5f695a1d145902aefb85bc5a'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10086017',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 2, 16, 0, 0),
 'start_mth': 2,
 'start_year': 2019,
 'survey_id': '1967934',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bc5b'),
 'comm_name': 'Hooded Plover',
 'lat': -38.267601,
 'long': 144.50619509999999,
 'record_id': '9999478',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 2, 16, 0, 0),
 'start_mth': 2,
 'start_year': 2019,
 'survey_id': '1933583',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bc5c'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2750015,
 'long': 144.5036926,
 'record_id': '9999359',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 2, 15, 0, 0),
 'start_mth': 2,
 'start_year': 2019,
 'survey_id': '1933546',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bc5d'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2750015,
 'long': 144.5036926,
 'record_id': '9999331',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 2, 14, 0, 0),
 'start_mth': 2,
 'start_year': 2019,
 'survey_id': '1933538',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bc5e'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3922005,
 'long': 142.2281036,
 'record_id': '10085546',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 2, 13, 0, 0),
 'start_mth': 2,
 'start_year': 2019,
 'survey_id': '1967733',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85bc5f'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2750015,
 'long': 144.5036926,
 'record_id': '9999293',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 2, 13, 0, 0),
 'start_mth': 2,
 'start_year': 2019,
 'survey_id': '1933530',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bc60'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3930016,
 'long': 142.2462006,
 'record_id': '10085505',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 2, 12, 0, 0),
 'start_mth': 2,
 'start_year': 2019,
 'survey_id': '1967719',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bc61'),
 'comm_name': 'Hooded Plover',
 'lat': -38.457698799999996,
 'long': 145.2964935,
 'record_id': '10085494',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 2, 12, 0, 0),
 'start_mth': 2,
 'start_year': 2019,
 'survey_id': '1967714',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bc62'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10085471',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 2, 12, 0, 0),
 'start_mth': 2,
 'start_year': 2019,
 'survey_id': '1967706',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 11}
{'_id': ObjectId('5f695a1d145902aefb85bc63'),
 'comm_name': 'Hooded Plover',
 'lat': -38.281299600000004,
 'long': 144.4328003,
 'record_id': '9999282',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 2, 12, 0, 0),
 'start_mth': 2,
 'start_year': 2019,
 'survey_id': '1933527',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bc64'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5758018,
 'long': 145.51089480000002,
 'record_id': '10085332',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 2, 10, 0, 0),
 'start_mth': 2,
 'start_year': 2019,
 'survey_id': '1967651',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85bc65'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2905006,
 'long': 144.60870359999998,
 'record_id': '9981112',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 2, 10, 0, 0),
 'start_mth': 2,
 'start_year': 2019,
 'survey_id': '1925896',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bc66'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7773018,
 'long': 143.6645966,
 'record_id': '9999141',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 2, 9, 0, 0),
 'start_mth': 2,
 'start_year': 2019,
 'survey_id': '1933482',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bc67'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3930016,
 'long': 142.2462006,
 'record_id': '10084991',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 2, 9, 0, 0),
 'start_mth': 2,
 'start_year': 2019,
 'survey_id': '1967562',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bc68'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9999081',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 2, 6, 0, 0),
 'start_mth': 2,
 'start_year': 2019,
 'survey_id': '1933463',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85bc69'),
 'comm_name': 'Hooded Plover',
 'lat': -38.281299600000004,
 'long': 144.4328003,
 'record_id': '9999083',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 2, 6, 0, 0),
 'start_mth': 2,
 'start_year': 2019,
 'survey_id': '1933464',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bc6a'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9999019',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 2, 4, 0, 0),
 'start_mth': 2,
 'start_year': 2019,
 'survey_id': '1933445',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bc6b'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9998987',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 2, 3, 0, 0),
 'start_mth': 2,
 'start_year': 2019,
 'survey_id': '1933429',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bc6c'),
 'comm_name': 'Hooded Plover',
 'lat': -38.28599929999999,
 'long': 144.420105,
 'record_id': '9998960',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 2, 2, 0, 0),
 'start_mth': 2,
 'start_year': 2019,
 'survey_id': '1933420',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bc6d'),
 'comm_name': 'Hooded Plover',
 'lat': -38.35670089999999,
 'long': 142.3213959,
 'record_id': '10083651',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 31, 0, 0),
 'start_mth': 1,
 'start_year': 2019,
 'survey_id': '1967095',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85bc6e'),
 'comm_name': 'Hooded Plover',
 'lat': -39.0313988,
 'long': 146.3197937,
 'record_id': '10083579',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 30, 0, 0),
 'start_mth': 1,
 'start_year': 2019,
 'survey_id': '1967060',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bc6f'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10083402',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 29, 0, 0),
 'start_mth': 1,
 'start_year': 2019,
 'survey_id': '1967013',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bc70'),
 'comm_name': 'Hooded Plover',
 'lat': -37.8795013,
 'long': 147.9911957,
 'record_id': '10083326',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 28, 0, 0),
 'start_mth': 1,
 'start_year': 2019,
 'survey_id': '1966986',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bc71'),
 'comm_name': 'Hooded Plover',
 'lat': -37.8795013,
 'long': 147.9911957,
 'record_id': '10083317',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 28, 0, 0),
 'start_mth': 1,
 'start_year': 2019,
 'survey_id': '1966982',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bc72'),
 'comm_name': 'Hooded Plover',
 'lat': -38.6708984,
 'long': 145.61210630000002,
 'record_id': '10082833',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 26, 0, 0),
 'start_mth': 1,
 'start_year': 2019,
 'survey_id': '1966816',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bc73'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9998667',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 24, 0, 0),
 'start_mth': 1,
 'start_year': 2019,
 'survey_id': '1933323',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bc74'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9998664',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 24, 0, 0),
 'start_mth': 1,
 'start_year': 2019,
 'survey_id': '1933320',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bc75'),
 'comm_name': 'Hooded Plover',
 'lat': -38.281299600000004,
 'long': 144.4328003,
 'record_id': '9998665',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 24, 0, 0),
 'start_mth': 1,
 'start_year': 2019,
 'survey_id': '1933321',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bc76'),
 'comm_name': 'Hooded Plover',
 'lat': -38.281299600000004,
 'long': 144.4328003,
 'record_id': '9998666',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 24, 0, 0),
 'start_mth': 1,
 'start_year': 2019,
 'survey_id': '1933322',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bc77'),
 'comm_name': 'Hooded Plover',
 'lat': -38.6708984,
 'long': 145.61210630000002,
 'record_id': '10082457',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 23, 0, 0),
 'start_mth': 1,
 'start_year': 2019,
 'survey_id': '1966676',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bc78'),
 'comm_name': 'Hooded Plover',
 'lat': -38.285099,
 'long': 144.48599240000001,
 'record_id': '9998578',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 21, 0, 0),
 'start_mth': 1,
 'start_year': 2019,
 'survey_id': '1933281',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bc79'),
 'comm_name': 'Hooded Plover',
 'lat': -38.0555,
 'long': 140.9933014,
 'record_id': '10199197',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 21, 0, 0),
 'start_mth': 1,
 'start_year': 2019,
 'survey_id': '2023103',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 9}
{'_id': ObjectId('5f695a1d145902aefb85bc7a'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3605995,
 'long': 142.29179380000002,
 'record_id': '10081635',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 19, 0, 0),
 'start_mth': 1,
 'start_year': 2019,
 'survey_id': '1966445',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bc7b'),
 'comm_name': 'Hooded Plover',
 'lat': -38.6313019,
 'long': 145.72979740000002,
 'record_id': '10081656',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 19, 0, 0),
 'start_mth': 1,
 'start_year': 2019,
 'survey_id': '1966453',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bc7c'),
 'comm_name': 'Hooded Plover',
 'lat': -38.394699100000004,
 'long': 144.2525024,
 'record_id': '9998330',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 17, 0, 0),
 'start_mth': 1,
 'start_year': 2019,
 'survey_id': '1933210',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6}
{'_id': ObjectId('5f695a1d145902aefb85bc7d'),
 'comm_name': 'Hooded Plover',
 'lat': -38.39049910000001,
 'long': 142.1707001,
 'record_id': '10081281',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 17, 0, 0),
 'start_mth': 1,
 'start_year': 2019,
 'survey_id': '1966327',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6}
{'_id': ObjectId('5f695a1d145902aefb85bc7e'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9998262',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 15, 0, 0),
 'start_mth': 1,
 'start_year': 2019,
 'survey_id': '1933184',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bc7f'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9998274',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 15, 0, 0),
 'start_mth': 1,
 'start_year': 2019,
 'survey_id': '1933190',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bc80'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3689003,
 'long': 144.7572937,
 'record_id': '10080944',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 15, 0, 0),
 'start_mth': 1,
 'start_year': 2019,
 'survey_id': '1966224',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bc81'),
 'comm_name': 'Hooded Plover',
 'lat': -38.281299600000004,
 'long': 144.4328003,
 'record_id': '9998269',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 15, 0, 0),
 'start_mth': 1,
 'start_year': 2019,
 'survey_id': '1933188',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bc82'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3874016,
 'long': 142.2317963,
 'record_id': '10080703',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 14, 0, 0),
 'start_mth': 1,
 'start_year': 2019,
 'survey_id': '1966141',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bc83'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3927994,
 'long': 142.2095947,
 'record_id': '10080699',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 14, 0, 0),
 'start_mth': 1,
 'start_year': 2019,
 'survey_id': '1966138',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bc84'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3571014,
 'long': 142.3141937,
 'record_id': '10080546',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 13, 0, 0),
 'start_mth': 1,
 'start_year': 2019,
 'survey_id': '1966087',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bc85'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3571014,
 'long': 142.3141937,
 'record_id': '10080592',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 13, 0, 0),
 'start_mth': 1,
 'start_year': 2019,
 'survey_id': '1966101',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bc86'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3571014,
 'long': 142.3141937,
 'record_id': '10080439',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 13, 0, 0),
 'start_mth': 1,
 'start_year': 2019,
 'survey_id': '1966043',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bc87'),
 'comm_name': 'Hooded Plover',
 'lat': -38.267601,
 'long': 144.50619509999999,
 'record_id': '9997897',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 11, 0, 0),
 'start_mth': 1,
 'start_year': 2019,
 'survey_id': '1933091',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bc88'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3927994,
 'long': 142.2095947,
 'record_id': '10079974',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 11, 0, 0),
 'start_mth': 1,
 'start_year': 2019,
 'survey_id': '1965903',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85bc89'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9997709',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 8, 0, 0),
 'start_mth': 1,
 'start_year': 2019,
 'survey_id': '1933040',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bc8a'),
 'comm_name': 'Hooded Plover',
 'lat': -38.347801200000006,
 'long': 142.3708038,
 'record_id': '10079166',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 8, 0, 0),
 'start_mth': 1,
 'start_year': 2019,
 'survey_id': '1965706',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bc8b'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10079196',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 8, 0, 0),
 'start_mth': 1,
 'start_year': 2019,
 'survey_id': '1965717',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bc8c'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10078992',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 7, 0, 0),
 'start_mth': 1,
 'start_year': 2019,
 'survey_id': '1965647',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bc8d'),
 'comm_name': 'Hooded Plover',
 'lat': -38.287998200000004,
 'long': 144.60150149999998,
 'record_id': '9997667',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 7, 0, 0),
 'start_mth': 1,
 'start_year': 2019,
 'survey_id': '1933027',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bc8e'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3918991,
 'long': 142.2230988,
 'record_id': '10078863',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 6, 0, 0),
 'start_mth': 1,
 'start_year': 2019,
 'survey_id': '1965596',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85bc8f'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10078894',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 6, 0, 0),
 'start_mth': 1,

 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bc9e'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7653008,
 'long': 143.66999819999998,
 'record_id': '9996853',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 29, 0, 0),
 'start_mth': 12,
 'start_year': 2018,
 'survey_id': '1932777',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bc9f'),
 'comm_name': 'Hooded Plover',
 'lat': -37.857399,
 'long': 148.0915985,
 'record_id': '9021134',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 28, 0, 0),
 'start_mth': 12,
 'start_year': 2018,
 'survey_id': '1754774',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bca0'),
 'comm_name': 'Hooded Plover',
 'lat': -38.457698799999996,
 'long': 145.2964935,
 'record_id': '10076614',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 27, 0, 0),
 'start_mth': 12,
 'start_year': 2018,
 'survey_id': '1964865',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bca1'),
 'comm_name': 'Hooded Plover',
 'lat': -38.8470001,
 'long': 143.559494,
 'record_id': '9996826',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 26, 0, 0),
 'start_mth': 12,
 'start_year': 2018,
 'survey_id': '1932762',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bca2'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9996736',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 24, 0, 0),
 'start_mth': 12,
 'start_year': 2018,
 'survey_id': '1932732',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bca3'),
 'comm_name': 'Hooded Plover',
 'lat': -38.4291992,
 'long': 144.1690063,
 'record_id': '9996742',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 24, 0, 0),
 'start_mth': 12,
 'start_year': 2018,
 'survey_id': '1932734',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85bca4'),
 'comm_name': 'Hooded Plover',
 'lat': -37.8582993,
 'long': 148.0868073,
 'record_id': '10076166',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 24, 0, 0),
 'start_mth': 12,
 'start_year': 2018,
 'survey_id': '1964699',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bca5'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5158005,
 'long': 145.20559690000002,
 'record_id': '10076172',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 24, 0, 0),
 'start_mth': 12,
 'start_year': 2018,
 'survey_id': '1964702',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bca6'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3917999,
 'long': 142.2236938,
 'record_id': '10075866',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 22, 0, 0),
 'start_mth': 12,
 'start_year': 2018,
 'survey_id': '1964580',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bca7'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10075771',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 21, 0, 0),
 'start_mth': 12,
 'start_year': 2018,
 'survey_id': '1964549',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bca8'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2750015,
 'long': 144.5036926,
 'record_id': '9996619',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 20, 0, 0),
 'start_mth': 12,
 'start_year': 2018,
 'survey_id': '1932696',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bca9'),
 'comm_name': 'Hooded Plover',
 'lat': -38.274299600000006,
 'long': 144.5101929,
 'record_id': '9996610',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 19, 0, 0),
 'start_mth': 12,
 'start_year': 2018,
 'survey_id': '1932692',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85bcaa'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9996551',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 17, 0, 0),
 'start_mth': 12,
 'start_year': 2018,
 'survey_id': '1932676',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85bcab'),
 'comm_name': 'Hooded Plover',
 'lat': -38.274299600000006,
 'long': 144.5101929,
 'record_id': '9996454',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 16, 0, 0),
 'start_mth': 12,
 'start_year': 2018,
 'survey_id': '1932649',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85bcac'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10075084',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 15, 0, 0),
 'start_mth': 12,
 'start_year': 2018,
 'survey_id': '1964297',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bcad'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10075086',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 15, 0, 0),
 'start_mth': 12,
 'start_year': 2018,
 'survey_id': '1964298',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bcae'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10075104',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 15, 0, 0),
 'start_mth': 12,
 'start_year': 2018,
 'survey_id': '1964303',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bcaf'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10075156',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 15, 0, 0),
 'start_mth': 12,
 'start_year': 2018,
 'survey_id': '1964313',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5}
{'_id': ObjectId('5f695a1d145902aefb85bcb0'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10075162',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 15, 0, 0),
 'start_mth': 12,
 'start_year': 2018,
 'survey_id': '1964314',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5}
{'_id': ObjectId('5f695a1d145902aefb85bcb1'),
 'comm_name': 'Hooded Plover',
 'lat': -38.357601200000005,
 'long': 142.3058014,
 'record_id': '10075226',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 15, 0, 0),
 'start_mth': 12,
 'start_year': 2018,
 'survey_id': '1964329',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bcb2'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3964005,
 'long': 144.24290469999997,
 'record_id': '9996178',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 12, 0, 0),
 'start_mth': 12,
 'start_year': 2018,
 'survey_id': '1932566',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bcb3'),
 'comm_name': 'Hooded Plover',
 'lat': -37.5845985,
 'long': 149.7368927,
 'record_id': '10074797',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 12, 0, 0),
 'start_mth': 12,
 'start_year': 2018,
 'survey_id': '1964197',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bcb4'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9996107',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 10, 0, 0),
 'start_mth': 12,
 'start_year': 2018,
 'survey_id': '1932539',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bcb5'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5758018,
 'long': 145.51089480000002,
 'record_id': '10074410',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 10, 0, 0),
 'start_mth': 12,
 'start_year': 2018,
 'survey_id': '1964021',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85bcb6'),
 'comm_name': 'Hooded Plover',
 'lat': -38.8443985,
 'long': 143.5650024,
 'record_id': '9996097',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 9, 0, 0),
 'start_mth': 12,
 'start_year': 2018,
 'survey_id': '1932533',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bcb7'),
 'comm_name': 'Hooded Plover',
 'lat': -38.8443985,
 'long': 143.5650024,
 'record_id': '9996100',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 9, 0, 0),
 'start_mth': 12,
 'start_year': 2018,
 'survey_id': '1932534',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bcb8'),
 'comm_name': 'Hooded Plover',
 'lat': -38.643100700000005,
 'long': 143.0576019,
 'record_id': '9996076',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 8, 0, 0),
 'start_mth': 12,
 'start_year': 2018,
 'survey_id': '1932519',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bcb9'),
 'comm_name': 'Hooded Plover',
 'lat': -38.267601,
 'long': 144.50619509999999,
 'record_id': '9995963',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 4, 0, 0),
 'start_mth': 12,
 'start_year': 2018,
 'survey_id': '1932480',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bcba'),
 'comm_name': 'Hooded Plover',
 'lat': -38.385299700000004,
 'long': 141.4098969,
 'record_id': '10073680',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 3, 0, 0),
 'start_mth': 12,
 'start_year': 2018,
 'survey_id': '1963709',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bcbb'),
 'comm_name': 'Hooded Plover',
 'lat': -38.385299700000004,
 'long': 141.4098969,
 'record_id': '10073732',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 3, 0, 0),
 'start_mth': 12,
 'start_year': 2018,
 'survey_id': '1963730',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bcbc'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9995946',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 3, 0, 0),
 'start_mth': 12,
 'start_year': 2018,
 'survey_id': '1932473',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bcbd'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9995680',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 2, 0, 0),
 'start_mth': 12,
 'start_year': 2018,
 'survey_id': '1932389',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85bcbe'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9995753',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 2, 0, 0),
 'start_mth': 12,
 'start_year': 2018,
 'survey_id': '1932406',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85bcbf'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9995808',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 2, 0, 0),
 'start_mth': 12,
 'start_year': 2018,
 'survey_id': '1932424',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85bcc0'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9995905',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 2, 0, 0),
 'start_mth': 12,
 'start_year': 2018,
 'survey_id': '1932456',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85bcc1'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9995575',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 2, 0, 0),
 'start_mth': 12,
 'start_year': 2018,
 'survey_id': '1932354',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85bcc2'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9995833',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 2, 0, 0),
 'start_mth': 12,
 'start_year': 2018,
 'survey_id': '1932439',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85bcc3'),
 'comm_name': 'Hooded Plover',
 'lat': -38.267601,
 'long': 144.50619509999999,
 'record_id': '9995654',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 2, 0, 0),
 'start_mth': 12,
 'start_year': 2018,
 'survey_id': '1932375',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bcc4'),
 'comm_name': 'Hooded Plover',
 'lat': -38.267601,
 'long': 144.50619509999999,
 'record_id': '9995661',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 2, 0, 0),
 'start_mth': 12,
 'start_year': 2018,
 'survey_id': '1932377',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bcc5'),
 'comm_name': 'Hooded Plover',
 'lat': -38.408500700000005,
 'long': 144.8108063,
 'record_id': '10073268',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 11, 30, 0, 0),
 'start_mth': 11,
 'start_year': 2018,
 'survey_id': '1963510',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5}
{'_id': ObjectId('5f695a1d145902aefb85bcc6'),
 'comm_name': 'Hooded Plover',
 'lat': -38.0545006,
 'long': 140.99560549999998,
 'record_id': '10073290',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 11, 30, 0, 0),
 'start_mth': 11,
 'start_year': 2018,
 'survey_id': '1963524',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bcc7'),
 'comm_name': 'Hooded Plover',
 'lat': -37.8005981,
 'long': 148.545105,
 'record_id': '10073116',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 11, 29, 0, 0),
 'start_mth': 11,
 'start_year': 2018,
 'survey_id': '1963433',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85bcc8'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3930016,
 'long': 142.2462006,
 'record_id': '10073141',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 11, 29, 0, 0),
 'start_mth': 11,
 'start_year': 2018,
 'survey_id': '1963445',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bcc9'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3550987,
 'long': 142.3352966,
 'record_id': '10072939',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 11, 26, 0, 0),
 'start_mth': 11,
 'start_year': 2018,
 'survey_id': '1963339',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bcca'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7528992,
 'long': 143.6651001,
 'record_id': '9995176',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 11, 22, 0, 0),
 'start_mth': 11,
 'start_year': 2018,
 'survey_id': '1932219',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bccb'),
 'comm_name': 'Hooded Plover',
 'lat': -37.8871994,
 'long': 147.9709015,
 'record_id': '8999832',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 11, 21, 0, 0),
 'start_mth': 11,
 'start_year': 2018,
 'survey_id': '1744917',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bccc'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9995130',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 11, 19, 0, 0),
 'start_mth': 11,
 'start_year': 2018,
 'survey_id': '1932198',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bccd'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9995135',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 11, 19, 0, 0),
 'start_mth': 11,
 'start_year': 2018,
 'survey_id': '1932199',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bcce'),
 'comm_name': 'Hooded Plover',
 'lat': -38.4684982,
 'long': 144.0652008,
 'record_id': '9995069',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 11, 18, 0, 0),
 'start_mth': 11,
 'start_year': 2018,
 'survey_id': '1932179',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bccf'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5514984,
 'long': 145.3509064,
 'record_id': '10072126',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 11, 18, 0, 0),
 'start_mth': 11,
 'start_year': 2018,
 'survey_id': '1962985',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bcd0'),
 'comm_name': 'Hooded Plover',
 'lat': -38.6077003,
 'long': 142.8807068,
 'record_id': '10072240',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 11, 18, 0, 0),
 'start_mth': 11,
 'start_year': 2018,
 'survey_id': '1963035',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bcd1'),
 'comm_name': 'Hooded Plover',
 'lat': -38.388900799999995,
 'long': 142.24229430000003,
 'record_id': '10072228',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 11, 18, 0, 0),
 'start_mth': 11,
 'start_year': 2018,
 'survey_id': '1963031',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bcd2'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2815018,
 'long': 144.4380951,
 'record_id': '9995038',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 11, 17, 0, 0),
 'start_mth': 11,
 'start_year': 2018,
 'survey_id': '1932164',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85bcd3'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2815018,
 'long': 144.4380951,
 'record_id': '9995014',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 11, 17, 0, 0),
 'start_mth': 11,
 'start_year': 2018,
 'survey_id': '1932151',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}

 'record_id': '10068984',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 10, 28, 0, 0),
 'start_mth': 10,
 'start_year': 2018,
 'survey_id': '1961657',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bcf0'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3819008,
 'long': 142.23109440000002,
 'record_id': '10068335',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 10, 24, 0, 0),
 'start_mth': 10,
 'start_year': 2018,
 'survey_id': '1961401',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 8}
{'_id': ObjectId('5f695a1d145902aefb85bcf1'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3550987,
 'long': 142.3352966,
 'record_id': '10068255',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 10, 23, 0, 0),
 'start_mth': 10,
 'start_year': 2018,
 'survey_id': '1961355',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5}
{'_id': ObjectId('5f695a1d145902aefb85bcf2'),
 'comm_name': 'Hooded Plover',
 'lat': -37.5561981,
 'long': 149.7559967,
 'record_id': '10068191',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 10, 22, 0, 0),
 'start_mth': 10,
 'start_year': 2018,
 'survey_id': '1961327',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bcf3'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9994316',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 10, 20, 0, 0),
 'start_mth': 10,
 'start_year': 2018,
 'survey_id': '1931845',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bcf4'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9994238',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 10, 20, 0, 0),
 'start_mth': 10,
 'start_year': 2018,
 'survey_id': '1931812',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bcf5'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3232994,
 'long': 144.68299869999998,
 'record_id': '10067437',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 10, 18, 0, 0),
 'start_mth': 10,
 'start_year': 2018,
 'survey_id': '1961031',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 9}
{'_id': ObjectId('5f695a1d145902aefb85bcf6'),
 'comm_name': 'Hooded Plover',
 'lat': -38.6661987,
 'long': 143.86340330000002,
 'record_id': '9994179',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 10, 16, 0, 0),
 'start_mth': 10,
 'start_year': 2018,
 'survey_id': '1931787',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bcf7'),
 'comm_name': 'Hooded Plover',
 'lat': -38.8544998,
 'long': 146.16400149999998,
 'record_id': '10067139',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 10, 15, 0, 0),
 'start_mth': 10,
 'start_year': 2018,
 'survey_id': '1960895',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85bcf8'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9994115',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 10, 14, 0, 0),
 'start_mth': 10,
 'start_year': 2018,
 'survey_id': '1931759',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85bcf9'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9994123',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 10, 14, 0, 0),
 'start_mth': 10,
 'start_year': 2018,
 'survey_id': '1931762',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85bcfa'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9994076',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 10, 14, 0, 0),
 'start_mth': 10,
 'start_year': 2018,
 'survey_id': '1931747',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85bcfb'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9994135',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 10, 14, 0, 0),
 'start_mth': 10,
 'start_year': 2018,
 'survey_id': '1931765',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85bcfc'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7793999,
 'long': 143.66499330000002,
 'record_id': '9994004',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 10, 12, 0, 0),
 'start_mth': 10,
 'start_year': 2018,
 'survey_id': '1931720',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bcfd'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9993874',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 10, 10, 0, 0),
 'start_mth': 10,
 'start_year': 2018,
 'survey_id': '1931664',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bcfe'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9993877',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 10, 10, 0, 0),
 'start_mth': 10,
 'start_year': 2018,
 'survey_id': '1931665',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bcff'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9993889',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 10, 10, 0, 0),
 'start_mth': 10,
 'start_year': 2018,
 'survey_id': '1931670',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bd00'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9993919',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 10, 10, 0, 0),
 'start_mth': 10,
 'start_year': 2018,
 'survey_id': '1931685',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bd01'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9993832',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 10, 9, 0, 0),
 'start_mth': 10,
 'start_year': 2018,
 'survey_id': '1931641',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85bd02'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9993836',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 10, 9, 0, 0),
 'start_mth': 10,
 'start_year': 2018,
 'survey_id': '1931643',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85bd03'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9993775',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 10, 7, 0, 0),
 'start_mth': 10,
 'start_year': 2018,
 'survey_id': '1931618',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bd04'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3819008,
 'long': 142.23109440000002,
 'record_id': '10065675',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 10, 3, 0, 0),
 'start_mth': 10,
 'start_year': 2018,
 'survey_id': '1960199',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bd05'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3819008,
 'long': 142.23109440000002,
 'record_id': '10065726',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 10, 3, 0, 0),
 'start_mth': 10,
 'start_year': 2018,
 'survey_id': '1960219',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bd06'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3819008,
 'long': 142.23109440000002,
 'record_id': '10065749',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 10, 3, 0, 0),
 'start_mth': 10,
 'start_year': 2018,
 'survey_id': '1960226',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bd07'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3819008,
 'long': 142.23109440000002,
 'record_id': '10065776',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 10, 3, 0, 0),
 'start_mth': 10,
 'start_year': 2018,
 'survey_id': '1960239',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bd08'),
 'comm_name': 'Hooded Plover',
 'lat': -38.388900799999995,
 'long': 142.24229430000003,
 'record_id': '10065660',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 10, 3, 0, 0),
 'start_mth': 10,
 'start_year': 2018,
 'survey_id': '1960194',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bd09'),
 'comm_name': 'Hooded Plover',
 'lat': -38.540699,
 'long': 145.3341064,
 'record_id': '8979205',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 10, 2, 0, 0),
 'start_mth': 10,
 'start_year': 2018,
 'survey_id': '1727308',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5}
{'_id': ObjectId('5f695a1d145902aefb85bd0a'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9993521',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 10, 2, 0, 0),
 'start_mth': 10,
 'start_year': 2018,
 'survey_id': '1931514',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bd0b'),
 'comm_name': 'Hooded Plover',
 'lat': -38.713699299999995,
 'long': 143.7447052,
 'record_id': '9993535',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 10, 2, 0, 0),
 'start_mth': 10,
 'start_year': 2018,
 'survey_id': '1931522',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bd0c'),
 'comm_name': 'Hooded Plover',
 'lat': -38.713699299999995,
 'long': 143.7447052,
 'record_id': '9993536',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 10, 2, 0, 0),
 'start_mth': 10,
 'start_year': 2018,
 'survey_id': '1931523',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bd0d'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10065558',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 10, 2, 0, 0),
 'start_mth': 10,
 'start_year': 2018,
 'survey_id': '1960154',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5}
{'_id': ObjectId('5f695a1d145902aefb85bd0e'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10065584',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 10, 2, 0, 0),
 'start_mth': 10,
 'start_year': 2018,
 'survey_id': '1960165',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5}
{'_id': ObjectId('5f695a1d145902aefb85bd0f'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10065602',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 10, 2, 0, 0),
 'start_mth': 10,
 'start_year': 2018,
 'survey_id': '1960173',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5}
{'_id': ObjectId('5f695a1d145902aefb85bd10'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10065617',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 10, 2, 0, 0),
 'start_mth': 10,
 'start_year': 2018,
 'survey_id': '1960177',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5}
{'_id': ObjectId('5f695a1d145902aefb85bd11'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9993518',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 10, 1, 0, 0),
 'start_mth': 10,
 'start_year': 2018,
 'survey_id': '1931512',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bd12'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9993512',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 10, 1, 0, 0),
 'start_mth': 10,
 'start_year': 2018,
 'survey_id': '1931509',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bd13'),
 'comm_name': 'Hooded Plover',
 'lat': -38.508098600000004,
 'long': 145.2770996,
 'record_id': '10064752',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 9, 26, 0, 0),
 'start_mth': 9,
 'start_year': 2018,
 'survey_id': '1959792',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bd14'),
 'comm_name': 'Hooded Plover',
 'lat': -38.508098600000004,
 'long': 145.2770996,
 'record_id': '10064740',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 9, 26, 0, 0),
 'start_mth': 9,
 'start_year': 2018,
 'survey_id': '1959786',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bd15'),
 'comm_name': 'Hooded Plover',
 'lat': -37.8853989,
 'long': 147.9122925,
 'record_id': '10064041',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 9, 22, 0, 0),
 'start_mth': 9,
 'start_year': 2018,
 'survey_id': '1959490',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bd16'),
 'comm_name': 'Hooded Plover',
 'lat': -37.8853989,
 'long': 147.9122925,
 'record_id': '10063993',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 9, 22, 0, 0),
 'start_mth': 9,
 'start_year': 2018,
 'survey_id': '1959466',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bd17'),
 'comm_name': 'Hooded Plover',
 'lat': -38.284400899999994,
 'long': 144.45579530000003,
 'record_id': '9993324',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 9, 22, 0, 0),
 'start_mth': 9,
 'start_year': 2018,
 'survey_id': '1931431',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85bd18'),
 'comm_name': 'Hooded Plover',
 'lat': -38.4017982,
 'long': 142.5084076,
 'record_id': '10064001',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 9, 22, 0, 0),
 'start_mth': 9,
 'start_year': 2018,
 'survey_id': '1959469',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bd19'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3930016,
 'long': 142.2462006,
 'record_id': '10064019',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 9, 22, 0, 0),
 'start_mth': 9,
 'start_year': 2018,
 'survey_id': '1959479',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bd1a'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10064094',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 9, 22, 0, 0),
 'start_mth': 9,
 'start_year': 2018,
 'survey_id': '1959515',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 11}
{'_id': ObjectId('5f695a1d145902aefb85bd1b'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5107002,
 'long': 145.28100590000003,
 'record_id': '10064020',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 9, 22, 0, 0),
 'start_mth': 9,
 'start_year': 2018,
 'survey_id': '1959480',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85bd1c'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2229996,
 'long': 141.29859919999998,
 'record_id': '10198963',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 9, 20, 0, 0),
 'start_mth': 9,
 'start_year': 2018,
 'survey_id': '2022964',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bd1d'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2019005,
 'long': 141.2718964,
 'record_id': '10198966',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 9, 20, 0, 0),
 'start_mth': 9,
 'start_year': 2018,
 'survey_id': '2022967',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bd1e'),
 'comm_name': 'Hooded Plover',
 'lat': -38.1875992,
 'long': 141.252594,
 'record_id': '10198971',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 9, 20, 0, 0),
 'start_mth': 9,
 'start_year': 2018,
 'survey_id': '2022971',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bd1f'),
 'comm_name': 'Hooded Plover',
 'lat': -38.167800899999996,
 'long': 141.2230988,
 'record_id': '10198974',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 9, 20, 0, 0),
 'start_mth': 9,
 'start_year': 2018,
 'survey_id': '2022974',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bd20'),
 'comm_name': 'Hooded Plover',
 'lat': -38.167800899999996,
 'long': 141.2192993,
 'record_id': '10198976',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 9, 20, 0, 0),
 'start_mth': 9,
 'start_year': 2018,
 'survey_id': '2022975',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bd21'),
 'comm_name': 'Hooded Plover',
 'lat': -38.1570015,
 'long': 141.205307,
 'record_id': '10198982',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 9, 20, 0, 0),
 'start_mth': 9,
 'start_year': 2018,
 'survey_id': '2022978',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bd22'),
 'comm_name': 'Hooded Plover',
 'lat': -38.334301,
 'long': 141.39880369999997,
 'record_id': '10198991',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 9, 20, 0, 0),
 'start_mth': 9,
 'start_year': 2018,
 'survey_id': '2022987',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bd23'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3291016,
 'long': 141.3964996,
 'record_id': '10198992',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 9, 20, 0, 0),
 'start_mth': 9,
 'start_year': 2018,
 'survey_id': '2022988',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bd24'),
 'comm_name': 'Hooded Plover',
 'lat': -38.0555,
 'long': 140.9933014,
 'record_id': '10199134',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 9, 19, 0, 0),
 'start_mth': 9,
 'start_year': 2018,
 'survey_id': '2023096',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}

 'lat': -38.7773018,
 'long': 143.6645966,
 'record_id': '9992019',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 7, 19, 0, 0),
 'start_mth': 7,
 'start_year': 2018,
 'survey_id': '1930890',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5}
{'_id': ObjectId('5f695a1d145902aefb85bd42'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3232994,
 'long': 144.68299869999998,
 'record_id': '10058879',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 7, 18, 0, 0),
 'start_mth': 7,
 'start_year': 2018,
 'survey_id': '1957094',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85bd43'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7564011,
 'long': 143.6705933,
 'record_id': '9992010',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 7, 16, 0, 0),
 'start_mth': 7,
 'start_year': 2018,
 'survey_id': '1930884',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bd44'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9991931',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 7, 13, 0, 0),
 'start_mth': 7,
 'start_year': 2018,
 'survey_id': '1930848',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 12}
{'_id': ObjectId('5f695a1d145902aefb85bd45'),
 'comm_name': 'Hooded Plover',
 'lat': -39.0306015,
 'long': 146.3130951,
 'record_id': '10058381',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 7, 10, 0, 0),
 'start_mth': 7,
 'start_year': 2018,
 'survey_id': '1956864',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bd46'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7789001,
 'long': 143.6660004,
 'record_id': '9991755',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 7, 6, 0, 0),
 'start_mth': 7,
 'start_year': 2018,
 'survey_id': '1930782',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6}
{'_id': ObjectId('5f695a1d145902aefb85bd47'),
 'comm_name': 'Hooded Plover',
 'lat': -37.8075981,
 'long': 148.62789919999997,
 'record_id': '8958331',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 7, 2, 0, 0),
 'start_mth': 7,
 'start_year': 2018,
 'survey_id': '1715979',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bd48'),
 'comm_name': 'Hooded Plover',
 'lat': -37.8005981,
 'long': 148.545105,
 'record_id': '10057457',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 6, 26, 0, 0),
 'start_mth': 6,
 'start_year': 2018,
 'survey_id': '1956401',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bd49'),
 'comm_name': 'Hooded Plover',
 'lat': -37.8005981,
 'long': 148.545105,
 'record_id': '10057056',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 6, 23, 0, 0),
 'start_mth': 6,
 'start_year': 2018,
 'survey_id': '1956287',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bd4a'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3930016,
 'long': 142.2462006,
 'record_id': '10057008',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 6, 23, 0, 0),
 'start_mth': 6,
 'start_year': 2018,
 'survey_id': '1956264',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bd4b'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3819008,
 'long': 142.23109440000002,
 'record_id': '10057018',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 6, 23, 0, 0),
 'start_mth': 6,
 'start_year': 2018,
 'survey_id': '1956270',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6}
{'_id': ObjectId('5f695a1d145902aefb85bd4c'),
 'comm_name': 'Hooded Plover',
 'lat': -38.518699600000005,
 'long': 145.1107025,
 'record_id': '10056776',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 6, 19, 0, 0),
 'start_mth': 6,
 'start_year': 2018,
 'survey_id': '1956144',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85bd4d'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3917999,
 'long': 142.221405,
 'record_id': '10056347',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 6, 10, 0, 0),
 'start_mth': 6,
 'start_year': 2018,
 'survey_id': '1955926',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bd4e'),
 'comm_name': 'Hooded Plover',
 'lat': -37.7977982,
 'long': 148.56230159999998,
 'record_id': '10056063',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 6, 6, 0, 0),
 'start_mth': 6,
 'start_year': 2018,
 'survey_id': '1955802',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6}
{'_id': ObjectId('5f695a1d145902aefb85bd4f'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7615013,
 'long': 143.67970280000003,
 'record_id': '9991199',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 5, 27, 0, 0),
 'start_mth': 5,
 'start_year': 2018,
 'survey_id': '1930499',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bd50'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3930016,
 'long': 142.2462006,
 'record_id': '10054838',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 5, 20, 0, 0),
 'start_mth': 5,
 'start_year': 2018,
 'survey_id': '1955284',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bd51'),
 'comm_name': 'Hooded Plover',
 'lat': -38.284400899999994,
 'long': 144.45579530000003,
 'record_id': '9991021',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 5, 16, 0, 0),
 'start_mth': 5,
 'start_year': 2018,
 'survey_id': '1930415',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 8}
{'_id': ObjectId('5f695a1d145902aefb85bd52'),
 'comm_name': 'Hooded Plover',
 'lat': -38.281299600000004,
 'long': 144.4326935,
 'record_id': '9991018',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 5, 16, 0, 0),
 'start_mth': 5,
 'start_year': 2018,
 'survey_id': '1930414',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 8}
{'_id': ObjectId('5f695a1d145902aefb85bd53'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3916016,
 'long': 142.2229004,
 'record_id': '10054250',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 5, 12, 0, 0),
 'start_mth': 5,
 'start_year': 2018,
 'survey_id': '1955005',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bd54'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3941994,
 'long': 144.79229740000002,
 'record_id': '10053453',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 5, 3, 0, 0),
 'start_mth': 5,
 'start_year': 2018,
 'survey_id': '1954692',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bd55'),
 'comm_name': 'Hooded Plover',
 'lat': -38.281299600000004,
 'long': 144.4326935,
 'record_id': '9990736',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 5, 2, 0, 0),
 'start_mth': 5,
 'start_year': 2018,
 'survey_id': '1930273',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 16}
{'_id': ObjectId('5f695a1d145902aefb85bd56'),
 'comm_name': 'Hooded Plover',
 'lat': -37.5750999,
 'long': 149.7561035,
 'record_id': '10053328',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 5, 1, 0, 0),
 'start_mth': 5,
 'start_year': 2018,
 'survey_id': '1954639',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bd57'),
 'comm_name': 'Hooded Plover',
 'lat': -37.8005981,
 'long': 148.545105,
 'record_id': '10052253',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 4, 23, 0, 0),
 'start_mth': 4,
 'start_year': 2018,
 'survey_id': '1954210',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85bd58'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3552017,
 'long': 142.3347015,
 'record_id': '10052069',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 4, 22, 0, 0),
 'start_mth': 4,
 'start_year': 2018,
 'survey_id': '1954159',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85bd59'),
 'comm_name': 'Hooded Plover',
 'lat': -38.457698799999996,
 'long': 145.2964935,
 'record_id': '10052123',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 4, 22, 0, 0),
 'start_mth': 4,
 'start_year': 2018,
 'survey_id': '1954174',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bd5a'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5159988,
 'long': 145.3020935,
 'record_id': '10051911',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 4, 21, 0, 0),
 'start_mth': 4,
 'start_year': 2018,
 'survey_id': '1954082',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 8}
{'_id': ObjectId('5f695a1d145902aefb85bd5b'),
 'comm_name': 'Hooded Plover',
 'lat': -38.166698499999995,
 'long': 141.2333069,
 'record_id': '10052013',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 4, 21, 0, 0),
 'start_mth': 4,
 'start_year': 2018,
 'survey_id': '1954118',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 7}
{'_id': ObjectId('5f695a1d145902aefb85bd5c'),
 'comm_name': 'Hooded Plover',
 'lat': -38.35670089999999,
 'long': 142.3213959,
 'record_id': '10052018',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 4, 21, 0, 0),
 'start_mth': 4,
 'start_year': 2018,
 'survey_id': '1954120',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bd5d'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10051708',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 4, 20, 0, 0),
 'start_mth': 4,
 'start_year': 2018,
 'survey_id': '1954005',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85bd5e'),
 'comm_name': 'Hooded Plover',
 'lat': -38.284400899999994,
 'long': 144.45579530000003,
 'record_id': '9990545',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 4, 19, 0, 0),
 'start_mth': 4,
 'start_year': 2018,
 'survey_id': '1930178',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5}
{'_id': ObjectId('5f695a1d145902aefb85bd5f'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2887001,
 'long': 144.4884949,
 'record_id': '9990544',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 4, 19, 0, 0),
 'start_mth': 4,
 'start_year': 2018,
 'survey_id': '1930177',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bd60'),
 'comm_name': 'Hooded Plover',
 'lat': -38.82740020000001,
 'long': 143.5830994,
 'record_id': '9990541',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 4, 18, 0, 0),
 'start_mth': 4,
 'start_year': 2018,
 'survey_id': '1930174',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bd61'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10051587',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 4, 18, 0, 0),
 'start_mth': 4,
 'start_year': 2018,
 'survey_id': '1953947',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5}
{'_id': ObjectId('5f695a1d145902aefb85bd62'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2858009,
 'long': 144.46760559999998,
 'record_id': '9990534',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 4, 18, 0, 0),
 'start_mth': 4,
 'start_year': 2018,
 'survey_id': '1930171',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85bd63'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9990538',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 4, 18, 0, 0),
 'start_mth': 4,
 'start_year': 2018,
 'survey_id': '1930173',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85bd64'),
 'comm_name': 'Hooded Plover',
 'lat': -38.509300200000006,
 'long': 145.1708069,
 'record_id': '10051620',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 4, 18, 0, 0),
 'start_mth': 4,
 'start_year': 2018,
 'survey_id': '1953961',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85bd65'),
 'comm_name': 'Hooded Plover',
 'lat': -38.287998200000004,
 'long': 144.60150149999998,
 'record_id': '9990542',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 4, 18, 0, 0),
 'start_mth': 4,
 'start_year': 2018,
 'survey_id': '1930175',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85bd66'),
 'comm_name': 'Hooded Plover',
 'lat': -38.281299600000004,
 'long': 144.4326935,
 'record_id': '9990536',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 4, 18, 0, 0),
 'start_mth': 4,
 'start_year': 2018,
 'survey_id': '1930172',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85bd67'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9990484',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 4, 13, 0, 0),
 'start_mth': 4,
 'start_year': 2018,
 'survey_id': '1930144',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5}
{'_id': ObjectId('5f695a1d145902aefb85bd68'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10050898',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 4, 9, 0, 0),
 'start_mth': 4,
 'start_year': 2018,
 'survey_id': '1953683',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85bd69'),
 'comm_name': 'Hooded Plover',
 'lat': -38.4824982,
 'long': 145.0249023,
 'record_id': '10050670',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 4, 8, 0, 0),
 'start_mth': 4,
 'start_year': 2018,
 'survey_id': '1953593',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bd6a'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7528992,
 'long': 143.6651001,
 'record_id': '9990384',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 4, 7, 0, 0),
 'start_mth': 4,
 'start_year': 2018,
 'survey_id': '1930099',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bd6b'),
 'comm_name': 'Hooded Plover',
 'lat': -37.8007011,
 'long': 148.54859919999998,
 'record_id': '10050535',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 4, 6, 0, 0),
 'start_mth': 4,
 'start_year': 2018,
 'survey_id': '1953528',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85bd6c'),
 'comm_name': 'Hooded Plover',
 'lat': -38.28599929999999,
 'long': 144.420105,
 'record_id': '9990357',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 4, 5, 0, 0),
 'start_mth': 4,
 'start_year': 2018,
 'survey_id': '1930087',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85bd6d'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9990337',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 4, 3, 0, 0),
 'start_mth': 4,
 'start_year': 2018,
 'survey_id': '1930077',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 14}
{'_id': ObjectId('5f695a1d145902aefb85bd6e'),
 'comm_name': 'Hooded Plover',
 'lat': -38.678901700000004,
 'long': 146.8161926,
 'record_id': '10049748',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 4, 1, 0, 0),
 'start_mth': 4,
 'start_year': 2018,
 'survey_id': '1953224',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bd6f'),
 'comm_name': 'Hooded Plover',
 'lat': -38.678901700000004,
 'long': 146.8161926,
 'record_id': '10049730',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 4, 1, 0, 0),
 'start_mth': 4,
 'start_year': 2018,
 'survey_id': '1953221',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bd70'),
 'comm_name': 'Hooded Plover',
 'lat': -38.678901700000004,
 'long': 146.8161926,
 'record_id': '10049706',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 4, 1, 0, 0),
 'start_mth': 4,
 'start_year': 2018,
 'survey_id': '1953218',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bd71'),
 'comm_name': 'Hooded Plover',
 'lat': -38.724399600000005,
 'long': 146.68310549999998,
 'record_id': '10049721',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 4, 1, 0, 0),
 'start_mth': 4,
 'start_year': 2018,
 'survey_id': '1953220',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bd72'),
 'comm_name': 'Hooded Plover',
 'lat': -38.724399600000005,
 'long': 146.68310549999998,
 'record_id': '10049736',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 4, 1, 0, 0),
 'start_mth': 4,
 'start_year': 2018,
 'survey_id': '1953222',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bd73'),
 'comm_name': 'Hooded Plover',
 'lat': -38.724399600000005,
 'long': 146.68310549999998,
 'record_id': '10049757',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 4, 1, 0, 0),
 'start_mth': 4,
 'start_year': 2018,
 'survey_id': '1953226',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bd74'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10049346',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 3, 31, 0, 0),
 'start_mth': 3,
 'start_year': 2018,
 'survey_id': '1953094',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bd75'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9990227',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 3, 30, 0, 0),
 'start_mth': 3,
 'start_year': 2018,
 'survey_id': '1930027',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85bd76'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3186989,
 'long': 142.36230469999998,
 'record_id': '10049024',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 3, 28, 0, 0),
 'start_mth': 3,
 'start_year': 2018,
 'survey_id': '1952944',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85bd77'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,

 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bd98'),
 'comm_name': 'Hooded Plover',
 'lat': -37.5845985,
 'long': 149.7368927,
 'record_id': '10043057',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 2, 3, 0, 0),
 'start_mth': 2,
 'start_year': 2018,
 'survey_id': '1950567',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bd99'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2750015,
 'long': 144.5036926,
 'record_id': '9989181',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 2, 3, 0, 0),
 'start_mth': 2,
 'start_year': 2018,
 'survey_id': '1929580',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bd9a'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2750015,
 'long': 144.5036926,
 'record_id': '9989220',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 2, 3, 0, 0),
 'start_mth': 2,
 'start_year': 2018,
 'survey_id': '1929594',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bd9b'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9989065',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 31, 0, 0),
 'start_mth': 1,
 'start_year': 2018,
 'survey_id': '1929533',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bd9c'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2887001,
 'long': 144.4884949,
 'record_id': '9989082',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 31, 0, 0),
 'start_mth': 1,
 'start_year': 2018,
 'survey_id': '1929540',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bd9d'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5758018,
 'long': 145.51089480000002,
 'record_id': '10042543',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 29, 0, 0),
 'start_mth': 1,
 'start_year': 2018,
 'survey_id': '1950405',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bd9e'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5758018,
 'long': 145.51089480000002,
 'record_id': '10042559',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 29, 0, 0),
 'start_mth': 1,
 'start_year': 2018,
 'survey_id': '1950413',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bd9f'),
 'comm_name': 'Hooded Plover',
 'lat': -38.0545006,
 'long': 140.99560549999998,
 'record_id': '10042012',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 25, 0, 0),
 'start_mth': 1,
 'start_year': 2018,
 'survey_id': '1950250',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bda0'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5514984,
 'long': 145.3509064,
 'record_id': '10041894',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 23, 0, 0),
 'start_mth': 1,
 'start_year': 2018,
 'survey_id': '1950193',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bda1'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3232994,
 'long': 144.68299869999998,
 'record_id': '10041674',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 22, 0, 0),
 'start_mth': 1,
 'start_year': 2018,
 'survey_id': '1950127',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6}
{'_id': ObjectId('5f695a1d145902aefb85bda2'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9988769',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 20, 0, 0),
 'start_mth': 1,
 'start_year': 2018,
 'survey_id': '1929431',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bda3'),
 'comm_name': 'Hooded Plover',
 'lat': -37.8795013,
 'long': 147.9911957,
 'record_id': '10041361',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 20, 0, 0),
 'start_mth': 1,
 'start_year': 2018,
 'survey_id': '1950010',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bda4'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5514984,
 'long': 145.3509064,
 'record_id': '10041285',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 19, 0, 0),
 'start_mth': 1,
 'start_year': 2018,
 'survey_id': '1949974',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bda5'),
 'comm_name': 'Hooded Plover',
 'lat': -38.4291992,
 'long': 144.1555939,
 'record_id': '9988721',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 19, 0, 0),
 'start_mth': 1,
 'start_year': 2018,
 'survey_id': '1929407',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bda6'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3819008,
 'long': 142.23109440000002,
 'record_id': '10041303',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 19, 0, 0),
 'start_mth': 1,
 'start_year': 2018,
 'survey_id': '1949984',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 15}
{'_id': ObjectId('5f695a1d145902aefb85bda7'),
 'comm_name': 'Hooded Plover',
 'lat': -38.28599929999999,
 'long': 144.420105,
 'record_id': '9988711',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 19, 0, 0),
 'start_mth': 1,
 'start_year': 2018,
 'survey_id': '1929403',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85bda8'),
 'comm_name': 'Hooded Plover',
 'lat': -37.476001700000005,
 'long': 149.642807,
 'record_id': '10040988',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 15, 0, 0),
 'start_mth': 1,
 'start_year': 2018,
 'survey_id': '1949855',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bda9'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9988528',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 13, 0, 0),
 'start_mth': 1,
 'start_year': 2018,
 'survey_id': '1929342',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bdaa'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9988596',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 13, 0, 0),
 'start_mth': 1,
 'start_year': 2018,
 'survey_id': '1929362',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bdab'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10040473',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 13, 0, 0),
 'start_mth': 1,
 'start_year': 2018,
 'survey_id': '1949714',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6}
{'_id': ObjectId('5f695a1d145902aefb85bdac'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10040255',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 12, 0, 0),
 'start_mth': 1,
 'start_year': 2018,
 'survey_id': '1949640',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bdad'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5514984,
 'long': 145.3509064,
 'record_id': '10039965',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 10, 0, 0),
 'start_mth': 1,
 'start_year': 2018,
 'survey_id': '1949546',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85bdae'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9988433',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 9, 0, 0),
 'start_mth': 1,
 'start_year': 2018,
 'survey_id': '1929303',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5}
{'_id': ObjectId('5f695a1d145902aefb85bdaf'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5998993,
 'long': 142.85940549999998,
 'record_id': '10039951',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 9, 0, 0),
 'start_mth': 1,
 'start_year': 2018,
 'survey_id': '1949542',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bdb0'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9988456',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 9, 0, 0),
 'start_mth': 1,
 'start_year': 2018,
 'survey_id': '1929313',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5}
{'_id': ObjectId('5f695a1d145902aefb85bdb1'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9988416',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 8, 0, 0),
 'start_mth': 1,
 'start_year': 2018,
 'survey_id': '1929295',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bdb2'),
 'comm_name': 'Hooded Plover',
 'lat': -38.6875992,
 'long': 146.7550964,
 'record_id': '10039655',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 7, 0, 0),
 'start_mth': 1,
 'start_year': 2018,
 'survey_id': '1949413',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6}
{'_id': ObjectId('5f695a1d145902aefb85bdb3'),
 'comm_name': 'Hooded Plover',
 'lat': -38.28599929999999,
 'long': 144.420105,
 'record_id': '9988404',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 7, 0, 0),
 'start_mth': 1,
 'start_year': 2018,
 'survey_id': '1929286',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85bdb4'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3930016,
 'long': 142.2462006,
 'record_id': '10039513',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 6, 0, 0),
 'start_mth': 1,
 'start_year': 2018,
 'survey_id': '1949361',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bdb5'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5438995,
 'long': 145.33949280000002,
 'record_id': '10039411',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 5, 0, 0),
 'start_mth': 1,
 'start_year': 2018,
 'survey_id': '1949310',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85bdb6'),
 'comm_name': 'Hooded Plover',
 'lat': -37.7815018,
 'long': 148.9194946,
 'record_id': '10039261',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 4, 0, 0),
 'start_mth': 1,
 'start_year': 2018,
 'survey_id': '1949261',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bdb7'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5438995,
 'long': 145.33949280000002,
 'record_id': '10039107',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 3, 0, 0),
 'start_mth': 1,
 'start_year': 2018,
 'survey_id': '1949188',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bdb8'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9988215',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 2, 0, 0),
 'start_mth': 1,
 'start_year': 2018,
 'survey_id': '1929212',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bdb9'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3819008,
 'long': 142.23109440000002,
 'record_id': '10038909',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 2, 0, 0),
 'start_mth': 1,
 'start_year': 2018,
 'survey_id': '1949103',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bdba'),
 'comm_name': 'Hooded Plover',
 'lat': -37.5800018,
 'long': 149.7467957,
 'record_id': '10038855',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 1, 0, 0),
 'start_mth': 1,
 'start_year': 2018,
 'survey_id': '1949080',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bdbb'),
 'comm_name': 'Hooded Plover',
 'lat': -37.8005981,
 'long': 148.545105,
 'record_id': '10038713',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 1, 0, 0),
 'start_mth': 1,
 'start_year': 2018,
 'survey_id': '1949018',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bdbc'),
 'comm_name': 'Hooded Plover',
 'lat': -37.5561981,
 'long': 149.7559967,
 'record_id': '10038590',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 1, 0, 0),
 'start_mth': 1,
 'start_year': 2018,
 'survey_id': '1948984',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bdbd'),
 'comm_name': 'Hooded Plover',
 'lat': -37.5561981,
 'long': 149.7559967,
 'record_id': '10038718',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 1, 0, 0),
 'start_mth': 1,
 'start_year': 2018,
 'survey_id': '1949021',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bdbe'),
 'comm_name': 'Hooded Plover',
 'lat': -37.5750999,
 'long': 149.7561035,
 'record_id': '10038851',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 1, 0, 0),
 'start_mth': 1,
 'start_year': 2018,
 'survey_id': '1949077',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bdbf'),
 'comm_name': 'Hooded Plover',
 'lat': -38.4314995,
 'long': 144.84030149999998,
 'record_id': '10038384',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 12, 30, 0, 0),
 'start_mth': 12,
 'start_year': 2017,
 'survey_id': '1948899',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85bdc0'),
 'comm_name': 'Hooded Plover',
 'lat': -38.4314995,
 'long': 144.84030149999998,
 'record_id': '10038320',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 12, 30, 0, 0),
 'start_mth': 12,
 'start_year': 2017,
 'survey_id': '1948875',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85bdc1'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3232994,
 'long': 144.68299869999998,
 'record_id': '10038119',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 12, 28, 0, 0),
 'start_mth': 12,
 'start_year': 2017,
 'survey_id': '1948806',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 7}
{'_id': ObjectId('5f695a1d145902aefb85bdc2'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5514984,
 'long': 145.3509064,
 'record_id': '10037058',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 12, 20, 0, 0),
 'start_mth': 12,
 'start_year': 2017,
 'survey_id': '1948436',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bdc3'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7360001,
 'long': 143.6842041,
 'record_id': '9987663',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 12, 16, 0, 0),
 'start_mth': 12,
 'start_year': 2017,
 'survey_id': '1929006',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85bdc4'),
 'comm_name': 'Hooded Plover',
 'lat': -38.950599700000005,
 'long': 146.2518005,
 'record_id': '10036684',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 12, 16, 0, 0),
 'start_mth': 12,
 'start_year': 2017,
 'survey_id': '1948320',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bdc5'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9987640',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 12, 14, 0, 0),
 'start_mth': 12,
 'start_year': 2017,
 'survey_id': '1928992',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5}
{'_id': ObjectId('5f695a1d145902aefb85bdc6'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9987415',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 12, 8, 0, 0),
 'start_mth': 12,
 'start_year': 2017,
 'survey_id': '1928920',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bdc7'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3232994,
 'long': 144.68299869999998,
 'record_id': '10035927',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 12, 8, 0, 0),
 'start_mth': 12,
 'start_year': 2017,
 'survey_id': '1947952',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 10}
{'_id': ObjectId('5f695a1d145902aefb85bdc8'),
 'comm_name': 'Hooded Plover',
 'lat': -39.015899700000006,
 'long': 146.2955017,
 'record_id': '10035850',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 12, 7, 0, 0),
 'start_mth': 12,
 'start_year': 2017,
 'survey_id': '1947917',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85bdc9'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9987324',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 12, 5, 0, 0),
 'start_mth': 12,
 'start_year': 2017,
 'survey_id': '1928864',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bdca'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9987354',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 12, 5, 0, 0),
 'start_mth': 12,
 'start_year': 2017,
 'survey_id': '1928878',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bdcb'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9987355',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 12, 5, 0, 0),
 'start_mth': 12,
 'start_year': 2017,
 'survey_id': '1928879',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bdcc'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5438995,
 'long': 145.33949280000002,
 'record_id': '10035503',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 12, 5, 0, 0),
 'start_mth': 12,
 'start_year': 2017,
 'survey_id': '1947806',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bdcd'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5438995,
 'long': 145.33949280000002,
 'record_id': '10035613',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 12, 5, 0, 0),
 'start_mth': 12,
 'start_year': 2017,
 'survey_id': '1947839',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}

 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bdf0'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5438995,
 'long': 145.33949280000002,
 'record_id': '10029096',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 10, 16, 0, 0),
 'start_mth': 10,
 'start_year': 2017,
 'survey_id': '1945273',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bdf1'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9986246',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 10, 16, 0, 0),
 'start_mth': 10,
 'start_year': 2017,
 'survey_id': '1928356',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bdf2'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5758018,
 'long': 145.51089480000002,
 'record_id': '10029112',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 10, 16, 0, 0),
 'start_mth': 10,
 'start_year': 2017,
 'survey_id': '1945282',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6}
{'_id': ObjectId('5f695a1d145902aefb85bdf3'),
 'comm_name': 'Hooded Plover',
 'lat': -38.517398799999995,
 'long': 145.11790469999997,
 'record_id': '10029128',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 10, 16, 0, 0),
 'start_mth': 10,
 'start_year': 2017,
 'survey_id': '1945286',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 7}
{'_id': ObjectId('5f695a1d145902aefb85bdf4'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3550987,
 'long': 142.3352966,
 'record_id': '10029005',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 10, 16, 0, 0),
 'start_mth': 10,
 'start_year': 2017,
 'survey_id': '1945235',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5}
{'_id': ObjectId('5f695a1d145902aefb85bdf5'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3930016,
 'long': 142.2462006,
 'record_id': '10028854',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 10, 15, 0, 0),
 'start_mth': 10,
 'start_year': 2017,
 'survey_id': '1945177',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bdf6'),
 'comm_name': 'Hooded Plover',
 'lat': -38.6086998,
 'long': 142.878006,
 'record_id': '10028749',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 10, 15, 0, 0),
 'start_mth': 10,
 'start_year': 2017,
 'survey_id': '1945131',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85bdf7'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9986193',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 10, 14, 0, 0),
 'start_mth': 10,
 'start_year': 2017,
 'survey_id': '1928332',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bdf8'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9986196',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 10, 14, 0, 0),
 'start_mth': 10,
 'start_year': 2017,
 'survey_id': '1928334',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bdf9'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9986203',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 10, 14, 0, 0),
 'start_mth': 10,
 'start_year': 2017,
 'survey_id': '1928339',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bdfa'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10028471',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 10, 14, 0, 0),
 'start_mth': 10,
 'start_year': 2017,
 'survey_id': '1945025',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bdfb'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10028695',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 10, 14, 0, 0),
 'start_mth': 10,
 'start_year': 2017,
 'survey_id': '1945109',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 10}
{'_id': ObjectId('5f695a1d145902aefb85bdfc'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7352982,
 'long': 143.684494,
 'record_id': '9986158',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 10, 14, 0, 0),
 'start_mth': 10,
 'start_year': 2017,
 'survey_id': '1928319',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85bdfd'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3922997,
 'long': 142.2245941,
 'record_id': '10028541',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 10, 14, 0, 0),
 'start_mth': 10,
 'start_year': 2017,
 'survey_id': '1945045',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bdfe'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10027754',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 10, 7, 0, 0),
 'start_mth': 10,
 'start_year': 2017,
 'survey_id': '1944759',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85bdff'),
 'comm_name': 'Hooded Plover',
 'lat': -38.45029829999999,
 'long': 145.2796021,
 'record_id': '10027849',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 10, 7, 0, 0),
 'start_mth': 10,
 'start_year': 2017,
 'survey_id': '1944799',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85be00'),
 'comm_name': 'Hooded Plover',
 'lat': -38.45029829999999,
 'long': 145.2796021,
 'record_id': '10027702',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 10, 7, 0, 0),
 'start_mth': 10,
 'start_year': 2017,
 'survey_id': '1944743',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85be01'),
 'comm_name': 'Hooded Plover',
 'lat': -38.544399299999995,
 'long': 145.33990480000003,
 'record_id': '10027665',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 10, 6, 0, 0),
 'start_mth': 10,
 'start_year': 2017,
 'survey_id': '1944729',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85be02'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5438995,
 'long': 145.33949280000002,
 'record_id': '10027166',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 10, 1, 0, 0),
 'start_mth': 10,
 'start_year': 2017,
 'survey_id': '1944524',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85be03'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5438995,
 'long': 145.33949280000002,
 'record_id': '10027187',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 10, 1, 0, 0),
 'start_mth': 10,
 'start_year': 2017,
 'survey_id': '1944535',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85be04'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3819008,
 'long': 142.23109440000002,
 'record_id': '10027029',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 9, 30, 0, 0),
 'start_mth': 9,
 'start_year': 2017,
 'survey_id': '1944454',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85be05'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9985832',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 9, 24, 0, 0),
 'start_mth': 9,
 'start_year': 2017,
 'survey_id': '1928180',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85be06'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10025591',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 9, 15, 0, 0),
 'start_mth': 9,
 'start_year': 2017,
 'survey_id': '1943819',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85be07'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9985719',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 9, 14, 0, 0),
 'start_mth': 9,
 'start_year': 2017,
 'survey_id': '1928121',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85be08'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9985708',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 9, 14, 0, 0),
 'start_mth': 9,
 'start_year': 2017,
 'survey_id': '1928116',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85be09'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5758018,
 'long': 145.51089480000002,
 'record_id': '10025407',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 9, 12, 0, 0),
 'start_mth': 9,
 'start_year': 2017,
 'survey_id': '1943749',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85be0a'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3930016,
 'long': 142.2462006,
 'record_id': '10024996',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 9, 9, 0, 0),
 'start_mth': 9,
 'start_year': 2017,
 'survey_id': '1943620',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85be0b'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10025132',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 9, 9, 0, 0),
 'start_mth': 9,
 'start_year': 2017,
 'survey_id': '1943656',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 11}
{'_id': ObjectId('5f695a1d145902aefb85be0c'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9985590',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 9, 3, 0, 0),
 'start_mth': 9,
 'start_year': 2017,
 'survey_id': '1928063',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85be0d'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9985594',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 9, 3, 0, 0),
 'start_mth': 9,
 'start_year': 2017,
 'survey_id': '1928064',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85be0e'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5514984,
 'long': 145.3509064,
 'record_id': '10024648',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 9, 3, 0, 0),
 'start_mth': 9,
 'start_year': 2017,
 'survey_id': '1943486',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85be0f'),
 'comm_name': 'Hooded Plover',
 'lat': -37.8005981,
 'long': 148.545105,
 'record_id': '10024578',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 9, 2, 0, 0),
 'start_mth': 9,
 'start_year': 2017,
 'survey_id': '1943459',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85be10'),
 'comm_name': 'Hooded Plover',
 'lat': -37.8005981,
 'long': 148.545105,
 'record_id': '10024619',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 9, 2, 0, 0),
 'start_mth': 9,
 'start_year': 2017,
 'survey_id': '1943471',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85be11'),
 'comm_name': 'Hooded Plover',
 'lat': -37.8005981,
 'long': 148.545105,
 'record_id': '10024632',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 9, 2, 0, 0),
 'start_mth': 9,
 'start_year': 2017,
 'survey_id': '1943477',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85be12'),
 'comm_name': 'Hooded Plover',
 'lat': -37.8005981,
 'long': 148.545105,
 'record_id': '10024512',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 9, 1, 0, 0),
 'start_mth': 9,
 'start_year': 2017,
 'survey_id': '1943437',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85be13'),
 'comm_name': 'Hooded Plover',
 'lat': -37.8005981,
 'long': 148.545105,
 'record_id': '10024551',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 9, 1, 0, 0),
 'start_mth': 9,
 'start_year': 2017,
 'survey_id': '1943448',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85be14'),
 'comm_name': 'Hooded Plover',
 'lat': -37.8005981,
 'long': 148.545105,
 'record_id': '10024475',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 9, 1, 0, 0),
 'start_mth': 9,
 'start_year': 2017,
 'survey_id': '1943426',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85be15'),
 'comm_name': 'Hooded Plover',
 'lat': -37.864101399999996,
 'long': 147.75010680000003,
 'record_id': '10024542',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 9, 1, 0, 0),
 'start_mth': 9,
 'start_year': 2017,
 'survey_id': '1943446',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85be16'),
 'comm_name': 'Hooded Plover',
 'lat': -38.311199200000004,
 'long': 144.67480469999998,
 'record_id': '10024292',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 8, 28, 0, 0),
 'start_mth': 8,
 'start_year': 2017,
 'survey_id': '1943331',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6}
{'_id': ObjectId('5f695a1d145902aefb85be17'),
 'comm_name': 'Hooded Plover',
 'lat': -38.352298700000006,
 'long': 142.3361053,
 'record_id': '10024000',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 8, 24, 0, 0),
 'start_mth': 8,
 'start_year': 2017,
 'survey_id': '1943220',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85be18'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3484001,
 'long': 142.36729430000003,
 'record_id': '10024001',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 8, 24, 0, 0),
 'start_mth': 8,
 'start_year': 2017,
 'survey_id': '1943221',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85be19'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10023718',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 8, 20, 0, 0),
 'start_mth': 8,
 'start_year': 2017,
 'survey_id': '1943110',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85be1a'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10023720',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 8, 20, 0, 0),
 'start_mth': 8,
 'start_year': 2017,
 'survey_id': '1943111',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85be1b'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3550987,
 'long': 142.3352966,
 'record_id': '10023727',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 8, 20, 0, 0),
 'start_mth': 8,
 'start_year': 2017,
 'survey_id': '1943115',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85be1c'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3550987,
 'long': 142.3352966,
 'record_id': '10023747',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 8, 20, 0, 0),
 'start_mth': 8,
 'start_year': 2017,
 'survey_id': '1943120',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85be1d'),
 'comm_name': 'Hooded Plover',
 'lat': -37.8795013,
 'long': 147.9911957,
 'record_id': '10023458',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 8, 14, 0, 0),
 'start_mth': 8,
 'start_year': 2017,
 'survey_id': '1942992',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85be1e'),
 'comm_name': 'Hooded Plover',
 'lat': -37.8795013,
 'long': 147.9911957,
 'record_id': '10023480',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 8, 14, 0, 0),
 'start_mth': 8,
 'start_year': 2017,
 'survey_id': '1943003',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85be1f'),
 'comm_name': 'Hooded Plover',
 'lat': -38.348701500000004,
 'long': 142.3659058,
 'record_id': '10023166',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 8, 9, 0, 0),
 'start_mth': 8,
 'start_year': 2017,
 'survey_id': '1942852',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 10}
{'_id': ObjectId('5f695a1d145902aefb85be20'),
 'comm_name': 'Hooded Plover',
 'lat': -38.448600799999994,
 'long': 144.1201019,
 'record_id': '9985294',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 8, 9, 0, 0),
 'start_mth': 8,
 'start_year': 2017,
 'survey_id': '1927912',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85be21'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3964005,
 'long': 144.24290469999997,
 'record_id': '9985268',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 8, 6, 0, 0),
 'start_mth': 8,
 'start_year': 2017,
 'survey_id': '1927903',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85be22'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3964005,
 'long': 144.24290469999997,
 'record_id': '9985269',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 8, 6, 0, 0),
 'start_mth': 8,
 'start_year': 2017,
 'survey_id': '1927904',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85be23'),
 'comm_name': 'Hooded Plover',
 'lat': -38.281299600000004,
 'long': 144.4326935,
 'record_id': '9985245',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 8, 4, 0, 0),
 'start_mth': 8,
 'start_year': 2017,
 'survey_id': '1927891',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85be24'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9985220',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 7, 31, 0, 0),
 'start_mth': 7,
 'start_year': 2017,
 'survey_id': '1927879',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85be25'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9985198',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 7, 30, 0, 0),
 'start_mth': 7,
 'start_year': 2017,
 'survey_id': '1927868',
 'taxon_id': '10138',

 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 6, 8, 0, 0),
 'start_mth': 6,
 'start_year': 2017,
 'survey_id': '1927552',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85be45'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2858009,
 'long': 144.46760559999998,
 'record_id': '9984556',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 6, 7, 0, 0),
 'start_mth': 6,
 'start_year': 2017,
 'survey_id': '1927549',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85be46'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2858009,
 'long': 144.46760559999998,
 'record_id': '9984557',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 6, 7, 0, 0),
 'start_mth': 6,
 'start_year': 2017,
 'survey_id': '1927550',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85be47'),
 'comm_name': 'Hooded Plover',
 'lat': -37.8005981,
 'long': 148.545105,
 'record_id': '10019057',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 6, 4, 0, 0),
 'start_mth': 6,
 'start_year': 2017,
 'survey_id': '1941293',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 9}
{'_id': ObjectId('5f695a1d145902aefb85be48'),
 'comm_name': 'Hooded Plover',
 'lat': -38.311199200000004,
 'long': 144.67480469999998,
 'record_id': '10019044',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 6, 4, 0, 0),
 'start_mth': 6,
 'start_year': 2017,
 'survey_id': '1941291',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85be49'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10018929',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 6, 3, 0, 0),
 'start_mth': 6,
 'start_year': 2017,
 'survey_id': '1941253',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85be4a'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10018960',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 6, 3, 0, 0),
 'start_mth': 6,
 'start_year': 2017,
 'survey_id': '1941263',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85be4b'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9984480',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 5, 29, 0, 0),
 'start_mth': 5,
 'start_year': 2017,
 'survey_id': '1927500',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5}
{'_id': ObjectId('5f695a1d145902aefb85be4c'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9984463',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 5, 27, 0, 0),
 'start_mth': 5,
 'start_year': 2017,
 'survey_id': '1927493',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6}
{'_id': ObjectId('5f695a1d145902aefb85be4d'),
 'comm_name': 'Hooded Plover',
 'lat': -38.4296989,
 'long': 144.1533966,
 'record_id': '9984430',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 5, 24, 0, 0),
 'start_mth': 5,
 'start_year': 2017,
 'survey_id': '1927470',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 10}
{'_id': ObjectId('5f695a1d145902aefb85be4e'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9984427',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 5, 23, 0, 0),
 'start_mth': 5,
 'start_year': 2017,
 'survey_id': '1927469',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6}
{'_id': ObjectId('5f695a1d145902aefb85be4f'),
 'comm_name': 'Hooded Plover',
 'lat': -38.457698799999996,
 'long': 145.2964935,
 'record_id': '10018214',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 5, 22, 0, 0),
 'start_mth': 5,
 'start_year': 2017,
 'survey_id': '1940996',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85be50'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7564011,
 'long': 143.6705933,
 'record_id': '9984385',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 5, 20, 0, 0),
 'start_mth': 5,
 'start_year': 2017,
 'survey_id': '1927446',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85be51'),
 'comm_name': 'Hooded Plover',
 'lat': -38.367500299999996,
 'long': 144.28469850000002,
 'record_id': '9984272',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 5, 13, 0, 0),
 'start_mth': 5,
 'start_year': 2017,
 'survey_id': '1927382',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6}
{'_id': ObjectId('5f695a1d145902aefb85be52'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9984199',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 5, 13, 0, 0),
 'start_mth': 5,
 'start_year': 2017,
 'survey_id': '1927335',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6}
{'_id': ObjectId('5f695a1d145902aefb85be53'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9984262',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 5, 13, 0, 0),
 'start_mth': 5,
 'start_year': 2017,
 'survey_id': '1927373',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85be54'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9984208',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 5, 13, 0, 0),
 'start_mth': 5,
 'start_year': 2017,
 'survey_id': '1927343',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85be55'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5169983,
 'long': 145.3061981,
 'record_id': '10017299',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 5, 13, 0, 0),
 'start_mth': 5,
 'start_year': 2017,
 'survey_id': '1940664',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6}
{'_id': ObjectId('5f695a1d145902aefb85be56'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5169983,
 'long': 145.3061981,
 'record_id': '10017290',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 5, 13, 0, 0),
 'start_mth': 5,
 'start_year': 2017,
 'survey_id': '1940659',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6}
{'_id': ObjectId('5f695a1d145902aefb85be57'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9984147',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 5, 7, 0, 0),
 'start_mth': 5,
 'start_year': 2017,
 'survey_id': '1927300',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6}
{'_id': ObjectId('5f695a1d145902aefb85be58'),
 'comm_name': 'Hooded Plover',
 'lat': -37.801101700000004,
 'long': 148.5401001,
 'record_id': '10016387',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 4, 30, 0, 0),
 'start_mth': 4,
 'start_year': 2017,
 'survey_id': '1940325',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 14}
{'_id': ObjectId('5f695a1d145902aefb85be59'),
 'comm_name': 'Hooded Plover',
 'lat': -37.5387001,
 'long': 149.81390380000002,
 'record_id': '10016319',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 4, 29, 0, 0),
 'start_mth': 4,
 'start_year': 2017,
 'survey_id': '1940285',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85be5a'),
 'comm_name': 'Hooded Plover',
 'lat': -37.5387001,
 'long': 149.81390380000002,
 'record_id': '10016300',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 4, 29, 0, 0),
 'start_mth': 4,
 'start_year': 2017,
 'survey_id': '1940271',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85be5b'),
 'comm_name': 'Hooded Plover',
 'lat': -37.5387001,
 'long': 149.81390380000002,
 'record_id': '10016299',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 4, 29, 0, 0),
 'start_mth': 4,
 'start_year': 2017,
 'survey_id': '1940270',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85be5c'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9984036',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 4, 29, 0, 0),
 'start_mth': 4,
 'start_year': 2017,
 'survey_id': '1927248',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85be5d'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5374985,
 'long': 145.3334045,
 'record_id': '10016050',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 4, 24, 0, 0),
 'start_mth': 4,
 'start_year': 2017,
 'survey_id': '1940138',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85be5e'),
 'comm_name': 'Hooded Plover',
 'lat': -38.364399,
 'long': 142.28590390000002,
 'record_id': '10015819',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 4, 22, 0, 0),
 'start_mth': 4,
 'start_year': 2017,
 'survey_id': '1940047',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 11}
{'_id': ObjectId('5f695a1d145902aefb85be5f'),
 'comm_name': 'Hooded Plover',
 'lat': -38.8263016,
 'long': 143.5830994,
 'record_id': '8516115',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 4, 19, 0, 0),
 'start_mth': 4,
 'start_year': 2017,
 'survey_id': '1349764',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85be60'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9983941',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 4, 18, 0, 0),
 'start_mth': 4,
 'start_year': 2017,
 'survey_id': '1927192',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6}
{'_id': ObjectId('5f695a1d145902aefb85be61'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9983864',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 4, 14, 0, 0),
 'start_mth': 4,
 'start_year': 2017,
 'survey_id': '1927158',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6}
{'_id': ObjectId('5f695a1d145902aefb85be62'),
 'comm_name': 'Hooded Plover',
 'lat': -38.481601700000006,
 'long': 145.01629640000002,
 'record_id': '10014853',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 4, 14, 0, 0),
 'start_mth': 4,
 'start_year': 2017,
 'survey_id': '1939665',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85be63'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10014970',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 4, 14, 0, 0),
 'start_mth': 4,
 'start_year': 2017,
 'survey_id': '1939689',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85be64'),
 'comm_name': 'Hooded Plover',
 'lat': -37.9978981,
 'long': 144.5917053,
 'record_id': '10014793',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 4, 13, 0, 0),
 'start_mth': 4,
 'start_year': 2017,
 'survey_id': '1939642',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85be65'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9983847',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 4, 12, 0, 0),
 'start_mth': 4,
 'start_year': 2017,
 'survey_id': '1927147',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85be66'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2778015,
 'long': 144.5709991,
 'record_id': '9983840',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 4, 12, 0, 0),
 'start_mth': 4,
 'start_year': 2017,
 'survey_id': '1927144',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85be67'),
 'comm_name': 'Hooded Plover',
 'lat': -38.276298499999996,
 'long': 144.5657043,
 'record_id': '9983839',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 4, 12, 0, 0),
 'start_mth': 4,
 'start_year': 2017,
 'survey_id': '1927143',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 17}
{'_id': ObjectId('5f695a1d145902aefb85be68'),
 'comm_name': 'Hooded Plover',
 'lat': -38.281299600000004,
 'long': 144.4326935,
 'record_id': '9983848',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 4, 12, 0, 0),
 'start_mth': 4,
 'start_year': 2017,
 'survey_id': '1927148',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85be69'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3819008,
 'long': 142.23109440000002,
 'record_id': '10014666',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 4, 11, 0, 0),
 'start_mth': 4,
 'start_year': 2017,
 'survey_id': '1939591',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85be6a'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9983800',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 4, 7, 0, 0),
 'start_mth': 4,
 'start_year': 2017,
 'survey_id': '1927118',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5}
{'_id': ObjectId('5f695a1d145902aefb85be6b'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9983776',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 4, 6, 0, 0),
 'start_mth': 4,
 'start_year': 2017,
 'survey_id': '1927104',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85be6c'),
 'comm_name': 'Hooded Plover',
 'lat': -38.28599929999999,
 'long': 144.420105,
 'record_id': '9983758',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 4, 5, 0, 0),
 'start_mth': 4,
 'start_year': 2017,
 'survey_id': '1927097',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85be6d'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10013559',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 3, 31, 0, 0),
 'start_mth': 3,
 'start_year': 2017,
 'survey_id': '1939241',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85be6e'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9983672',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 3, 29, 0, 0),
 'start_mth': 3,
 'start_year': 2017,
 'survey_id': '1927051',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 11}
{'_id': ObjectId('5f695a1d145902aefb85be6f'),
 'comm_name': 'Hooded Plover',
 'lat': -38.457698799999996,
 'long': 145.2964935,
 'record_id': '10013400',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 3, 28, 0, 0),
 'start_mth': 3,
 'start_year': 2017,
 'survey_id': '1939151',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85be70'),
 'comm_name': 'Hooded Plover',
 'lat': -38.457698799999996,
 'long': 145.2964935,
 'record_id': '10013350',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 3, 28, 0, 0),
 'start_mth': 3,
 'start_year': 2017,
 'survey_id': '1939134',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85be71'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10012500',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 3, 18, 0, 0),
 'start_mth': 3,
 'start_year': 2017,
 'survey_id': '1938850',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85be72'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10012504',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 3, 18, 0, 0),
 'start_mth': 3,
 'start_year': 2017,
 'survey_id': '1938853',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85be73'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3819008,
 'long': 142.23109440000002,
 'record_id': '10012334',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 3, 16, 0, 0),
 'start_mth': 3,
 'start_year': 2017,
 'survey_id': '1938779',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85be74'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3819008,
 'long': 142.23109440000002,
 'record_id': '10012247',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 3, 15, 0, 0),
 'start_mth': 3,
 'start_year': 2017,
 'survey_id': '1938748',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85be75'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9983396',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 3, 14, 0, 0),
 'start_mth': 3,
 'start_year': 2017,
 'survey_id': '1926933',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85be76'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3600006,
 'long': 142.3166962,
 'record_id': '10011853',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 3, 11, 0, 0),
 'start_mth': 3,
 'start_year': 2017,
 'survey_id': '1938603',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 13}
{'_id': ObjectId('5f695a1d145902aefb85be77'),
 'comm_name': 'Hooded Plover',
 'lat': -38.4656982,
 'long': 144.10609440000002,
 'record_id': '9983285',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 3, 10, 0, 0),
 'start_mth': 3,
 'start_year': 2017,
 'survey_id': '1926866',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85be78'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10011138',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 3, 5, 0, 0),
 'start_mth': 3,
 'start_year': 2017,
 'survey_id': '1938384',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85be79'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10011183',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 3, 5, 0, 0),
 'start_mth': 3,
 'start_year': 2017,
 'survey_id': '1938397',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5}
{'_id': ObjectId('5f695a1d145902aefb85be7a'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10011187',

 'start_mth': 2,
 'start_year': 2017,
 'survey_id': '1937907',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85be91'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10009949',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 2, 20, 0, 0),
 'start_mth': 2,
 'start_year': 2017,
 'survey_id': '1937912',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85be92'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9982623',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 2, 17, 0, 0),
 'start_mth': 2,
 'start_year': 2017,
 'survey_id': '1926572',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5}
{'_id': ObjectId('5f695a1d145902aefb85be93'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9982627',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 2, 17, 0, 0),
 'start_mth': 2,
 'start_year': 2017,
 'survey_id': '1926576',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5}
{'_id': ObjectId('5f695a1d145902aefb85be94'),
 'comm_name': 'Hooded Plover',
 'lat': -37.8795013,
 'long': 147.9911957,
 'record_id': '10009457',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 2, 15, 0, 0),
 'start_mth': 2,
 'start_year': 2017,
 'survey_id': '1937712',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85be95'),
 'comm_name': 'Hooded Plover',
 'lat': -37.8795013,
 'long': 147.9911957,
 'record_id': '10009479',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 2, 15, 0, 0),
 'start_mth': 2,
 'start_year': 2017,
 'survey_id': '1937718',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85be96'),
 'comm_name': 'Hooded Plover',
 'lat': -38.28599929999999,
 'long': 144.420105,
 'record_id': '9982561',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 2, 15, 0, 0),
 'start_mth': 2,
 'start_year': 2017,
 'survey_id': '1926549',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85be97'),
 'comm_name': 'Hooded Plover',
 'lat': -38.284999799999994,
 'long': 144.4589996,
 'record_id': '9982454',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 2, 12, 0, 0),
 'start_mth': 2,
 'start_year': 2017,
 'survey_id': '1926502',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85be98'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9982406',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 2, 11, 0, 0),
 'start_mth': 2,
 'start_year': 2017,
 'survey_id': '1926484',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85be99'),
 'comm_name': 'Hooded Plover',
 'lat': -38.49000170000001,
 'long': 144.9149017,
 'record_id': '10008888',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 2, 10, 0, 0),
 'start_mth': 2,
 'start_year': 2017,
 'survey_id': '1937552',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85be9a'),
 'comm_name': 'Hooded Plover',
 'lat': -38.281299600000004,
 'long': 144.4326935,
 'record_id': '9982346',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 2, 9, 0, 0),
 'start_mth': 2,
 'start_year': 2017,
 'survey_id': '1926456',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85be9b'),
 'comm_name': 'Hooded Plover',
 'lat': -38.281299600000004,
 'long': 144.4328003,
 'record_id': '9982268',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 2, 4, 0, 0),
 'start_mth': 2,
 'start_year': 2017,
 'survey_id': '1926416',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85be9c'),
 'comm_name': 'Hooded Plover',
 'lat': -38.281299600000004,
 'long': 144.4328003,
 'record_id': '9982271',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 2, 4, 0, 0),
 'start_mth': 2,
 'start_year': 2017,
 'survey_id': '1926417',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85be9d'),
 'comm_name': 'Hooded Plover',
 'lat': -37.8972015,
 'long': 147.8809967,
 'record_id': '9005526',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 2, 3, 0, 0),
 'start_mth': 2,
 'start_year': 2017,
 'survey_id': '1745931',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 7}
{'_id': ObjectId('5f695a1d145902aefb85be9e'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2858009,
 'long': 144.46760559999998,
 'record_id': '9982151',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 31, 0, 0),
 'start_mth': 1,
 'start_year': 2017,
 'survey_id': '1926361',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85be9f'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10007969',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 30, 0, 0),
 'start_mth': 1,
 'start_year': 2017,
 'survey_id': '1937179',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bea0'),
 'comm_name': 'Hooded Plover',
 'lat': -38.28319929999999,
 'long': 144.4992981,
 'record_id': '9982129',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 30, 0, 0),
 'start_mth': 1,
 'start_year': 2017,
 'survey_id': '1926350',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bea1'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2713013,
 'long': 144.51750180000002,
 'record_id': '9982132',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 30, 0, 0),
 'start_mth': 1,
 'start_year': 2017,
 'survey_id': '1926351',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bea2'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3973007,
 'long': 144.79620359999998,
 'record_id': '10007663',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 27, 0, 0),
 'start_mth': 1,
 'start_year': 2017,
 'survey_id': '1937067',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85bea3'),
 'comm_name': 'Hooded Plover',
 'lat': -38.35670089999999,
 'long': 142.3213959,
 'record_id': '10007533',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 26, 0, 0),
 'start_mth': 1,
 'start_year': 2017,
 'survey_id': '1937010',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5}
{'_id': ObjectId('5f695a1d145902aefb85bea4'),
 'comm_name': 'Hooded Plover',
 'lat': -38.4174995,
 'long': 144.8222961,
 'record_id': '10007336',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 25, 0, 0),
 'start_mth': 1,
 'start_year': 2017,
 'survey_id': '1936946',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85bea5'),
 'comm_name': 'Hooded Plover',
 'lat': -38.28599929999999,
 'long': 144.420105,
 'record_id': '9981966',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 25, 0, 0),
 'start_mth': 1,
 'start_year': 2017,
 'survey_id': '1926262',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85bea6'),
 'comm_name': 'Hooded Plover',
 'lat': -38.281299600000004,
 'long': 144.4326935,
 'record_id': '9981983',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 25, 0, 0),
 'start_mth': 1,
 'start_year': 2017,
 'survey_id': '1926270',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85bea7'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3819008,
 'long': 142.23109440000002,
 'record_id': '10007297',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 24, 0, 0),
 'start_mth': 1,
 'start_year': 2017,
 'survey_id': '1936930',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5}
{'_id': ObjectId('5f695a1d145902aefb85bea8'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9981893',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 23, 0, 0),
 'start_mth': 1,
 'start_year': 2017,
 'survey_id': '1926225',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85bea9'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9981836',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 22, 0, 0),
 'start_mth': 1,
 'start_year': 2017,
 'survey_id': '1926207',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85beaa'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9981787',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 22, 0, 0),
 'start_mth': 1,
 'start_year': 2017,
 'survey_id': '1926184',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85beab'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3550987,
 'long': 142.3352966,
 'record_id': '10007069',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 22, 0, 0),
 'start_mth': 1,
 'start_year': 2017,
 'survey_id': '1936859',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85beac'),
 'comm_name': 'Hooded Plover',
 'lat': -38.35670089999999,
 'long': 142.3213959,
 'record_id': '10007131',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 22, 0, 0),
 'start_mth': 1,
 'start_year': 2017,
 'survey_id': '1936881',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5}
{'_id': ObjectId('5f695a1d145902aefb85bead'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10006904',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 21, 0, 0),
 'start_mth': 1,
 'start_year': 2017,
 'survey_id': '1936822',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85beae'),
 'comm_name': 'Hooded Plover',
 'lat': -38.912998200000004,
 'long': 146.3329926,
 'record_id': '10006990',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 21, 0, 0),
 'start_mth': 1,
 'start_year': 2017,
 'survey_id': '1936840',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85beaf'),
 'comm_name': 'Hooded Plover',
 'lat': -38.4528008,
 'long': 145.3018951,
 'record_id': '10006846',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 20, 0, 0),
 'start_mth': 1,
 'start_year': 2017,
 'survey_id': '1936805',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85beb0'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3819008,
 'long': 142.23109440000002,
 'record_id': '10006101',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 14, 0, 0),
 'start_mth': 1,
 'start_year': 2017,
 'survey_id': '1936538',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85beb1'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9981555',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 13, 0, 0),
 'start_mth': 1,
 'start_year': 2017,
 'survey_id': '1926061',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85beb2'),
 'comm_name': 'Hooded Plover',
 'lat': -38.28599929999999,
 'long': 144.420105,
 'record_id': '9981559',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 13, 0, 0),
 'start_mth': 1,
 'start_year': 2017,
 'survey_id': '1926063',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85beb3'),
 'comm_name': 'Hooded Plover',
 'lat': -38.394699100000004,
 'long': 144.2525024,
 'record_id': '9981519',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 10, 0, 0),
 'start_mth': 1,
 'start_year': 2017,
 'survey_id': '1926042',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85beb4'),
 'comm_name': 'Hooded Plover',
 'lat': -37.520900700000006,
 'long': 149.9367981,
 'record_id': '8494235',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 9, 0, 0),
 'start_mth': 1,
 'start_year': 2017,
 'survey_id': '1343517',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 10}
{'_id': ObjectId('5f695a1d145902aefb85beb5'),
 'comm_name': 'Hooded Plover',
 'lat': -37.885601,
 'long': 147.9880981,
 'record_id': '10005419',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 7, 0, 0),
 'start_mth': 1,
 'start_year': 2017,
 'survey_id': '1936279',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85beb6'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5514984,
 'long': 145.3509064,
 'record_id': '10005291',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 6, 0, 0),
 'start_mth': 1,
 'start_year': 2017,
 'survey_id': '1936227',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85beb7'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3819008,
 'long': 142.23109440000002,
 'record_id': '10005322',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 6, 0, 0),
 'start_mth': 1,
 'start_year': 2017,
 'survey_id': '1936234',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6}
{'_id': ObjectId('5f695a1d145902aefb85beb8'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5514984,
 'long': 145.3509064,
 'record_id': '10005156',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 5, 0, 0),
 'start_mth': 1,
 'start_year': 2017,
 'survey_id': '1936166',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85beb9'),
 'comm_name': 'Hooded Plover',
 'lat': -37.896499600000006,
 'long': 147.8816071,
 'record_id': '10005182',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 5, 0, 0),
 'start_mth': 1,
 'start_year': 2017,
 'survey_id': '1936179',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5}
{'_id': ObjectId('5f695a1d145902aefb85beba'),
 'comm_name': 'Hooded Plover',
 'lat': -37.8795013,
 'long': 147.9911957,
 'record_id': '10005169',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 5, 0, 0),
 'start_mth': 1,
 'start_year': 2017,
 'survey_id': '1936172',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5}
{'_id': ObjectId('5f695a1d145902aefb85bebb'),
 'comm_name': 'Hooded Plover',
 'lat': -37.9617004,
 'long': 147.76269530000002,
 'record_id': '10004951',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 3, 0, 0),
 'start_mth': 1,
 'start_year': 2017,
 'survey_id': '1936064',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bebc'),
 'comm_name': 'Hooded Plover',
 'lat': -38.4506989,
 'long': 144.1159058,
 'record_id': '9981335',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 2, 0, 0),
 'start_mth': 1,
 'start_year': 2017,
 'survey_id': '1925949',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bebd'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9981235',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 1, 0, 0),
 'start_mth': 1,
 'start_year': 2017,
 'survey_id': '1925906',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bebe'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10004392',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 1, 0, 0),
 'start_mth': 1,
 'start_year': 2017,
 'survey_id': '1935885',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5}
{'_id': ObjectId('5f695a1d145902aefb85bebf'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10004671',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 1, 0, 0),
 'start_mth': 1,
 'start_year': 2017,
 'survey_id': '1935953',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85bec0'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10004409',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 1, 0, 0),
 'start_mth': 1,
 'start_year': 2017,
 'survey_id': '1935892',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85bec1'),
 'comm_name': 'Hooded Plover',
 'lat': -38.281299600000004,
 'long': 144.4326935,
 'record_id': '9981268',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 1, 0, 0),
 'start_mth': 1,
 'start_year': 2017,
 'survey_id': '1925919',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85bec2'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2882996,
 'long': 144.48609919999998,
 'record_id': '8493161',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 12, 31, 0, 0),
 'start_mth': 12,
 'start_year': 2016,
 'survey_id': '1343351',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bec3'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9980603',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 12, 31, 0, 0),
 'start_mth': 12,
 'start_year': 2016,
 'survey_id': '1925849',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bec4'),
 'comm_name': 'Hooded Plover',
 'lat': -38.394699100000004,
 'long': 144.2525024,
 'record_id': '9980507',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 12, 31, 0, 0),
 'start_mth': 12,
 'start_year': 2016,
 'survey_id': '1925844',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bec5'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9978836',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 12, 24, 0, 0),
 'start_mth': 12,
 'start_year': 2016,
 'survey_id': '1925671',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bec6'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9978656',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 12, 23, 0, 0),

 'start_year': 2016,
 'survey_id': '1924281',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bee2'),
 'comm_name': 'Hooded Plover',
 'lat': -38.0545006,
 'long': 140.99560549999998,
 'record_id': '10121709',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 11, 9, 0, 0),
 'start_mth': 11,
 'start_year': 2016,
 'survey_id': '1981567',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bee3'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3181,
 'long': 144.3480988,
 'record_id': '9956151',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 10, 25, 0, 0),
 'start_mth': 10,
 'start_year': 2016,
 'survey_id': '1923672',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bee4'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9955824',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 10, 24, 0, 0),
 'start_mth': 10,
 'start_year': 2016,
 'survey_id': '1923640',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bee5'),
 'comm_name': 'Hooded Plover',
 'lat': -38.28599929999999,
 'long': 144.420105,
 'record_id': '9954495',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 10, 19, 0, 0),
 'start_mth': 10,
 'start_year': 2016,
 'survey_id': '1923524',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bee6'),
 'comm_name': 'Hooded Plover',
 'lat': -38.429798100000006,
 'long': 144.1813965,
 'record_id': '9951431',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 10, 11, 0, 0),
 'start_mth': 10,
 'start_year': 2016,
 'survey_id': '1923311',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5}
{'_id': ObjectId('5f695a1d145902aefb85bee7'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9951171',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 10, 9, 0, 0),
 'start_mth': 10,
 'start_year': 2016,
 'survey_id': '1923283',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85bee8'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9949843',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 10, 5, 0, 0),
 'start_mth': 10,
 'start_year': 2016,
 'survey_id': '1923173',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bee9'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9949880',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 10, 5, 0, 0),
 'start_mth': 10,
 'start_year': 2016,
 'survey_id': '1923176',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85beea'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9949781',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 10, 5, 0, 0),
 'start_mth': 10,
 'start_year': 2016,
 'survey_id': '1923165',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85beeb'),
 'comm_name': 'Hooded Plover',
 'lat': -38.28599929999999,
 'long': 144.420105,
 'record_id': '9949732',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 10, 5, 0, 0),
 'start_mth': 10,
 'start_year': 2016,
 'survey_id': '1923160',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85beec'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7341995,
 'long': 143.68609619999998,
 'record_id': '9944133',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 9, 14, 0, 0),
 'start_mth': 9,
 'start_year': 2016,
 'survey_id': '1922721',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85beed'),
 'comm_name': 'Hooded Plover',
 'lat': -38.28599929999999,
 'long': 144.420105,
 'record_id': '9940656',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 8, 28, 0, 0),
 'start_mth': 8,
 'start_year': 2016,
 'survey_id': '1922412',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85beee'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9933958',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 8, 2, 0, 0),
 'start_mth': 8,
 'start_year': 2016,
 'survey_id': '1921813',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 8}
{'_id': ObjectId('5f695a1d145902aefb85beef'),
 'comm_name': 'Hooded Plover',
 'lat': -38.281299600000004,
 'long': 144.4328003,
 'record_id': '9933961',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 8, 2, 0, 0),
 'start_mth': 8,
 'start_year': 2016,
 'survey_id': '1921814',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6}
{'_id': ObjectId('5f695a1d145902aefb85bef0'),
 'comm_name': 'Hooded Plover',
 'lat': -38.751499200000005,
 'long': 143.3135986,
 'record_id': '9933824',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 8, 1, 0, 0),
 'start_mth': 8,
 'start_year': 2016,
 'survey_id': '1921798',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bef1'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9931994',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 7, 26, 0, 0),
 'start_mth': 7,
 'start_year': 2016,
 'survey_id': '1921643',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bef2'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9932101',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 7, 26, 0, 0),
 'start_mth': 7,
 'start_year': 2016,
 'survey_id': '1921657',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bef3'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7811012,
 'long': 143.662796,
 'record_id': '9932088',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 7, 26, 0, 0),
 'start_mth': 7,
 'start_year': 2016,
 'survey_id': '1921656',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85bef4'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7528992,
 'long': 143.6651001,
 'record_id': '9931806',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 7, 25, 0, 0),
 'start_mth': 7,
 'start_year': 2016,
 'survey_id': '1921631',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bef5'),
 'comm_name': 'Hooded Plover',
 'lat': -38.281299600000004,
 'long': 144.4326935,
 'record_id': '9931930',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 7, 25, 0, 0),
 'start_mth': 7,
 'start_year': 2016,
 'survey_id': '1921639',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85bef6'),
 'comm_name': 'Hooded Plover',
 'lat': -38.4285011,
 'long': 144.1833038,
 'record_id': '9928364',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 7, 9, 0, 0),
 'start_mth': 7,
 'start_year': 2016,
 'survey_id': '1921309',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6}
{'_id': ObjectId('5f695a1d145902aefb85bef7'),
 'comm_name': 'Hooded Plover',
 'lat': -38.281299600000004,
 'long': 144.4326935,
 'record_id': '9927792',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 7, 7, 0, 0),
 'start_mth': 7,
 'start_year': 2016,
 'survey_id': '1921260',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 14}
{'_id': ObjectId('5f695a1d145902aefb85bef8'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9925250',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 6, 26, 0, 0),
 'start_mth': 6,
 'start_year': 2016,
 'survey_id': '1920996',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85bef9'),
 'comm_name': 'Hooded Plover',
 'lat': -38.281299600000004,
 'long': 144.4328003,
 'record_id': '9923973',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 6, 23, 0, 0),
 'start_mth': 6,
 'start_year': 2016,
 'survey_id': '1920914',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 12}
{'_id': ObjectId('5f695a1d145902aefb85befa'),
 'comm_name': 'Hooded Plover',
 'lat': -38.4642982,
 'long': 144.0944061,
 'record_id': '9922634',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 6, 12, 0, 0),
 'start_mth': 6,
 'start_year': 2016,
 'survey_id': '1920782',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5}
{'_id': ObjectId('5f695a1d145902aefb85befb'),
 'comm_name': 'Hooded Plover',
 'lat': -38.4668999,
 'long': 144.093399,
 'record_id': '9918808',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 5, 28, 0, 0),
 'start_mth': 5,
 'start_year': 2016,
 'survey_id': '1920396',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5}
{'_id': ObjectId('5f695a1d145902aefb85befc'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7811012,
 'long': 143.662796,
 'record_id': '9917167',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 5, 21, 0, 0),
 'start_mth': 5,
 'start_year': 2016,
 'survey_id': '1920250',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85befd'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9915519',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 5, 15, 0, 0),
 'start_mth': 5,
 'start_year': 2016,
 'survey_id': '1920125',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85befe'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7811012,
 'long': 143.662796,
 'record_id': '9913249',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 5, 13, 0, 0),
 'start_mth': 5,
 'start_year': 2016,
 'survey_id': '1919932',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85beff'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7811012,
 'long': 143.662796,
 'record_id': '9911759',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 5, 5, 0, 0),
 'start_mth': 5,
 'start_year': 2016,
 'survey_id': '1919780',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85bf00'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7811012,
 'long': 143.662796,
 'record_id': '9910633',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 4, 30, 0, 0),
 'start_mth': 4,
 'start_year': 2016,
 'survey_id': '1919628',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5}
{'_id': ObjectId('5f695a1d145902aefb85bf01'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7528992,
 'long': 143.6651001,
 'record_id': '9910648',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 4, 30, 0, 0),
 'start_mth': 4,
 'start_year': 2016,
 'survey_id': '1919632',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bf02'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7811012,
 'long': 143.662796,
 'record_id': '9907884',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 4, 24, 0, 0),
 'start_mth': 4,
 'start_year': 2016,
 'survey_id': '1919356',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85bf03'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7811012,
 'long': 143.662796,
 'record_id': '9905151',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 4, 17, 0, 0),
 'start_mth': 4,
 'start_year': 2016,
 'survey_id': '1919098',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bf04'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7528992,
 'long': 143.6651001,
 'record_id': '9901973',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 4, 11, 0, 0),
 'start_mth': 4,
 'start_year': 2016,
 'survey_id': '1918837',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 8}
{'_id': ObjectId('5f695a1d145902aefb85bf05'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7811012,
 'long': 143.662796,
 'record_id': '9902369',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 4, 11, 0, 0),
 'start_mth': 4,
 'start_year': 2016,
 'survey_id': '1918866',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 10}
{'_id': ObjectId('5f695a1d145902aefb85bf06'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7811012,
 'long': 143.662796,
 'record_id': '9902448',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 4, 11, 0, 0),
 'start_mth': 4,
 'start_year': 2016,
 'survey_id': '1918871',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 10}
{'_id': ObjectId('5f695a1d145902aefb85bf07'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7811012,
 'long': 143.662796,
 'record_id': '9902483',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 4, 11, 0, 0),
 'start_mth': 4,
 'start_year': 2016,
 'survey_id': '1918872',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 10}
{'_id': ObjectId('5f695a1d145902aefb85bf08'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7528992,
 'long': 143.6651001,
 'record_id': '9902288',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 4, 11, 0, 0),
 'start_mth': 4,
 'start_year': 2016,
 'survey_id': '1918863',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 8}
{'_id': ObjectId('5f695a1d145902aefb85bf09'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7811012,
 'long': 143.662796,
 'record_id': '9902641',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 4, 11, 0, 0),
 'start_mth': 4,
 'start_year': 2016,
 'survey_id': '1918882',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 10}
{'_id': ObjectId('5f695a1d145902aefb85bf0a'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7528992,
 'long': 143.6651001,
 'record_id': '9902553',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 4, 11, 0, 0),
 'start_mth': 4,
 'start_year': 2016,
 'survey_id': '1918878',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 8}
{'_id': ObjectId('5f695a1d145902aefb85bf0b'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7811012,
 'long': 143.662796,
 'record_id': '9901295',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 4, 10, 0, 0),
 'start_mth': 4,
 'start_year': 2016,
 'survey_id': '1918781',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bf0c'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7811012,
 'long': 143.662796,
 'record_id': '9901312',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 4, 10, 0, 0),
 'start_mth': 4,
 'start_year': 2016,
 'survey_id': '1918783',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bf0d'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7811012,
 'long': 143.662796,
 'record_id': '9901426',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 4, 10, 0, 0),
 'start_mth': 4,
 'start_year': 2016,
 'survey_id': '1918793',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bf0e'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7811012,
 'long': 143.662796,
 'record_id': '9898990',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 4, 4, 0, 0),
 'start_mth': 4,
 'start_year': 2016,
 'survey_id': '1918614',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85bf0f'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7355995,
 'long': 143.6844025,
 'record_id': '9898360',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 4, 2, 0, 0),
 'start_mth': 4,
 'start_year': 2016,
 'survey_id': '1918573',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85bf10'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7355995,
 'long': 143.6844025,
 'record_id': '9898357',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 4, 2, 0, 0),
 'start_mth': 4,
 'start_year': 2016,
 'survey_id': '1918572',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85bf11'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7770004,
 'long': 143.6638947,
 'record_id': '9896022',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 3, 29, 0, 0),
 'start_mth': 3,
 'start_year': 2016,
 'survey_id': '1918381',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85bf12'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9890910',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 3, 18, 0, 0),
 'start_mth': 3,
 'start_year': 2016,
 'survey_id': '1917975',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6}
{'_id': ObjectId('5f695a1d145902aefb85bf13'),
 'comm_name': 'Hooded Plover',
 'lat': -39.01549910000001,
 'long': 146.29229740000002,
 'record_id': '6953657',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 3, 16, 0, 0),
 'start_mth': 3,
 'start_year': 2016,
 'survey_id': '1107769',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5}
{'_id': ObjectId('5f695a1d145902aefb85bf14'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7784996,
 'long': 143.6683044,
 'record_id': '9887055',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 3, 5, 0, 0),
 'start_mth': 3,
 'start_year': 2016,
 'survey_id': '1917566',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bf15'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7811012,
 'long': 143.662796,
 'record_id': '9885709',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 3, 2, 0, 0),
 'start_mth': 3,
 'start_year': 2016,
 'survey_id': '1917453',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bf16'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9883967',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 2, 26, 0, 0),
 'start_mth': 2,
 'start_year': 2016,
 'survey_id': '1917329',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85bf17'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9881618',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 2, 20, 0, 0),
 'start_mth': 2,
 'start_year': 2016,
 'survey_id': '1917171',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 7}

 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bf2e'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3139,
 'long': 144.35839840000003,
 'record_id': '9855078',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 12, 13, 0, 0),
 'start_mth': 12,
 'start_year': 2015,
 'survey_id': '1915389',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bf2f'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3139,
 'long': 144.35839840000003,
 'record_id': '9855098',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 12, 13, 0, 0),
 'start_mth': 12,
 'start_year': 2015,
 'survey_id': '1915390',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bf30'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9851193',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 12, 6, 0, 0),
 'start_mth': 12,
 'start_year': 2015,
 'survey_id': '1915175',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85bf31'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9850542',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 12, 6, 0, 0),
 'start_mth': 12,
 'start_year': 2015,
 'survey_id': '1915135',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85bf32'),
 'comm_name': 'Hooded Plover',
 'lat': -37.958999600000006,
 'long': 147.767807,
 'record_id': '9005461',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 11, 30, 0, 0),
 'start_mth': 11,
 'start_year': 2015,
 'survey_id': '1745888',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bf33'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3240013,
 'long': 144.3321075,
 'record_id': '9848626',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 11, 30, 0, 0),
 'start_mth': 11,
 'start_year': 2015,
 'survey_id': '1915024',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85bf34'),
 'comm_name': 'Hooded Plover',
 'lat': -38.28599929999999,
 'long': 144.420105,
 'record_id': '9846979',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 11, 26, 0, 0),
 'start_mth': 11,
 'start_year': 2015,
 'survey_id': '1914945',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bf35'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9846519',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 11, 24, 0, 0),
 'start_mth': 11,
 'start_year': 2015,
 'survey_id': '1914914',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85bf36'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9845278',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 11, 21, 0, 0),
 'start_mth': 11,
 'start_year': 2015,
 'survey_id': '1914836',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85bf37'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7528992,
 'long': 143.6651001,
 'record_id': '9844671',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 11, 19, 0, 0),
 'start_mth': 11,
 'start_year': 2015,
 'survey_id': '1914794',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bf38'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7826996,
 'long': 143.657196,
 'record_id': '9844399',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 11, 18, 0, 0),
 'start_mth': 11,
 'start_year': 2015,
 'survey_id': '1914773',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bf39'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7826996,
 'long': 143.657196,
 'record_id': '9844096',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 11, 17, 0, 0),
 'start_mth': 11,
 'start_year': 2015,
 'survey_id': '1914753',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bf3a'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9843374',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 11, 15, 0, 0),
 'start_mth': 11,
 'start_year': 2015,
 'survey_id': '1914702',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bf3b'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3022995,
 'long': 144.375,
 'record_id': '9839283',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 11, 5, 0, 0),
 'start_mth': 11,
 'start_year': 2015,
 'survey_id': '1914430',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bf3c'),
 'comm_name': 'Hooded Plover',
 'lat': -38.28599929999999,
 'long': 144.420105,
 'record_id': '9838153',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 11, 3, 0, 0),
 'start_mth': 11,
 'start_year': 2015,
 'survey_id': '1914363',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bf3d'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9835768',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 10, 28, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1914203',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85bf3e'),
 'comm_name': 'Hooded Plover',
 'lat': -38.28599929999999,
 'long': 144.420105,
 'record_id': '9834605',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 10, 24, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1914124',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bf3f'),
 'comm_name': 'Hooded Plover',
 'lat': -38.457199100000004,
 'long': 144.10729980000002,
 'record_id': '9833796',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 10, 21, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1914067',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bf40'),
 'comm_name': 'Hooded Plover',
 'lat': -38.28599929999999,
 'long': 144.420105,
 'record_id': '9832619',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 10, 18, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1914003',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85bf41'),
 'comm_name': 'Hooded Plover',
 'lat': -38.28599929999999,
 'long': 144.420105,
 'record_id': '9831942',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 10, 18, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1913927',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85bf42'),
 'comm_name': 'Hooded Plover',
 'lat': -38.28599929999999,
 'long': 144.420105,
 'record_id': '9832014',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 10, 18, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1913951',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85bf43'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9830341',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 10, 17, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1913844',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bf44'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7528992,
 'long': 143.6651001,
 'record_id': '9829683',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 10, 15, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1913807',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bf45'),
 'comm_name': 'Hooded Plover',
 'lat': -38.28599929999999,
 'long': 144.420105,
 'record_id': '9827719',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 10, 10, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1913696',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bf46'),
 'comm_name': 'Hooded Plover',
 'lat': -38.28599929999999,
 'long': 144.420105,
 'record_id': '9827972',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 10, 10, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1913709',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bf47'),
 'comm_name': 'Hooded Plover',
 'lat': -38.28599929999999,
 'long': 144.420105,
 'record_id': '9827877',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 10, 10, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1913702',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bf48'),
 'comm_name': 'Hooded Plover',
 'lat': -38.735199,
 'long': 143.686203,
 'record_id': '9827168',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 10, 8, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1913650',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1}
{'_id': ObjectId('5f695a1d145902aefb85bf49'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9826882',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 10, 7, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1913626',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bf4a'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9826863',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 10, 7, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1913624',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bf4b'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9826733',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 10, 7, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1913610',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bf4c'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9826772',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 10, 7, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1913613',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bf4d'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9826813',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 10, 7, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1913619',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bf4e'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9826921',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 10, 7, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1913629',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bf4f'),
 'comm_name': 'Hooded Plover',
 'lat': -38.28599929999999,
 'long': 144.420105,
 'record_id': '9826107',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 10, 4, 0, 0),
 'start_mth': 10,
 'start_year': 2015,
 'survey_id': '1913559',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bf50'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9823838',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 9, 27, 0, 0),
 'start_mth': 9,
 'start_year': 2015,
 'survey_id': '1913393',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bf51'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7811012,
 'long': 143.662796,
 'record_id': '9823207',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 9, 26, 0, 0),
 'start_mth': 9,
 'start_year': 2015,
 'survey_id': '1913352',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5}
{'_id': ObjectId('5f695a1d145902aefb85bf52'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9815558',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 9, 2, 0, 0),
 'start_mth': 9,
 'start_year': 2015,
 'survey_id': '1912813',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bf53'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9815608',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 9, 2, 0, 0),
 'start_mth': 9,
 'start_year': 2015,
 'survey_id': '1912819',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bf54'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7528992,
 'long': 143.6651001,
 'record_id': '9809244',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 8, 15, 0, 0),
 'start_mth': 8,
 'start_year': 2015,
 'survey_id': '1912350',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 7}
{'_id': ObjectId('5f695a1d145902aefb85bf55'),
 'comm_name': 'Hooded Plover',
 'lat': -38.166698499999995,
 'long': 141.2333069,
 'record_id': '10121635',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 8, 1, 0, 0),
 'start_mth': 8,
 'start_year': 2015,
 'survey_id': '1981534',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 36}
{'_id': ObjectId('5f695a1d145902aefb85bf56'),
 'comm_name': 'Hooded Plover',
 'lat': -38.166698499999995,
 'long': 141.2333069,
 'record_id': '10121630',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 7, 11, 0, 0),
 'start_mth': 7,
 'start_year': 2015,
 'survey_id': '1981531',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6}
{'_id': ObjectId('5f695a1d145902aefb85bf57'),
 'comm_name': 'Hooded Plover',
 'lat': -37.7901001,
 'long': 149.2671051,
 'record_id': '6917579',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 7, 3, 0, 0),
 'start_mth': 7,
 'start_year': 2015,
 'survey_id': '1094257',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85bf58'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7528992,
 'long': 143.6651001,
 'record_id': '9795791',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 6, 25, 0, 0),
 'start_mth': 6,
 'start_year': 2015,
 'survey_id': '1911211',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85bf59'),
 'comm_name': 'Hooded Plover',
 'lat': -38.457199100000004,
 'long': 144.10729980000002,
 'record_id': '9792158',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 6, 7, 0, 0),
 'start_mth': 6,
 'start_year': 2015,
 'survey_id': '1910930',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bf5a'),
 'comm_name': 'Hooded Plover',
 'lat': -38.457199100000004,
 'long': 144.10729980000002,
 'record_id': '9792109',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 6, 7, 0, 0),
 'start_mth': 6,
 'start_year': 2015,
 'survey_id': '1910928',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bf5b'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9790203',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 5, 30, 0, 0),
 'start_mth': 5,
 'start_year': 2015,
 'survey_id': '1910766',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bf5c'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9789447',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 5, 30, 0, 0),
 'start_mth': 5,
 'start_year': 2015,
 'survey_id': '1910704',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bf5d'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3037987,
 'long': 144.3771057,
 'record_id': '9786139',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 5, 16, 0, 0),
 'start_mth': 5,
 'start_year': 2015,
 'survey_id': '1910457',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85bf5e'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3037987,
 'long': 144.3771057,
 'record_id': '9786625',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 5, 16, 0, 0),
 'start_mth': 5,
 'start_year': 2015,
 'survey_id': '1910480',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4}
{'_id': ObjectId('5f695a1d145902aefb85bf5f'),
 'comm_name': 'Hooded Plover',
 'lat': -38.28599929999999,
 'long': 144.420105,
 'record_id': '9775742',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 3, 30, 0, 0),
 'start_mth': 3,
 'start_year': 2015,
 'survey_id': '1909694',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2}
{'_id': ObjectId('5f695a1d145902aefb85bf60'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9773461',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 3, 19, 0, 0),
 'start_mth': 3,
 'start_year': 2015,
 'survey_id': '1909524',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6}
{'_id': ObjectId('5f695a1d145902aefb85bf61'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9773232',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 3, 17, 0, 0),
 'start_mth': 3,
 'start_year': 2015,
 'survey_id': '1909505',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 8}
{'_id': ObjectId('5f695a1d145902aefb85bf62'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9771084',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 2, 28, 0, 0),
 'start_mth': 2,
 'start_year': 2015,
 'survey_id': '1909292',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3}
{'_id': ObjectId('5f695a1d145902aefb85bf63'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9771088',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 2, 28, 0, 0),
 'start_mth': 2,

In [43]:
for record in scraped_fauna.find():
    pprint(record)

{'_id': ObjectId('5f695a1d145902aefb85bf75'),
 'animal_name': 'Giant Burrowing Frog',
 'image_alternative': 'Giant Burrowing Frog on wet rocks side view. The frog '
                      'is dark brown with yellow lips and spots on its side.',
 'image_url': 'https://www.zoo.org.au/media/2056/23479_giant_burrowing_frog_-_credit_required_offsite1.jpg?anchor=center&mode=crop&quality=75&width=2000&height=570&rnd=132131643480000000',
 'introduction': 'Although we know that populations of the Giant Burrowing '
                 'Frog are in decline, this elusive digger is one of '
                 'Victorias most poorly understood species.',
 'threat_paragraph': "['Over the next five years, Zoos Victoria will carry out "
                     'important on-the-ground surveys to discover more about '
                     'the Giant Burrowing Frog and its remote habitat. In the '
                     'meantime, we are securing the wellbeing of the '
                     "individual frogs in our care.', 'Photo: Rohan Bilney', "
                     "'Conservation Status']"}
{'_id': ObjectId('5f695a1d145902aefb85bf76'),
 'animal_name': "Leadbeater's Possum",
 'image_alternative': 'Close up view of the face of a Leadbeater Possum '
                      'wrapped in blanket. Big eyes and fine facial details '
                      'can be seen as it looks to the right of the camera.',
 'image_url': 'https://www.zoo.org.au/media/2057/22861_leadbeater_s_possum_monitoring_offsite.jpg?anchor=center&mode=crop&quality=75&width=2000&height=570&rnd=132131644540000000',
 'introduction': "Once thought to be extinct, the Leadbeater's Possum was "
                 'rediscovered in 1961.',
 'threat_paragraph': 'The major threats\n'
                     "The loss of hollow-bearing trees is the possums' biggest "
                     'threat. Hollows can take 150 years to develop in living '
                     'trees, and old trees with suitable hollows have '
                     'decreased due to logging and bushfires. The animals '
                     'vulnerability to fire makes climate change a severe '
                     'danger.'}
{'_id': ObjectId('5f695a1d145902aefb85bf77'),
 'animal_name': 'Mallee Emu-wren',
 'image_alternative': 'Mallee Emu-wren in long dry grass looking at the '
                      'camera. It has a bright orange head, white chest and a '
                      'pale orange body.',
 'image_url': 'https://www.zoo.org.au/media/1961/23483_mallee_emu-wren_offsite.jpg?anchor=center&mode=crop&quality=75&width=2000&height=570&rnd=132131595290000000',
 'introduction': 'The Mallee Emu-wren is particularly vulnerable to the '
                 'impacts of bushfire.',
 'threat_paragraph': "['In fact, it was a series of fires that caused the "
                     'Mallee Emu-wren to become extinct in South Australia. '
                     'The tiny songbird was recently moved from one location '
                     'and successfully returned to its former range in that '
                     'state. The Mallee Emu- wren also exists in three '
                     "populations across Victorias largest Mallee parks.', "
                     "'It is a striking little bird. The male features a sky "
                     'blue face and bib which contrasts with a rusty orange '
                     "cap.', 'Bush fires are a significant risk for the Mallee "
                     'Emu-wren. The birds restriction to a small number of '
                     "locations has also prompted great concern.']"}
{'_id': ObjectId('5f695a1d145902aefb85bf78'),
 'animal_name': 'Mountain Pygmy-possum',
 'image_alternative': 'Mountain Pygmy Possum standing on its hind legs holding '
                      'a peanut that was given as a christmas gift.',
 'image_url': 'https://www.zoo.org.au/media/2058/16910_mountain_pygmy-possum_christmas_enrichment_2018_healesville_sanctuary.jpg?anchor=center&mode=crop&quality=75&width=2000&height=570&rnd=132131645290000000',
 'introduction': 'Mountain Pygmy-possums were thought to be extinct until they '
                 'were rediscovered at Mt Hotham in the 1960s.',
 'threat_paragraph': 'The major threats \n'
                     'Climate change, the loss of habitat and predators, '
                     'mainly feral cats and foxes, are all severe threats to '
                     'the Mountain Pygmy-possum.\xa0\n'
                     "An emerging threat is the reduction in the possum's key "
                     'food source over spring, the Bogong Moth. This is a '
                     'currently particular focus within the Mountain '
                     'Pygmy-possum Recovery Team.'}
{'_id': ObjectId('5f695a1d145902aefb85bf79'),
 'animal_name': 'New Holland Mouse',
 'image_alternative': 'New Holland Mouse getting a health check wrapped in '
                      'blanket with just its head peaking out.',
 'image_url': 'https://www.zoo.org.au/media/1732/new-holland-mouse.jpg?anchor=center&mode=crop&quality=75&width=2000&height=570&rnd=132127425380000000',
 'introduction': 'The New Holland Mouse is classified as extinct in seven out '
                 'of 12 of its known Victorian locations.',
 'threat_paragraph': 'The major threats\n'
                     'The New Holland Mouse is increasingly under threat from '
                     'loss of habitat as well as predators such as feral cats '
                     'and foxes. Dieback caused by Cinnamon Fungus to its food '
                     'source is a major issue. Bushfires and the competition '
                     'from introduced rodents also put this native mouse at '
                     'risk.'}
{'_id': ObjectId('5f695a1d145902aefb85bf7a'),
 'animal_name': 'Regent Honeyeater',
 'image_alternative': 'Regent Honeyeater bird on a branch looking down. It is '
                      'mostly black with yellow speckles.',
 'image_url': 'https://www.zoo.org.au/media/2055/22249_regent_honeyeater_melbourne_zoo.jpg?center=0.42690058479532161,0.39666666666666667&mode=crop&quality=75&width=2000&height=570&rnd=132131643320000000',
 'introduction': 'The Regent Honeyeater has been in decline since the 1940s, '
                 'and its soft, metallic chiming call is rarely heard.',
 'threat_paragraph': 'The major threats\n'
                     'The loss of the Box-Ironbark forests is the major reason '
                     'for the diminishing number of Regent Honeyeaters. The '
                     'forests have been cut down for agriculture, suffer from '
                     'dieback, and have been removed for their timber. Many '
                     'large, spreading trees in the woodlands have been lost '
                     'through forestry practices.'}
{'_id': ObjectId('5f695a1d145902aefb85bf7b'),
 'animal_name': 'Swift Parrot',
 'image_alternative': 'Green Swift Parrot perched on a branch looking sideways '
                      'towards the camera.',
 'image_url': 'https://www.zoo.org.au/media/1960/23484_swift_parrot_offsite.jpg?center=0.27666666666666667,0.59666666666666668&mode=crop&quality=75&width=2000&height=570&rnd=132131594410000000',
 'introduction': 'The Swift Parrot is critically endangered.',
 'threat_paragraph': "['Unless we can solve the issues surrounding its "
                     'continued existence, theres a 31% likelihood the parrot '
                     "will become extinct over the next 20 years.', "
                     "'Streamlined for speed, the Swift Parrot is one of the "
                     'few truly migratory parrots in the world. The Swift '
                     'Parrot is small, brightly coloured and feeds on nectar '
                     'from flowering eucalypts. In autumn, the entire wild '
                     'population migrates from Tasmania to Victorias Great '
                     "Dividing Range.', 'Major habitat loss has created a "
                     'serious problem for the Swift Parrot. More than 70% of '
                     'the forests and woodlands they rely upon is no longer '
                     "present.']"}
{'_id': ObjectId('5f695a1d145902aefb85bf7c'),
 'animal_name': 'Greater Glider',
 'image_alternative': 'Greater Glider',
 'image_url': 'https://www.environment.vic.gov.au/__data/assets/image/0024/440367/Greater-Glider-black-Steve-Smith.jpg',
 'introduction': None,
 'threat_paragraph': 'Species InformationThe Greater Glider is Australias '
                     'largest gliding mammal. Greater Gliders have thick, dark '
                     'grey-brown fur on their back and creamy white fur on '
                     'their under-side, and can be found in different dark and '
                     'light-coloured morphs. They have a long, furry '
                     'prehensile tail and large furry ears.Greater Gliders are '
                     'found along the east coast of mainland Australia, from '
                     'central Queensland to central Victoria. Within Victoria, '
                     'Greater Gliders are distributed throughout forested '
                     'parts of eastern Victoria, including inland and southern '
                     'falls of the Great Dividing Range, as well as the '
                     'Strzelecki and Strathbogie Ranges. In eastern Victoria, '
                     'Greater Gliders are absent from high altitude alpine and '
                     'sub-alpine habitats, Wilsons Promontory and cleared '
                     'areas. They can be found as far west as Daylesford and '
                     'the surrounding forested areas but do not occur in the '
                     'Otway Ranges.Greater Gliders are forest dependent and '
                     'prefer older tree age classes in moist forest types. '
                     'They use hollow-bearing trees for shelter and nesting, '
                     'with each family group using multiple den trees within '
                     'its home range. They eat mainly young eucalypt leaves, '
                     'with a preference for certain species.ThreatsGiven their '
                     'high dependence on forest and large hollow-bearing '
                     'trees, habitat loss and fragmentation through clearing '
                     'and bushfires pose a threat to Greater Gliders. Climate '
                     'change may also contribute to the contraction of '
                     'suitable habitat. Fragmented populations have a reduced '
                     'ability to recolonise suitable habitat and are at risk '
                     'of genetic decline.Some populations have been found to '
                     'have an increased risk of predation from Powerful '
                     'Owls.Whats being doneThere has been an array of recent '
                     'surveys conducted for the Greater Glider, '
                     'including:surveys of the Strathbogie Ranges in 2017 to '
                     'determine distribution and abundance;pre-harvest surveys '
                     'of proposed timber coupes as part of the Forest '
                     'Protection Survey Program; andlandscape scale surveys as '
                     'part of the modernisation of Victorias Regional Forest '
                     'Agreements.Parks Victoria manages large areas of '
                     'suitable habitat for the Greater Glider in the parks and '
                     'reserves system.Greater Gliders are among the species '
                     'being monitored as part of the long-term monitoring of '
                     'montane ash forests in the Central Highlands conducted '
                     'by the Australian National University.The Arthur Rylah '
                     'Institute (part of DELWP) has developed habitat '
                     'distribution models to assist in predicting where '
                     'suitable habitat might occur.The University of Melbourne '
                     'is undertaking spatial analyses to identify the best '
                     'areas for long-term protection.Greening Australia is '
                     'leading revegetation work across private land to expand '
                     'and link habitat in the Strzelecki Ranges as part of the '
                     'National Landcare Program.More information on new '
                     'measures to protect this species can be found in the '
                     "Action Statement.Whos helpingConserving Victoria's "
                     'threatened species requires a collaborative approach. '
                     'There are a number of organisations and groups working '
                     'to protect Greater Gliders, these include:Arthur Rylah '
                     'Institute, Department of Environment, Land, Water and '
                     'PlanningAustralian National UniversityGreening '
                     'AustraliaParks VictoriaUniversity of '
                     'MelbourneResourcesGreater Glider Action Statement (PDF, '
                     '1.8 MB)'}
{'_id': ObjectId('5f695a1d145902aefb85bf7d'),
 'animal_name': 'Hooded Plover',
 'image_alternative': 'Hooded Plover',
 'image_url': 'https://www.environment.vic.gov.au/__data/assets/image/0030/428808/IMG_3825lr.jpg',
 'introduction': 'Species Information\n'
                 '\n'
                 'Hooded Plovers are a resident shorebird found along the '
                 'southern and eastern coasts of Australia. Hooded Plovers are '
                 'ocean beach specialists, highly selective of beach habitats '
                 'that support their survival and reproductive needs. Each '
                 'pair occupies a distinct territory, and the species is '
                 'widely dispersed.Hooded Plovers nest from August to March '
                 '(and sometimes April), which overlaps with the peak period '
                 'of human use of their beach habitats. They generally lay 1-3 '
                 'eggs in a simple nest scrape on the beach above the high '
                 'tide mark, foredune or dune, preferring open areas with '
                 'sparse to no vegetation. Incubation is for 28 days and they '
                 'use passive nest defence and heavy camouflage of the eggs to '
                 'reduce the chances of predation.After hatching it takes 35 '
                 'days until the chicks can fly. During this period, they are '
                 'active on the beach needing to find their own food, being '
                 'warned into hiding by calls from their parents. The chicks '
                 'will run to cover and crouch until the perceived threat is '
                 'gone and the parents call them out from hiding. The chicks '
                 'require brooding in their first two weeks as they are unable '
                 "to thermoregulate. They feed mostly at the water's edge and "
                 'along the wrack line amongst beach cast seaweed. They '
                 'commonly run from danger toward the dune and they crouch by '
                 'or under shelter such as rocks, vegetation or beach debris.',
 'threat_paragraph': 'Threats\n'
                     '\n'
                     'Hooded Plovers often share their ocean beach habitats '
                     'with people. Their habitat is suffering loss and '
                     'degradation via coastal development, weed infestations '
                     'and introductions of predators. Their nest defence '
                     'strategy is to leave the nest when a predator approaches '
                     'and stay distant from the eggs until the predator leaves '
                     'and it is safe to return. If the adult remains away for '
                     'too long or if disturbances are too frequent, the eggs '
                     'can be exposed to harsh temperatures that lead to the '
                     'death of the embryo inside or can be exposed to other '
                     'approaching predators. People using beaches for '
                     'recreation pose a high disturbance threat to incubating '
                     'birds, and some threats have been identified as having '
                     'higher disturbance impacts, for example dogs off leash '
                     'and recreational activities.'}

In [44]:
type(vba_fauna.find())

pymongo.cursor.Cursor

In [45]:
type(scraped_fauna.find())

pymongo.cursor.Cursor

## Test aggregations by animal names

In [46]:
# Aggregate total sightings by each animal (represented in common names, science names, taxon ids and taxon types) over 5 years
metadata = list(
    vba_fauna.aggregate(
    [
          {
                  "$group" : {
                      "_id" :"$comm_name",
                      "scientific_name": { "$first": "$sci_name" },
                      "taxon_id": { "$first": "$taxon_id" },
                      "taxon_type": { "$first": "$taxon_type" },
                      "total_sightings": { "$sum": "$totalcount" },
                  }
          }
    ]))

metadata

[{'_id': 'Mallee Emu-wren',
  'science_name': 'Stipiturus mallee',
  'taxon_id': '10527',
  'taxon_type': 'Passerine birds',
  'totalSightings': 722},
 {'_id': 'Swift Parrot',
  'science_name': 'Lathamus discolor',
  'taxon_id': '10309',
  'taxon_type': 'Non-passerine birds',
  'totalSightings': 2695},
 {'_id': "Leadbeater's Possum",
  'science_name': 'Gymnobelideus leadbeateri',
  'taxon_id': '11141',
  'taxon_type': 'Mammals',
  'totalSightings': 654},
 {'_id': 'Regent Honeyeater',
  'science_name': 'Anthochaera phrygia',
  'taxon_id': '10603',
  'taxon_type': 'Passerine birds',
  'totalSightings': 41},
 {'_id': 'Mountain Pygmy-possum',
  'science_name': 'Burramys parvus',
  'taxon_id': '11156',
  'taxon_type': 'Mammals',
  'totalSightings': 823},
 {'_id': 'Greater Glider',
  'science_name': 'fam. Pseudocheiridae gen. Petauroides',
  'taxon_id': '527397',
  'taxon_type': 'Mammals',
  'totalSightings': 1},
 {'_id': 'New Holland Mouse',
  'science_name': 'Pseudomys novaehollandiae',
  'taxon_id': '11455',
  'taxon_type': 'Mammals',
  'totalSightings': 119},
 {'_id': 'Giant Burrowing Frog',
  'science_name': 'Heleioporus australiacus',
  'taxon_id': '13042',
  'taxon_type': 'Amphibians',
  'totalSightings': 2},
 {'_id': 'Hooded Plover',
  'science_name': 'Thinornis cucullatus',
  'taxon_id': '10138',
  'taxon_type': 'Waders',
  'totalSightings': 3208}]

In [47]:
# Aggregate records by animal name
records_by_animal = list(vba_fauna.aggregate([
    {
        "$group" : {
            "_id" : "$comm_name",
            "record_id": { "$push": "$record_id" },
            "survey_id": { "$push": "$survey_id" },
            "number_sightings": { "$push": "$totalcount" },
            "long": { "$push": "$long" },
            "lat": { "$push": "$lat" },
            "start_year": { "$push": "$start_year" },
            "start_mth": { "$push": "$start_mth" },
            "start_date": { "$push": "$start_date" }
        }
    }
]))

records_by_animal[2]

{'_id': "Leadbeater's Possum",
 'record_id': ['10150668',
  '10150669',
  '10150670',
  '10150672',
  '10150674',
  '10150678',
  '10150675',
  '10179333',
  '10183271',
  '10183274',
  '10183275',
  '10183276',
  '10183278',
  '10183285',
  '10183288',
  '10183294',
  '10183222',
  '10183234',
  '10149640',
  '10149642',
  '10149644',
  '10149648',
  '10149649',
  '10149651',
  '10149657',
  '10142465',
  '10142463',
  '10183077',
  '10183174',
  '10183175',
  '10183177',
  '10183067',
  '10183069',
  '10183074',
  '10149683',
  '10149698',
  '10132689',
  '10132688',
  '10183058',
  '10142462',
  '10134715',
  '10134774',
  '10134639',
  '10134643',
  '10134646',
  '10134649',
  '10134651',
  '10134655',
  '10134662',
  '10134733',
  '10134739',
  '10134724',
  '10134729',
  '10134731',
  '10134743',
  '10134747',
  '10134776',
  '10134778',
  '10134780',
  '10134803',
  '10134811',
  '10134824',
  '10132234',
  '10132227',
  '10132229',
  '10142474',
  '10132790',
  '10132799',
  '10132802',
  '10134759',
  '10134761',
  '10134764',
  '10134766',
  '10132010',
  '10132011',
  '10131964',
  '10131967',
  '10131970',
  '10131238',
  '10131857',
  '10131859',
  '10131861',
  '10131866',
  '10131876',
  '10132841',
  '10132842',
  '10132843',
  '10132860',
  '10132870',
  '10132871',
  '10132878',
  '10130948',
  '9598689',
  '9598690',
  '10130996',
  '10130998',
  '10131002',
  '10131038',
  '10131045',
  '10131049',
  '10131051',
  '10132848',
  '10132849',
  '10132852',
  '10132854',
  '10131020',
  '10131029',
  '10131032',
  '9622191',
  '10131975',
  '10131977',
  '10131979',
  '10131981',
  '10131986',
  '10131989',
  '9622104',
  '10130964',
  '10130975',
  '10130981',
  '10149625',
  '10149628',
  '10149630',
  '10130902',
  '10130903',
  '10130905',
  '10130913',
  '10131247',
  '10131268',
  '9585670',
  '9585649',
  '9585659',
  '9585705',
  '9585640',
  '9586135',
  '9586244',
  '9586266',
  '9586133',
  '9586138',
  '9586271',
  '9586118',
  '9586229',
  '9586254',
  '9586113',
  '9586178',
  '9586176',
  '9586184',
  '9586189',
  '9586210',
  '9586220',
  '9586223',
  '9586147',
  '9586151',
  '9586209',
  '9072135',
  '9072150',
  '9072175',
  '9072215',
  '9072217',
  '9072221',
  '9072224',
  '9072231',
  '9072209',
  '9072210',
  '9072211',
  '9071922',
  '9071933',
  '9071938',
  '9071942',
  '9071903',
  '9071919',
  '9032632',
  '9032637',
  '9032600',
  '9032609',
  '9032596',
  '9032606',
  '9032614',
  '9032593',
  '9032585',
  '9032558',
  '9032566',
  '9032570',
  '9032553',
  '9032537',
  '9032551',
  '9032540',
  '9032546',
  '9032547',
  '9032550',
  '8986763',
  '8986068',
  '8986762',
  '8986761',
  '8943078',
  '8906481',
  '8943077',
  '8943076',
  '8943075',
  '8958129',
  '8943074',
  '8958128',
  '8590336',
  '8590335',
  '8590317',
  '8590276',
  '8590302',
  '8590301',
  '8958130',
  '8590294',
  '8960030',
  '8590262',
  '8590260',
  '8958132',
  '8958131',
  '8590221',
  '8590220',
  '8590218',
  '8590219',
  '8590216',
  '8590186',
  '8590185',
  '8590153',
  '8958417',
  '8958414',
  '8958410',
  '8590152',
  '8584570',
  '8584569',
  '8584564',
  '8584554',
  '8584562',
  '8584536',
  '8584535',
  '8584492',
  '8584496',
  '8590150',
  '8584480',
  '8584478',
  '8584429',
  '8584443',
  '8584453',
  '8584436',
  '8584407',
  '8584406',
  '8584420',
  '8584415',
  '8584417',
  '8590149',
  '8584403',
  '8584410',
  '8584399',
  '8590147',
  '8584398',
  '8584394',
  '8584389',
  '8584381',
  '8584385',
  '8584383',
  '8584343',
  '8584346',
  '8584338',
  '8584314',
  '8590148',
  '8584267',
  '8584275',
  '8584270',
  '8590136',
  '8584257',
  '8584259',
  '8584240',
  '8584237',
  '8584245',
  '8590135',
  '8584233',
  '8584206',
  '8584155',
  '8584154',
  '8584160',
  '8584128',
  '8584139',
  '8584138',
  '8584143',
  '8584134',
  '8584130',
  '8584117',
  '8584118',
  '8584116',
  '8584094',
  '8584105',
  '8584091',
  '8584101',
  '8584085',
  '8584082',
  '8584083',
  '8584078',
  '8584074',
  '8584064',
  '8584077',
  '8584065',
  '8584060',
  '8584052',
  '8584054',
  '8584039',
  '8584035',
  '8584032',
  '8584028',
  '8584020',
  '8584026',
  '8584023',
  '8584004',
  '8583986',
  '8583987',
  '8583994',
  '8584000',
  '8583980',
  '8583973',
  '8583976',
  '8583890',
  '8583874',
  '8583876',
  '8583869',
  '8426389',
  '8220611',
  '8220610',
  '8220609',
  '8220606',
  '8220605',
  '6953749',
  '8207149',
  '8207156',
  '8207127',
  '8207089',
  '8207099',
  '8207105',
  '8207094',
  '8207117',
  '8206985',
  '8206986',
  '8206987',
  '8207066',
  '8207073',
  '8207036',
  '8207031',
  '8207047',
  '8207044',
  '8207033',
  '8207042',
  '8207034',
  '8207038',
  '8207046',
  '8207026',
  '8207001',
  '8207018',
  '8207022',
  '8207013',
  '8207005',
  '8206990',
  '8207081',
  '8207079',
  '8206992',
  '8207075',
  '8206991',
  '8207060',
  '8207062',
  '8207054',
  '8207058',
  '8207056',
  '8220632',
  '8220633',
  '6948984',
  '6948982',
  '6948979',
  '6948983',
  '6948994',
  '6948981',
  '6948980',
  '6949002',
  '6948985',
  '8206921',
  '8206958',
  '8220631',
  '8206952',
  '8206974',
  '8220630',
  '8206941',
  '8206910',
  '8206913',
  '8220629',
  '8206963',
  '8220628',
  '8206907',
  '8206908',
  '8206890',
  '8206903',
  '8206878',
  '8206894',
  '8206882',
  '8206837',
  '8206846',
  '8206852',
  '8206836',
  '8206830',
  '8206834',
  '8206839',
  '8206871',
  '8206873',
  '8206824',
  '8206825',
  '8206858',
  '8206863',
  '8206865',
  '6948971',
  '6948974',
  '6948972',
  '6948973',
  '8220608',
  '8220607',
  '8220626',
  '8220627',
  '6942520',
  '6942511',
  '6942505',
  '6942508',
  '6942490',
  '6942485',
  '6942489',
  '6942493',
  '6942471',
  '6942482',
  '6942467',
  '6942475',
  '6942480',
  '6942478',
  '6942483',
  '6942468',
  '6942463',
  '6942466',
  '6942464',
  '6942417',
  '6942454',
  '6942435',
  '6942455',
  '6942425',
  '6942433',
  '6942429',
  '6942447',
  '6942409',
  '6942404',
  '6942397',
  '6942398',
  '6942412',
  '6942393',
  '6948975',
  '6942370',
  '6942372',
  '6942334',
  '6942343',
  '6942342',
  '6942363',
  '6942368',
  '6942344',
  '6942369',
  '6942366',
  '6942338',
  '6942355',
  '6942331',
  '6942328',
  '6942324',
  '6942317',
  '6942314',
  '6942306',
  '6942315',
  '6942304',
  '6942321',
  '6942313',
  '6942319',
  '6942307',
  '6942294',
  '6942298',
  '6942301',
  '6942286',
  '6942296',
  '6942282',
  '6942291',
  '6942284',
  '6942288',
  '6942280',
  '6942277',
  '6942273',
  '6942275',
  '6942267',
  '6942269',
  '6942262',
  '6942258',
  '6942261',
  '6942256',
  '6942221',
  '6942251',
  '6942219',
  '6942254',
  '6942239',
  '6942209',
  '6942212',
  '6942248',
  '6942206',
  '6942207',
  '6942204',
  '6942196',
  '6942198',
  '6942233',
  '6942199',
  '6942231',
  '6942187',
  '6942542',
  '6942538',
  '6942528',
  '6942171',
  '6942170',
  '6942136',
  '6942140',
  '6942144',
  '6942142',
  '6942139',
  '6942131',
  '6942132',
  '6942134',
  '6942127',
  '6942129',
  '6942112',
  '6942095',
  '6942099',
  '6948977',
  '6948976',
  '6917586',
  '6870896',
  '6870892',
  '6870902',
  '6870893',
  '6870906',
  '6870881',
  '6870885',
  '6870890',
  '6870876',
  '6870879',
  '6870856',
  '6870860',
  '6870865',
  '6870927',
  '6870922',
  '6870936',
  '6870924',
  '6870942',
  '6870980',
  '6870943',
  '6870946',
  '6870938',
  '6870953',
  '6870949',
  '6870974',
  '6870976',
  '6870932',
  '6870958',
  '6870971',
  '6870838',
  '6871059',
  '6871053',
  '6871056',
  '6871041',
  '6871045',
  '6871029',
  '6871016',
  '6871022',
  '6871019',
  '6871012',
  '6871030',
  '6870730',
  '6870752',
  '6870727',
  '6870679',
  '6870691',
  '6870676',
  '6870714',
  '6870699',
  '6870684',
  '6870773',
  '6870802',
  '6870776',
  '6870777',
  '6870778',
  '6870687',
  '6870786',
  '6870766'],
 'survey_id': ['1988592',
  '1988593',
  '1988594',
  '1988596',
  '1988598',
  '1988602',
  '1988599',
  '2013903',
  '2014811',
  '2014812',
  '2014813',
  '2014814',
  '2014816',
  '2014817',
  '2014818',
  '2014819',
  '2014797',
  '2014798',
  '1988412',
  '1988413',
  '1988414',
  '1988415',
  '1988416',
  '1988417',
  '1988420',
  '1985727',
  '1985725',
  '2014697',
  '2014786',
  '2014787',
  '2014788',
  '2014687',
  '2014689',
  '2014694',
  '1988427',
  '1988432',
  '1982539',
  '1982538',
  '2014678',
  '1985724',
  '1983131',
  '1983159',
  '1983118',
  '1983119',
  '1983120',
  '1983121',
  '1983122',
  '1983123',
  '1983125',
  '1983140',
  '1983143',
  '1983137',
  '1983138',
  '1983139',
  '1983144',
  '1983146',
  '1983160',
  '1983161',
  '1983162',
  '1983169',
  '1983170',
  '1983171',
  '1982504',
  '1982502',
  '1982503',
  '1985736',
  '1982560',
  '1982563',
  '1982564',
  '1983151',
  '1983152',
  '1983154',
  '1983155',
  '1982469',
  '1982470',
  '1982452',
  '1982454',
  '1982456',
  '1982263',
  '1982416',
  '1982417',
  '1982418',
  '1982419',
  '1982420',
  '1982580',
  '1982581',
  '1982582',
  '1982590',
  '1982594',
  '1982595',
  '1982596',
  '1982217',
  '1835201',
  '1835202',
  '1982230',
  '1982232',
  '1982233',
  '1982245',
  '1982247',
  '1982249',
  '1982250',
  '1982583',
  '1982584',
  '1982585',
  '1982586',
  '1982241',
  '1982242',
  '1982243',
  '1864333',
  '1982460',
  '1982461',
  '1982462',
  '1982463',
  '1982464',
  '1982465',
  '1864256',
  '1982222',
  '1982225',
  '1982226',
  '1988408',
  '1988409',
  '1988410',
  '1982201',
  '1982202',
  '1982203',
  '1982204',
  '1982267',
  '1982272',
  '1831581',
  '1831560',
  '1831570',
  '1831616',
  '1831551',
  '1831830',
  '1831875',
  '1831882',
  '1831829',
  '1831831',
  '1831884',
  '1831825',
  '1831869',
  '1831878',
  '1831823',
  '1831848',
  '1831847',
  '1831850',
  '1831851',
  '1831860',
  '1831865',
  '1831866',
  '1831835',
  '1831837',
  '1831859',
  '1778213',
  '1778218',
  '1778226',
  '1778244',
  '1778245',
  '1778247',
  '1778248',
  '1778250',
  '1778240',
  '1778241',
  '1778242',
  '1778129',
  '1778132',
  '1778133',
  '1778134',
  '1778123',
  '1778128',
  '1757322',
  '1757324',
  '1757309',
  '1757312',
  '1757307',
  '1757311',
  '1757313',
  '1757305',
  '1757300',
  '1757290',
  '1757293',
  '1757294',
  '1757289',
  '1757280',
  '1757288',
  '1757282',
  '1757285',
  '1757286',
  '1757287',
  '1734182',
  '1733991',
  '1734181',
  '1734180',
  '1710285',
  '1690228',
  '1710284',
  '1710283',
  '1710282',
  '1715912',
  '1710281',
  '1715911',
  '1401350',
  '1401349',
  '1401331',
  '1401292',
  '1401316',
  '1401315',
  '1715913',
  '1401308',
  '1716157',
  '1401279',
  '1401277',
  '1715915',
  '1715914',
  '1401240',
  '1401239',
  '1401237',
  '1401238',
  '1401235',
  '1401205',
  '1401204',
  '1401173',
  '1715988',
  '1715986',
  '1715985',
  '1401172',
  '1398150',
  '1398149',
  '1398147',
  '1398143',
  '1398145',
  '1398135',
  '1398134',
  '1398109',
  '1398111',
  '1401170',
  '1398099',
  '1398098',
  '1398074',
  '1398081',
  '1398085',
  '1398077',
  '1398064',
  '1398063',
  '1398069',
  '1398067',
  '1398068',
  '1401169',
  '1398062',
  '1398066',
  '1398059',
  '1401167',
  '1398058',
  '1398055',
  '1398053',
  '1398048',
  '1398050',
  '1398049',
  '1398020',
  '1398022',
  '1398015',
  '1397997',
  '1401168',
  '1397964',
  '1397969',
  '1397966',
  '1401156',
  '1397955',
  '1397957',
  '1397942',
  '1397940',
  '1397946',
  '1401155',
  '1397937',
  '1397916',
  '1397875',
  '1397874',
  '1397879',
  '1397860',
  '1397865',
  '1397864',
  '1397867',
  '1397863',
  '1397862',
  '1397854',
  '1397855',
  '1397853',
  '1397840',
  '1397847',
  '1397838',
  '1397845',
  '1397834',
  '1397832',
  '1397833',
  '1397830',
  '1397828',
  '1397819',
  '1397829',
  '1397820',
  '1397817',
  '1397812',
  '1397813',
  '1397803',
  '1397800',
  '1397799',
  '1397795',
  '1397787',
  '1397793',
  '1397790',
  '1397778',
  '1397767',
  '1397768',
  '1397772',
  '1397774',
  '1397763',
  '1397760',
  '1397761',
  '1397734',
  '1397731',
  '1397733',
  '1397730',
  '1289040',
  '1222745',
  '1222744',
  '1222743',
  '1222740',
  '1222739',
  '1107787',
  '1218405',
  '1218409',
  '1218388',
  '1218369',
  '1218372',
  '1218376',
  '1218370',
  '1218384',
  '1218315',
  '1218316',
  '1218317',
  '1218359',
  '1218362',
  '1218342',
  '1218339',
  '1218347',
  '1218345',
  '1218340',
  '1218344',
  '1218341',
  '1218343',
  '1218346',
  '1218336',
  '1218325',
  '1218331',
  '1218332',
  '1218330',
  '1218326',
  '1218318',
  '1218365',
  '1218364',
  '1218320',
  '1218363',
  '1218319',
  '1218355',
  '1218356',
  '1218351',
  '1218354',
  '1218352',
  '1222766',
  '1222767',
  '1106000',
  '1105998',
  '1105995',
  '1105999',
  '1106010',
  '1105997',
  '1105996',
  '1106018',
  '1106001',
  '1218269',
  '1218292',
  '1222765',
  '1218289',
  '1218304',
  '1222764',
  '1218282',
  '1218265',
  '1218266',
  '1222763',
  '1218296',
  '1222762',
  '1218262',
  '1218263',
  '1218250',
  '1218259',
  '1218243',
  '1218252',
  '1218244',
  '1218215',
  '1218219',
  '1218222',
  '1218214',
  '1218211',
  '1218213',
  '1218216',
  '1218236',
  '1218238',
  '1218208',
  '1218209',
  '1218226',
  '1218229',
  '1218231',
  '1105987',
  '1105990',
  '1105988',
  '1105989',
  '1222742',
  '1222741',
  '1222760',
  '1222761',
  '1102395',
  '1102387',
  '1102384',
  '1102386',
  '1102373',
  '1102370',
  '1102372',
  '1102374',
  '1102359',
  '1102367',
  '1102357',
  '1102363',
  '1102366',
  '1102364',
  '1102368',
  '1102358',
  '1102354',
  '1102356',
  '1102355',
  '1102321',
  '1102346',
  '1102332',
  '1102347',
  '1102327',
  '1102331',
  '1102329',
  '1102341',
  '1102315',
  '1102311',
  '1102306',
  '1102307',
  '1102316',
  '1102302',
  '1105991',
  '1102282',
  '1102283',
  '1102254',
  '1102262',
  '1102261',
  '1102277',
  '1102280',
  '1102263',
  '1102281',
  '1102279',
  '1102258',
  '1102271',
  '1102251',
  '1102248',
  '1102247',
  '1102243',
  '1102241',
  '1102236',
  '1102242',
  '1102235',
  '1102245',
  '1102240',
  '1102244',
  '1102237',
  '1102229',
  '1102231',
  '1102233',
  '1102225',
  '1102230',
  '1102223',
  '1102228',
  '1102224',
  '1102226',
  '1102221',
  '1102218',
  '1102216',
  '1102217',
  '1102213',
  '1102214',
  '1102208',
  '1102205',
  '1102207',
  '1102204',
  '1102181',
  '1102201',
  '1102180',
  '1102202',
  '1102195',
  '1102176',
  '1102177',
  '1102199',
  '1102174',
  '1102175',
  '1102173',
  '1102168',
  '1102169',
  '1102191',
  '1102170',
  '1102189',
  '1102163',
  '1102410',
  '1102409',
  '1102402',
  '1102151',
  '1102150',
  '1102123',
  '1102126',
  '1102128',
  '1102127',
  '1102125',
  '1102119',
  '1102120',
  '1102122',
  '1102117',
  '1102118',
  '1102102',
  '1102090',
  '1102092',
  '1105993',
  '1105992',
  '1094264',
  '1085354',
  '1085352',
  '1085359',
  '1085353',
  '1085360',
  '1085345',
  '1085346',
  '1085350',
  '1085342',
  '1085344',
  '1085328',
  '1085331',
  '1085335',
  '1085373',
  '1085371',
  '1085377',
  '1085372',
  '1085379',
  '1085398',
  '1085380',
  '1085381',
  '1085378',
  '1085383',
  '1085382',
  '1085394',
  '1085396',
  '1085375',
  '1085387',
  '1085393',
  '1085314',
  '1085437',
  '1085434',
  '1085435',
  '1085430',
  '1085431',
  '1085424',
  '1085419',
  '1085422',
  '1085421',
  '1085418',
  '1085425',
  '1085252',
  '1085264',
  '1085250',
  '1085224',
  '1085231',
  '1085223',
  '1085246',
  '1085237',
  '1085227',
  '1085275',
  '1085290',
  '1085276',
  '1085277',
  '1085278',
  '1085230',
  '1085282',
  '1085271'],
 'number_sightings': [1,
  1,
  1,
  1,
  2,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  2,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  2,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  2,
  2,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  2,
  1,
  1,
  2,
  1,
  1,
  1,
  3,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  2,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  3,
  1,
  1,
  1,
  1,
  1,
  1,
  2,
  1,
  2,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  2,
  2,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  3,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  2,
  2,
  1,
  1,
  1,
  2,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  2,
  2,
  1,
  1,
  3,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  2,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  2,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  2,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  2,
  1,
  1,
  2,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  2,
  1,
  1,
  1,
  2,
  1,
  1,
  1,
  1,
  2,
  1,
  1,
  1,
  1,
  2,
  1,
  1,
  1,
  1,
  3,
  1,
  1,
  1,
  1,
  3,
  1,
  1,
  1,
  1,
  1,
  1,
  2,
  2,
  1,
  1,
  2,
  2,
  3,
  2,
  2,
  1,
  1,
  1,
  1,
  1,
  1,
  3,
  1,
  2,
  1,
  1,
  3,
  1,
  2,
  1,
  2,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  2,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  2,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  2,
  1,
  2,
  2,
  1,
  1,
  1,
  1,
  1,
  1,
  2,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1],
 'long': [146.0688019,
  146.0666962,
  146.0662994,
  146.06700130000002,
  146.0657959,
  146.06410219999998,
  146.0666962,
  145.96000669999998,
  145.9382019,
  145.93890380000002,
  145.9398041,
  145.9369049,
  145.93760680000003,
  145.9398956,
  145.9398956,
  145.9407959,
  145.934906,
  145.93460080000003,
  146.0861053,
  146.08630369999997,
  146.0865021,
  146.0709991,
  146.0704041,
  146.0697937,
  146.07699580000002,
  145.9385071,
  145.9398956,
  145.9734955,
  145.949295,
  145.9499054,
  145.94909669999998,
  145.9732056,
  145.97470090000002,
  145.9732056,
  145.77020259999998,
  145.7736969,
  145.7259979,
  145.7263947,
  145.9736938,
  145.9454041,
  145.9481049,
  145.94400019999998,
  145.9449005,
  145.9449005,
  145.94560239999998,
  145.9459076,
  145.94520569999997,
  145.94920349999998,
  145.9490051,
  145.94200130000002,
  145.947403,
  145.944397,
  145.9432983,
  145.94270319999998,
  145.9589996,
  145.9593048,
  146.19650269999997,
  146.1972046,
  146.19709780000002,
  146.1988983,
  146.1997986,
  146.20039369999998,
  146.1546021,
  146.1548004,
  146.1549072,
  145.9597015,
  145.93719480000001,
  145.93739319999997,
  145.93780519999999,
  146.3108063,
  146.3101044,
  146.3067017,
  146.30709840000003,
  145.95010380000002,
  145.9496002,
  146.3235016,
  146.32420349999998,
  146.32000730000001,
  146.168396,
  146.24380490000001,
  146.243103,
  146.2425995,
  146.2440033,