In [1]:
# Import dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pymongo
import datetime as dt
from datetime import datetime

## Extract Victorian Biodiversity Atlas (VBA) fauna data

In [2]:
# Read just the column names in fauna data csv
col_names = pd.read_csv("../data/VBA_2015_2020.csv", nrows = 0).columns
col_names

Index(['RECORD_ID', 'SITE_ID', 'SURVEY_ID', 'PROJECT_ID', 'TAXON_ID',
       'SCI_NAME', 'COMM_NAME', 'RECORDTYPE', 'RELIABILTY', 'TOTALCOUNT',
       'STARTDATE', 'START_YEAR', 'START_MTH', 'ENDDATE', 'END_YEAR',
       'END_MTH', 'LOCN_DESC', 'TAXON_TYPE', 'LONG_DD94', 'LAT_DD94'],
      dtype='object')

In [3]:
# Set data types for columns with data types other than strings
dtypes_dict = {
    "TOTALCOUNT": int,
    "START_YEAR": int,
    "START_MTH": int,
    "END_YEAR": int,
    "END_MTH": int,
    "LONG_DD94": float,
    "LAT_DD94": float
}

In [4]:
# Read in vic fauna csv from 2015 to 2020
fauna_data = pd.read_csv(
    "../data/VBA_2015_2020.csv",
    parse_dates = ["STARTDATE", "ENDDATE"],
    dtype = {col: str for col in col_names if col not in dtypes_dict})
fauna_data.head()

,RECORD_ID,SITE_ID,SURVEY_ID,PROJECT_ID,TAXON_ID,SCI_NAME,COMM_NAME,RECORDTYPE,RELIABILTY,TOTALCOUNT,STARTDATE,START_YEAR,START_MTH,ENDDATE,END_YEAR,END_MTH,LOCN_DESC,TAXON_TYPE,LONG_DD94,LAT_DD94
0,8597419,947931,1405903,4377,1557,Paratya australiensis,Common Freshwater Shrimp,Observation,Confirmed,0,2016-12-16,2016,12,NaT,0,0,McCallum Creek-4_7-TR-16-333,"Mussels, decopod crustacea",143.649002,-37.283901
1,9067844,1084677,1776514,5326,10408,Colluricincla harmonica,Grey Shrike-thrush,Observation with supporting evidence,Acceptable,0,2018-08-28,2018,8,2018-09-25,2018,9,345-513-0003 FSQ1,Passerine birds,145.768997,-37.782501
2,8218590,771970,1221401,4366,10991,Turdus merula,Common Blackbird,Seen,Acceptable,0,2015-04-12,2015,4,NaT,0,0,Ocean Acres Bush Park Nature Reserve,Passerine birds,144.287399,-38.315601
3,9047388,1070861,1760792,5326,11242,Wallabia bicolor,Black-tailed Wallaby,Observation with supporting evidence,Acceptable,0,2018-11-14,2018,11,2018-12-14,2018,12,833-518-0004 BUQ1,Mammals,148.848099,-37.601601
4,9359539,1116727,1809370,5543,10525,Cisticola exilis,Golden-headed Cisticola,Seen,Acceptable,1,2015-05-07,2015,5,2015-05-07,2015,5,MANNIBADAR (581481),Passerine birds,143.481903,-37.781799

## Transform VBA fauna data

In [5]:
# Column Renaming
fauna_df = fauna_data.rename(columns={
    "RECORD_ID": "record_id",
    "SITE_ID": "site_id",
    "SURVEY_ID": "survey_id",
    "PROJECT_ID": "project_id",
    "TAXON_ID": "taxon_id",
    "SCI_NAME": "sci_name",
    "COMM_NAME": "comm_name",
    "RECORDTYPE": "recordtype",
    "RELIABILTY": "reliability",
    "TOTALCOUNT": "totalcount",
    "STARTDATE": "start_date",
    "START_YEAR": "start_year",
    "START_MTH": "start_mth",
    "ENDDATE": "end_date",
    "END_YEAR": "end_year",
    "END_MTH": "end_mth",
    "LOCN_DESC": "location_desc",
    "TAXON_TYPE": "taxon_type",
    "LONG_DD94": "long",
    "LAT_DD94": "lat"})

In [6]:
# Test record_id uniqueness
fauna_df.record_id.is_unique

True

In [7]:
print(f"Number of unique record ids: {fauna_df.record_id.nunique()}")

Number of unique record ids: 346829

In [8]:
# Test survey_id uniqueness
fauna_df.survey_id.is_unique

False

In [9]:
print(f"Number of unique survey ids: {fauna_df.survey_id.nunique()}")

Number of unique survey ids: 97240

In [10]:
# Test site_id uniqueness
fauna_df.site_id.is_unique

False

In [11]:
print(f"Number of unique site ids: {fauna_df.site_id.nunique()}")

Number of unique site ids: 55164

In [12]:
# Test project_id uniqueness
fauna_df.project_id.is_unique

False

In [13]:
print(f"Number of unique project ids: {fauna_df.project_id.nunique()}")

Number of unique project ids: 522

In [14]:
# Test taxon_id uniqueness
fauna_df.taxon_id.is_unique

False

In [15]:
print(f"Number of unique taxon ids: {fauna_df.taxon_id.nunique()}")

Number of unique taxon ids: 941

In [16]:
print(f"Number of unique taxon types: {fauna_df.taxon_type.nunique()}")

Number of unique taxon types: 14

In [17]:
# Reorder the columns
fauna_df = fauna_df[["record_id", "survey_id", "site_id", "project_id", "taxon_id", "taxon_type"
                     ,"comm_name", "sci_name", "totalcount", "location_desc", "long", "lat"
                     ,"end_year", "end_mth", "end_date", "start_year", "start_mth", "start_date"
                     ,"recordtype", "reliability"]]
fauna_df.head()

,record_id,survey_id,site_id,project_id,taxon_id,taxon_type,comm_name,sci_name,totalcount,location_desc,long,lat,end_year,end_mth,end_date,start_year,start_mth,start_date,recordtype,reliability
0,8597419,1405903,947931,4377,1557,"Mussels, decopod crustacea",Common Freshwater Shrimp,Paratya australiensis,0,McCallum Creek-4_7-TR-16-333,143.649002,-37.283901,0,0,NaT,2016,12,2016-12-16,Observation,Confirmed
1,9067844,1776514,1084677,5326,10408,Passerine birds,Grey Shrike-thrush,Colluricincla harmonica,0,345-513-0003 FSQ1,145.768997,-37.782501,2018,9,2018-09-25,2018,8,2018-08-28,Observation with supporting evidence,Acceptable
2,8218590,1221401,771970,4366,10991,Passerine birds,Common Blackbird,Turdus merula,0,Ocean Acres Bush Park Nature Reserve,144.287399,-38.315601,0,0,NaT,2015,4,2015-04-12,Seen,Acceptable
3,9047388,1760792,1070861,5326,11242,Mammals,Black-tailed Wallaby,Wallabia bicolor,0,833-518-0004 BUQ1,148.848099,-37.601601,2018,12,2018-12-14,2018,11,2018-11-14,Observation with supporting evidence,Acceptable
4,9359539,1809370,1116727,5543,10525,Passerine birds,Golden-headed Cisticola,Cisticola exilis,1,MANNIBADAR (581481),143.481903,-37.781799,2015,5,2015-05-07,2015,5,2015-05-07,Seen,Acceptable

In [18]:
# Overview of the fauna data
fauna_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 346829 entries, 0 to 346828
Data columns (total 20 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   record_id      346829 non-null  object
 1   survey_id      346829 non-null  object
 2   site_id        346829 non-null  object
 3   project_id     346829 non-null  object
 4   taxon_id       346829 non-null  object
 5   taxon_type     346829 non-null  object
 6   comm_name      346829 non-null  object
 7   sci_name       346829 non-null  object
 8   totalcount     346829 non-null  int64
 9   location_desc  346829 non-null  object
 10  long           346829 non-null  float64
 11  lat            346829 non-null  float64
 12  end_year       346829 non-null  int64
 13  end_mth        346829 non-null  int64
 14  end_date       52465 non-null   datetime64[ns]
 15  start_year     346829 non-null  int64
 16  start_mth      346829 non-null  int64
 17  start_date     346829 non-null  datetime64[ns]
 18  recordtype     346829 non-null  object
 19  reliability    346829 non-null  object
dtypes: datetime64[ns](2), float64(2), int64(5), object(11)
memory usage: 52.9+ MB

In [19]:
# We can see that the TOTALCOUNT of some records is 0. Let's have an overview of them
zero_totalcount = fauna_df[fauna_df["totalcount"] == 0]
zero_totalcount.head(10)

,record_id,survey_id,site_id,project_id,taxon_id,taxon_type,comm_name,sci_name,totalcount,location_desc,long,lat,end_year,end_mth,end_date,start_year,start_mth,start_date,recordtype,reliability
0,8597419,1405903,947931,4377,1557,"Mussels, decopod crustacea",Common Freshwater Shrimp,Paratya australiensis,0,McCallum Creek-4_7-TR-16-333,143.649002,-37.283901,0,0,NaT,2016,12,2016-12-16,Observation,Confirmed
1,9067844,1776514,1084677,5326,10408,Passerine birds,Grey Shrike-thrush,Colluricincla harmonica,0,345-513-0003 FSQ1,145.768997,-37.782501,2018,9,2018-09-25,2018,8,2018-08-28,Observation with supporting evidence,Acceptable
2,8218590,1221401,771970,4366,10991,Passerine birds,Common Blackbird,Turdus merula,0,Ocean Acres Bush Park Nature Reserve,144.287399,-38.315601,0,0,NaT,2015,4,2015-04-12,Seen,Acceptable
3,9047388,1760792,1070861,5326,11242,Mammals,Black-tailed Wallaby,Wallabia bicolor,0,833-518-0004 BUQ1,148.848099,-37.601601,2018,12,2018-12-14,2018,11,2018-11-14,Observation with supporting evidence,Acceptable
6,9067841,1776514,1084677,5326,10488,Passerine birds,White-browed Scrubwren,Sericornis frontalis,0,345-513-0003 FSQ1,145.768997,-37.782501,2018,9,2018-09-25,2018,8,2018-08-28,Observation with supporting evidence,Acceptable
9,8897604,1686135,1000965,4335,528552,Mammals,Red Fox,Vulpes vulpes,0,Basalt 10,144.098206,-37.270500,2018,2,2018-02-07,2018,1,2018-01-17,Observation with supporting evidence,Acceptable
10,9345216,1799930,1107289,2936,5140,Fish,Dry waterbody,Misc Dry,0,Pig and Whistle Creek-2_23-TR-18-421,147.853394,-37.532299,0,0,NaT,2018,11,2018-11-16,Observation,Confirmed
12,8432377,1292811,840246,4551,10364,Passerine birds,Willie Wagtail,Rhipidura leucophrys,0,Bulla Hill and School Hill,144.802200,-37.634102,0,0,NaT,2015,5,2015-05-18,Observation,Acceptable
13,8956790,1715391,1027944,4836,11003,Mammals,Short-beaked Echidna,Tachyglossus aculeatus,0,New Holland Mouse camera survey_Site_NHM423,147.533798,-38.084000,2018,3,2018-03-20,2018,3,2018-03-07,Observation with supporting evidence,Acceptable
15,8994856,1741637,1052493,5326,11115,Mammals,Mountain Brush-tailed Possum,Trichosurus cunninghami,0,298-516-0003,145.521393,-37.442902,2018,8,2018-08-23,2018,7,2018-07-27,Observation with supporting evidence,Acceptable

In [20]:
# Percentage of number of rows with totalcount equal to 0 against total number of rows of the dataframe
(zero_totalcount.shape[0]/fauna_df.shape[0])*100

19.936914156544002

## Filter VBA fauna data against scraped data

In [21]:
# Import the webscraped animal data
scraped_df = pd.read_csv("../data/animal_image_to_merge.csv", dtype="str")
scraped_df.head()

,animal_name,image_url,image_alternative,introduction,threat_paragraph
0,Alpine She-oak Skink,https://www.zoo.org.au/media/2050/1023_alpine_...,Alpine She-oak Skink sunning it self on a rock...,Found in only a few locations in Victoria and ...,Major threats\r\nFire is a huge danger to the ...
1,Baw Baw Frog,https://www.zoo.org.au/media/2052/21295_baw_ba...,Baw Baw Frog resting in bright green moss. Loo...,All estimates point to extinction in the wild ...,Major threats\r\nThe loss of the Baw Baw Frog ...
2,Brush-tailed Rock-wallaby,https://www.zoo.org.au/media/2045/21882_brush-...,Brush Tailed Rock Wallabies resting in the grass.,"In Victoria, the Brush-tailed Rock-wallaby now...",Major threats \r\nChanges to habitat and the i...
3,Eastern Barred Bandicoot,https://www.zoo.org.au/media/2053/4376_eastern...,Small Eastern Barred Bandicoot side view forag...,The Eastern Barred Bandicoot is listed as exti...,The plan for recovery\r\nZoos Victoria has par...
4,Giant Burrowing Frog,https://www.zoo.org.au/media/2056/23479_giant_...,Giant Burrowing Frog on wet rocks side view. T...,Although we know that populations of the Giant...,"['Over the next five years, Zoos Victoria will..."

In [22]:
# Extract list of unique animals of interest
species = scraped_df["animal_name"].unique().tolist()

In [23]:
# Filter the fauna data with the species of interest
short_fauna_df = fauna_df[fauna_df["comm_name"].isin(species)]
short_fauna_df.head()

,record_id,survey_id,site_id,project_id,taxon_id,taxon_type,comm_name,sci_name,totalcount,location_desc,long,lat,end_year,end_mth,end_date,start_year,start_mth,start_date,recordtype,reliability
102,8261909,1225877,833395,4236,11141,Mammals,Leadbeater's Possum,Gymnobelideus leadbeateri,0,DSS3B,145.841904,-37.845600,0,0,NaT,2016,4,2016-04-24,Observation,Confirmed
195,8590335,1401349,943395,4095,11141,Mammals,Leadbeater's Possum,Gymnobelideus leadbeateri,1,DELWP Case Reference number 2017-0060,146.288498,-37.922600,0,0,NaT,2017,8,2017-08-20,Seen,Confirmed
391,6942095,1102090,766516,4078,11141,Mammals,Leadbeater's Possum,Gymnobelideus leadbeateri,1,Mon1_camera1,145.934403,-37.818600,2015,9,2015-09-29,2015,9,2015-09-08,Observation,Confirmed
426,8596613,1405576,947609,1,10309,Non-passerine birds,Swift Parrot,Lathamus discolor,5,"Mclaughlans Lane Pipetrack, Plenty",145.108398,-37.676399,2017,9,2017-09-25,2017,9,2017-09-25,Observation,Acceptable
538,6870927,1085373,716545,4078,11141,Mammals,Leadbeater's Possum,Gymnobelideus leadbeateri,1,40.2_camera2,146.115204,-37.784802,2015,5,2015-05-11,2015,4,2015-04-17,Observation,Confirmed

In [24]:
# Overview of the fauna data after filtering
short_fauna_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2712 entries, 102 to 346720
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   record_id      2712 non-null   object
 1   survey_id      2712 non-null   object
 2   site_id        2712 non-null   object
 3   project_id     2712 non-null   object
 4   taxon_id       2712 non-null   object
 5   taxon_type     2712 non-null   object
 6   comm_name      2712 non-null   object
 7   sci_name       2712 non-null   object
 8   totalcount     2712 non-null   int64
 9   location_desc  2712 non-null   object
 10  long           2712 non-null   float64
 11  lat            2712 non-null   float64
 12  end_year       2712 non-null   int64
 13  end_mth        2712 non-null   int64
 14  end_date       899 non-null    datetime64[ns]
 15  start_year     2712 non-null   int64
 16  start_mth      2712 non-null   int64
 17  start_date     2712 non-null   datetime64[ns]
 18  recordtype     2712 non-null   object
 19  reliability    2712 non-null   object
dtypes: datetime64[ns](2), float64(2), int64(5), object(11)
memory usage: 444.9+ KB

In [25]:
# Check for any extreme values
print(f"Maximum total count is: {short_fauna_df.totalcount.max()}")
print(f"Minimum total count is: {short_fauna_df.totalcount.min()}")
print(f"Maximum longitude is: {short_fauna_df.long.max()}")
print(f"Minimum longitude is: {short_fauna_df.long.min()}")
print(f"Maximum latitude is: {short_fauna_df.lat.max()}")
print(f"Minimum latitude is: {short_fauna_df.lat.min()}")
print(f"Maximum end year is: {short_fauna_df.end_year.max()}")
print(f"Minimum end year is: {short_fauna_df.end_year.min()}")
print(f"Maximum end month is: {short_fauna_df.end_mth.max()}")
print(f"Minimum end month is: {short_fauna_df.end_mth.min()}")
print(f"Maximum start year is: {short_fauna_df.start_year.max()}")
print(f"Minimum start year is: {short_fauna_df.start_year.min()}")
print(f"Maximum start month is: {short_fauna_df.start_mth.max()}")
print(f"Minimum start month is: {short_fauna_df.start_mth.min()}")
print(f"Maximum start date is: {short_fauna_df.start_date.max()}")
print(f"Minimum start date is: {short_fauna_df.start_date.min()}")

Maximum total count is: 128
Minimum total count is: 0
Maximum longitude is: 149.9367981
Minimum longitude is: 140.9933014
Maximum latitude is: -34.5940018
Minimum latitude is: -39.0321007
Maximum end year is: 2020
Minimum end year is: 0
Maximum end month is: 12
Minimum end month is: 0
Maximum start year is: 2020
Minimum start year is: 2015
Maximum start month is: 12
Minimum start month is: 1
Maximum start date is: 2020-03-30 00:00:00
Minimum start date is: 2015-01-01 00:00:00

As can be seen, there are a number of records with total count of 0. They are records of surveys with no sightings of a targeted specie. Hence, we'll remove them.

As there are a lot of null end_date values, their extracted end years and end months equal to 0. Hence we might use start date in our time series visualisation. The null end dates might indicate that a survey hasn't ended up to our group's data extraction.

In [26]:
print(f"The number of records with totalcount of zero: {short_fauna_df[short_fauna_df.totalcount == 0].shape[0]}")

The number of records with totalcount of zero: 623

In [27]:
# Values in location description column
short_fauna_df["location_desc"].unique()

array(['DSS3B', 'DELWP Case Reference number 2017-0060', 'Mon1_camera1',
       ..., '316A', '316B', '316C'], dtype=object)

In [28]:
# Values in record types column
short_fauna_df["recordtype"].unique()

array(['Observation', 'Seen', 'Observation with supporting evidence',
       'Captured and released', 'Indirect evidence', 'Heard', 'Captured'],
      dtype=object)

In [29]:
# Values in reliability column
short_fauna_df["reliability"].unique()

array(['Confirmed', 'Acceptable'], dtype=object)

Values in the location description, record types and reliability columns do not seem to be informative enough. Hence we'll remove these columns. We'll also remove columns project_id and site_id as they are not required for our project's purpose.

In [30]:
# Filter out the records with total count of 0 and remove end_year, end_date, end_mth, start_year, start_mth columns
final_fauna_df = short_fauna_df[short_fauna_df.totalcount > 0].drop([
    'site_id', 'project_id', 'location_desc', 'end_year', 'end_mth',\
    'end_date', 'start_year', 'start_mth', 'recordtype', 'reliability'], axis = 1)
final_fauna_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2089 entries, 195 to 346720
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   record_id   2089 non-null   object
 1   survey_id   2089 non-null   object
 2   taxon_id    2089 non-null   object
 3   taxon_type  2089 non-null   object
 4   comm_name   2089 non-null   object
 5   sci_name    2089 non-null   object
 6   totalcount  2089 non-null   int64
 7   long        2089 non-null   float64
 8   lat         2089 non-null   float64
 9   start_date  2089 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(1), object(6)
memory usage: 179.5+ KB

In [31]:
# Sort the fauna dataframe by comm_name and start_date
final_fauna_df.sort_values(by=["comm_name", "start_date"], inplace=True)
final_fauna_df.head(10)

,record_id,survey_id,taxon_id,taxon_type,comm_name,sci_name,totalcount,long,lat,start_date
65638,8492998,1343293,13042,Amphibians,Giant Burrowing Frog,Heleioporus australiacus,1,147.462906,-37.719601,2016-03-05
65922,8952200,1714254,13042,Amphibians,Giant Burrowing Frog,Heleioporus australiacus,1,147.628799,-37.372799,2018-06-26
72337,8994935,1741679,527397,Mammals,Greater Glider,fam. Pseudocheiridae gen. Petauroides,1,145.643097,-38.017799,2018-10-19
283231,9752298,1908065,10138,Waders,Hooded Plover,Thinornis cucullatus,1,144.420105,-38.285999,2015-01-01
106178,9755099,1908249,10138,Waders,Hooded Plover,Thinornis cucullatus,2,143.379303,-38.763199,2015-01-06
269706,9754985,1908240,10138,Waders,Hooded Plover,Thinornis cucullatus,4,144.420105,-38.285999,2015-01-06
271437,9754784,1908227,10138,Waders,Hooded Plover,Thinornis cucullatus,4,144.420105,-38.285999,2015-01-06
267889,9761062,1908601,10138,Waders,Hooded Plover,Thinornis cucullatus,1,144.420105,-38.285999,2015-01-24
271167,9761901,1908641,10138,Waders,Hooded Plover,Thinornis cucullatus,2,144.420105,-38.285999,2015-01-26
276315,9762247,1908658,10138,Waders,Hooded Plover,Thinornis cucullatus,2,144.420105,-38.285999,2015-01-26

In [32]:
# Add a new column month_year for aggregation purpose
final_fauna_df["year_month"] = final_fauna_df["start_date"].dt.strftime('%Y-%m')

In [33]:
final_fauna_df.head()

,record_id,survey_id,taxon_id,taxon_type,comm_name,sci_name,totalcount,long,lat,start_date,year_month
65638,8492998,1343293,13042,Amphibians,Giant Burrowing Frog,Heleioporus australiacus,1,147.462906,-37.719601,2016-03-05,2016-03
65922,8952200,1714254,13042,Amphibians,Giant Burrowing Frog,Heleioporus australiacus,1,147.628799,-37.372799,2018-06-26,2018-06
72337,8994935,1741679,527397,Mammals,Greater Glider,fam. Pseudocheiridae gen. Petauroides,1,145.643097,-38.017799,2018-10-19,2018-10
283231,9752298,1908065,10138,Waders,Hooded Plover,Thinornis cucullatus,1,144.420105,-38.285999,2015-01-01,2015-01
106178,9755099,1908249,10138,Waders,Hooded Plover,Thinornis cucullatus,2,143.379303,-38.763199,2015-01-06,2015-01

## Filter webscraped animal image data against VBA fauna data

In [34]:
final_animal_list = final_fauna_df["comm_name"].unique().tolist()
final_animal_list

['Giant Burrowing Frog',
 'Greater Glider',
 'Hooded Plover',
 "Leadbeater's Possum",
 'Mallee Emu-wren',
 'Mountain Pygmy-possum',
 'New Holland Mouse',
 'Regent Honeyeater',
 'Swift Parrot']

In [35]:
# Number of final animals
len(final_animal_list)

9

In [36]:
# Number of taxon ids
taxon_ids = final_fauna_df["taxon_id"].unique().tolist()
len(taxon_ids)

9

The number of animals is equal to the number of taxon ids. For each animal of interest, there is only one corresponding taxon id.

In [37]:
# Filter the webscraped data to have only the above animals
final_scraped_df = scraped_df[scraped_df["animal_name"].isin(final_animal_list)].copy()
final_scraped_df

,animal_name,image_url,image_alternative,introduction,threat_paragraph
4,Giant Burrowing Frog,https://www.zoo.org.au/media/2056/23479_giant_...,Giant Burrowing Frog on wet rocks side view. T...,Although we know that populations of the Giant...,"['Over the next five years, Zoos Victoria will..."
11,Leadbeater's Possum,https://www.zoo.org.au/media/2057/22861_leadbe...,Close up view of the face of a Leadbeater Poss...,"Once thought to be extinct, the Leadbeater's P...",The major threats\r\nThe loss of hollow-bearin...
13,Mallee Emu-wren,https://www.zoo.org.au/media/1961/23483_mallee...,Mallee Emu-wren in long dry grass looking at t...,The Mallee Emu-wren is particularly vulnerable...,"['In fact, it was a series of fires that cause..."
14,Mountain Pygmy-possum,https://www.zoo.org.au/media/2058/16910_mounta...,Mountain Pygmy Possum standing on its hind leg...,Mountain Pygmy-possums were thought to be exti...,"The major threats \r\nClimate change, the loss..."
15,New Holland Mouse,https://www.zoo.org.au/media/1732/new-holland-...,New Holland Mouse getting a health check wrapp...,The New Holland Mouse is classified as extinct...,The major threats\r\nThe New Holland Mouse is ...
19,Regent Honeyeater,https://www.zoo.org.au/media/2055/22249_regent...,Regent Honeyeater bird on a branch looking dow...,The Regent Honeyeater has been in decline sinc...,The major threats\r\nThe loss of the Box-Ironb...
25,Swift Parrot,https://www.zoo.org.au/media/1960/23484_swift_...,Green Swift Parrot perched on a branch looking...,The Swift Parrot is critically endangered.,['Unless we can solve the issues surrounding i...
27,Greater Glider,https://www.environment.vic.gov.au/__data/asse...,Greater Glider,NaN,Species InformationThe Greater Glider is Austr...
28,Hooded Plover,https://www.environment.vic.gov.au/__data/asse...,Hooded Plover,Species Information\r\n\r\nHooded Plovers are ...,Threats\r\n\r\nHooded Plovers often share thei...

In [38]:
# Overview of the scraped data
final_scraped_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9 entries, 4 to 28
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   animal_name        9 non-null      object
 1   image_url          9 non-null      object
 2   image_alternative  9 non-null      object
 3   introduction       8 non-null      object
 4   threat_paragraph   9 non-null      object
dtypes: object(5)
memory usage: 432.0+ bytes

In [39]:
# Fill the NaN values with None values for the json-converted file to work
final_scraped_df = final_scraped_df.where(final_scraped_df.notnull(), None)
final_scraped_df

,animal_name,image_url,image_alternative,introduction,threat_paragraph
4,Giant Burrowing Frog,https://www.zoo.org.au/media/2056/23479_giant_...,Giant Burrowing Frog on wet rocks side view. T...,Although we know that populations of the Giant...,"['Over the next five years, Zoos Victoria will..."
11,Leadbeater's Possum,https://www.zoo.org.au/media/2057/22861_leadbe...,Close up view of the face of a Leadbeater Poss...,"Once thought to be extinct, the Leadbeater's P...",The major threats\r\nThe loss of hollow-bearin...
13,Mallee Emu-wren,https://www.zoo.org.au/media/1961/23483_mallee...,Mallee Emu-wren in long dry grass looking at t...,The Mallee Emu-wren is particularly vulnerable...,"['In fact, it was a series of fires that cause..."
14,Mountain Pygmy-possum,https://www.zoo.org.au/media/2058/16910_mounta...,Mountain Pygmy Possum standing on its hind leg...,Mountain Pygmy-possums were thought to be exti...,"The major threats \r\nClimate change, the loss..."
15,New Holland Mouse,https://www.zoo.org.au/media/1732/new-holland-...,New Holland Mouse getting a health check wrapp...,The New Holland Mouse is classified as extinct...,The major threats\r\nThe New Holland Mouse is ...
19,Regent Honeyeater,https://www.zoo.org.au/media/2055/22249_regent...,Regent Honeyeater bird on a branch looking dow...,The Regent Honeyeater has been in decline sinc...,The major threats\r\nThe loss of the Box-Ironb...
25,Swift Parrot,https://www.zoo.org.au/media/1960/23484_swift_...,Green Swift Parrot perched on a branch looking...,The Swift Parrot is critically endangered.,['Unless we can solve the issues surrounding i...
27,Greater Glider,https://www.environment.vic.gov.au/__data/asse...,Greater Glider,None,Species InformationThe Greater Glider is Austr...
28,Hooded Plover,https://www.environment.vic.gov.au/__data/asse...,Hooded Plover,Species Information\r\n\r\nHooded Plovers are ...,Threats\r\n\r\nHooded Plovers often share thei...

## Load

In [40]:
# Initialize PyMongo to work with MongoDBs
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

# Define database and collections
db = client.animal_visual_db
vba_fauna = db.vba_fauna
scraped_fauna = db.scraped_fauna

In [41]:
# Drops collections if available to remove duplicates
vba_fauna.drop()
scraped_fauna.drop()

In [42]:
# Load vba fauna data into the vba_fauna collection
vba_fauna.insert_many(final_fauna_df.to_dict('records'))

In [43]:
# Load scraped fauna image and info into the scraped_fauna collection
scraped_fauna.insert_many(final_scraped_df.to_dict('records'))

In [44]:
from pprint import pprint

for record in vba_fauna.find():
    pprint(record)

{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac296'),
 'comm_name': 'Giant Burrowing Frog',
 'lat': -37.7196007,
 'long': 147.4629059,
 'record_id': '8492998',
 'sci_name': 'Heleioporus australiacus',
 'start_date': datetime.datetime(2016, 3, 5, 0, 0),
 'survey_id': '1343293',
 'taxon_id': '13042',
 'taxon_type': 'Amphibians',
 'totalcount': 1,
 'year_month': '2016-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac297'),
 'comm_name': 'Giant Burrowing Frog',
 'lat': -37.3727989,
 'long': 147.6287994,
 'record_id': '8952200',
 'sci_name': 'Heleioporus australiacus',
 'start_date': datetime.datetime(2018, 6, 26, 0, 0),
 'survey_id': '1714254',
 'taxon_id': '13042',
 'taxon_type': 'Amphibians',
 'totalcount': 1,
 'year_month': '2018-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac298'),
 'comm_name': 'Greater Glider',
 'lat': -38.0177994,
 'long': 145.64309690000002,
 'record_id': '8994935',
 'sci_name': 'fam. Pseudocheiridae gen. Petauroides',
 'start_date': datetime.datetime(2018, 10, 19, 0, 0),
 'survey_id': '1741679',
 'taxon_id': '527397',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2018-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac299'),
 'comm_name': 'Hooded Plover',
 'lat': -38.28599929999999,
 'long': 144.420105,
 'record_id': '9752298',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 1, 1, 0, 0),
 'survey_id': '1908065',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2015-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac29a'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7631989,
 'long': 143.379303,
 'record_id': '9755099',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 1, 6, 0, 0),
 'survey_id': '1908249',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2015-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac29b'),
 'comm_name': 'Hooded Plover',
 'lat': -38.28599929999999,
 'long': 144.420105,
 'record_id': '9754985',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 1, 6, 0, 0),
 'survey_id': '1908240',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2015-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac29c'),
 'comm_name': 'Hooded Plover',
 'lat': -38.28599929999999,
 'long': 144.420105,
 'record_id': '9754784',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 1, 6, 0, 0),
 'survey_id': '1908227',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2015-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac29d'),
 'comm_name': 'Hooded Plover',
 'lat': -38.28599929999999,
 'long': 144.420105,
 'record_id': '9761062',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 1, 24, 0, 0),
 'survey_id': '1908601',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2015-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac29e'),
 'comm_name': 'Hooded Plover',
 'lat': -38.28599929999999,
 'long': 144.420105,
 'record_id': '9761901',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 1, 26, 0, 0),
 'survey_id': '1908641',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2015-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac29f'),
 'comm_name': 'Hooded Plover',
 'lat': -38.28599929999999,
 'long': 144.420105,
 'record_id': '9762247',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 1, 26, 0, 0),
 'survey_id': '1908658',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2015-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2a0'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9762629',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 1, 27, 0, 0),
 'survey_id': '1908688',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2015-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2a1'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9762926',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 1, 29, 0, 0),
 'survey_id': '1908715',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2015-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2a2'),
 'comm_name': 'Hooded Plover',
 'lat': -38.28599929999999,
 'long': 144.420105,
 'record_id': '9762991',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 1, 29, 0, 0),
 'survey_id': '1908718',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2015-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2a3'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9765315',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 2, 7, 0, 0),
 'survey_id': '1908879',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2015-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2a4'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7631989,
 'long': 143.379303,
 'record_id': '9766019',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 2, 10, 0, 0),
 'survey_id': '1908927',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2015-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2a5'),
 'comm_name': 'Hooded Plover',
 'lat': -38.430000299999996,
 'long': 144.1475983,
 'record_id': '9766412',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 2, 12, 0, 0),
 'survey_id': '1908959',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2015-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2a6'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7528992,
 'long': 143.6651001,
 'record_id': '9769133',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 2, 21, 0, 0),
 'survey_id': '1909163',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2015-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2a7'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9771084',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 2, 28, 0, 0),
 'survey_id': '1909292',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2015-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2a8'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9771088',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 2, 28, 0, 0),
 'survey_id': '1909296',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2015-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2a9'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9773232',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 3, 17, 0, 0),
 'survey_id': '1909505',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 8,
 'year_month': '2015-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2aa'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9773461',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 3, 19, 0, 0),
 'survey_id': '1909524',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6,
 'year_month': '2015-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2ab'),
 'comm_name': 'Hooded Plover',
 'lat': -38.28599929999999,
 'long': 144.420105,
 'record_id': '9775742',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 3, 30, 0, 0),
 'survey_id': '1909694',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2015-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2ac'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3037987,
 'long': 144.3771057,
 'record_id': '9786139',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 5, 16, 0, 0),
 'survey_id': '1910457',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2015-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2ad'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3037987,
 'long': 144.3771057,
 'record_id': '9786625',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 5, 16, 0, 0),
 'survey_id': '1910480',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2015-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2ae'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9790203',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 5, 30, 0, 0),
 'survey_id': '1910766',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2015-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2af'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9789447',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 5, 30, 0, 0),
 'survey_id': '1910704',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2015-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2b0'),
 'comm_name': 'Hooded Plover',
 'lat': -38.457199100000004,
 'long': 144.10729980000002,
 'record_id': '9792158',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 6, 7, 0, 0),
 'survey_id': '1910930',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2015-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2b1'),
 'comm_name': 'Hooded Plover',
 'lat': -38.457199100000004,
 'long': 144.10729980000002,
 'record_id': '9792109',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 6, 7, 0, 0),
 'survey_id': '1910928',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2015-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2b2'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7528992,
 'long': 143.6651001,
 'record_id': '9795791',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 6, 25, 0, 0),
 'survey_id': '1911211',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2015-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2b3'),
 'comm_name': 'Hooded Plover',
 'lat': -37.7901001,
 'long': 149.2671051,
 'record_id': '6917579',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 7, 3, 0, 0),
 'survey_id': '1094257',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2015-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2b4'),
 'comm_name': 'Hooded Plover',
 'lat': -38.166698499999995,
 'long': 141.2333069,
 'record_id': '10121630',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 7, 11, 0, 0),
 'survey_id': '1981531',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6,
 'year_month': '2015-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2b5'),
 'comm_name': 'Hooded Plover',
 'lat': -38.166698499999995,
 'long': 141.2333069,
 'record_id': '10121635',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 8, 1, 0, 0),
 'survey_id': '1981534',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 36,
 'year_month': '2015-08'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2b6'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7528992,
 'long': 143.6651001,
 'record_id': '9809244',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 8, 15, 0, 0),
 'survey_id': '1912350',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 7,
 'year_month': '2015-08'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2b7'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9815558',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 9, 2, 0, 0),
 'survey_id': '1912813',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2015-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2b8'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9815608',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 9, 2, 0, 0),
 'survey_id': '1912819',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2015-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2b9'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7811012,
 'long': 143.662796,
 'record_id': '9823207',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 9, 26, 0, 0),
 'survey_id': '1913352',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5,
 'year_month': '2015-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2ba'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9823838',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 9, 27, 0, 0),
 'survey_id': '1913393',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2015-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2bb'),
 'comm_name': 'Hooded Plover',
 'lat': -38.28599929999999,
 'long': 144.420105,
 'record_id': '9826107',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 10, 4, 0, 0),
 'survey_id': '1913559',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2bc'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9826882',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 10, 7, 0, 0),
 'survey_id': '1913626',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2bd'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9826863',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 10, 7, 0, 0),
 'survey_id': '1913624',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2be'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9826733',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 10, 7, 0, 0),
 'survey_id': '1913610',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2bf'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9826772',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 10, 7, 0, 0),
 'survey_id': '1913613',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2c0'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9826813',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 10, 7, 0, 0),
 'survey_id': '1913619',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2c1'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9826921',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 10, 7, 0, 0),
 'survey_id': '1913629',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2c2'),
 'comm_name': 'Hooded Plover',
 'lat': -38.735199,
 'long': 143.686203,
 'record_id': '9827168',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 10, 8, 0, 0),
 'survey_id': '1913650',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2c3'),
 'comm_name': 'Hooded Plover',
 'lat': -38.28599929999999,
 'long': 144.420105,
 'record_id': '9827719',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 10, 10, 0, 0),
 'survey_id': '1913696',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2c4'),
 'comm_name': 'Hooded Plover',
 'lat': -38.28599929999999,
 'long': 144.420105,
 'record_id': '9827972',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 10, 10, 0, 0),
 'survey_id': '1913709',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2c5'),
 'comm_name': 'Hooded Plover',
 'lat': -38.28599929999999,
 'long': 144.420105,
 'record_id': '9827877',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 10, 10, 0, 0),
 'survey_id': '1913702',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2c6'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7528992,
 'long': 143.6651001,
 'record_id': '9829683',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 10, 15, 0, 0),
 'survey_id': '1913807',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2c7'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9830341',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 10, 17, 0, 0),
 'survey_id': '1913844',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2c8'),
 'comm_name': 'Hooded Plover',
 'lat': -38.28599929999999,
 'long': 144.420105,
 'record_id': '9832619',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 10, 18, 0, 0),
 'survey_id': '1914003',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2c9'),
 'comm_name': 'Hooded Plover',
 'lat': -38.28599929999999,
 'long': 144.420105,
 'record_id': '9831942',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 10, 18, 0, 0),
 'survey_id': '1913927',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2ca'),
 'comm_name': 'Hooded Plover',
 'lat': -38.28599929999999,
 'long': 144.420105,
 'record_id': '9832014',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 10, 18, 0, 0),
 'survey_id': '1913951',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2cb'),
 'comm_name': 'Hooded Plover',
 'lat': -38.457199100000004,
 'long': 144.10729980000002,
 'record_id': '9833796',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 10, 21, 0, 0),
 'survey_id': '1914067',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2cc'),
 'comm_name': 'Hooded Plover',
 'lat': -38.28599929999999,
 'long': 144.420105,
 'record_id': '9834605',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 10, 24, 0, 0),
 'survey_id': '1914124',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2cd'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9835768',
 'sci_name': 'Thinornis cucullatus',

{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2dd'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3139,
 'long': 144.35839840000003,
 'record_id': '9855098',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 12, 13, 0, 0),
 'survey_id': '1915390',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2015-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2de'),
 'comm_name': 'Hooded Plover',
 'lat': -38.6453018,
 'long': 143.07000730000001,
 'record_id': '9856312',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 12, 16, 0, 0),
 'survey_id': '1915457',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2015-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2df'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9856361',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 12, 17, 0, 0),
 'survey_id': '1915463',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2015-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2e0'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3181,
 'long': 144.3480988,
 'record_id': '9859658',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2015, 12, 30, 0, 0),
 'survey_id': '1915663',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2015-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2e1'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9859995',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 1, 1, 0, 0),
 'survey_id': '1915687',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2016-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2e2'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3181,
 'long': 144.3480988,
 'record_id': '9861761',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 1, 3, 0, 0),
 'survey_id': '1915790',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2016-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2e3'),
 'comm_name': 'Hooded Plover',
 'lat': -38.46739960000001,
 'long': 144.0971069,
 'record_id': '9864534',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 1, 9, 0, 0),
 'survey_id': '1915980',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2016-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2e4'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9865816',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 1, 14, 0, 0),
 'survey_id': '1916067',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2016-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2e5'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9866099',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 1, 15, 0, 0),
 'survey_id': '1916083',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2016-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2e6'),
 'comm_name': 'Hooded Plover',
 'lat': -38.166698499999995,
 'long': 141.2333069,
 'record_id': '10121673',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 1, 16, 0, 0),
 'survey_id': '1981550',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2016-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2e7'),
 'comm_name': 'Hooded Plover',
 'lat': -38.166698499999995,
 'long': 141.2333069,
 'record_id': '10121676',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 1, 16, 0, 0),
 'survey_id': '1981551',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2016-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2e8'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9867422',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 1, 19, 0, 0),
 'survey_id': '1916161',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2016-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2e9'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9867778',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 1, 19, 0, 0),
 'survey_id': '1916187',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2016-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2ea'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9868705',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 1, 21, 0, 0),
 'survey_id': '1916233',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5,
 'year_month': '2016-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2eb'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9869097',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 1, 23, 0, 0),
 'survey_id': '1916255',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2016-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2ec'),
 'comm_name': 'Hooded Plover',
 'lat': -37.7794991,
 'long': 149.1947937,
 'record_id': '6943838',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 1, 24, 0, 0),
 'survey_id': '1103384',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2016-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2ed'),
 'comm_name': 'Hooded Plover',
 'lat': -38.287998200000004,
 'long': 144.60150149999998,
 'record_id': '9874205',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 1, 30, 0, 0),
 'survey_id': '1916571',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2016-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2ee'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9875824',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 2, 4, 0, 0),
 'survey_id': '1916706',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2016-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2ef'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2631989,
 'long': 144.6631012,
 'record_id': '9876125',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 2, 5, 0, 0),
 'survey_id': '1916734',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2016-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2f0'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9877817',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 2, 9, 0, 0),
 'survey_id': '1916862',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2016-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2f1'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7631989,
 'long': 143.379303,
 'record_id': '9877824',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 2, 9, 0, 0),
 'survey_id': '1916865',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6,
 'year_month': '2016-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2f2'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9879167',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 2, 13, 0, 0),
 'survey_id': '1916963',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2016-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2f3'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9881618',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 2, 20, 0, 0),
 'survey_id': '1917171',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 7,
 'year_month': '2016-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2f4'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9883967',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 2, 26, 0, 0),
 'survey_id': '1917329',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2016-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2f5'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7811012,
 'long': 143.662796,
 'record_id': '9885709',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 3, 2, 0, 0),
 'survey_id': '1917453',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2016-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2f6'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7784996,
 'long': 143.6683044,
 'record_id': '9887055',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 3, 5, 0, 0),
 'survey_id': '1917566',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2016-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2f7'),
 'comm_name': 'Hooded Plover',
 'lat': -39.01549910000001,
 'long': 146.29229740000002,
 'record_id': '6953657',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 3, 16, 0, 0),
 'survey_id': '1107769',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5,
 'year_month': '2016-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2f8'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9890910',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 3, 18, 0, 0),
 'survey_id': '1917975',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6,
 'year_month': '2016-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2f9'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7770004,
 'long': 143.6638947,
 'record_id': '9896022',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 3, 29, 0, 0),
 'survey_id': '1918381',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2016-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2fa'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7355995,
 'long': 143.6844025,
 'record_id': '9898360',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 4, 2, 0, 0),
 'survey_id': '1918573',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2016-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2fb'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7355995,
 'long': 143.6844025,
 'record_id': '9898357',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 4, 2, 0, 0),
 'survey_id': '1918572',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2016-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2fc'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7811012,
 'long': 143.662796,
 'record_id': '9898990',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 4, 4, 0, 0),
 'survey_id': '1918614',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2016-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2fd'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7811012,
 'long': 143.662796,
 'record_id': '9901295',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 4, 10, 0, 0),
 'survey_id': '1918781',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2016-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2fe'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7811012,
 'long': 143.662796,
 'record_id': '9901312',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 4, 10, 0, 0),
 'survey_id': '1918783',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2016-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac2ff'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7811012,
 'long': 143.662796,
 'record_id': '9901426',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 4, 10, 0, 0),
 'survey_id': '1918793',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2016-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac300'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7528992,
 'long': 143.6651001,
 'record_id': '9901973',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 4, 11, 0, 0),
 'survey_id': '1918837',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 8,
 'year_month': '2016-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac301'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7811012,
 'long': 143.662796,
 'record_id': '9902369',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 4, 11, 0, 0),
 'survey_id': '1918866',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 10,
 'year_month': '2016-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac302'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7811012,
 'long': 143.662796,
 'record_id': '9902448',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 4, 11, 0, 0),
 'survey_id': '1918871',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 10,
 'year_month': '2016-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac303'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7811012,
 'long': 143.662796,
 'record_id': '9902483',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 4, 11, 0, 0),
 'survey_id': '1918872',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 10,
 'year_month': '2016-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac304'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7528992,
 'long': 143.6651001,
 'record_id': '9902288',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 4, 11, 0, 0),
 'survey_id': '1918863',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 8,
 'year_month': '2016-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac305'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7811012,
 'long': 143.662796,
 'record_id': '9902641',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 4, 11, 0, 0),
 'survey_id': '1918882',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 10,
 'year_month': '2016-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac306'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7528992,
 'long': 143.6651001,
 'record_id': '9902553',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 4, 11, 0, 0),
 'survey_id': '1918878',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 8,
 'year_month': '2016-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac307'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7811012,
 'long': 143.662796,
 'record_id': '9905151',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 4, 17, 0, 0),
 'survey_id': '1919098',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2016-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac308'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7811012,
 'long': 143.662796,
 'record_id': '9907884',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 4, 24, 0, 0),
 'survey_id': '1919356',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2016-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac309'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7811012,
 'long': 143.662796,
 'record_id': '9910633',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 4, 30, 0, 0),
 'survey_id': '1919628',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5,
 'year_month': '2016-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac30a'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7528992,
 'long': 143.6651001,
 'record_id': '9910648',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 4, 30, 0, 0),
 'survey_id': '1919632',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2016-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac30b'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7811012,
 'long': 143.662796,
 'record_id': '9911759',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 5, 5, 0, 0),
 'survey_id': '1919780',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2016-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac30c'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7811012,
 'long': 143.662796,
 'record_id': '9913249',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 5, 13, 0, 0),
 'survey_id': '1919932',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2016-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac30d'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9915519',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 5, 15, 0, 0),
 'survey_id': '1920125',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2016-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac30e'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7811012,
 'long': 143.662796,
 'record_id': '9917167',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 5, 21, 0, 0),
 'survey_id': '1920250',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2016-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac30f'),
 'comm_name': 'Hooded Plover',
 'lat': -38.4668999,
 'long': 144.093399,
 'record_id': '9918808',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 5, 28, 0, 0),
 'survey_id': '1920396',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5,
 'year_month': '2016-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac310'),
 'comm_name': 'Hooded Plover',
 'lat': -38.4642982,
 'long': 144.0944061,
 'record_id': '9922634',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 6, 12, 0, 0),
 'survey_id': '1920782',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5,
 'year_month': '2016-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac311'),
 'comm_name': 'Hooded Plover',
 'lat': -38.281299600000004,
 'long': 144.4328003,
 'record_id': '9923973',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 6, 23, 0, 0),
 'survey_id': '1920914',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 12,
 'year_month': '2016-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac312'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9925250',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 6, 26, 0, 0),
 'survey_id': '1920996',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2016-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac313'),
 'comm_name': 'Hooded Plover',
 'lat': -38.281299600000004,
 'long': 144.4326935,
 'record_id': '9927792',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 7, 7, 0, 0),
 'survey_id': '1921260',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 14,
 'year_month': '2016-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac314'),
 'comm_name': 'Hooded Plover',
 'lat': -38.4285011,
 'long': 144.1833038,
 'record_id': '9928364',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 7, 9, 0, 0),
 'survey_id': '1921309',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6,
 'year_month': '2016-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac315'),

{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac322'),
 'comm_name': 'Hooded Plover',
 'lat': -38.28599929999999,
 'long': 144.420105,
 'record_id': '9949732',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 10, 5, 0, 0),
 'survey_id': '1923160',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2016-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac323'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9951171',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 10, 9, 0, 0),
 'survey_id': '1923283',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2016-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac324'),
 'comm_name': 'Hooded Plover',
 'lat': -38.429798100000006,
 'long': 144.1813965,
 'record_id': '9951431',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 10, 11, 0, 0),
 'survey_id': '1923311',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5,
 'year_month': '2016-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac325'),
 'comm_name': 'Hooded Plover',
 'lat': -38.28599929999999,
 'long': 144.420105,
 'record_id': '9954495',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 10, 19, 0, 0),
 'survey_id': '1923524',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2016-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac326'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9955824',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 10, 24, 0, 0),
 'survey_id': '1923640',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2016-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac327'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3181,
 'long': 144.3480988,
 'record_id': '9956151',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 10, 25, 0, 0),
 'survey_id': '1923672',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2016-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac328'),
 'comm_name': 'Hooded Plover',
 'lat': -38.0545006,
 'long': 140.99560549999998,
 'record_id': '10121709',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 11, 9, 0, 0),
 'survey_id': '1981567',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2016-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac329'),
 'comm_name': 'Hooded Plover',
 'lat': -38.281299600000004,
 'long': 144.4328003,
 'record_id': '9962405',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 11, 14, 0, 0),
 'survey_id': '1924281',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2016-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac32a'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9962944',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 11, 16, 0, 0),
 'survey_id': '1924341',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2016-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac32b'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9963064',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 11, 16, 0, 0),
 'survey_id': '1924351',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2016-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac32c'),
 'comm_name': 'Hooded Plover',
 'lat': -38.27930070000001,
 'long': 144.57539369999998,
 'record_id': '9964243',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 11, 19, 0, 0),
 'survey_id': '1924463',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6,
 'year_month': '2016-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac32d'),
 'comm_name': 'Hooded Plover',
 'lat': -38.27930070000001,
 'long': 144.57539369999998,
 'record_id': '9964138',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 11, 19, 0, 0),
 'survey_id': '1924451',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6,
 'year_month': '2016-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac32e'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9965149',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 11, 22, 0, 0),
 'survey_id': '1924543',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2016-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac32f'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9971143',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 12, 3, 0, 0),
 'survey_id': '1924971',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2016-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac330'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9971634',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 12, 4, 0, 0),
 'survey_id': '1925005',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2016-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac331'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9972794',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 12, 4, 0, 0),
 'survey_id': '1925098',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2016-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac332'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9972808',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 12, 4, 0, 0),
 'survey_id': '1925099',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2016-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac333'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9972012',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 12, 4, 0, 0),
 'survey_id': '1925033',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2016-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac334'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9971557',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 12, 4, 0, 0),
 'survey_id': '1925001',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2016-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac335'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9974110',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 12, 6, 0, 0),
 'survey_id': '1925212',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2016-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac336'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9974355',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 12, 6, 0, 0),
 'survey_id': '1925223',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2016-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac337'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9974605',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 12, 7, 0, 0),
 'survey_id': '1925239',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5,
 'year_month': '2016-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac338'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9974701',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 12, 7, 0, 0),
 'survey_id': '1925251',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5,
 'year_month': '2016-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac339'),
 'comm_name': 'Hooded Plover',
 'lat': -38.28599929999999,
 'long': 144.420105,
 'record_id': '9974629',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 12, 7, 0, 0),
 'survey_id': '1925241',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2016-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac33a'),
 'comm_name': 'Hooded Plover',
 'lat': -38.28599929999999,
 'long': 144.420105,
 'record_id': '9974722',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 12, 7, 0, 0),
 'survey_id': '1925255',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2016-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac33b'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9975009',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 12, 8, 0, 0),
 'survey_id': '1925284',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5,
 'year_month': '2016-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac33c'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9974909',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 12, 8, 0, 0),
 'survey_id': '1925275',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2016-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac33d'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9974888',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 12, 8, 0, 0),
 'survey_id': '1925273',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2016-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac33e'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9975678',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 12, 10, 0, 0),
 'survey_id': '1925343',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2016-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac33f'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9975734',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 12, 10, 0, 0),
 'survey_id': '1925346',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2016-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac340'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9975329',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 12, 10, 0, 0),
 'survey_id': '1925323',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2016-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac341'),
 'comm_name': 'Hooded Plover',
 'lat': -38.4291,
 'long': 144.1802063,
 'record_id': '9975974',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 12, 11, 0, 0),
 'survey_id': '1925370',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2016-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac342'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7815018,
 'long': 143.65800480000001,
 'record_id': '9977132',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 12, 16, 0, 0),
 'survey_id': '1925496',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2016-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac343'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9977563',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 12, 17, 0, 0),
 'survey_id': '1925527',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2016-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac344'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9978656',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 12, 23, 0, 0),
 'survey_id': '1925654',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2016-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac345'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9978836',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 12, 24, 0, 0),
 'survey_id': '1925671',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2016-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac346'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2882996,
 'long': 144.48609919999998,
 'record_id': '8493161',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 12, 31, 0, 0),
 'survey_id': '1343351',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2016-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac347'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9980603',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 12, 31, 0, 0),
 'survey_id': '1925849',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2016-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac348'),
 'comm_name': 'Hooded Plover',
 'lat': -38.394699100000004,
 'long': 144.2525024,
 'record_id': '9980507',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2016, 12, 31, 0, 0),
 'survey_id': '1925844',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2016-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac349'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9981235',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 1, 0, 0),
 'survey_id': '1925906',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2017-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac34a'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10004392',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 1, 0, 0),
 'survey_id': '1935885',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5,
 'year_month': '2017-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac34b'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10004671',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 1, 0, 0),
 'survey_id': '1935953',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2017-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac34c'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10004409',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 1, 0, 0),
 'survey_id': '1935892',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2017-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac34d'),
 'comm_name': 'Hooded Plover',
 'lat': -38.281299600000004,
 'long': 144.4326935,
 'record_id': '9981268',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 1, 0, 0),
 'survey_id': '1925919',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2017-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac34e'),
 'comm_name': 'Hooded Plover',
 'lat': -38.4506989,
 'long': 144.1159058,
 'record_id': '9981335',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 2, 0, 0),
 'survey_id': '1925949',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac34f'),
 'comm_name': 'Hooded Plover',
 'lat': -37.9617004,
 'long': 147.76269530000002,
 'record_id': '10004951',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 3, 0, 0),
 'survey_id': '1936064',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2017-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac350'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5514984,
 'long': 145.3509064,
 'record_id': '10005156',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 5, 0, 0),
 'survey_id': '1936166',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2017-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac351'),
 'comm_name': 'Hooded Plover',
 'lat': -37.896499600000006,
 'long': 147.8816071,
 'record_id': '10005182',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 5, 0, 0),
 'survey_id': '1936179',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5,
 'year_month': '2017-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac352'),
 'comm_name': 'Hooded Plover',
 'lat': -37.8795013,
 'long': 147.9911957,
 'record_id': '10005169',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 5, 0, 0),
 'survey_id': '1936172',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5,
 'year_month': '2017-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac353'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5514984,
 'long': 145.3509064,
 'record_id': '10005291',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 6, 0, 0),
 'survey_id': '1936227',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2017-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac354'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3819008,
 'long': 142.23109440000002,
 'record_id': '10005322',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 6, 0, 0),
 'survey_id': '1936234',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6,
 'year_month': '2017-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac355'),
 'comm_name': 'Hooded Plover',
 'lat': -37.885601,
 'long': 147.9880981,
 'record_id': '10005419',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 7, 0, 0),
 'survey_id': '1936279',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac356'),
 'comm_name': 'Hooded Plover',
 'lat': -37.520900700000006,
 'long': 149.9367981,
 'record_id': '8494235',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 9, 0, 0),
 'survey_id': '1343517',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 10,
 'year_month': '2017-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac357'),
 'comm_name': 'Hooded Plover',
 'lat': -38.394699100000004,
 'long': 144.2525024,
 'record_id': '9981519',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 10, 0, 0),
 'survey_id': '1926042',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac358'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9981555',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 13, 0, 0),
 'survey_id': '1926061',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2017-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac359'),
 'comm_name': 'Hooded Plover',
 'lat': -38.28599929999999,
 'long': 144.420105,
 'record_id': '9981559',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 13, 0, 0),
 'survey_id': '1926063',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,

 'lat': -38.4174995,
 'long': 144.8222961,
 'record_id': '10007336',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 25, 0, 0),
 'survey_id': '1936946',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2017-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac365'),
 'comm_name': 'Hooded Plover',
 'lat': -38.28599929999999,
 'long': 144.420105,
 'record_id': '9981966',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 25, 0, 0),
 'survey_id': '1926262',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2017-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac366'),
 'comm_name': 'Hooded Plover',
 'lat': -38.281299600000004,
 'long': 144.4326935,
 'record_id': '9981983',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 25, 0, 0),
 'survey_id': '1926270',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2017-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac367'),
 'comm_name': 'Hooded Plover',
 'lat': -38.35670089999999,
 'long': 142.3213959,
 'record_id': '10007533',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 26, 0, 0),
 'survey_id': '1937010',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5,
 'year_month': '2017-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac368'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3973007,
 'long': 144.79620359999998,
 'record_id': '10007663',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 27, 0, 0),
 'survey_id': '1937067',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2017-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac369'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10007969',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 30, 0, 0),
 'survey_id': '1937179',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac36a'),
 'comm_name': 'Hooded Plover',
 'lat': -38.28319929999999,
 'long': 144.4992981,
 'record_id': '9982129',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 30, 0, 0),
 'survey_id': '1926350',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac36b'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2713013,
 'long': 144.51750180000002,
 'record_id': '9982132',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 30, 0, 0),
 'survey_id': '1926351',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2017-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac36c'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2858009,
 'long': 144.46760559999998,
 'record_id': '9982151',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 1, 31, 0, 0),
 'survey_id': '1926361',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2017-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac36d'),
 'comm_name': 'Hooded Plover',
 'lat': -37.8972015,
 'long': 147.8809967,
 'record_id': '9005526',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 2, 3, 0, 0),
 'survey_id': '1745931',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 7,
 'year_month': '2017-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac36e'),
 'comm_name': 'Hooded Plover',
 'lat': -38.281299600000004,
 'long': 144.4328003,
 'record_id': '9982268',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 2, 4, 0, 0),
 'survey_id': '1926416',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac36f'),
 'comm_name': 'Hooded Plover',
 'lat': -38.281299600000004,
 'long': 144.4328003,
 'record_id': '9982271',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 2, 4, 0, 0),
 'survey_id': '1926417',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac370'),
 'comm_name': 'Hooded Plover',
 'lat': -38.281299600000004,
 'long': 144.4326935,
 'record_id': '9982346',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 2, 9, 0, 0),
 'survey_id': '1926456',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac371'),
 'comm_name': 'Hooded Plover',
 'lat': -38.49000170000001,
 'long': 144.9149017,
 'record_id': '10008888',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 2, 10, 0, 0),
 'survey_id': '1937552',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac372'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9982406',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 2, 11, 0, 0),
 'survey_id': '1926484',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac373'),
 'comm_name': 'Hooded Plover',
 'lat': -38.284999799999994,
 'long': 144.4589996,
 'record_id': '9982454',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 2, 12, 0, 0),
 'survey_id': '1926502',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac374'),
 'comm_name': 'Hooded Plover',
 'lat': -37.8795013,
 'long': 147.9911957,
 'record_id': '10009457',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 2, 15, 0, 0),
 'survey_id': '1937712',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2017-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac375'),
 'comm_name': 'Hooded Plover',
 'lat': -37.8795013,
 'long': 147.9911957,
 'record_id': '10009479',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 2, 15, 0, 0),
 'survey_id': '1937718',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2017-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac376'),
 'comm_name': 'Hooded Plover',
 'lat': -38.28599929999999,
 'long': 144.420105,
 'record_id': '9982561',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 2, 15, 0, 0),
 'survey_id': '1926549',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2017-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac377'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9982623',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 2, 17, 0, 0),
 'survey_id': '1926572',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5,
 'year_month': '2017-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac378'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9982627',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 2, 17, 0, 0),
 'survey_id': '1926576',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5,
 'year_month': '2017-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac379'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10009924',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 2, 20, 0, 0),
 'survey_id': '1937898',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac37a'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10009938',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 2, 20, 0, 0),
 'survey_id': '1937907',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac37b'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10009949',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 2, 20, 0, 0),
 'survey_id': '1937912',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac37c'),
 'comm_name': 'Hooded Plover',
 'lat': -37.7963982,
 'long': 148.74989319999997,
 'record_id': '10010065',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 2, 22, 0, 0),
 'survey_id': '1937964',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2017-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac37d'),
 'comm_name': 'Hooded Plover',
 'lat': -37.9617004,
 'long': 147.76269530000002,
 'record_id': '10010041',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 2, 22, 0, 0),
 'survey_id': '1937953',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6,
 'year_month': '2017-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac37e'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9982795',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 2, 23, 0, 0),
 'survey_id': '1926661',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2017-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac37f'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9982802',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 2, 23, 0, 0),
 'survey_id': '1926665',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2017-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac380'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3181,
 'long': 144.3480988,
 'record_id': '9982954',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 2, 25, 0, 0),
 'survey_id': '1926699',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2017-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac381'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9983070',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 3, 1, 0, 0),
 'survey_id': '1926766',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6,
 'year_month': '2017-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac382'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5514984,
 'long': 145.3509064,
 'record_id': '10011079',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 3, 4, 0, 0),
 'survey_id': '1938358',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2017-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac383'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10011058',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 3, 4, 0, 0),
 'survey_id': '1938348',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 12,
 'year_month': '2017-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac384'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10011029',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 3, 4, 0, 0),
 'survey_id': '1938339',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 12,
 'year_month': '2017-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac385'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10011036',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 3, 4, 0, 0),
 'survey_id': '1938341',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 12,
 'year_month': '2017-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac386'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10011053',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 3, 4, 0, 0),
 'survey_id': '1938346',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 12,
 'year_month': '2017-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac387'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10010950',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 3, 4, 0, 0),
 'survey_id': '1938309',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac388'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10011001',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 3, 4, 0, 0),
 'survey_id': '1938327',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5,
 'year_month': '2017-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac389'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10011015',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 3, 4, 0, 0),
 'survey_id': '1938331',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6,
 'year_month': '2017-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac38a'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10010919',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 3, 4, 0, 0),
 'survey_id': '1938296',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5,
 'year_month': '2017-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac38b'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10011138',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 3, 5, 0, 0),
 'survey_id': '1938384',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2017-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac38c'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10011183',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 3, 5, 0, 0),
 'survey_id': '1938397',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5,
 'year_month': '2017-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac38d'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10011187',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 3, 5, 0, 0),
 'survey_id': '1938398',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5,
 'year_month': '2017-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac38e'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10011199',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 3, 5, 0, 0),
 'survey_id': '1938401',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5,
 'year_month': '2017-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac38f'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10011204',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 3, 5, 0, 0),
 'survey_id': '1938403',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5,
 'year_month': '2017-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac390'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10011233',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 3, 5, 0, 0),
 'survey_id': '1938407',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2017-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac391'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10011254',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 3, 5, 0, 0),
 'survey_id': '1938417',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2017-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac392'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10011259',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 3, 5, 0, 0),
 'survey_id': '1938418',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2017-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac393'),
 'comm_name': 'Hooded Plover',
 'lat': -38.4656982,
 'long': 144.10609440000002,
 'record_id': '9983285',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 3, 10, 0, 0),
 'survey_id': '1926866',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2017-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac394'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3600006,
 'long': 142.3166962,
 'record_id': '10011853',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 3, 11, 0, 0),
 'survey_id': '1938603',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 13,
 'year_month': '2017-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac395'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9983396',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 3, 14, 0, 0),
 'survey_id': '1926933',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac396'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3819008,
 'long': 142.23109440000002,
 'record_id': '10012247',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 3, 15, 0, 0),
 'survey_id': '1938748',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2017-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac397'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3819008,
 'long': 142.23109440000002,
 'record_id': '10012334',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 3, 16, 0, 0),
 'survey_id': '1938779',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2017-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac398'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10012500',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 3, 18, 0, 0),
 'survey_id': '1938850',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac399'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10012504',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 3, 18, 0, 0),
 'survey_id': '1938853',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2017-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac39a'),
 'comm_name': 'Hooded Plover',
 'lat': -38.457698799999996,
 'long': 145.2964935,
 'record_id': '10013400',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 3, 28, 0, 0),
 'survey_id': '1939151',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2017-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac39b'),
 'comm_name': 'Hooded Plover',
 'lat': -38.457698799999996,
 'long': 145.2964935,
 'record_id': '10013350',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 3, 28, 0, 0),
 'survey_id': '1939134',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2017-03'}

{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac3ac'),
 'comm_name': 'Hooded Plover',
 'lat': -38.364399,
 'long': 142.28590390000002,
 'record_id': '10015819',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 4, 22, 0, 0),
 'survey_id': '1940047',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 11,
 'year_month': '2017-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac3ad'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5374985,
 'long': 145.3334045,
 'record_id': '10016050',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 4, 24, 0, 0),
 'survey_id': '1940138',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac3ae'),
 'comm_name': 'Hooded Plover',
 'lat': -37.5387001,
 'long': 149.81390380000002,
 'record_id': '10016319',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 4, 29, 0, 0),
 'survey_id': '1940285',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac3af'),
 'comm_name': 'Hooded Plover',
 'lat': -37.5387001,
 'long': 149.81390380000002,
 'record_id': '10016300',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 4, 29, 0, 0),
 'survey_id': '1940271',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac3b0'),
 'comm_name': 'Hooded Plover',
 'lat': -37.5387001,
 'long': 149.81390380000002,
 'record_id': '10016299',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 4, 29, 0, 0),
 'survey_id': '1940270',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac3b1'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9984036',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 4, 29, 0, 0),
 'survey_id': '1927248',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2017-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac3b2'),
 'comm_name': 'Hooded Plover',
 'lat': -37.801101700000004,
 'long': 148.5401001,
 'record_id': '10016387',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 4, 30, 0, 0),
 'survey_id': '1940325',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 14,
 'year_month': '2017-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac3b3'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9984147',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 5, 7, 0, 0),
 'survey_id': '1927300',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6,
 'year_month': '2017-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac3b4'),
 'comm_name': 'Hooded Plover',
 'lat': -38.367500299999996,
 'long': 144.28469850000002,
 'record_id': '9984272',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 5, 13, 0, 0),
 'survey_id': '1927382',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6,
 'year_month': '2017-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac3b5'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9984199',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 5, 13, 0, 0),
 'survey_id': '1927335',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6,
 'year_month': '2017-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac3b6'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9984262',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 5, 13, 0, 0),
 'survey_id': '1927373',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2017-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac3b7'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9984208',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 5, 13, 0, 0),
 'survey_id': '1927343',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2017-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac3b8'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5169983,
 'long': 145.3061981,
 'record_id': '10017299',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 5, 13, 0, 0),
 'survey_id': '1940664',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6,
 'year_month': '2017-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac3b9'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5169983,
 'long': 145.3061981,
 'record_id': '10017290',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 5, 13, 0, 0),
 'survey_id': '1940659',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6,
 'year_month': '2017-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac3ba'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7564011,
 'long': 143.6705933,
 'record_id': '9984385',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 5, 20, 0, 0),
 'survey_id': '1927446',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac3bb'),
 'comm_name': 'Hooded Plover',
 'lat': -38.457698799999996,
 'long': 145.2964935,
 'record_id': '10018214',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 5, 22, 0, 0),
 'survey_id': '1940996',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac3bc'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9984427',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 5, 23, 0, 0),
 'survey_id': '1927469',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6,
 'year_month': '2017-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac3bd'),
 'comm_name': 'Hooded Plover',
 'lat': -38.4296989,
 'long': 144.1533966,
 'record_id': '9984430',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 5, 24, 0, 0),
 'survey_id': '1927470',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 10,
 'year_month': '2017-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac3be'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9984463',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 5, 27, 0, 0),
 'survey_id': '1927493',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6,
 'year_month': '2017-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac3bf'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9984480',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 5, 29, 0, 0),
 'survey_id': '1927500',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5,
 'year_month': '2017-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac3c0'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10018929',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 6, 3, 0, 0),
 'survey_id': '1941253',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2017-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac3c1'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10018960',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 6, 3, 0, 0),
 'survey_id': '1941263',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2017-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac3c2'),
 'comm_name': 'Hooded Plover',
 'lat': -37.8005981,
 'long': 148.545105,
 'record_id': '10019057',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 6, 4, 0, 0),
 'survey_id': '1941293',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 9,
 'year_month': '2017-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac3c3'),
 'comm_name': 'Hooded Plover',
 'lat': -38.311199200000004,
 'long': 144.67480469999998,
 'record_id': '10019044',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 6, 4, 0, 0),
 'survey_id': '1941291',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2017-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac3c4'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2858009,
 'long': 144.46760559999998,
 'record_id': '9984556',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 6, 7, 0, 0),
 'survey_id': '1927549',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2017-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac3c5'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2858009,
 'long': 144.46760559999998,
 'record_id': '9984557',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 6, 7, 0, 0),
 'survey_id': '1927550',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac3c6'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9984560',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 6, 8, 0, 0),
 'survey_id': '1927552',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac3c7'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5438995,
 'long': 145.33949280000002,
 'record_id': '10019417',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 6, 10, 0, 0),
 'survey_id': '1941412',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 7,
 'year_month': '2017-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac3c8'),
 'comm_name': 'Hooded Plover',
 'lat': -38.28599929999999,
 'long': 144.420105,
 'record_id': '9984575',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 6, 10, 0, 0),
 'survey_id': '1927564',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac3c9'),
 'comm_name': 'Hooded Plover',
 'lat': -38.40430070000001,
 'long': 142.5216064,
 'record_id': '10019520',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 6, 11, 0, 0),
 'survey_id': '1941449',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac3ca'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10019754',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 6, 17, 0, 0),
 'survey_id': '1941571',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 10,
 'year_month': '2017-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac3cb'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10019779',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 6, 17, 0, 0),
 'survey_id': '1941583',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2017-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac3cc'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10019770',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 6, 17, 0, 0),
 'survey_id': '1941580',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 10,
 'year_month': '2017-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac3cd'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10019747',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 6, 17, 0, 0),
 'survey_id': '1941569',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 8,
 'year_month': '2017-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac3ce'),
 'comm_name': 'Hooded Plover',
 'lat': -38.457698799999996,
 'long': 145.2964935,
 'record_id': '10019845',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 6, 18, 0, 0),
 'survey_id': '1941603',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac3cf'),
 'comm_name': 'Hooded Plover',
 'lat': -38.6297989,
 'long': 145.5644073,
 'record_id': '10019984',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 6, 19, 0, 0),
 'survey_id': '1941665',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac3d0'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10020263',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 6, 24, 0, 0),
 'survey_id': '1941771',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac3d1'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9984720',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 6, 30, 0, 0),
 'survey_id': '1927658',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2017-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac3d2'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9984732',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 6, 30, 0, 0),
 'survey_id': '1927665',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2017-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac3d3'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10020921',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 7, 1, 0, 0),
 'survey_id': '1941957',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 12,
 'year_month': '2017-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac3d4'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10020903',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 7, 1, 0, 0),
 'survey_id': '1941952',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 12,
 'year_month': '2017-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac3d5'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10020914',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 7, 1, 0, 0),
 'survey_id': '1941954',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5,
 'year_month': '2017-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac3d6'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10020934',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 7, 1, 0, 0),
 'survey_id': '1941961',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 12,
 'year_month': '2017-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac3d7'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10020853',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 7, 1, 0, 0),
 'survey_id': '1941938',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5,
 'year_month': '2017-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac3d8'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10020886',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 7, 1, 0, 0),
 'survey_id': '1941948',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 12,
 'year_month': '2017-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac3d9'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10021146',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 7, 3, 0, 0),
 'survey_id': '1942039',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac3da'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3875008,
 'long': 142.23190309999998,
 'record_id': '10021157',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 7, 3, 0, 0),
 'survey_id': '1942041',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 10,
 'year_month': '2017-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac3db'),
 'comm_name': 'Hooded Plover',
 'lat': -38.40430070000001,
 'long': 142.5216064,
 'record_id': '10021145',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 7, 3, 0, 0),
 'survey_id': '1942038',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac3dc'),
 'comm_name': 'Hooded Plover',
 'lat': -38.40430070000001,
 'long': 142.5216064,
 'record_id': '10021132',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 7, 3, 0, 0),
 'survey_id': '1942031',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac3dd'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9984787',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 7, 4, 0, 0),
 'survey_id': '1927698',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5,
 'year_month': '2017-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac3de'),
 'comm_name': 'Hooded Plover',
 'lat': -38.457698799999996,
 'long': 145.2964935,
 'record_id': '10021447',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 7, 8, 0, 0),
 'survey_id': '1942134',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac3df'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10021556',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 7, 8, 0, 0),
 'survey_id': '1942161',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 8,
 'year_month': '2017-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac3e0'),
 'comm_name': 'Hooded Plover',
 'lat': -38.6708984,
 'long': 145.61210630000002,
 'record_id': '10021633',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 7, 9, 0, 0),
 'survey_id': '1942194',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2017-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac3e1'),
 'comm_name': 'Hooded Plover',
 'lat': -38.281299600000004,
 'long': 144.4326935,
 'record_id': '9985011',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 7, 15, 0, 0),
 'survey_id': '1927782',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac3e2'),
 'comm_name': 'Hooded Plover',
 'lat': -38.281299600000004,
 'long': 144.4326935,
 'record_id': '9985015',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 7, 15, 0, 0),
 'survey_id': '1927786',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac3e3'),
 'comm_name': 'Hooded Plover',
 'lat': -38.8102989,
 'long': 146.0726929,
 'record_id': '10022458',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 7, 27, 0, 0),
 'survey_id': '1942525',
 'taxon_id': '10138',
 'taxon_type': 'Waders',

{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac402'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9985719',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 9, 14, 0, 0),
 'survey_id': '1928121',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac403'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9985708',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 9, 14, 0, 0),
 'survey_id': '1928116',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac404'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10025591',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 9, 15, 0, 0),
 'survey_id': '1943819',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2017-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac405'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9985832',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 9, 24, 0, 0),
 'survey_id': '1928180',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2017-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac406'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3819008,
 'long': 142.23109440000002,
 'record_id': '10027029',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 9, 30, 0, 0),
 'survey_id': '1944454',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac407'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5438995,
 'long': 145.33949280000002,
 'record_id': '10027166',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 10, 1, 0, 0),
 'survey_id': '1944524',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac408'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5438995,
 'long': 145.33949280000002,
 'record_id': '10027187',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 10, 1, 0, 0),
 'survey_id': '1944535',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac409'),
 'comm_name': 'Hooded Plover',
 'lat': -38.544399299999995,
 'long': 145.33990480000003,
 'record_id': '10027665',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 10, 6, 0, 0),
 'survey_id': '1944729',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2017-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac40a'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10027754',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 10, 7, 0, 0),
 'survey_id': '1944759',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2017-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac40b'),
 'comm_name': 'Hooded Plover',
 'lat': -38.45029829999999,
 'long': 145.2796021,
 'record_id': '10027849',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 10, 7, 0, 0),
 'survey_id': '1944799',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2017-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac40c'),
 'comm_name': 'Hooded Plover',
 'lat': -38.45029829999999,
 'long': 145.2796021,
 'record_id': '10027702',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 10, 7, 0, 0),
 'survey_id': '1944743',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2017-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac40d'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9986193',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 10, 14, 0, 0),
 'survey_id': '1928332',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac40e'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9986196',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 10, 14, 0, 0),
 'survey_id': '1928334',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac40f'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9986203',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 10, 14, 0, 0),
 'survey_id': '1928339',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac410'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10028471',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 10, 14, 0, 0),
 'survey_id': '1945025',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac411'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10028695',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 10, 14, 0, 0),
 'survey_id': '1945109',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 10,
 'year_month': '2017-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac412'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7352982,
 'long': 143.684494,
 'record_id': '9986158',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 10, 14, 0, 0),
 'survey_id': '1928319',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2017-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac413'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3922997,
 'long': 142.2245941,
 'record_id': '10028541',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 10, 14, 0, 0),
 'survey_id': '1945045',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac414'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3930016,
 'long': 142.2462006,
 'record_id': '10028854',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 10, 15, 0, 0),
 'survey_id': '1945177',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2017-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac415'),
 'comm_name': 'Hooded Plover',
 'lat': -38.6086998,
 'long': 142.878006,
 'record_id': '10028749',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 10, 15, 0, 0),
 'survey_id': '1945131',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2017-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac416'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5438995,
 'long': 145.33949280000002,
 'record_id': '10029096',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 10, 16, 0, 0),
 'survey_id': '1945273',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac417'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9986246',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 10, 16, 0, 0),
 'survey_id': '1928356',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac418'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5758018,
 'long': 145.51089480000002,
 'record_id': '10029112',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 10, 16, 0, 0),
 'survey_id': '1945282',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6,
 'year_month': '2017-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac419'),
 'comm_name': 'Hooded Plover',
 'lat': -38.517398799999995,
 'long': 145.11790469999997,
 'record_id': '10029128',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 10, 16, 0, 0),
 'survey_id': '1945286',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 7,
 'year_month': '2017-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac41a'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3550987,
 'long': 142.3352966,
 'record_id': '10029005',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 10, 16, 0, 0),
 'survey_id': '1945235',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5,
 'year_month': '2017-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac41b'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9986294',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 10, 17, 0, 0),
 'survey_id': '1928371',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac41c'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9986298',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 10, 17, 0, 0),
 'survey_id': '1928373',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac41d'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9986303',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 10, 17, 0, 0),
 'survey_id': '1928377',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac41e'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9986310',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 10, 17, 0, 0),
 'survey_id': '1928381',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac41f'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9986314',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 10, 17, 0, 0),
 'survey_id': '1928383',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac420'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9986317',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 10, 18, 0, 0),
 'survey_id': '1928385',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac421'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9986368',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 10, 21, 0, 0),
 'survey_id': '1928408',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2017-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac422'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7811012,
 'long': 143.662796,
 'record_id': '9986377',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 10, 21, 0, 0),
 'survey_id': '1928414',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac423'),
 'comm_name': 'Hooded Plover',
 'lat': -38.760501899999994,
 'long': 143.6790009,
 'record_id': '9986378',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 10, 21, 0, 0),
 'survey_id': '1928415',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac424'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7564011,
 'long': 143.6705933,
 'record_id': '9986429',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 10, 22, 0, 0),
 'survey_id': '1928446',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac425'),
 'comm_name': 'Hooded Plover',
 'lat': -38.9365997,
 'long': 146.2490997,
 'record_id': '10030275',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 10, 24, 0, 0),
 'survey_id': '1945806',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac426'),
 'comm_name': 'Hooded Plover',
 'lat': -37.7977982,
 'long': 148.56230159999998,
 'record_id': '10030511',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 10, 26, 0, 0),
 'survey_id': '1945913',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac427'),
 'comm_name': 'Hooded Plover',
 'lat': -38.778099100000006,
 'long': 143.664505,
 'record_id': '9986670',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 11, 1, 0, 0),
 'survey_id': '1928547',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac428'),
 'comm_name': 'Hooded Plover',
 'lat': -38.850299799999995,
 'long': 143.5453033,
 'record_id': '9986694',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 11, 2, 0, 0),
 'survey_id': '1928559',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2017-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac429'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3550987,
 'long': 142.3352966,
 'record_id': '10031691',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 11, 4, 0, 0),
 'survey_id': '1946352',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2017-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac42a'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5405006,
 'long': 145.4380951,
 'record_id': '10031906',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 11, 5, 0, 0),
 'survey_id': '1946432',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac42b'),
 'comm_name': 'Hooded Plover',
 'lat': -38.281299600000004,
 'long': 144.4326935,
 'record_id': '9986794',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 11, 5, 0, 0),
 'survey_id': '1928600',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac42c'),
 'comm_name': 'Hooded Plover',
 'lat': -37.881500200000005,
 'long': 147.98429869999998,
 'record_id': '10032136',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 11, 6, 0, 0),
 'survey_id': '1946542',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2017-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac42d'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5758018,
 'long': 145.51089480000002,
 'record_id': '10032268',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 11, 7, 0, 0),
 'survey_id': '1946600',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac42e'),
 'comm_name': 'Hooded Plover',
 'lat': -38.0273018,
 'long': 144.56269840000002,
 'record_id': '10032726',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 11, 11, 0, 0),
 'survey_id': '1946798',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2017-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac42f'),
 'comm_name': 'Hooded Plover',
 'lat': -38.4931984,
 'long': 144.8881989,
 'record_id': '10033190',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 11, 14, 0, 0),
 'survey_id': '1946969',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2017-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac430'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5514984,
 'long': 145.3509064,
 'record_id': '10033279',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 11, 15, 0, 0),
 'survey_id': '1947014',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac431'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5514984,
 'long': 145.3509064,
 'record_id': '10033286',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 11, 15, 0, 0),
 'survey_id': '1947017',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac432'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9986954',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 11, 17, 0, 0),
 'survey_id': '1928687',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac433'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9987042',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 11, 19, 0, 0),
 'survey_id': '1928724',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5,
 'year_month': '2017-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac434'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3550987,
 'long': 142.3352966,
 'record_id': '10033734',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 11, 19, 0, 0),
 'survey_id': '1947221',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2017-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac435'),
 'comm_name': 'Hooded Plover',
 'lat': -38.912998200000004,
 'long': 146.3329926,
 'record_id': '10034032',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 11, 21, 0, 0),
 'survey_id': '1947338',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2017-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac436'),
 'comm_name': 'Hooded Plover',
 'lat': -38.912998200000004,
 'long': 146.3329926,
 'record_id': '10034045',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 11, 21, 0, 0),
 'survey_id': '1947342',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2017-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac437'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3930016,
 'long': 142.2462006,
 'record_id': '10034181',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 11, 23, 0, 0),
 'survey_id': '1947397',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6,
 'year_month': '2017-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac438'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3930016,
 'long': 142.2462006,
 'record_id': '10034186',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 11, 23, 0, 0),
 'survey_id': '1947398',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6,
 'year_month': '2017-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac439'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9987141',
 'sci_name': 'Thinornis cucullatus',

 'start_date': datetime.datetime(2017, 12, 30, 0, 0),
 'survey_id': '1948899',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2017-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac44b'),
 'comm_name': 'Hooded Plover',
 'lat': -38.4314995,
 'long': 144.84030149999998,
 'record_id': '10038320',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2017, 12, 30, 0, 0),
 'survey_id': '1948875',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2017-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac44c'),
 'comm_name': 'Hooded Plover',
 'lat': -37.5800018,
 'long': 149.7467957,
 'record_id': '10038855',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 1, 0, 0),
 'survey_id': '1949080',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac44d'),
 'comm_name': 'Hooded Plover',
 'lat': -37.8005981,
 'long': 148.545105,
 'record_id': '10038713',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 1, 0, 0),
 'survey_id': '1949018',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac44e'),
 'comm_name': 'Hooded Plover',
 'lat': -37.5561981,
 'long': 149.7559967,
 'record_id': '10038590',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 1, 0, 0),
 'survey_id': '1948984',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac44f'),
 'comm_name': 'Hooded Plover',
 'lat': -37.5561981,
 'long': 149.7559967,
 'record_id': '10038718',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 1, 0, 0),
 'survey_id': '1949021',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac450'),
 'comm_name': 'Hooded Plover',
 'lat': -37.5750999,
 'long': 149.7561035,
 'record_id': '10038851',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 1, 0, 0),
 'survey_id': '1949077',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac451'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9988215',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 2, 0, 0),
 'survey_id': '1929212',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac452'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3819008,
 'long': 142.23109440000002,
 'record_id': '10038909',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 2, 0, 0),
 'survey_id': '1949103',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2018-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac453'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5438995,
 'long': 145.33949280000002,
 'record_id': '10039107',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 3, 0, 0),
 'survey_id': '1949188',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac454'),
 'comm_name': 'Hooded Plover',
 'lat': -37.7815018,
 'long': 148.9194946,
 'record_id': '10039261',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 4, 0, 0),
 'survey_id': '1949261',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac455'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5438995,
 'long': 145.33949280000002,
 'record_id': '10039411',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 5, 0, 0),
 'survey_id': '1949310',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2018-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac456'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3930016,
 'long': 142.2462006,
 'record_id': '10039513',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 6, 0, 0),
 'survey_id': '1949361',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac457'),
 'comm_name': 'Hooded Plover',
 'lat': -38.6875992,
 'long': 146.7550964,
 'record_id': '10039655',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 7, 0, 0),
 'survey_id': '1949413',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6,
 'year_month': '2018-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac458'),
 'comm_name': 'Hooded Plover',
 'lat': -38.28599929999999,
 'long': 144.420105,
 'record_id': '9988404',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 7, 0, 0),
 'survey_id': '1929286',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2018-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac459'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9988416',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 8, 0, 0),
 'survey_id': '1929295',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac45a'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9988433',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 9, 0, 0),
 'survey_id': '1929303',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5,
 'year_month': '2018-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac45b'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5998993,
 'long': 142.85940549999998,
 'record_id': '10039951',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 9, 0, 0),
 'survey_id': '1949542',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac45c'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9988456',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 9, 0, 0),
 'survey_id': '1929313',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5,
 'year_month': '2018-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac45d'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5514984,
 'long': 145.3509064,
 'record_id': '10039965',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 10, 0, 0),
 'survey_id': '1949546',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2018-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac45e'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10040255',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 12, 0, 0),
 'survey_id': '1949640',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac45f'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9988528',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 13, 0, 0),
 'survey_id': '1929342',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac460'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9988596',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 13, 0, 0),
 'survey_id': '1929362',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac461'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10040473',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 13, 0, 0),
 'survey_id': '1949714',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6,
 'year_month': '2018-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac462'),
 'comm_name': 'Hooded Plover',
 'lat': -37.476001700000005,
 'long': 149.642807,
 'record_id': '10040988',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 15, 0, 0),
 'survey_id': '1949855',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac463'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5514984,
 'long': 145.3509064,
 'record_id': '10041285',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 19, 0, 0),
 'survey_id': '1949974',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac464'),
 'comm_name': 'Hooded Plover',
 'lat': -38.4291992,
 'long': 144.1555939,
 'record_id': '9988721',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 19, 0, 0),
 'survey_id': '1929407',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac465'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3819008,
 'long': 142.23109440000002,
 'record_id': '10041303',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 19, 0, 0),
 'survey_id': '1949984',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 15,
 'year_month': '2018-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac466'),
 'comm_name': 'Hooded Plover',
 'lat': -38.28599929999999,
 'long': 144.420105,
 'record_id': '9988711',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 19, 0, 0),
 'survey_id': '1929403',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2018-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac467'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9988769',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 20, 0, 0),
 'survey_id': '1929431',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac468'),
 'comm_name': 'Hooded Plover',
 'lat': -37.8795013,
 'long': 147.9911957,
 'record_id': '10041361',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 20, 0, 0),
 'survey_id': '1950010',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2018-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac469'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3232994,
 'long': 144.68299869999998,
 'record_id': '10041674',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 22, 0, 0),
 'survey_id': '1950127',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6,
 'year_month': '2018-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac46a'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5514984,
 'long': 145.3509064,
 'record_id': '10041894',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 23, 0, 0),
 'survey_id': '1950193',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2018-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac46b'),
 'comm_name': 'Hooded Plover',
 'lat': -38.0545006,
 'long': 140.99560549999998,
 'record_id': '10042012',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 25, 0, 0),
 'survey_id': '1950250',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2018-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac46c'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5758018,
 'long': 145.51089480000002,
 'record_id': '10042543',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 29, 0, 0),
 'survey_id': '1950405',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac46d'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5758018,
 'long': 145.51089480000002,
 'record_id': '10042559',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 29, 0, 0),
 'survey_id': '1950413',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac46e'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9989065',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 31, 0, 0),
 'survey_id': '1929533',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac46f'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2887001,
 'long': 144.4884949,
 'record_id': '9989082',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 1, 31, 0, 0),
 'survey_id': '1929540',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2018-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac470'),
 'comm_name': 'Hooded Plover',
 'lat': -37.5845985,
 'long': 149.7368927,
 'record_id': '10043057',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 2, 3, 0, 0),
 'survey_id': '1950567',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac471'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2750015,
 'long': 144.5036926,
 'record_id': '9989181',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 2, 3, 0, 0),
 'survey_id': '1929580',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2018-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac472'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2750015,
 'long': 144.5036926,
 'record_id': '9989220',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 2, 3, 0, 0),
 'survey_id': '1929594',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2018-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac473'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7811012,
 'long': 143.662796,
 'record_id': '9989265',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 2, 4, 0, 0),
 'survey_id': '1929613',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac474'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7528992,
 'long': 143.6651001,
 'record_id': '9989276',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 2, 4, 0, 0),
 'survey_id': '1929617',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2018-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac475'),
 'comm_name': 'Hooded Plover',
 'lat': -38.826099400000004,
 'long': 143.5550995,
 'record_id': '9989368',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 2, 8, 0, 0),
 'survey_id': '1929657',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2018-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac476'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10043814',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 2, 10, 0, 0),
 'survey_id': '1950856',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2018-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac477'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10043823',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 2, 10, 0, 0),
 'survey_id': '1950859',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2018-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac478'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10044235',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 2, 12, 0, 0),
 'survey_id': '1950986',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac479'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10044069',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 2, 12, 0, 0),
 'survey_id': '1950938',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac47a'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10044143',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 2, 12, 0, 0),
 'survey_id': '1950961',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2018-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac47b'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10044366',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 2, 13, 0, 0),
 'survey_id': '1951038',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2018-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac47c'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9989466',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 2, 15, 0, 0),
 'survey_id': '1929706',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac47d'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10044636',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 2, 16, 0, 0),
 'survey_id': '1951150',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2018-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac47e'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5758018,
 'long': 145.51089480000002,
 'record_id': '10044707',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 2, 17, 0, 0),
 'survey_id': '1951175',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2018-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac47f'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9989559',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 2, 18, 0, 0),
 'survey_id': '1929733',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac480'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5633011,
 'long': 145.352005,
 'record_id': '10045338',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 2, 21, 0, 0),
 'survey_id': '1951398',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac481'),

 'comm_name': 'Hooded Plover',
 'lat': -38.281299600000004,
 'long': 144.4326935,
 'record_id': '9989607',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 2, 21, 0, 0),
 'survey_id': '1929757',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2018-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac482'),
 'comm_name': 'Hooded Plover',
 'lat': -38.413200399999994,
 'long': 144.18739319999997,
 'record_id': '9989789',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 2, 25, 0, 0),
 'survey_id': '1929820',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2018-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac483'),
 'comm_name': 'Hooded Plover',
 'lat': -38.49000170000001,
 'long': 144.9149017,
 'record_id': '10045674',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 2, 25, 0, 0),
 'survey_id': '1951531',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2018-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac484'),
 'comm_name': 'Hooded Plover',
 'lat': -38.35670089999999,
 'long': 142.3213959,
 'record_id': '10045853',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 2, 27, 0, 0),
 'survey_id': '1951604',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2018-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac485'),
 'comm_name': 'Hooded Plover',
 'lat': -37.8017006,
 'long': 149.27589419999998,
 'record_id': '10045994',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 2, 28, 0, 0),
 'survey_id': '1951664',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac486'),
 'comm_name': 'Hooded Plover',
 'lat': -39.0313988,
 'long': 146.3197937,
 'record_id': '10046075',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 3, 1, 0, 0),
 'survey_id': '1951694',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 11,
 'year_month': '2018-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac487'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2767982,
 'long': 144.5039978,
 'record_id': '9989835',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 3, 3, 0, 0),
 'survey_id': '1929835',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac488'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5758018,
 'long': 145.51089480000002,
 'record_id': '10046351',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 3, 3, 0, 0),
 'survey_id': '1951837',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5,
 'year_month': '2018-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac489'),
 'comm_name': 'Hooded Plover',
 'lat': -38.28599929999999,
 'long': 144.420105,
 'record_id': '9989838',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 3, 3, 0, 0),
 'survey_id': '1929837',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5,
 'year_month': '2018-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac48a'),
 'comm_name': 'Hooded Plover',
 'lat': -38.28599929999999,
 'long': 144.420105,
 'record_id': '9989848',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 3, 3, 0, 0),
 'survey_id': '1929844',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5,
 'year_month': '2018-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac48b'),
 'comm_name': 'Hooded Plover',
 'lat': -38.4496994,
 'long': 145.218399,
 'record_id': '10047202',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 3, 10, 0, 0),
 'survey_id': '1952158',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac48c'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9989963',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 3, 12, 0, 0),
 'survey_id': '1929906',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2018-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac48d'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5514984,
 'long': 145.3509064,
 'record_id': '10047615',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 3, 13, 0, 0),
 'survey_id': '1952340',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2018-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac48e'),
 'comm_name': 'Hooded Plover',
 'lat': -37.5845985,
 'long': 149.7368927,
 'record_id': '10047804',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 3, 15, 0, 0),
 'survey_id': '1952409',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2018-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac48f'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9990076',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 3, 19, 0, 0),
 'survey_id': '1929954',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2018-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac490'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9990078',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 3, 19, 0, 0),
 'survey_id': '1929956',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6,
 'year_month': '2018-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac491'),
 'comm_name': 'Hooded Plover',
 'lat': -39.0205002,
 'long': 146.3063965,
 'record_id': '10048856',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 3, 26, 0, 0),
 'survey_id': '1952860',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac492'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9990161',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 3, 27, 0, 0),
 'survey_id': '1930006',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6,
 'year_month': '2018-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac493'),
 'comm_name': 'Hooded Plover',
 'lat': -37.5750999,
 'long': 149.7561035,
 'record_id': '10048901',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 3, 27, 0, 0),
 'survey_id': '1952888',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac494'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3186989,
 'long': 142.36230469999998,
 'record_id': '10049024',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 3, 28, 0, 0),
 'survey_id': '1952944',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2018-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac495'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9990227',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 3, 30, 0, 0),
 'survey_id': '1930027',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2018-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac496'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10049346',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 3, 31, 0, 0),
 'survey_id': '1953094',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac497'),
 'comm_name': 'Hooded Plover',
 'lat': -38.678901700000004,
 'long': 146.8161926,
 'record_id': '10049748',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 4, 1, 0, 0),
 'survey_id': '1953224',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac498'),
 'comm_name': 'Hooded Plover',
 'lat': -38.678901700000004,
 'long': 146.8161926,
 'record_id': '10049730',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 4, 1, 0, 0),
 'survey_id': '1953221',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac499'),
 'comm_name': 'Hooded Plover',
 'lat': -38.678901700000004,
 'long': 146.8161926,
 'record_id': '10049706',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 4, 1, 0, 0),
 'survey_id': '1953218',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac49a'),
 'comm_name': 'Hooded Plover',
 'lat': -38.724399600000005,
 'long': 146.68310549999998,
 'record_id': '10049721',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 4, 1, 0, 0),
 'survey_id': '1953220',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac49b'),
 'comm_name': 'Hooded Plover',
 'lat': -38.724399600000005,
 'long': 146.68310549999998,
 'record_id': '10049736',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 4, 1, 0, 0),
 'survey_id': '1953222',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac49c'),
 'comm_name': 'Hooded Plover',
 'lat': -38.724399600000005,
 'long': 146.68310549999998,
 'record_id': '10049757',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 4, 1, 0, 0),
 'survey_id': '1953226',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac49d'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9990337',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 4, 3, 0, 0),
 'survey_id': '1930077',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 14,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac49e'),
 'comm_name': 'Hooded Plover',
 'lat': -38.28599929999999,
 'long': 144.420105,
 'record_id': '9990357',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 4, 5, 0, 0),
 'survey_id': '1930087',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac49f'),
 'comm_name': 'Hooded Plover',
 'lat': -37.8007011,
 'long': 148.54859919999998,
 'record_id': '10050535',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 4, 6, 0, 0),
 'survey_id': '1953528',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4a0'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7528992,
 'long': 143.6651001,
 'record_id': '9990384',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 4, 7, 0, 0),
 'survey_id': '1930099',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4a1'),
 'comm_name': 'Hooded Plover',
 'lat': -38.4824982,
 'long': 145.0249023,
 'record_id': '10050670',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 4, 8, 0, 0),
 'survey_id': '1953593',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4a2'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10050898',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 4, 9, 0, 0),
 'survey_id': '1953683',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4a3'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9990484',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 4, 13, 0, 0),
 'survey_id': '1930144',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4a4'),
 'comm_name': 'Hooded Plover',
 'lat': -38.82740020000001,
 'long': 143.5830994,
 'record_id': '9990541',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 4, 18, 0, 0),
 'survey_id': '1930174',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4a5'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10051587',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 4, 18, 0, 0),
 'survey_id': '1953947',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4a6'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2858009,
 'long': 144.46760559999998,
 'record_id': '9990534',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 4, 18, 0, 0),
 'survey_id': '1930171',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4a7'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9990538',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 4, 18, 0, 0),
 'survey_id': '1930173',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4a8'),
 'comm_name': 'Hooded Plover',
 'lat': -38.509300200000006,
 'long': 145.1708069,
 'record_id': '10051620',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 4, 18, 0, 0),
 'survey_id': '1953961',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4a9'),
 'comm_name': 'Hooded Plover',
 'lat': -38.287998200000004,
 'long': 144.60150149999998,
 'record_id': '9990542',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 4, 18, 0, 0),
 'survey_id': '1930175',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4aa'),
 'comm_name': 'Hooded Plover',
 'lat': -38.281299600000004,
 'long': 144.4326935,
 'record_id': '9990536',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 4, 18, 0, 0),
 'survey_id': '1930172',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4ab'),
 'comm_name': 'Hooded Plover',
 'lat': -38.284400899999994,
 'long': 144.45579530000003,
 'record_id': '9990545',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 4, 19, 0, 0),
 'survey_id': '1930178',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4ac'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2887001,
 'long': 144.4884949,
 'record_id': '9990544',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 4, 19, 0, 0),
 'survey_id': '1930177',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4ad'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10051708',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 4, 20, 0, 0),
 'survey_id': '1954005',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4ae'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5159988,
 'long': 145.3020935,
 'record_id': '10051911',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 4, 21, 0, 0),
 'survey_id': '1954082',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 8,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4af'),
 'comm_name': 'Hooded Plover',
 'lat': -38.166698499999995,
 'long': 141.2333069,
 'record_id': '10052013',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 4, 21, 0, 0),
 'survey_id': '1954118',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 7,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4b0'),
 'comm_name': 'Hooded Plover',
 'lat': -38.35670089999999,
 'long': 142.3213959,
 'record_id': '10052018',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 4, 21, 0, 0),
 'survey_id': '1954120',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4b1'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3552017,
 'long': 142.3347015,
 'record_id': '10052069',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 4, 22, 0, 0),
 'survey_id': '1954159',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4b2'),
 'comm_name': 'Hooded Plover',
 'lat': -38.457698799999996,
 'long': 145.2964935,
 'record_id': '10052123',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 4, 22, 0, 0),
 'survey_id': '1954174',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4b3'),
 'comm_name': 'Hooded Plover',
 'lat': -37.8005981,
 'long': 148.545105,
 'record_id': '10052253',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 4, 23, 0, 0),
 'survey_id': '1954210',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4b4'),
 'comm_name': 'Hooded Plover',
 'lat': -37.5750999,
 'long': 149.7561035,
 'record_id': '10053328',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 5, 1, 0, 0),
 'survey_id': '1954639',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4b5'),
 'comm_name': 'Hooded Plover',
 'lat': -38.281299600000004,
 'long': 144.4326935,
 'record_id': '9990736',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 5, 2, 0, 0),
 'survey_id': '1930273',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 16,
 'year_month': '2018-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4b6'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3941994,
 'long': 144.79229740000002,
 'record_id': '10053453',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 5, 3, 0, 0),
 'survey_id': '1954692',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4b7'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3916016,
 'long': 142.2229004,
 'record_id': '10054250',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 5, 12, 0, 0),
 'survey_id': '1955005',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4b8'),
 'comm_name': 'Hooded Plover',
 'lat': -38.284400899999994,
 'long': 144.45579530000003,
 'record_id': '9991021',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 5, 16, 0, 0),
 'survey_id': '1930415',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 8,
 'year_month': '2018-05'}

 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2018-08'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4d1'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3670998,
 'long': 141.4095001,
 'record_id': '10060880',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 8, 14, 0, 0),
 'survey_id': '1957995',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-08'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4d2'),
 'comm_name': 'Hooded Plover',
 'lat': -38.394001,
 'long': 142.23910519999998,
 'record_id': '10061491',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 8, 24, 0, 0),
 'survey_id': '1958296',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2018-08'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4d3'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3916016,
 'long': 142.2306976,
 'record_id': '10061490',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 8, 24, 0, 0),
 'survey_id': '1958295',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5,
 'year_month': '2018-08'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4d4'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10061825',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 8, 29, 0, 0),
 'survey_id': '1958469',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6,
 'year_month': '2018-08'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4d5'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10061869',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 8, 29, 0, 0),
 'survey_id': '1958490',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6,
 'year_month': '2018-08'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4d6'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9992736',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 9, 1, 0, 0),
 'survey_id': '1931214',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4d7'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9992705',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 9, 1, 0, 0),
 'survey_id': '1931195',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4d8'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9992859',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 9, 7, 0, 0),
 'survey_id': '1931264',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4d9'),
 'comm_name': 'Hooded Plover',
 'lat': -37.8005981,
 'long': 148.545105,
 'record_id': '10062653',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 9, 8, 0, 0),
 'survey_id': '1958854',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4da'),
 'comm_name': 'Hooded Plover',
 'lat': -37.8005981,
 'long': 148.545105,
 'record_id': '10062749',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 9, 8, 0, 0),
 'survey_id': '1958885',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4db'),
 'comm_name': 'Hooded Plover',
 'lat': -37.8005981,
 'long': 148.545105,
 'record_id': '10062753',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 9, 8, 0, 0),
 'survey_id': '1958886',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4dc'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3819008,
 'long': 142.23109440000002,
 'record_id': '10062714',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 9, 8, 0, 0),
 'survey_id': '1958873',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4dd'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9992932',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 9, 9, 0, 0),
 'survey_id': '1931288',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4de'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10063301',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 9, 14, 0, 0),
 'survey_id': '1959124',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4df'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10063240',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 9, 14, 0, 0),
 'survey_id': '1959094',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 8,
 'year_month': '2018-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4e0'),
 'comm_name': 'Hooded Plover',
 'lat': -38.826099400000004,
 'long': 143.5550995,
 'record_id': '9993123',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 9, 16, 0, 0),
 'survey_id': '1931364',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2018-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4e1'),
 'comm_name': 'Hooded Plover',
 'lat': -38.826099400000004,
 'long': 143.5550995,
 'record_id': '9993148',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 9, 16, 0, 0),
 'survey_id': '1931374',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2018-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4e2'),
 'comm_name': 'Hooded Plover',
 'lat': -38.0555,
 'long': 140.9933014,
 'record_id': '10199134',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 9, 19, 0, 0),
 'survey_id': '2023096',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4e3'),
 'comm_name': 'Hooded Plover',
 'lat': -38.1240005,
 'long': 141.1441956,
 'record_id': '10198960',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 9, 19, 0, 0),
 'survey_id': '2022962',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4e4'),
 'comm_name': 'Hooded Plover',
 'lat': -38.1132011,
 'long': 141.12049869999998,
 'record_id': '10198952',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 9, 19, 0, 0),
 'survey_id': '2022955',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4e5'),
 'comm_name': 'Hooded Plover',
 'lat': -38.104599,
 'long': 141.1004028,
 'record_id': '10198955',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 9, 19, 0, 0),
 'survey_id': '2022957',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4e6'),
 'comm_name': 'Hooded Plover',
 'lat': -38.100700399999994,
 'long': 141.09350590000003,
 'record_id': '10198957',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 9, 19, 0, 0),
 'survey_id': '2022959',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4e7'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2229996,
 'long': 141.29859919999998,
 'record_id': '10198963',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 9, 20, 0, 0),
 'survey_id': '2022964',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2018-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4e8'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2019005,
 'long': 141.2718964,
 'record_id': '10198966',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 9, 20, 0, 0),
 'survey_id': '2022967',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4e9'),
 'comm_name': 'Hooded Plover',
 'lat': -38.1875992,
 'long': 141.252594,
 'record_id': '10198971',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 9, 20, 0, 0),
 'survey_id': '2022971',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4ea'),
 'comm_name': 'Hooded Plover',
 'lat': -38.167800899999996,
 'long': 141.2230988,
 'record_id': '10198974',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 9, 20, 0, 0),
 'survey_id': '2022974',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2018-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4eb'),
 'comm_name': 'Hooded Plover',
 'lat': -38.167800899999996,
 'long': 141.2192993,
 'record_id': '10198976',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 9, 20, 0, 0),
 'survey_id': '2022975',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2018-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4ec'),
 'comm_name': 'Hooded Plover',
 'lat': -38.1570015,
 'long': 141.205307,
 'record_id': '10198982',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 9, 20, 0, 0),
 'survey_id': '2022978',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4ed'),
 'comm_name': 'Hooded Plover',
 'lat': -38.334301,
 'long': 141.39880369999997,
 'record_id': '10198991',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 9, 20, 0, 0),
 'survey_id': '2022987',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2018-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4ee'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3291016,
 'long': 141.3964996,
 'record_id': '10198992',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 9, 20, 0, 0),
 'survey_id': '2022988',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4ef'),
 'comm_name': 'Hooded Plover',
 'lat': -37.8853989,
 'long': 147.9122925,
 'record_id': '10064041',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 9, 22, 0, 0),
 'survey_id': '1959490',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4f0'),
 'comm_name': 'Hooded Plover',
 'lat': -37.8853989,
 'long': 147.9122925,
 'record_id': '10063993',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 9, 22, 0, 0),
 'survey_id': '1959466',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4f1'),
 'comm_name': 'Hooded Plover',
 'lat': -38.284400899999994,
 'long': 144.45579530000003,
 'record_id': '9993324',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 9, 22, 0, 0),
 'survey_id': '1931431',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2018-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4f2'),
 'comm_name': 'Hooded Plover',
 'lat': -38.4017982,
 'long': 142.5084076,
 'record_id': '10064001',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 9, 22, 0, 0),
 'survey_id': '1959469',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4f3'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3930016,
 'long': 142.2462006,
 'record_id': '10064019',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 9, 22, 0, 0),
 'survey_id': '1959479',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4f4'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10064094',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 9, 22, 0, 0),
 'survey_id': '1959515',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 11,
 'year_month': '2018-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4f5'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5107002,
 'long': 145.28100590000003,
 'record_id': '10064020',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 9, 22, 0, 0),
 'survey_id': '1959480',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2018-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4f6'),
 'comm_name': 'Hooded Plover',
 'lat': -38.508098600000004,
 'long': 145.2770996,
 'record_id': '10064752',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 9, 26, 0, 0),
 'survey_id': '1959792',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2018-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4f7'),
 'comm_name': 'Hooded Plover',
 'lat': -38.508098600000004,
 'long': 145.2770996,
 'record_id': '10064740',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 9, 26, 0, 0),
 'survey_id': '1959786',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2018-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4f8'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9993518',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 10, 1, 0, 0),
 'survey_id': '1931512',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4f9'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9993512',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 10, 1, 0, 0),
 'survey_id': '1931509',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4fa'),
 'comm_name': 'Hooded Plover',
 'lat': -38.540699,
 'long': 145.3341064,
 'record_id': '8979205',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 10, 2, 0, 0),
 'survey_id': '1727308',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5,
 'year_month': '2018-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4fb'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9993521',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 10, 2, 0, 0),
 'survey_id': '1931514',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4fc'),
 'comm_name': 'Hooded Plover',
 'lat': -38.713699299999995,
 'long': 143.7447052,
 'record_id': '9993535',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 10, 2, 0, 0),
 'survey_id': '1931522',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4fd'),
 'comm_name': 'Hooded Plover',
 'lat': -38.713699299999995,
 'long': 143.7447052,
 'record_id': '9993536',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 10, 2, 0, 0),
 'survey_id': '1931523',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4fe'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10065558',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 10, 2, 0, 0),
 'survey_id': '1960154',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5,
 'year_month': '2018-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac4ff'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10065584',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 10, 2, 0, 0),
 'survey_id': '1960165',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5,
 'year_month': '2018-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac500'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10065602',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 10, 2, 0, 0),
 'survey_id': '1960173',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5,
 'year_month': '2018-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac501'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10065617',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 10, 2, 0, 0),
 'survey_id': '1960177',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5,
 'year_month': '2018-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac502'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3819008,
 'long': 142.23109440000002,
 'record_id': '10065675',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 10, 3, 0, 0),
 'survey_id': '1960199',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac503'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3819008,
 'long': 142.23109440000002,
 'record_id': '10065726',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 10, 3, 0, 0),
 'survey_id': '1960219',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac504'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3819008,
 'long': 142.23109440000002,
 'record_id': '10065749',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 10, 3, 0, 0),
 'survey_id': '1960226',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac505'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3819008,
 'long': 142.23109440000002,
 'record_id': '10065776',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 10, 3, 0, 0),
 'survey_id': '1960239',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac506'),
 'comm_name': 'Hooded Plover',
 'lat': -38.388900799999995,
 'long': 142.24229430000003,
 'record_id': '10065660',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 10, 3, 0, 0),
 'survey_id': '1960194',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2018-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac507'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9993775',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 10, 7, 0, 0),
 'survey_id': '1931618',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2018-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac508'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9993832',
 'sci_name': 'Thinornis cucullatus',

 'start_date': datetime.datetime(2018, 10, 28, 0, 0),
 'survey_id': '1961614',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac51c'),
 'comm_name': 'Hooded Plover',
 'lat': -38.388900799999995,
 'long': 142.24229430000003,
 'record_id': '10068984',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 10, 28, 0, 0),
 'survey_id': '1961657',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2018-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac51d'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9994571',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 10, 30, 0, 0),
 'survey_id': '1931967',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac51e'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9994584',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 10, 30, 0, 0),
 'survey_id': '1931972',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac51f'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3232994,
 'long': 144.68299869999998,
 'record_id': '10069273',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 10, 30, 0, 0),
 'survey_id': '1961760',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 7,
 'year_month': '2018-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac520'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9994623',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 11, 1, 0, 0),
 'survey_id': '1931986',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2018-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac521'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9994627',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 11, 1, 0, 0),
 'survey_id': '1931987',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2018-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac522'),
 'comm_name': 'Hooded Plover',
 'lat': -37.7773018,
 'long': 149.32380680000003,
 'record_id': '10070000',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 11, 3, 0, 0),
 'survey_id': '1962032',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac523'),
 'comm_name': 'Hooded Plover',
 'lat': -37.7773018,
 'long': 149.32380680000003,
 'record_id': '10070033',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 11, 3, 0, 0),
 'survey_id': '1962047',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac524'),
 'comm_name': 'Hooded Plover',
 'lat': -38.6708984,
 'long': 145.61210630000002,
 'record_id': '10069797',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 11, 3, 0, 0),
 'survey_id': '1961961',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6,
 'year_month': '2018-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac525'),
 'comm_name': 'Hooded Plover',
 'lat': -38.6708984,
 'long': 145.61210630000002,
 'record_id': '10069799',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 11, 3, 0, 0),
 'survey_id': '1961962',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6,
 'year_month': '2018-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac526'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3919983,
 'long': 142.22120669999998,
 'record_id': '10070148',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 11, 4, 0, 0),
 'survey_id': '1962097',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac527'),
 'comm_name': 'Hooded Plover',
 'lat': -38.6708984,
 'long': 145.61210630000002,
 'record_id': '10070181',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 11, 4, 0, 0),
 'survey_id': '1962113',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6,
 'year_month': '2018-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac528'),
 'comm_name': 'Hooded Plover',
 'lat': -38.6708984,
 'long': 145.61210630000002,
 'record_id': '10070182',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 11, 4, 0, 0),
 'survey_id': '1962114',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6,
 'year_month': '2018-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac529'),
 'comm_name': 'Hooded Plover',
 'lat': -37.5750999,
 'long': 149.7561035,
 'record_id': '10070687',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 11, 7, 0, 0),
 'survey_id': '1962364',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac52a'),
 'comm_name': 'Hooded Plover',
 'lat': -38.468799600000004,
 'long': 144.1006012,
 'record_id': '9994764',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 11, 9, 0, 0),
 'survey_id': '1932042',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac52b'),
 'comm_name': 'Hooded Plover',
 'lat': -37.5561981,
 'long': 149.7559967,
 'record_id': '10071156',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 11, 10, 0, 0),
 'survey_id': '1962598',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac52c'),
 'comm_name': 'Hooded Plover',
 'lat': -38.277401,
 'long': 144.4208069,
 'record_id': '9994863',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 11, 11, 0, 0),
 'survey_id': '1932088',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac52d'),
 'comm_name': 'Hooded Plover',
 'lat': -37.780700700000004,
 'long': 148.9237976,
 'record_id': '10071631',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 11, 13, 0, 0),
 'survey_id': '1962789',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac52e'),
 'comm_name': 'Hooded Plover',
 'lat': -37.7839012,
 'long': 148.8417053,
 'record_id': '10071636',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 11, 13, 0, 0),
 'survey_id': '1962791',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac52f'),
 'comm_name': 'Hooded Plover',
 'lat': -38.0555,
 'long': 140.9933014,
 'record_id': '10199159',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 11, 15, 0, 0),
 'survey_id': '2023098',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 28,
 'year_month': '2018-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac530'),
 'comm_name': 'Hooded Plover',
 'lat': -38.1953011,
 'long': 141.2624054,
 'record_id': '10199004',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 11, 15, 0, 0),
 'survey_id': '2022998',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2018-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac531'),
 'comm_name': 'Hooded Plover',
 'lat': -38.1920013,
 'long': 141.258194,
 'record_id': '10199005',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 11, 15, 0, 0),
 'survey_id': '2022999',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2018-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac532'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9995007',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 11, 16, 0, 0),
 'survey_id': '1932148',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2018-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac533'),
 'comm_name': 'Hooded Plover',
 'lat': -38.0555,
 'long': 140.9933014,
 'record_id': '10199163',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 11, 16, 0, 0),
 'survey_id': '2023099',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 8,
 'year_month': '2018-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac534'),
 'comm_name': 'Hooded Plover',
 'lat': -38.0555,
 'long': 140.9933014,
 'record_id': '10199165',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 11, 16, 0, 0),
 'survey_id': '2023100',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac535'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2815018,
 'long': 144.4380951,
 'record_id': '9995038',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 11, 17, 0, 0),
 'survey_id': '1932164',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2018-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac536'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2815018,
 'long': 144.4380951,
 'record_id': '9995014',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 11, 17, 0, 0),
 'survey_id': '1932151',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2018-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac537'),
 'comm_name': 'Hooded Plover',
 'lat': -38.284400899999994,
 'long': 144.45579530000003,
 'record_id': '9995016',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 11, 17, 0, 0),
 'survey_id': '1932153',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac538'),
 'comm_name': 'Hooded Plover',
 'lat': -38.284400899999994,
 'long': 144.45579530000003,
 'record_id': '9995051',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 11, 17, 0, 0),
 'survey_id': '1932170',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac539'),
 'comm_name': 'Hooded Plover',
 'lat': -38.4684982,
 'long': 144.0652008,
 'record_id': '9995069',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 11, 18, 0, 0),
 'survey_id': '1932179',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2018-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac53a'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5514984,
 'long': 145.3509064,
 'record_id': '10072126',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 11, 18, 0, 0),
 'survey_id': '1962985',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac53b'),
 'comm_name': 'Hooded Plover',
 'lat': -38.6077003,
 'long': 142.8807068,
 'record_id': '10072240',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 11, 18, 0, 0),
 'survey_id': '1963035',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac53c'),
 'comm_name': 'Hooded Plover',
 'lat': -38.388900799999995,
 'long': 142.24229430000003,
 'record_id': '10072228',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 11, 18, 0, 0),
 'survey_id': '1963031',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2018-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac53d'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9995130',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 11, 19, 0, 0),
 'survey_id': '1932198',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2018-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac53e'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9995135',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 11, 19, 0, 0),
 'survey_id': '1932199',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2018-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac53f'),
 'comm_name': 'Hooded Plover',
 'lat': -37.8871994,
 'long': 147.9709015,
 'record_id': '8999832',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 11, 21, 0, 0),
 'survey_id': '1744917',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac540'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7528992,
 'long': 143.6651001,
 'record_id': '9995176',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 11, 22, 0, 0),
 'survey_id': '1932219',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac541'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3550987,
 'long': 142.3352966,
 'record_id': '10072939',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 11, 26, 0, 0),
 'survey_id': '1963339',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2018-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac542'),
 'comm_name': 'Hooded Plover',
 'lat': -37.8005981,
 'long': 148.545105,
 'record_id': '10073116',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 11, 29, 0, 0),
 'survey_id': '1963433',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2018-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac543'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3930016,
 'long': 142.2462006,
 'record_id': '10073141',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 11, 29, 0, 0),
 'survey_id': '1963445',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2018-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac544'),
 'comm_name': 'Hooded Plover',
 'lat': -38.408500700000005,
 'long': 144.8108063,
 'record_id': '10073268',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 11, 30, 0, 0),
 'survey_id': '1963510',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5,
 'year_month': '2018-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac545'),
 'comm_name': 'Hooded Plover',
 'lat': -38.0545006,
 'long': 140.99560549999998,
 'record_id': '10073290',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 11, 30, 0, 0),
 'survey_id': '1963524',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2018-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac546'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9995680',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 2, 0, 0),
 'survey_id': '1932389',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2018-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac547'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9995753',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 2, 0, 0),
 'survey_id': '1932406',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2018-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac548'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9995808',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 2, 0, 0),
 'survey_id': '1932424',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2018-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac549'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9995905',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 2, 0, 0),
 'survey_id': '1932456',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2018-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac54a'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9995575',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 2, 0, 0),
 'survey_id': '1932354',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2018-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac54b'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9995833',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 2, 0, 0),
 'survey_id': '1932439',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2018-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac54c'),
 'comm_name': 'Hooded Plover',
 'lat': -38.267601,
 'long': 144.50619509999999,
 'record_id': '9995654',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 2, 0, 0),
 'survey_id': '1932375',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2018-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac54d'),
 'comm_name': 'Hooded Plover',
 'lat': -38.267601,
 'long': 144.50619509999999,
 'record_id': '9995661',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 2, 0, 0),
 'survey_id': '1932377',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2018-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac54e'),
 'comm_name': 'Hooded Plover',
 'lat': -38.385299700000004,
 'long': 141.4098969,
 'record_id': '10073680',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 3, 0, 0),
 'survey_id': '1963709',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2018-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac54f'),
 'comm_name': 'Hooded Plover',
 'lat': -38.385299700000004,
 'long': 141.4098969,
 'record_id': '10073732',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 3, 0, 0),
 'survey_id': '1963730',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2018-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac550'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9995946',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 3, 0, 0),
 'survey_id': '1932473',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac551'),
 'comm_name': 'Hooded Plover',
 'lat': -38.267601,
 'long': 144.50619509999999,
 'record_id': '9995963',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 4, 0, 0),
 'survey_id': '1932480',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2018-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac552'),
 'comm_name': 'Hooded Plover',
 'lat': -38.643100700000005,
 'long': 143.0576019,
 'record_id': '9996076',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 8, 0, 0),
 'survey_id': '1932519',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac553'),
 'comm_name': 'Hooded Plover',
 'lat': -38.8443985,
 'long': 143.5650024,
 'record_id': '9996097',
 'sci_name': 'Thinornis cucullatus',

{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac55b'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10075104',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 15, 0, 0),
 'survey_id': '1964303',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac55c'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10075156',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 15, 0, 0),
 'survey_id': '1964313',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5,
 'year_month': '2018-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac55d'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10075162',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 15, 0, 0),
 'survey_id': '1964314',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5,
 'year_month': '2018-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac55e'),
 'comm_name': 'Hooded Plover',
 'lat': -38.357601200000005,
 'long': 142.3058014,
 'record_id': '10075226',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 15, 0, 0),
 'survey_id': '1964329',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac55f'),
 'comm_name': 'Hooded Plover',
 'lat': -38.274299600000006,
 'long': 144.5101929,
 'record_id': '9996454',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 16, 0, 0),
 'survey_id': '1932649',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2018-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac560'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9996551',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 17, 0, 0),
 'survey_id': '1932676',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2018-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac561'),
 'comm_name': 'Hooded Plover',
 'lat': -38.274299600000006,
 'long': 144.5101929,
 'record_id': '9996610',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 19, 0, 0),
 'survey_id': '1932692',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2018-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac562'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2750015,
 'long': 144.5036926,
 'record_id': '9996619',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 20, 0, 0),
 'survey_id': '1932696',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2018-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac563'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10075771',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 21, 0, 0),
 'survey_id': '1964549',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac564'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3917999,
 'long': 142.2236938,
 'record_id': '10075866',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 22, 0, 0),
 'survey_id': '1964580',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac565'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9996736',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 24, 0, 0),
 'survey_id': '1932732',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac566'),
 'comm_name': 'Hooded Plover',
 'lat': -38.4291992,
 'long': 144.1690063,
 'record_id': '9996742',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 24, 0, 0),
 'survey_id': '1932734',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2018-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac567'),
 'comm_name': 'Hooded Plover',
 'lat': -37.8582993,
 'long': 148.0868073,
 'record_id': '10076166',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 24, 0, 0),
 'survey_id': '1964699',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac568'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5158005,
 'long': 145.20559690000002,
 'record_id': '10076172',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 24, 0, 0),
 'survey_id': '1964702',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2018-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac569'),
 'comm_name': 'Hooded Plover',
 'lat': -38.8470001,
 'long': 143.559494,
 'record_id': '9996826',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 26, 0, 0),
 'survey_id': '1932762',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2018-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac56a'),
 'comm_name': 'Hooded Plover',
 'lat': -38.457698799999996,
 'long': 145.2964935,
 'record_id': '10076614',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 27, 0, 0),
 'survey_id': '1964865',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac56b'),
 'comm_name': 'Hooded Plover',
 'lat': -37.857399,
 'long': 148.0915985,
 'record_id': '9021134',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 28, 0, 0),
 'survey_id': '1754774',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac56c'),
 'comm_name': 'Hooded Plover',
 'lat': -37.8005981,
 'long': 148.545105,
 'record_id': '10076879',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 29, 0, 0),
 'survey_id': '1964967',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6,
 'year_month': '2018-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac56d'),
 'comm_name': 'Hooded Plover',
 'lat': -37.8005981,
 'long': 148.545105,
 'record_id': '10076903',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 29, 0, 0),
 'survey_id': '1964979',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac56e'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7653008,
 'long': 143.66999819999998,
 'record_id': '9996853',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 29, 0, 0),
 'survey_id': '1932777',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac56f'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7653008,
 'long': 143.66999819999998,
 'record_id': '9996915',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 30, 0, 0),
 'survey_id': '1932802',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac570'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9996929',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 31, 0, 0),
 'survey_id': '1932810',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac571'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9996950',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 31, 0, 0),
 'survey_id': '1932819',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac572'),
 'comm_name': 'Hooded Plover',
 'lat': -38.678901700000004,
 'long': 146.8161926,
 'record_id': '10077320',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 31, 0, 0),
 'survey_id': '1965120',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2018-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac573'),
 'comm_name': 'Hooded Plover',
 'lat': -38.6548004,
 'long': 146.8516998,
 'record_id': '10077323',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2018, 12, 31, 0, 0),
 'survey_id': '1965121',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2018-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac574'),
 'comm_name': 'Hooded Plover',
 'lat': -38.481601700000006,
 'long': 145.01629640000002,
 'record_id': '10077389',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 1, 0, 0),
 'survey_id': '1965151',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2019-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac575'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3922997,
 'long': 142.223999,
 'record_id': '10077449',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 1, 0, 0),
 'survey_id': '1965165',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2019-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac576'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3930016,
 'long': 142.2462006,
 'record_id': '10077829',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 2, 0, 0),
 'survey_id': '1965282',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2019-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac577'),
 'comm_name': 'Hooded Plover',
 'lat': -38.311199200000004,
 'long': 144.67480469999998,
 'record_id': '10077971',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 3, 0, 0),
 'survey_id': '1965323',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2019-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac578'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9997347',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 4, 0, 0),
 'survey_id': '1932938',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2019-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac579'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9997510',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 5, 0, 0),
 'survey_id': '1932975',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2019-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac57a'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3918991,
 'long': 142.2230988,
 'record_id': '10078863',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 6, 0, 0),
 'survey_id': '1965596',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2019-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac57b'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10078894',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 6, 0, 0),
 'survey_id': '1965604',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 7,
 'year_month': '2019-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac57c'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '9997572',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 6, 0, 0),
 'survey_id': '1932997',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2019-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac57d'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10078992',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 7, 0, 0),
 'survey_id': '1965647',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2019-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac57e'),
 'comm_name': 'Hooded Plover',
 'lat': -38.287998200000004,
 'long': 144.60150149999998,
 'record_id': '9997667',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 7, 0, 0),
 'survey_id': '1933027',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2019-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac57f'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9997709',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 8, 0, 0),
 'survey_id': '1933040',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2019-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac580'),
 'comm_name': 'Hooded Plover',
 'lat': -38.347801200000006,
 'long': 142.3708038,
 'record_id': '10079166',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 8, 0, 0),
 'survey_id': '1965706',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2019-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac581'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10079196',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 8, 0, 0),
 'survey_id': '1965717',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2019-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac582'),
 'comm_name': 'Hooded Plover',
 'lat': -38.267601,
 'long': 144.50619509999999,
 'record_id': '9997897',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 11, 0, 0),
 'survey_id': '1933091',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2019-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac583'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3927994,
 'long': 142.2095947,
 'record_id': '10079974',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 11, 0, 0),
 'survey_id': '1965903',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2019-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac584'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3571014,
 'long': 142.3141937,
 'record_id': '10080546',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 13, 0, 0),
 'survey_id': '1966087',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2019-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac585'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3571014,
 'long': 142.3141937,
 'record_id': '10080592',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 13, 0, 0),
 'survey_id': '1966101',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2019-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac586'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3571014,
 'long': 142.3141937,
 'record_id': '10080439',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 13, 0, 0),
 'survey_id': '1966043',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2019-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac587'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3874016,
 'long': 142.2317963,
 'record_id': '10080703',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 14, 0, 0),
 'survey_id': '1966141',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2019-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac588'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3927994,
 'long': 142.2095947,
 'record_id': '10080699',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 14, 0, 0),
 'survey_id': '1966138',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2019-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac589'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9998262',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 15, 0, 0),
 'survey_id': '1933184',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2019-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac58a'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '9998274',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 15, 0, 0),
 'survey_id': '1933190',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2019-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac58b'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3689003,
 'long': 144.7572937,
 'record_id': '10080944',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 15, 0, 0),
 'survey_id': '1966224',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2019-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac58c'),
 'comm_name': 'Hooded Plover',
 'lat': -38.281299600000004,
 'long': 144.4328003,
 'record_id': '9998269',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 15, 0, 0),
 'survey_id': '1933188',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2019-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac58d'),
 'comm_name': 'Hooded Plover',
 'lat': -38.394699100000004,
 'long': 144.2525024,
 'record_id': '9998330',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 17, 0, 0),
 'survey_id': '1933210',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6,
 'year_month': '2019-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac58e'),
 'comm_name': 'Hooded Plover',
 'lat': -38.39049910000001,
 'long': 142.1707001,
 'record_id': '10081281',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 17, 0, 0),
 'survey_id': '1966327',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6,
 'year_month': '2019-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac58f'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3605995,
 'long': 142.29179380000002,
 'record_id': '10081635',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 19, 0, 0),
 'survey_id': '1966445',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2019-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac590'),
 'comm_name': 'Hooded Plover',
 'lat': -38.6313019,
 'long': 145.72979740000002,
 'record_id': '10081656',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 19, 0, 0),
 'survey_id': '1966453',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2019-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac591'),
 'comm_name': 'Hooded Plover',
 'lat': -38.285099,
 'long': 144.48599240000001,
 'record_id': '9998578',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 21, 0, 0),
 'survey_id': '1933281',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2019-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac592'),
 'comm_name': 'Hooded Plover',
 'lat': -38.0555,
 'long': 140.9933014,
 'record_id': '10199197',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 1, 21, 0, 0),
 'survey_id': '2023103',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 9,

 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 2, 12, 0, 0),
 'survey_id': '1967719',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2019-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5a8'),
 'comm_name': 'Hooded Plover',
 'lat': -38.457698799999996,
 'long': 145.2964935,
 'record_id': '10085494',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 2, 12, 0, 0),
 'survey_id': '1967714',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2019-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5a9'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10085471',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 2, 12, 0, 0),
 'survey_id': '1967706',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 11,
 'year_month': '2019-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5aa'),
 'comm_name': 'Hooded Plover',
 'lat': -38.281299600000004,
 'long': 144.4328003,
 'record_id': '9999282',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 2, 12, 0, 0),
 'survey_id': '1933527',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2019-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5ab'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3922005,
 'long': 142.2281036,
 'record_id': '10085546',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 2, 13, 0, 0),
 'survey_id': '1967733',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2019-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5ac'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2750015,
 'long': 144.5036926,
 'record_id': '9999293',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 2, 13, 0, 0),
 'survey_id': '1933530',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2019-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5ad'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2750015,
 'long': 144.5036926,
 'record_id': '9999331',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 2, 14, 0, 0),
 'survey_id': '1933538',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2019-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5ae'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2750015,
 'long': 144.5036926,
 'record_id': '9999359',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 2, 15, 0, 0),
 'survey_id': '1933546',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2019-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5af'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10086017',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 2, 16, 0, 0),
 'survey_id': '1967934',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2019-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5b0'),
 'comm_name': 'Hooded Plover',
 'lat': -38.267601,
 'long': 144.50619509999999,
 'record_id': '9999478',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 2, 16, 0, 0),
 'survey_id': '1933583',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2019-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5b1'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10086191',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 2, 17, 0, 0),
 'survey_id': '1967999',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 12,
 'year_month': '2019-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5b2'),
 'comm_name': 'Hooded Plover',
 'lat': -38.28599929999999,
 'long': 144.420105,
 'record_id': '9999626',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 2, 18, 0, 0),
 'survey_id': '1933636',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2019-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5b3'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5438995,
 'long': 145.33949280000002,
 'record_id': '10086377',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 2, 19, 0, 0),
 'survey_id': '1968071',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2019-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5b4'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5514984,
 'long': 145.3509064,
 'record_id': '10086428',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 2, 20, 0, 0),
 'survey_id': '1968098',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2019-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5b5'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10086775',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 2, 22, 0, 0),
 'survey_id': '1968232',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2019-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5b6'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5514984,
 'long': 145.3509064,
 'record_id': '10086842',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 2, 23, 0, 0),
 'survey_id': '1968259',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2019-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5b7'),
 'comm_name': 'Hooded Plover',
 'lat': -37.958999600000006,
 'long': 147.7709961,
 'record_id': '10086917',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 2, 23, 0, 0),
 'survey_id': '1968290',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2019-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5b8'),
 'comm_name': 'Hooded Plover',
 'lat': -38.8552017,
 'long': 143.5541992,
 'record_id': '9999810',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 2, 24, 0, 0),
 'survey_id': '1933709',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2019-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5b9'),
 'comm_name': 'Hooded Plover',
 'lat': -38.8552017,
 'long': 143.5541992,
 'record_id': '9999811',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 2, 24, 0, 0),
 'survey_id': '1933710',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2019-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5ba'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3930016,
 'long': 142.2462006,
 'record_id': '10087366',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 2, 26, 0, 0),
 'survey_id': '1968438',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2019-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5bb'),
 'comm_name': 'Hooded Plover',
 'lat': -38.35940170000001,
 'long': 141.43699650000002,
 'record_id': '10087925',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 3, 3, 0, 0),
 'survey_id': '1968650',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2019-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5bc'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5514984,
 'long': 145.3509064,
 'record_id': '10088039',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 3, 4, 0, 0),
 'survey_id': '1968693',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2019-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5bd'),
 'comm_name': 'Hooded Plover',
 'lat': -38.673801399999995,
 'long': 145.6152954,
 'record_id': '10088217',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 3, 6, 0, 0),
 'survey_id': '1968778',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2019-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5be'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '10000101',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 3, 9, 0, 0),
 'survey_id': '1933808',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5,
 'year_month': '2019-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5bf'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '10000121',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 3, 10, 0, 0),
 'survey_id': '1933819',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2019-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5c0'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '10000153',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 3, 11, 0, 0),
 'survey_id': '1933836',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5,
 'year_month': '2019-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5c1'),
 'comm_name': 'Hooded Plover',
 'lat': -38.673801399999995,
 'long': 145.6152954,
 'record_id': '10089074',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 3, 12, 0, 0),
 'survey_id': '1969092',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2019-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5c2'),
 'comm_name': 'Hooded Plover',
 'lat': -37.5561981,
 'long': 149.7559967,
 'record_id': '10089136',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 3, 13, 0, 0),
 'survey_id': '1969118',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2019-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5c3'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '10000222',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 3, 13, 0, 0),
 'survey_id': '1933857',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5,
 'year_month': '2019-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5c4'),
 'comm_name': 'Hooded Plover',
 'lat': -38.281299600000004,
 'long': 144.4328003,
 'record_id': '10000223',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 3, 13, 0, 0),
 'survey_id': '1933858',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2019-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5c5'),
 'comm_name': 'Hooded Plover',
 'lat': -37.9617004,
 'long': 147.76269530000002,
 'record_id': '10089221',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 3, 14, 0, 0),
 'survey_id': '1969149',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2019-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5c6'),
 'comm_name': 'Hooded Plover',
 'lat': -37.8005981,
 'long': 148.545105,
 'record_id': '10089652',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 3, 16, 0, 0),
 'survey_id': '1969274',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2019-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5c7'),
 'comm_name': 'Hooded Plover',
 'lat': -38.4684982,
 'long': 144.0652008,
 'record_id': '10000278',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 3, 16, 0, 0),
 'survey_id': '1933877',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2019-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5c8'),
 'comm_name': 'Hooded Plover',
 'lat': -38.35670089999999,
 'long': 142.3213959,
 'record_id': '10089600',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 3, 16, 0, 0),
 'survey_id': '1969250',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2019-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5c9'),
 'comm_name': 'Hooded Plover',
 'lat': -38.35670089999999,
 'long': 142.3213959,
 'record_id': '10089604',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 3, 16, 0, 0),
 'survey_id': '1969253',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2019-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5ca'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '10000353',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 3, 20, 0, 0),
 'survey_id': '1933916',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5,
 'year_month': '2019-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5cb'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '10000351',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 3, 20, 0, 0),
 'survey_id': '1933914',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5,
 'year_month': '2019-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5cc'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '10000409',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 3, 24, 0, 0),
 'survey_id': '1933943',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 7,
 'year_month': '2019-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5cd'),
 'comm_name': 'Hooded Plover',
 'lat': -37.579898799999995,
 'long': 149.74710080000003,
 'record_id': '10090785',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 3, 26, 0, 0),
 'survey_id': '1969709',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2019-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5ce'),
 'comm_name': 'Hooded Plover',
 'lat': -38.281299600000004,
 'long': 144.4328003,
 'record_id': '10000438',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 3, 26, 0, 0),
 'survey_id': '1933952',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2019-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5cf'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7528992,
 'long': 143.6651001,
 'record_id': '10000496',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 3, 28, 0, 0),
 'survey_id': '1933972',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2019-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5d0'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7528992,
 'long': 143.6651001,
 'record_id': '10000502',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 3, 28, 0, 0),
 'survey_id': '1933973',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2019-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5d1'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '10000613',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 3, 31, 0, 0),
 'survey_id': '1934008',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2019-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5d2'),
 'comm_name': 'Hooded Plover',
 'lat': -38.4684982,
 'long': 144.10470580000003,
 'record_id': '10000611',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 3, 31, 0, 0),
 'survey_id': '1934007',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2019-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5d3'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '10000784',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 4, 9, 0, 0),
 'survey_id': '1934073',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5d4'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '10000782',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 4, 9, 0, 0),
 'survey_id': '1934071',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5d5'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2714005,
 'long': 144.6013947,
 'record_id': '10000805',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 4, 10, 0, 0),
 'survey_id': '1934083',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 20,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5d6'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '10000813',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 4, 11, 0, 0),
 'survey_id': '1934088',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5d7'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3874016,
 'long': 142.2317963,
 'record_id': '10092402',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 4, 11, 0, 0),
 'survey_id': '1970340',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5d8'),
 'comm_name': 'Hooded Plover',
 'lat': -38.4824982,
 'long': 145.0249023,
 'record_id': '10092598',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 4, 12, 0, 0),
 'survey_id': '1970401',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5d9'),
 'comm_name': 'Hooded Plover',
 'lat': -38.359100299999994,
 'long': 142.2911987,
 'record_id': '10092610',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 4, 12, 0, 0),
 'survey_id': '1970406',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5da'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '10000869',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 4, 13, 0, 0),
 'survey_id': '1934111',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5db'),
 'comm_name': 'Hooded Plover',
 'lat': -38.391498600000006,
 'long': 142.2230988,
 'record_id': '10093099',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 4, 15, 0, 0),
 'survey_id': '1970584',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5dc'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5514984,
 'long': 145.3509064,
 'record_id': '10093259',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 4, 17, 0, 0),
 'survey_id': '1970655',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5dd'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3917999,
 'long': 142.221405,
 'record_id': '10093407',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 4, 18, 0, 0),
 'survey_id': '1970703',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5de'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7579002,
 'long': 143.67640690000002,
 'record_id': '10001047',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 4, 21, 0, 0),
 'survey_id': '1934185',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5df'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,

 'year_month': '2019-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5ec'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2776985,
 'long': 144.4644012,
 'record_id': '10001536',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 5, 19, 0, 0),
 'survey_id': '1934417',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 21,
 'year_month': '2019-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5ed'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7360001,
 'long': 143.6842041,
 'record_id': '10001606',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 5, 22, 0, 0),
 'survey_id': '1934449',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2019-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5ee'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '10001658',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 5, 23, 0, 0),
 'survey_id': '1934473',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2019-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5ef'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '10001662',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 5, 23, 0, 0),
 'survey_id': '1934474',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2019-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5f0'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7528992,
 'long': 143.6651001,
 'record_id': '10001627',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 5, 23, 0, 0),
 'survey_id': '1934463',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2019-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5f1'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5438995,
 'long': 145.33949280000002,
 'record_id': '10097210',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 5, 26, 0, 0),
 'survey_id': '1972366',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 12,
 'year_month': '2019-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5f2'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5514984,
 'long': 145.3509064,
 'record_id': '10097164',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 5, 26, 0, 0),
 'survey_id': '1972345',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5,
 'year_month': '2019-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5f3'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5758018,
 'long': 145.51089480000002,
 'record_id': '10097169',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 5, 26, 0, 0),
 'survey_id': '1972347',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2019-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5f4'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10097365',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 5, 31, 0, 0),
 'survey_id': '1972450',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2019-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5f5'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10097545',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 6, 2, 0, 0),
 'survey_id': '1972502',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2019-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5f6'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10097548',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 6, 2, 0, 0),
 'survey_id': '1972504',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2019-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5f7'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7811012,
 'long': 143.662796,
 'record_id': '10001821',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 6, 4, 0, 0),
 'survey_id': '1934544',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2019-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5f8'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3638,
 'long': 142.4062042,
 'record_id': '10097903',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 6, 7, 0, 0),
 'survey_id': '1972652',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 12,
 'year_month': '2019-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5f9'),
 'comm_name': 'Hooded Plover',
 'lat': -38.166698499999995,
 'long': 141.2333069,
 'record_id': '10098085',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 6, 8, 0, 0),
 'survey_id': '1972724',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 44,
 'year_month': '2019-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5fa'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7631989,
 'long': 143.67349240000001,
 'record_id': '10001898',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 6, 9, 0, 0),
 'survey_id': '1934585',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2019-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5fb'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3550987,
 'long': 142.3352966,
 'record_id': '10098323',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 6, 10, 0, 0),
 'survey_id': '1972838',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5,
 'year_month': '2019-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5fc'),
 'comm_name': 'Hooded Plover',
 'lat': -38.39059829999999,
 'long': 142.45159909999998,
 'record_id': '10098364',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 6, 11, 0, 0),
 'survey_id': '1972864',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 5,
 'year_month': '2019-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5fd'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5514984,
 'long': 145.3509064,
 'record_id': '10098610',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 6, 15, 0, 0),
 'survey_id': '1972952',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 9,
 'year_month': '2019-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5fe'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10098555',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 6, 15, 0, 0),
 'survey_id': '1972938',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6,
 'year_month': '2019-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac5ff'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10098637',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 6, 15, 0, 0),
 'survey_id': '1972962',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6,
 'year_month': '2019-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac600'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3550987,
 'long': 142.3352966,
 'record_id': '10098560',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 6, 15, 0, 0),
 'survey_id': '1972939',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 11,
 'year_month': '2019-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac601'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3550987,
 'long': 142.3352966,
 'record_id': '10098644',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 6, 15, 0, 0),
 'survey_id': '1972963',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 11,
 'year_month': '2019-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac602'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '10001938',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 6, 16, 0, 0),
 'survey_id': '1934600',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2019-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac603'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5758018,
 'long': 145.51089480000002,
 'record_id': '10098757',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 6, 16, 0, 0),
 'survey_id': '1972995',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 43,
 'year_month': '2019-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac604'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10099038',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 6, 18, 0, 0),
 'survey_id': '1973105',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2019-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac605'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5438995,
 'long': 145.33949280000002,
 'record_id': '10099152',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 6, 22, 0, 0),
 'survey_id': '1973160',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 6,
 'year_month': '2019-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac606'),
 'comm_name': 'Hooded Plover',
 'lat': -38.281299600000004,
 'long': 144.4328003,
 'record_id': '10002036',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 6, 28, 0, 0),
 'survey_id': '1934647',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2019-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac607'),
 'comm_name': 'Hooded Plover',
 'lat': -39.0321007,
 'long': 146.3088074,
 'record_id': '10099626',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 6, 29, 0, 0),
 'survey_id': '1973404',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2019-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac608'),
 'comm_name': 'Hooded Plover',
 'lat': -39.0321007,
 'long': 146.3088074,
 'record_id': '10099630',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 6, 29, 0, 0),
 'survey_id': '1973405',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2019-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac609'),
 'comm_name': 'Hooded Plover',
 'lat': -38.8552017,
 'long': 143.5541992,
 'record_id': '10002125',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 7, 2, 0, 0),
 'survey_id': '1934674',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2019-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac60a'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7773018,
 'long': 143.6645966,
 'record_id': '10002127',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 7, 3, 0, 0),
 'survey_id': '1934676',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2019-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac60b'),
 'comm_name': 'Hooded Plover',
 'lat': -38.481601700000006,
 'long': 145.01629640000002,
 'record_id': '10099909',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 7, 4, 0, 0),
 'survey_id': '1973559',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2019-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac60c'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5514984,
 'long': 145.3509064,
 'record_id': '10099923',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 7, 4, 0, 0),
 'survey_id': '1973565',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 7,
 'year_month': '2019-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac60d'),
 'comm_name': 'Hooded Plover',
 'lat': -38.7773018,
 'long': 143.6645966,
 'record_id': '10002152',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 7, 5, 0, 0),
 'survey_id': '1934685',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 1,
 'year_month': '2019-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac60e'),
 'comm_name': 'Hooded Plover',
 'lat': -38.6708984,
 'long': 145.61210630000002,
 'record_id': '10099983',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 7, 5, 0, 0),
 'survey_id': '1973597',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2019-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac60f'),
 'comm_name': 'Hooded Plover',
 'lat': -38.6078987,
 'long': 142.8789978,
 'record_id': '10100027',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 7, 6, 0, 0),
 'survey_id': '1973617',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2019-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac610'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '10002180',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 7, 7, 0, 0),
 'survey_id': '1934702',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2019-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac611'),
 'comm_name': 'Hooded Plover',
 'lat': -38.27930070000001,
 'long': 144.57539369999998,
 'record_id': '10002285',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 7, 18, 0, 0),
 'survey_id': '1934742',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 10,
 'year_month': '2019-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac612'),
 'comm_name': 'Hooded Plover',
 'lat': -38.5514984,
 'long': 145.3509064,
 'record_id': '10100730',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 7, 20, 0, 0),
 'survey_id': '1973999',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 8,
 'year_month': '2019-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac613'),
 'comm_name': 'Hooded Plover',
 'lat': -38.166698499999995,
 'long': 141.2333069,
 'record_id': '10100694',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 7, 20, 0, 0),
 'survey_id': '1973984',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 31,
 'year_month': '2019-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac614'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '10002383',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 7, 25, 0, 0),
 'survey_id': '1934789',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2019-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac615'),
 'comm_name': 'Hooded Plover',
 'lat': -38.2837982,
 'long': 144.4264984,
 'record_id': '10002395',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 7, 25, 0, 0),
 'survey_id': '1934791',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2019-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac616'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '10002418',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 7, 27, 0, 0),
 'survey_id': '1934804',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2019-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac617'),
 'comm_name': 'Hooded Plover',
 'lat': -38.428901700000004,
 'long': 144.18099980000002,
 'record_id': '10002431',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 7, 27, 0, 0),
 'survey_id': '1934812',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 3,
 'year_month': '2019-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac618'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10101207',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 7, 27, 0, 0),
 'survey_id': '1974241',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 8,
 'year_month': '2019-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac619'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10101145',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 7, 27, 0, 0),
 'survey_id': '1974213',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2019-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac61a'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3564987,
 'long': 142.31089780000002,
 'record_id': '10101153',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 7, 27, 0, 0),
 'survey_id': '1974219',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2019-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac61b'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3550987,
 'long': 142.3352966,
 'record_id': '10101152',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 7, 27, 0, 0),
 'survey_id': '1974218',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2019-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac61c'),
 'comm_name': 'Hooded Plover',
 'lat': -38.3550987,
 'long': 142.3352966,
 'record_id': '10101133',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 7, 27, 0, 0),
 'survey_id': '1974210',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2019-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac61d'),
 'comm_name': 'Hooded Plover',
 'lat': -38.114498100000006,
 'long': 141.12280269999997,
 'record_id': '9585271',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2019, 9, 3, 0, 0),
 'survey_id': '1831201',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 4,
 'year_month': '2019-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac61e'),
 'comm_name': 'Hooded Plover',
 'lat': -38.4291992,
 'long': 144.1753998,
 'record_id': '10199834',
 'sci_name': 'Thinornis cucullatus',
 'start_date': datetime.datetime(2020, 3, 30, 0, 0),
 'survey_id': '2023738',
 'taxon_id': '10138',
 'taxon_type': 'Waders',
 'totalcount': 2,
 'year_month': '2020-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac61f'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7857018,
 'long': 145.7279053,
 'record_id': '6870687',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 1, 14, 0, 0),
 'survey_id': '1085230',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac620'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7891998,
 'long': 145.7070007,
 'record_id': '6870786',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 1, 14, 0, 0),
 'survey_id': '1085282',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac621'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7809982,
 'long': 145.7167969,
 'record_id': '6870766',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 1, 14, 0, 0),
 'survey_id': '1085271',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac622'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.842498799999994,
 'long': 145.8020935,
 'record_id': '6870773',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 1, 15, 0, 0),
 'survey_id': '1085275',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac623'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.808399200000004,
 'long': 145.8065948,
 'record_id': '6870802',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 1, 15, 0, 0),
 'survey_id': '1085290',
 'taxon_id': '11141',

 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 2, 25, 0, 0),
 'survey_id': '1085421',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac634'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8123016,
 'long': 146.1307068,
 'record_id': '6871012',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 2, 25, 0, 0),
 'survey_id': '1085418',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac635'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8115005,
 'long': 146.1408997,
 'record_id': '6871030',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 2, 25, 0, 0),
 'survey_id': '1085425',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac636'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8177986,
 'long': 146.03909299999998,
 'record_id': '6871041',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 2, 26, 0, 0),
 'survey_id': '1085430',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac637'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8172989,
 'long': 146.0397034,
 'record_id': '6871045',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 2, 26, 0, 0),
 'survey_id': '1085431',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac638'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8490982,
 'long': 146.11300659999998,
 'record_id': '6871059',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 2, 27, 0, 0),
 'survey_id': '1085437',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac639'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8446007,
 'long': 146.1195068,
 'record_id': '6871053',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 2, 27, 0, 0),
 'survey_id': '1085434',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac63a'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.843799600000004,
 'long': 146.12089540000002,
 'record_id': '6871056',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 2, 27, 0, 0),
 'survey_id': '1085435',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac63b'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.5261002,
 'long': 145.59930419999998,
 'record_id': '6870838',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 3, 4, 0, 0),
 'survey_id': '1085314',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac63c'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7991982,
 'long': 146.0661011,
 'record_id': '6870974',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 4, 15, 0, 0),
 'survey_id': '1085394',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac63d'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8162003,
 'long': 146.0648041,
 'record_id': '6870976',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 4, 15, 0, 0),
 'survey_id': '1085396',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac63e'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7896004,
 'long': 146.0574036,
 'record_id': '6870932',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 4, 15, 0, 0),
 'survey_id': '1085375',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac63f'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.813800799999996,
 'long': 146.03720090000002,
 'record_id': '6870958',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 4, 15, 0, 0),
 'survey_id': '1085387',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac640'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.794899,
 'long': 146.0727997,
 'record_id': '6870971',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 4, 15, 0, 0),
 'survey_id': '1085393',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac641'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.801101700000004,
 'long': 146.1318054,
 'record_id': '6870942',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 4, 16, 0, 0),
 'survey_id': '1085379',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac642'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8069992,
 'long': 146.10389709999998,
 'record_id': '6870980',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 4, 16, 0, 0),
 'survey_id': '1085398',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac643'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8037987,
 'long': 146.1347046,
 'record_id': '6870943',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 4, 16, 0, 0),
 'survey_id': '1085380',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac644'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8042984,
 'long': 146.13400269999997,
 'record_id': '6870946',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 4, 16, 0, 0),
 'survey_id': '1085381',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac645'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8003006,
 'long': 146.1322021,
 'record_id': '6870938',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 4, 16, 0, 0),
 'survey_id': '1085378',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac646'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.80250170000001,
 'long': 146.1401062,
 'record_id': '6870953',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 4, 16, 0, 0),
 'survey_id': '1085383',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac647'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8033981,
 'long': 146.14039609999998,
 'record_id': '6870949',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 4, 16, 0, 0),
 'survey_id': '1085382',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac648'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7848015,
 'long': 146.1152039,
 'record_id': '6870927',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 4, 17, 0, 0),
 'survey_id': '1085373',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac649'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.782501200000006,
 'long': 146.1100006,
 'record_id': '6870922',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 4, 17, 0, 0),
 'survey_id': '1085371',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac64a'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.79090120000001,
 'long': 146.0995941,
 'record_id': '6870936',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 4, 17, 0, 0),
 'survey_id': '1085377',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac64b'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.78599929999999,
 'long': 146.1161041,
 'record_id': '6870924',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 4, 17, 0, 0),
 'survey_id': '1085372',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac64c'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.785301200000006,
 'long': 146.2973022,
 'record_id': '6870856',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 4, 21, 0, 0),
 'survey_id': '1085328',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac64d'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.796600299999994,
 'long': 146.2881012,
 'record_id': '6870860',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 4, 21, 0, 0),
 'survey_id': '1085331',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac64e'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8035011,
 'long': 146.3209991,
 'record_id': '6870865',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 4, 21, 0, 0),
 'survey_id': '1085335',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac64f'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.769699100000004,
 'long': 146.3097992,
 'record_id': '6870881',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 4, 22, 0, 0),
 'survey_id': '1085345',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac650'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7733002,
 'long': 146.3132019,
 'record_id': '6870885',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 4, 22, 0, 0),
 'survey_id': '1085346',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac651'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.781299600000004,
 'long': 146.2987061,
 'record_id': '6870890',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 4, 22, 0, 0),
 'survey_id': '1085350',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac652'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7803993,
 'long': 146.32470700000002,
 'record_id': '6870876',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 4, 22, 0, 0),
 'survey_id': '1085342',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac653'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7700996,
 'long': 146.3103943,
 'record_id': '6870879',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 4, 22, 0, 0),
 'survey_id': '1085344',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac654'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7635002,
 'long': 146.2485046,
 'record_id': '6870896',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 4, 23, 0, 0),
 'survey_id': '1085354',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac655'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7612,
 'long': 146.24229430000003,
 'record_id': '6870892',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 4, 23, 0, 0),
 'survey_id': '1085352',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac656'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7454987,
 'long': 146.2458038,
 'record_id': '6870902',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 4, 23, 0, 0),
 'survey_id': '1085359',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac657'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.760299700000004,
 'long': 146.24139399999999,
 'record_id': '6870893',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 4, 23, 0, 0),
 'survey_id': '1085353',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac658'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7478981,
 'long': 146.24969480000001,
 'record_id': '6870906',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 4, 23, 0, 0),
 'survey_id': '1085360',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac659'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.5087013,
 'long': 145.5056,
 'record_id': '6917586',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 5, 4, 0, 0),
 'survey_id': '1094264',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac65a'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.6571999,
 'long': 146.0901031,
 'record_id': '6948977',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 5, 26, 0, 0),
 'survey_id': '1105993',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac65b'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.6081009,
 'long': 145.99290469999997,
 'record_id': '6948976',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 5, 26, 0, 0),
 'survey_id': '1105992',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 2,
 'year_month': '2015-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac65c'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8185997,
 'long': 145.9344025,
 'record_id': '6942095',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 9, 8, 0, 0),
 'survey_id': '1102090',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac65d'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8185005,
 'long': 145.9337006,
 'record_id': '6942099',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 9, 8, 0, 0),
 'survey_id': '1102092',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac65e'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.808399200000004,
 'long': 145.8701935,
 'record_id': '6942112',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 9, 9, 0, 0),
 'survey_id': '1102102',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac65f'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.769699100000004,
 'long': 145.89070130000002,
 'record_id': '6942131',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 9, 10, 0, 0),
 'survey_id': '1102119',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac660'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8045006,
 'long': 145.892807,
 'record_id': '6942132',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 9, 10, 0, 0),
 'survey_id': '1102120',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 2,
 'year_month': '2015-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac661'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.804401399999996,
 'long': 145.8932037,
 'record_id': '6942134',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 9, 10, 0, 0),
 'survey_id': '1102122',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 2,
 'year_month': '2015-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac662'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.769699100000004,
 'long': 145.889801,
 'record_id': '6942127',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 9, 10, 0, 0),
 'survey_id': '1102117',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac663'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.769298600000006,
 'long': 145.8901978,
 'record_id': '6942129',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 9, 10, 0, 0),
 'survey_id': '1102118',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac664'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8362999,
 'long': 145.8072052,
 'record_id': '6942136',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 9, 11, 0, 0),
 'survey_id': '1102123',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac665'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.831600200000004,
 'long': 145.804306,
 'record_id': '6942140',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 9, 11, 0, 0),
 'survey_id': '1102126',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac666'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.832199100000004,
 'long': 145.8045959,
 'record_id': '6942144',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 9, 11, 0, 0),
 'survey_id': '1102128',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac667'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.831501,
 'long': 145.80470280000003,
 'record_id': '6942142',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 9, 11, 0, 0),
 'survey_id': '1102127',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac668'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8367004,
 'long': 145.80630490000001,
 'record_id': '6942139',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 9, 11, 0, 0),
 'survey_id': '1102125',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 2,
 'year_month': '2015-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac669'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.4980011,
 'long': 145.5366974,
 'record_id': '6942171',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 9, 16, 0, 0),
 'survey_id': '1102151',
 'taxon_id': '11141',

 'start_date': datetime.datetime(2015, 10, 8, 0, 0),
 'survey_id': '1102199',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac679'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.593200700000004,
 'long': 145.99229430000003,
 'record_id': '6942206',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 8, 0, 0),
 'survey_id': '1102174',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac67a'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.5938988,
 'long': 145.9925995,
 'record_id': '6942207',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 8, 0, 0),
 'survey_id': '1102175',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac67b'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.595901500000004,
 'long': 145.7059021,
 'record_id': '6942221',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 9, 0, 0),
 'survey_id': '1102181',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac67c'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.599399600000005,
 'long': 145.7046967,
 'record_id': '6942251',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 9, 0, 0),
 'survey_id': '1102201',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac67d'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.5957985,
 'long': 145.7068939,
 'record_id': '6942219',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 9, 0, 0),
 'survey_id': '1102180',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac67e'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.5998993,
 'long': 145.7044983,
 'record_id': '6942254',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 9, 0, 0),
 'survey_id': '1102202',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac67f'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7938995,
 'long': 146.12640380000002,
 'record_id': '6942262',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 12, 0, 0),
 'survey_id': '1102208',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac680'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.792099,
 'long': 146.13270569999997,
 'record_id': '6942258',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 12, 0, 0),
 'survey_id': '1102205',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac681'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.793598200000005,
 'long': 146.12719730000003,
 'record_id': '6942261',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 12, 0, 0),
 'survey_id': '1102207',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac682'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7927017,
 'long': 146.1325989,
 'record_id': '6942256',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 12, 0, 0),
 'survey_id': '1102204',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac683'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.6945,
 'long': 146.1432037,
 'record_id': '6942280',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 13, 0, 0),
 'survey_id': '1102221',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac684'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.6764984,
 'long': 146.1352997,
 'record_id': '6942277',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 13, 0, 0),
 'survey_id': '1102218',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 3,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac685'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.6771011,
 'long': 146.1349945,
 'record_id': '6942273',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 13, 0, 0),
 'survey_id': '1102216',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac686'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.676998100000006,
 'long': 146.13569640000003,
 'record_id': '6942275',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 13, 0, 0),
 'survey_id': '1102217',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 2,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac687'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.6543999,
 'long': 146.0852051,
 'record_id': '6942267',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 13, 0, 0),
 'survey_id': '1102213',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac688'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.6537018,
 'long': 146.0854034,
 'record_id': '6942269',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 13, 0, 0),
 'survey_id': '1102214',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 2,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac689'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.712699900000004,
 'long': 146.153595,
 'record_id': '6942294',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 14, 0, 0),
 'survey_id': '1102229',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac68a'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.723800700000005,
 'long': 146.15609740000002,
 'record_id': '6942298',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 14, 0, 0),
 'survey_id': '1102231',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac68b'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7234001,
 'long': 146.1569061,
 'record_id': '6942301',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 14, 0, 0),
 'survey_id': '1102233',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac68c'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.708400700000006,
 'long': 146.1463928,
 'record_id': '6942286',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 14, 0, 0),
 'survey_id': '1102225',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac68d'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.712699900000004,
 'long': 146.15240480000003,
 'record_id': '6942296',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 14, 0, 0),
 'survey_id': '1102230',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac68e'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.705101,
 'long': 146.1423035,
 'record_id': '6942282',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 14, 0, 0),
 'survey_id': '1102223',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 3,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac68f'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7134018,
 'long': 146.1533051,
 'record_id': '6942291',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 14, 0, 0),
 'survey_id': '1102228',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac690'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7055016,
 'long': 146.1417999,
 'record_id': '6942284',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 14, 0, 0),
 'survey_id': '1102224',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 2,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac691'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7081985,
 'long': 146.14729309999998,
 'record_id': '6942288',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 14, 0, 0),
 'survey_id': '1102226',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac692'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7439995,
 'long': 146.2147064,
 'record_id': '6942317',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 15, 0, 0),
 'survey_id': '1102243',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 2,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac693'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7454987,
 'long': 146.2044067,
 'record_id': '6942314',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 15, 0, 0),
 'survey_id': '1102241',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac694'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.729198499999995,
 'long': 146.16180419999998,
 'record_id': '6942306',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 15, 0, 0),
 'survey_id': '1102236',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac695'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7458,
 'long': 146.2046967,
 'record_id': '6942315',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 15, 0, 0),
 'survey_id': '1102242',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 2,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac696'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7289009,
 'long': 146.1622925,
 'record_id': '6942304',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 15, 0, 0),
 'survey_id': '1102235',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 2,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac697'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7434006,
 'long': 146.21530149999998,
 'record_id': '6942321',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 15, 0, 0),
 'survey_id': '1102245',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 3,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac698'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7453995,
 'long': 146.205307,
 'record_id': '6942313',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 15, 0, 0),
 'survey_id': '1102240',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 2,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac699'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7436981,
 'long': 146.21530149999998,
 'record_id': '6942319',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 15, 0, 0),
 'survey_id': '1102244',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 2,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac69a'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7384987,
 'long': 146.1623993,
 'record_id': '6942307',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 15, 0, 0),
 'survey_id': '1102237',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac69b'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.778400399999995,
 'long': 146.14480590000002,
 'record_id': '6942331',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 16, 0, 0),
 'survey_id': '1102251',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac69c'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.810798600000005,
 'long': 146.1463928,
 'record_id': '6942328',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 16, 0, 0),
 'survey_id': '1102248',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac69d'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8109016,
 'long': 146.1468964,
 'record_id': '6942324',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 16, 0, 0),
 'survey_id': '1102247',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 2,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac69e'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.930000299999996,
 'long': 146.3294067,
 'record_id': '6942355',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 19, 0, 0),
 'survey_id': '1102271',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac69f'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8527985,
 'long': 146.24659730000002,
 'record_id': '6942338',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 20, 0, 0),
 'survey_id': '1102258',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6a0'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7867012,
 'long': 146.3092957,
 'record_id': '6942343',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 22, 0, 0),
 'survey_id': '1102262',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6a1'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.787300099999996,
 'long': 146.3097992,
 'record_id': '6942342',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 22, 0, 0),
 'survey_id': '1102261',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6a2'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.775299100000005,
 'long': 146.2942963,
 'record_id': '6942363',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 22, 0, 0),
 'survey_id': '1102277',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6a3'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7491989,
 'long': 146.2454071,
 'record_id': '6942368',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 22, 0, 0),
 'survey_id': '1102280',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6a4'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7860985,
 'long': 146.3088989,
 'record_id': '6942344',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 22, 0, 0),
 'survey_id': '1102263',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 3,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6a5'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7486,
 'long': 146.24650569999997,
 'record_id': '6942369',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 22, 0, 0),
 'survey_id': '1102281',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6a6'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7494011,
 'long': 146.2460022,
 'record_id': '6942366',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 22, 0, 0),
 'survey_id': '1102279',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6a7'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.920101200000005,
 'long': 146.29949950000002,
 'record_id': '6942370',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 23, 0, 0),
 'survey_id': '1102282',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6a8'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.9207001,
 'long': 146.29980469999998,
 'record_id': '6942372',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 23, 0, 0),
 'survey_id': '1102283',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6a9'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.927200299999996,
 'long': 146.3392029,
 'record_id': '6942334',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 23, 0, 0),
 'survey_id': '1102254',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 3,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6aa'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8213997,
 'long': 145.9277954,
 'record_id': '6948975',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 10, 31, 0, 0),
 'survey_id': '1105991',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6ab'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8093987,
 'long': 145.8260956,
 'record_id': '6942393',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 11, 16, 0, 0),
 'survey_id': '1102302',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6ac'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8384018,
 'long': 145.80029299999998,
 'record_id': '6942409',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 11, 17, 0, 0),
 'survey_id': '1102315',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6ad'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.848800700000005,
 'long': 145.8078003,
 'record_id': '6942404',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 11, 17, 0, 0),
 'survey_id': '1102311',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6ae'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.848800700000005,
 'long': 145.8023071,
 'record_id': '6942397',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 11, 17, 0, 0),
 'survey_id': '1102306',

 'long': 145.8497925,
 'record_id': '6942455',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 11, 19, 0, 0),
 'survey_id': '1102347',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6b5'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.860401200000005,
 'long': 145.852005,
 'record_id': '6942425',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 11, 19, 0, 0),
 'survey_id': '1102327',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6b6'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.850498200000004,
 'long': 145.8598938,
 'record_id': '6942433',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 11, 19, 0, 0),
 'survey_id': '1102331',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6b7'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8596992,
 'long': 145.8513947,
 'record_id': '6942429',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 11, 19, 0, 0),
 'survey_id': '1102329',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6b8'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.868,
 'long': 145.8352051,
 'record_id': '6942417',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 11, 20, 0, 0),
 'survey_id': '1102321',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6b9'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8737984,
 'long': 146.3813019,
 'record_id': '6942463',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 11, 23, 0, 0),
 'survey_id': '1102354',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6ba'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8736,
 'long': 146.3818054,
 'record_id': '6942466',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 11, 23, 0, 0),
 'survey_id': '1102356',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 2,
 'year_month': '2015-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6bb'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.873298600000005,
 'long': 146.3809967,
 'record_id': '6942464',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 11, 23, 0, 0),
 'survey_id': '1102355',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6bc'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.78540039999999,
 'long': 146.3016968,
 'record_id': '6942471',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 11, 24, 0, 0),
 'survey_id': '1102359',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6bd'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.799499499999996,
 'long': 146.2933044,
 'record_id': '6942482',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 11, 24, 0, 0),
 'survey_id': '1102367',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6be'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7848015,
 'long': 146.3025055,
 'record_id': '6942467',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 11, 24, 0, 0),
 'survey_id': '1102357',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6bf'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7840004,
 'long': 146.2911987,
 'record_id': '6942475',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 11, 24, 0, 0),
 'survey_id': '1102363',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6c0'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7999001,
 'long': 146.29359440000002,
 'record_id': '6942480',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 11, 24, 0, 0),
 'survey_id': '1102366',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6c1'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7839012,
 'long': 146.2917023,
 'record_id': '6942478',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 11, 24, 0, 0),
 'survey_id': '1102364',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6c2'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8008003,
 'long': 146.2938995,
 'record_id': '6942483',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 11, 24, 0, 0),
 'survey_id': '1102368',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6c3'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.784999799999994,
 'long': 146.30200200000002,
 'record_id': '6942468',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 11, 24, 0, 0),
 'survey_id': '1102358',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6c4'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8081017,
 'long': 146.3179932,
 'record_id': '6942490',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 11, 25, 0, 0),
 'survey_id': '1102373',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6c5'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.801399200000006,
 'long': 146.313797,
 'record_id': '6942485',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 11, 25, 0, 0),
 'survey_id': '1102370',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6c6'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8077011,
 'long': 146.3184052,
 'record_id': '6942489',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 11, 25, 0, 0),
 'survey_id': '1102372',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6c7'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8084984,
 'long': 146.31900019999998,
 'record_id': '6942493',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 11, 25, 0, 0),
 'survey_id': '1102374',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6c8'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7882996,
 'long': 146.33120730000002,
 'record_id': '6942511',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 11, 26, 0, 0),
 'survey_id': '1102387',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6c9'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.765701299999996,
 'long': 146.3125,
 'record_id': '6942505',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 11, 26, 0, 0),
 'survey_id': '1102384',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6ca'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.76549910000001,
 'long': 146.3114014,
 'record_id': '6942508',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 11, 26, 0, 0),
 'survey_id': '1102386',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6cb'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.9199982,
 'long': 146.3283997,
 'record_id': '6942520',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 11, 27, 0, 0),
 'survey_id': '1102395',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6cc'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7710991,
 'long': 145.991806,
 'record_id': '8220626',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 12, 14, 0, 0),
 'survey_id': '1222760',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6cd'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8219986,
 'long': 145.77699280000002,
 'record_id': '8220627',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2015, 12, 14, 0, 0),
 'survey_id': '1222761',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6ce'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.912300099999996,
 'long': 145.8338013,
 'record_id': '8220608',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 1, 6, 0, 0),
 'survey_id': '1222742',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6cf'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8292007,
 'long': 145.80839540000002,
 'record_id': '8220607',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 1, 6, 0, 0),
 'survey_id': '1222741',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6d0'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8074989,
 'long': 145.80969240000002,
 'record_id': '6948971',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 1, 13, 0, 0),
 'survey_id': '1105987',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6d1'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8419991,
 'long': 145.8079071,
 'record_id': '6948974',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 1, 13, 0, 0),
 'survey_id': '1105990',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6d2'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.81579970000001,
 'long': 145.7944946,
 'record_id': '6948972',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 1, 13, 0, 0),
 'survey_id': '1105988',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 2,
 'year_month': '2016-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6d3'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8263016,
 'long': 145.7955017,
 'record_id': '6948973',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 1, 13, 0, 0),
 'survey_id': '1105989',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6d4'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8526993,
 'long': 145.8307037,
 'record_id': '8206858',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 1, 18, 0, 0),
 'survey_id': '1218226',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6d5'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8540001,
 'long': 145.83569340000003,
 'record_id': '8206863',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 1, 18, 0, 0),
 'survey_id': '1218229',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6d6'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8543015,
 'long': 145.8365021,
 'record_id': '8206865',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 1, 18, 0, 0),
 'survey_id': '1218231',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 2,
 'year_month': '2016-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6d7'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.825500500000004,
 'long': 145.92680359999997,
 'record_id': '8206871',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 1, 19, 0, 0),
 'survey_id': '1218236',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6d8'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8175011,
 'long': 145.92579650000002,
 'record_id': '8206873',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 1, 19, 0, 0),
 'survey_id': '1218238',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6d9'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8320007,
 'long': 145.92529299999998,
 'record_id': '8206824',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 1, 19, 0, 0),
 'survey_id': '1218208',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6da'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8316994,
 'long': 145.92460630000002,
 'record_id': '8206825',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 1, 19, 0, 0),
 'survey_id': '1218209',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6db'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7831001,
 'long': 145.89750669999998,
 'record_id': '8206837',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 1, 20, 0, 0),
 'survey_id': '1218215',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6dc'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.78990170000001,
 'long': 145.8966064,
 'record_id': '8206846',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 1, 20, 0, 0),
 'survey_id': '1218219',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6dd'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.813201899999996,
 'long': 145.8740997,
 'record_id': '8206852',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 1, 20, 0, 0),
 'survey_id': '1218222',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6de'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.783401500000004,
 'long': 145.896698,
 'record_id': '8206836',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 1, 20, 0, 0),
 'survey_id': '1218214',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 2,
 'year_month': '2016-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6df'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.772499100000005,
 'long': 145.8932037,
 'record_id': '8206830',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 1, 20, 0, 0),
 'survey_id': '1218211',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6e0'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.771701799999995,
 'long': 145.89329530000003,
 'record_id': '8206834',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 1, 20, 0, 0),
 'survey_id': '1218213',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6e1'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.782501200000006,
 'long': 145.8972015,
 'record_id': '8206839',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 1, 20, 0, 0),
 'survey_id': '1218216',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6e2'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8652992,
 'long': 145.8789063,
 'record_id': '8206890',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 1, 21, 0, 0),
 'survey_id': '1218250',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6e3'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8572998,
 'long': 145.8533936,
 'record_id': '8206903',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 1, 21, 0, 0),
 'survey_id': '1218259',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6e4'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.799099,
 'long': 145.8800964,
 'record_id': '8206878',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 1, 21, 0, 0),
 'survey_id': '1218243',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6e5'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8646011,
 'long': 145.8789063,
 'record_id': '8206894',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 1, 21, 0, 0),
 'survey_id': '1218252',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6e6'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.803199799999994,
 'long': 145.88000490000002,
 'record_id': '8206882',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 1, 21, 0, 0),
 'survey_id': '1218244',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6e7'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8028984,
 'long': 145.8872986,
 'record_id': '8206907',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 2, 3, 0, 0),
 'survey_id': '1218262',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 2,
 'year_month': '2016-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6e8'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.803199799999994,
 'long': 145.8874969,
 'record_id': '8206908',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 2, 3, 0, 0),
 'survey_id': '1218263',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6e9'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.4910011,
 'long': 145.9225006,
 'record_id': '8206963',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 2, 8, 0, 0),
 'survey_id': '1218296',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac6ea'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.3661995,
 'long': 145.92529299999998,
 'record_id': '8220628',
 'sci_name': 'Gymnobelideus leadbeateri',

 'record_id': '8207005',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 3, 2, 0, 0),
 'survey_id': '1218326',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 3,
 'year_month': '2016-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac710'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7408981,
 'long': 146.1647949,
 'record_id': '8207036',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 3, 3, 0, 0),
 'survey_id': '1218342',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac711'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.757301299999995,
 'long': 146.15739440000002,
 'record_id': '8207031',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 3, 3, 0, 0),
 'survey_id': '1218339',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 2,
 'year_month': '2016-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac712'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7261009,
 'long': 146.1585999,
 'record_id': '8207047',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 3, 3, 0, 0),
 'survey_id': '1218347',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac713'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.726501500000005,
 'long': 146.1578979,
 'record_id': '8207044',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 3, 3, 0, 0),
 'survey_id': '1218345',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac714'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.75719829999999,
 'long': 146.1569061,
 'record_id': '8207033',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 3, 3, 0, 0),
 'survey_id': '1218340',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac715'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.741401700000004,
 'long': 146.16499330000002,
 'record_id': '8207042',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 3, 3, 0, 0),
 'survey_id': '1218344',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac716'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.757099200000006,
 'long': 146.15649409999997,
 'record_id': '8207034',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 3, 3, 0, 0),
 'survey_id': '1218341',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac717'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.740798999999996,
 'long': 146.16520690000002,
 'record_id': '8207038',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 3, 3, 0, 0),
 'survey_id': '1218343',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac718'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.727001200000004,
 'long': 146.1584015,
 'record_id': '8207046',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 3, 3, 0, 0),
 'survey_id': '1218346',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac719'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.716499299999995,
 'long': 146.1546936,
 'record_id': '8207026',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 3, 3, 0, 0),
 'survey_id': '1218336',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac71a'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7868004,
 'long': 146.1013031,
 'record_id': '8207066',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 3, 4, 0, 0),
 'survey_id': '1218359',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac71b'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7832985,
 'long': 146.0930939,
 'record_id': '8207073',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 3, 4, 0, 0),
 'survey_id': '1218362',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac71c'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.5393982,
 'long': 145.84260559999998,
 'record_id': '8206985',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 3, 8, 0, 0),
 'survey_id': '1218315',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac71d'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.5360985,
 'long': 145.8404999,
 'record_id': '8206986',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 3, 8, 0, 0),
 'survey_id': '1218316',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 2,
 'year_month': '2016-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac71e'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.5340004,
 'long': 145.83949280000002,
 'record_id': '8206987',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 3, 8, 0, 0),
 'survey_id': '1218317',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 2,
 'year_month': '2016-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac71f'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.9174004,
 'long': 145.85270690000002,
 'record_id': '8207117',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 3, 16, 0, 0),
 'survey_id': '1218384',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac720'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.901001,
 'long': 145.7424011,
 'record_id': '8207089',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 3, 17, 0, 0),
 'survey_id': '1218369',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac721'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.9043999,
 'long': 145.7467041,
 'record_id': '8207099',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 3, 17, 0, 0),
 'survey_id': '1218372',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac722'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8950996,
 'long': 145.7306061,
 'record_id': '8207105',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 3, 17, 0, 0),
 'survey_id': '1218376',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac723'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.9009018,
 'long': 145.7416992,
 'record_id': '8207094',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 3, 17, 0, 0),
 'survey_id': '1218370',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac724'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.42200089999999,
 'long': 145.8993073,
 'record_id': '8207127',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 3, 21, 0, 0),
 'survey_id': '1218388',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac725'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.45240020000001,
 'long': 145.9387054,
 'record_id': '8207149',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 3, 22, 0, 0),
 'survey_id': '1218405',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac726'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.521801,
 'long': 145.9141998,
 'record_id': '8207156',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 3, 22, 0, 0),
 'survey_id': '1218409',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac727'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.95240020000001,
 'long': 145.9161987,
 'record_id': '6953749',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 3, 26, 0, 0),
 'survey_id': '1107787',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac728'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.5175018,
 'long': 145.5054932,
 'record_id': '8220605',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 4, 18, 0, 0),
 'survey_id': '1222739',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac729'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.523700700000006,
 'long': 145.5090942,
 'record_id': '8220606',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 5, 15, 0, 0),
 'survey_id': '1222740',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac72a'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.6100006,
 'long': 145.9953003,
 'record_id': '8220610',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 5, 24, 0, 0),
 'survey_id': '1222744',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac72b'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.5625,
 'long': 145.9387054,
 'record_id': '8220609',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 5, 24, 0, 0),
 'survey_id': '1222743',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac72c'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.566600799999996,
 'long': 145.56660459999998,
 'record_id': '8220611',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 6, 2, 0, 0),
 'survey_id': '1222745',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac72d'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.6764984,
 'long': 145.740799,
 'record_id': '8426389',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 8, 4, 0, 0),
 'survey_id': '1289040',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-08'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac72e'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.5628014,
 'long': 145.5558929,
 'record_id': '8583890',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 10, 17, 0, 0),
 'survey_id': '1397734',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac72f'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.5637016,
 'long': 145.5552979,
 'record_id': '8583874',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 10, 17, 0, 0),
 'survey_id': '1397731',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac730'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.5626984,
 'long': 145.5552979,
 'record_id': '8583876',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 10, 17, 0, 0),
 'survey_id': '1397733',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac731'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.55250170000001,
 'long': 145.54949950000002,
 'record_id': '8583869',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 10, 17, 0, 0),
 'survey_id': '1397730',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac732'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.4631996,
 'long': 145.5726013,
 'record_id': '8583980',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 10, 19, 0, 0),
 'survey_id': '1397763',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac733'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7929993,
 'long': 145.721405,
 'record_id': '8583973',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 10, 19, 0, 0),
 'survey_id': '1397760',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac734'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.793598200000005,
 'long': 145.7218018,
 'record_id': '8583976',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 10, 19, 0, 0),
 'survey_id': '1397761',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac735'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8717995,
 'long': 145.89039609999998,
 'record_id': '8583986',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 10, 20, 0, 0),
 'survey_id': '1397767',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac736'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8708,
 'long': 145.89059450000002,
 'record_id': '8583987',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 10, 20, 0, 0),
 'survey_id': '1397768',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac737'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8083,
 'long': 145.8338013,
 'record_id': '8583994',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 10, 20, 0, 0),
 'survey_id': '1397772',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac738'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8091011,
 'long': 145.83279419999997,
 'record_id': '8584000',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 10, 20, 0, 0),
 'survey_id': '1397774',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac739'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8030014,
 'long': 145.7366943,
 'record_id': '8584004',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 10, 21, 0, 0),
 'survey_id': '1397778',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac73a'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.909599299999996,
 'long': 146.31230159999998,
 'record_id': '8584028',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 10, 24, 0, 0),
 'survey_id': '1397795',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac73b'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8853989,
 'long': 146.3822021,
 'record_id': '8584020',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 10, 24, 0, 0),
 'survey_id': '1397787',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac73c'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.9099007,
 'long': 146.311203,
 'record_id': '8584026',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 10, 24, 0, 0),
 'survey_id': '1397793',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac73d'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.92259979999999,
 'long': 146.3222961,
 'record_id': '8584023',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 10, 24, 0, 0),
 'survey_id': '1397790',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac73e'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.866401700000004,
 'long': 146.3713989,
 'record_id': '8584039',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 10, 25, 0, 0),
 'survey_id': '1397803',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac73f'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.83959960000001,
 'long': 146.3580017,
 'record_id': '8584035',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 10, 25, 0, 0),
 'survey_id': '1397800',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac740'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.838501,
 'long': 146.3578033,
 'record_id': '8584032',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 10, 25, 0, 0),
 'survey_id': '1397799',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac741'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8568001,
 'long': 146.23739619999998,
 'record_id': '8584060',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 10, 26, 0, 0),
 'survey_id': '1397817',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac742'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.855999,
 'long': 146.21409609999998,
 'record_id': '8584052',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 10, 26, 0, 0),
 'survey_id': '1397812',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac743'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.855999,
 'long': 146.21530149999998,
 'record_id': '8584054',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 10, 26, 0, 0),
 'survey_id': '1397813',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac744'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7621994,
 'long': 146.25079350000001,
 'record_id': '8584078',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 10, 27, 0, 0),
 'survey_id': '1397830',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac745'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7615013,
 'long': 146.2514954,
 'record_id': '8584074',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 10, 27, 0, 0),
 'survey_id': '1397828',

 'start_date': datetime.datetime(2016, 11, 3, 0, 0),
 'survey_id': '1397845',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac750'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.395900700000006,
 'long': 145.8542023,
 'record_id': '8584117',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 11, 4, 0, 0),
 'survey_id': '1397854',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac751'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.3960991,
 'long': 145.8553009,
 'record_id': '8584118',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 11, 4, 0, 0),
 'survey_id': '1397855',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac752'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.395198799999996,
 'long': 145.85479740000002,
 'record_id': '8584116',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 11, 4, 0, 0),
 'survey_id': '1397853',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac753'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8614998,
 'long': 145.7696075,
 'record_id': '8584128',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 11, 9, 0, 0),
 'survey_id': '1397860',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac754'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.838699299999995,
 'long': 145.7846069,
 'record_id': '8584139',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 11, 9, 0, 0),
 'survey_id': '1397865',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac755'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8316994,
 'long': 145.7790985,
 'record_id': '8584138',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 11, 9, 0, 0),
 'survey_id': '1397864',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac756'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8382988,
 'long': 145.78370669999998,
 'record_id': '8584143',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 11, 9, 0, 0),
 'survey_id': '1397867',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac757'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8322983,
 'long': 145.78019709999998,
 'record_id': '8584134',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 11, 9, 0, 0),
 'survey_id': '1397863',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac758'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8325996,
 'long': 145.7796021,
 'record_id': '8584130',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 11, 9, 0, 0),
 'survey_id': '1397862',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac759'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.775199900000004,
 'long': 145.8923035,
 'record_id': '8584155',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 11, 10, 0, 0),
 'survey_id': '1397875',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac75a'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.774700200000005,
 'long': 145.8930054,
 'record_id': '8584154',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 11, 10, 0, 0),
 'survey_id': '1397874',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac75b'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.777500200000006,
 'long': 145.88250730000001,
 'record_id': '8584160',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 11, 10, 0, 0),
 'survey_id': '1397879',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac75c'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.596900899999994,
 'long': 146.40310669999997,
 'record_id': '8584206',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 12, 14, 0, 0),
 'survey_id': '1397916',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac75d'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.680198700000005,
 'long': 146.13209530000003,
 'record_id': '8584233',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2016, 12, 16, 0, 0),
 'survey_id': '1397937',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac75e'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.516498600000006,
 'long': 145.9138947,
 'record_id': '8590135',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 1, 2, 0, 0),
 'survey_id': '1401155',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac75f'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7971992,
 'long': 145.8110046,
 'record_id': '8584240',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 1, 16, 0, 0),
 'survey_id': '1397942',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac760'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.796001399999994,
 'long': 145.8117981,
 'record_id': '8584237',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 1, 16, 0, 0),
 'survey_id': '1397940',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac761'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7813988,
 'long': 145.85859680000002,
 'record_id': '8584245',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 1, 16, 0, 0),
 'survey_id': '1397946',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac762'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.5458984,
 'long': 145.62060549999998,
 'record_id': '8590136',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 1, 17, 0, 0),
 'survey_id': '1401156',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac763'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.708999600000006,
 'long': 145.70779419999997,
 'record_id': '8584257',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 1, 17, 0, 0),
 'survey_id': '1397955',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac764'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7097015,
 'long': 145.7091064,
 'record_id': '8584259',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 1, 17, 0, 0),
 'survey_id': '1397957',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac765'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.6383018,
 'long': 145.9981995,
 'record_id': '8584267',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 1, 18, 0, 0),
 'survey_id': '1397964',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac766'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7294998,
 'long': 146.0263062,
 'record_id': '8584275',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 1, 18, 0, 0),
 'survey_id': '1397969',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac767'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.6385002,
 'long': 145.9967041,
 'record_id': '8584270',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 1, 18, 0, 0),
 'survey_id': '1397966',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac768'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.901199299999995,
 'long': 146.29420469999997,
 'record_id': '8590148',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 1, 22, 0, 0),
 'survey_id': '1401168',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac769'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.464401200000005,
 'long': 145.93409730000002,
 'record_id': '8584314',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 1, 31, 0, 0),
 'survey_id': '1397997',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac76a'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.5630989,
 'long': 145.889801,
 'record_id': '8584338',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 2, 1, 0, 0),
 'survey_id': '1398015',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac76b'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.398201,
 'long': 145.827301,
 'record_id': '8584343',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 2, 2, 0, 0),
 'survey_id': '1398020',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac76c'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.3988991,
 'long': 145.82650759999999,
 'record_id': '8584346',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 2, 2, 0, 0),
 'survey_id': '1398022',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac76d'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7540016,
 'long': 146.01220700000002,
 'record_id': '8584381',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 2, 10, 0, 0),
 'survey_id': '1398048',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac76e'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7723999,
 'long': 146.0395966,
 'record_id': '8584385',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 2, 10, 0, 0),
 'survey_id': '1398050',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac76f'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.754100799999996,
 'long': 146.0110016,
 'record_id': '8584383',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 2, 10, 0, 0),
 'survey_id': '1398049',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac770'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8608017,
 'long': 145.9284058,
 'record_id': '8584398',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 2, 15, 0, 0),
 'survey_id': '1398058',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac771'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.802200299999996,
 'long': 145.89889530000002,
 'record_id': '8584394',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 2, 15, 0, 0),
 'survey_id': '1398055',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac772'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.801601399999996,
 'long': 145.8995056,
 'record_id': '8584389',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 2, 15, 0, 0),
 'survey_id': '1398053',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac773'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8119011,
 'long': 145.80540469999997,
 'record_id': '8590147',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 2, 16, 0, 0),
 'survey_id': '1401167',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac774'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.803901700000004,
 'long': 146.1286011,
 'record_id': '8584399',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 3, 6, 0, 0),
 'survey_id': '1398059',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac775'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7911987,
 'long': 146.12510680000003,
 'record_id': '8584407',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 3, 7, 0, 0),
 'survey_id': '1398064',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac776'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.791698499999995,
 'long': 146.12460330000002,
 'record_id': '8584406',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 3, 7, 0, 0),
 'survey_id': '1398063',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac777'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8126984,
 'long': 146.0874939,
 'record_id': '8584420',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 3, 7, 0, 0),
 'survey_id': '1398069',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac778'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.820201899999994,
 'long': 146.0670929,
 'record_id': '8584415',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 3, 7, 0, 0),
 'survey_id': '1398067',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac779'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8124008,
 'long': 146.0870056,
 'record_id': '8584417',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 3, 7, 0, 0),
 'survey_id': '1398068',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac77a'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.802200299999996,
 'long': 145.921402,
 'record_id': '8590149',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 3, 7, 0, 0),
 'survey_id': '1401169',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac77b'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7919006,
 'long': 146.12530519999999,
 'record_id': '8584403',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 3, 7, 0, 0),
 'survey_id': '1398062',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac77c'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.820598600000004,
 'long': 146.0664978,
 'record_id': '8584410',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 3, 7, 0, 0),
 'survey_id': '1398066',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac77d'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7383003,
 'long': 146.1905975,
 'record_id': '8584429',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 3, 8, 0, 0),
 'survey_id': '1398074',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac77e'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.675399799999994,
 'long': 146.0587006,
 'record_id': '8584443',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 3, 8, 0, 0),
 'survey_id': '1398081',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac77f'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.691799200000005,
 'long': 146.1372986,
 'record_id': '8584453',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 3, 8, 0, 0),
 'survey_id': '1398085',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac780'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7705002,
 'long': 146.19650269999997,
 'record_id': '8584436',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 3, 8, 0, 0),
 'survey_id': '1398077',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac781'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.790000899999995,
 'long': 146.1401978,
 'record_id': '8584480',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 3, 10, 0, 0),
 'survey_id': '1398099',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac782'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.789699600000006,
 'long': 146.1392975,
 'record_id': '8584478',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 3, 10, 0, 0),
 'survey_id': '1398098',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac783'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.785598799999995,
 'long': 146.3155975,
 'record_id': '8590150',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 3, 11, 0, 0),
 'survey_id': '1401170',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac784'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.444999700000004,
 'long': 145.80439760000002,
 'record_id': '8584492',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 3, 20, 0, 0),
 'survey_id': '1398109',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac785'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.4076996,
 'long': 145.81199650000002,
 'record_id': '8584496',
 'sci_name': 'Gymnobelideus leadbeateri',

{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac79d'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.6050987,
 'long': 146.4535065,
 'record_id': '8960030',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 6, 21, 0, 0),
 'survey_id': '1716157',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac79e'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.4970016,
 'long': 145.5296936,
 'record_id': '8590294',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 6, 23, 0, 0),
 'survey_id': '1401308',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac79f'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.6049995,
 'long': 146.45309450000002,
 'record_id': '8958130',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 6, 26, 0, 0),
 'survey_id': '1715913',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7a0'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.769100200000004,
 'long': 146.28469850000002,
 'record_id': '8590302',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 7, 1, 0, 0),
 'survey_id': '1401316',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7a1'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7650986,
 'long': 146.2863007,
 'record_id': '8590301',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 7, 1, 0, 0),
 'survey_id': '1401315',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7a2'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.5386009,
 'long': 145.9046936,
 'record_id': '8590276',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 7, 18, 0, 0),
 'survey_id': '1401292',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7a3'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8168983,
 'long': 145.8404999,
 'record_id': '8590317',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 7, 28, 0, 0),
 'survey_id': '1401331',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7a4'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.92259979999999,
 'long': 146.2884979,
 'record_id': '8590335',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 8, 20, 0, 0),
 'survey_id': '1401349',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-08'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7a5'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8115005,
 'long': 146.0944061,
 'record_id': '8590336',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 8, 29, 0, 0),
 'survey_id': '1401350',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-08'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7a6'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.6753006,
 'long': 146.5292053,
 'record_id': '8958128',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2017, 12, 15, 0, 0),
 'survey_id': '1715911',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7a7'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8731003,
 'long': 145.9196014,
 'record_id': '8943074',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2018, 1, 21, 0, 0),
 'survey_id': '1710281',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2018-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7a8'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.56579970000001,
 'long': 146.4243011,
 'record_id': '8958129',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2018, 1, 31, 0, 0),
 'survey_id': '1715912',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2018-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7a9'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.799499499999996,
 'long': 145.9300995,
 'record_id': '8943075',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2018, 2, 10, 0, 0),
 'survey_id': '1710282',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2018-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7aa'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7801018,
 'long': 146.3011017,
 'record_id': '8943077',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2018, 2, 17, 0, 0),
 'survey_id': '1710284',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2018-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7ab'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.6598015,
 'long': 146.0578003,
 'record_id': '8943076',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2018, 2, 17, 0, 0),
 'survey_id': '1710283',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2018-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7ac'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.535301200000006,
 'long': 145.83999630000002,
 'record_id': '8906481',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2018, 2, 28, 0, 0),
 'survey_id': '1690228',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 3,
 'year_month': '2018-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7ad'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7751007,
 'long': 145.9927063,
 'record_id': '8943078',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2018, 3, 11, 0, 0),
 'survey_id': '1710285',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2018-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7ae'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.536201500000004,
 'long': 145.60960390000002,
 'record_id': '8986761',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2018, 8, 16, 0, 0),
 'survey_id': '1734180',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2018-08'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7af'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.819599200000006,
 'long': 146.1479034,
 'record_id': '8986762',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2018, 8, 25, 0, 0),
 'survey_id': '1734181',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2018-08'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7b0'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.912998200000004,
 'long': 145.75050349999998,
 'record_id': '8986068',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2018, 9, 3, 0, 0),
 'survey_id': '1733991',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2018-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7b1'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8194008,
 'long': 146.1515045,
 'record_id': '8986763',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2018, 10, 6, 0, 0),
 'survey_id': '1734182',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2018-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7b2'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.77439879999999,
 'long': 145.964798,
 'record_id': '9032537',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2018, 10, 29, 0, 0),
 'survey_id': '1757280',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2018-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7b3'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7675018,
 'long': 145.9608002,
 'record_id': '9032551',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2018, 10, 29, 0, 0),
 'survey_id': '1757288',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 2,
 'year_month': '2018-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7b4'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.773498499999995,
 'long': 145.9644012,
 'record_id': '9032540',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2018, 10, 29, 0, 0),
 'survey_id': '1757282',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 2,
 'year_month': '2018-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7b5'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7700005,
 'long': 145.9618988,
 'record_id': '9032546',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2018, 10, 29, 0, 0),
 'survey_id': '1757285',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2018-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7b6'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7666016,
 'long': 145.9606018,
 'record_id': '9032547',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2018, 10, 29, 0, 0),
 'survey_id': '1757286',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2018-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7b7'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7671013,
 'long': 145.96000669999998,
 'record_id': '9032550',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2018, 10, 29, 0, 0),
 'survey_id': '1757287',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2018-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7b8'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.765701299999996,
 'long': 145.9544067,
 'record_id': '9032558',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2018, 10, 30, 0, 0),
 'survey_id': '1757290',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2018-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7b9'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7681999,
 'long': 145.9550934,
 'record_id': '9032566',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2018, 10, 30, 0, 0),
 'survey_id': '1757293',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2018-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7ba'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7677994,
 'long': 145.9546051,
 'record_id': '9032570',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2018, 10, 30, 0, 0),
 'survey_id': '1757294',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2018-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7bb'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.76490020000001,
 'long': 145.9544983,
 'record_id': '9032553',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2018, 10, 30, 0, 0),
 'survey_id': '1757289',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2018-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7bc'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7668991,
 'long': 146.0950928,
 'record_id': '9032593',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2018, 10, 31, 0, 0),
 'survey_id': '1757305',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2018-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7bd'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.763000500000004,
 'long': 146.0993958,
 'record_id': '9032585',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2018, 10, 31, 0, 0),
 'survey_id': '1757300',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2018-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7be'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7675018,
 'long': 146.0986023,
 'record_id': '9032600',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2018, 11, 1, 0, 0),
 'survey_id': '1757309',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 2,
 'year_month': '2018-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7bf'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.775501299999995,
 'long': 145.9967957,
 'record_id': '9032609',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2018, 11, 1, 0, 0),
 'survey_id': '1757312',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2018-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7c0'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7677002,
 'long': 146.098999,
 'record_id': '9032596',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2018, 11, 1, 0, 0),
 'survey_id': '1757307',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 2,
 'year_month': '2018-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7c1'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.774700200000005,
 'long': 145.99659730000002,
 'record_id': '9032606',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2018, 11, 1, 0, 0),
 'survey_id': '1757311',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2018-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7c2'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7733002,
 'long': 145.9994049,
 'record_id': '9032614',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2018, 11, 1, 0, 0),
 'survey_id': '1757313',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2018-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7c3'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.50329970000001,
 'long': 145.53660580000002,
 'record_id': '9032632',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2018, 11, 13, 0, 0),
 'survey_id': '1757322',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2018-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7c4'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.5033989,
 'long': 145.53590390000002,
 'record_id': '9032637',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2018, 11, 13, 0, 0),
 'survey_id': '1757324',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2018-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7c5'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8972015,
 'long': 146.1885986,
 'record_id': '9071903',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 2, 11, 0, 0),
 'survey_id': '1778123',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7c6'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.898700700000006,
 'long': 146.184906,
 'record_id': '9071919',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 2, 11, 0, 0),
 'survey_id': '1778128',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7c7'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8698006,
 'long': 145.93249509999998,
 'record_id': '9071922',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 2, 12, 0, 0),
 'survey_id': '1778129',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7c8'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8712997,
 'long': 145.9308929,
 'record_id': '9071933',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 2, 12, 0, 0),
 'survey_id': '1778132',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 3,
 'year_month': '2019-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7c9'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8718987,
 'long': 145.9304962,
 'record_id': '9071938',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 2, 12, 0, 0),
 'survey_id': '1778133',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7ca'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.871498100000004,
 'long': 145.9300995,
 'record_id': '9071942',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 2, 12, 0, 0),
 'survey_id': '1778134',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7cb'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.6938019,
 'long': 146.4962006,
 'record_id': '9072215',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 4, 16, 0, 0),
 'survey_id': '1778244',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7cc'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.6930008,
 'long': 146.4967041,
 'record_id': '9072217',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 4, 16, 0, 0),
 'survey_id': '1778245',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7cd'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.715599100000006,
 'long': 146.502594,
 'record_id': '9072221',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 4, 16, 0, 0),
 'survey_id': '1778247',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7ce'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7151985,
 'long': 146.5021057,
 'record_id': '9072224',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 4, 16, 0, 0),
 'survey_id': '1778248',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7cf'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7140999,
 'long': 146.50410459999998,
 'record_id': '9072231',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 4, 16, 0, 0),
 'survey_id': '1778250',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7d0'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.6820984,
 'long': 146.5119019,
 'record_id': '9072209',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 4, 16, 0, 0),
 'survey_id': '1778240',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7d1'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.6815987,
 'long': 146.511795,
 'record_id': '9072210',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 4, 16, 0, 0),
 'survey_id': '1778241',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7d2'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.6820984,
 'long': 146.51260380000002,
 'record_id': '9072211',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 4, 16, 0, 0),
 'survey_id': '1778242',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7d3'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.561798100000004,
 'long': 146.43550109999998,

{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7e5'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.459301,
 'long': 145.5567017,
 'record_id': '9586135',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 5, 10, 0, 0),
 'survey_id': '1831830',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7e6'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.597599,
 'long': 145.65280149999998,
 'record_id': '9586244',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 5, 10, 0, 0),
 'survey_id': '1831875',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7e7'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.607601200000005,
 'long': 145.6887054,
 'record_id': '9586266',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 5, 10, 0, 0),
 'survey_id': '1831882',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7e8'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.4594994,
 'long': 145.55729680000002,
 'record_id': '9586133',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 5, 10, 0, 0),
 'survey_id': '1831829',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 3,
 'year_month': '2019-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7e9'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.459999100000005,
 'long': 145.5565948,
 'record_id': '9586138',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 5, 10, 0, 0),
 'survey_id': '1831831',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7ea'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.774601000000004,
 'long': 145.9665985,
 'record_id': '9585640',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 5, 19, 0, 0),
 'survey_id': '1831551',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 2,
 'year_month': '2019-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7eb'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.76879879999999,
 'long': 145.9647064,
 'record_id': '9585705',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 5, 21, 0, 0),
 'survey_id': '1831616',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7ec'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.770401,
 'long': 145.9615021,
 'record_id': '9585649',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 6, 8, 0, 0),
 'survey_id': '1831560',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 2,
 'year_month': '2019-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7ed'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.774601000000004,
 'long': 145.9667969,
 'record_id': '9585659',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 6, 8, 0, 0),
 'survey_id': '1831570',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7ee'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7736015,
 'long': 145.9660034,
 'record_id': '9585670',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 6, 9, 0, 0),
 'survey_id': '1831581',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7ef'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.85940170000001,
 'long': 146.22250369999998,
 'record_id': '10131247',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 7, 22, 0, 0),
 'survey_id': '1982267',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7f0'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8555984,
 'long': 146.22340390000002,
 'record_id': '10131268',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 7, 22, 0, 0),
 'survey_id': '1982272',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7f1'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8586998,
 'long': 146.15750119999998,
 'record_id': '10130902',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 7, 23, 0, 0),
 'survey_id': '1982201',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7f2'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8658981,
 'long': 146.15649409999997,
 'record_id': '10130903',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 7, 23, 0, 0),
 'survey_id': '1982202',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7f3'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8653984,
 'long': 146.1569061,
 'record_id': '10130905',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 7, 23, 0, 0),
 'survey_id': '1982203',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7f4'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8655014,
 'long': 146.15640259999998,
 'record_id': '10130913',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 7, 23, 0, 0),
 'survey_id': '1982204',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7f5'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8041992,
 'long': 146.10969540000002,
 'record_id': '10149625',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 7, 24, 0, 0),
 'survey_id': '1988408',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7f6'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8041992,
 'long': 146.1065063,
 'record_id': '10149628',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 7, 24, 0, 0),
 'survey_id': '1988409',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7f7'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.805000299999996,
 'long': 146.10670469999997,
 'record_id': '10149630',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 7, 24, 0, 0),
 'survey_id': '1988410',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7f8'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8073006,
 'long': 146.11279299999998,
 'record_id': '10130964',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 7, 25, 0, 0),
 'survey_id': '1982222',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7f9'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8070984,
 'long': 146.11689760000002,
 'record_id': '10130975',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 7, 25, 0, 0),
 'survey_id': '1982225',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7fa'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8059006,
 'long': 146.11450200000002,
 'record_id': '10130981',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 7, 25, 0, 0),
 'survey_id': '1982226',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7fb'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.5387001,
 'long': 145.9055939,
 'record_id': '9622104',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 7, 28, 0, 0),
 'survey_id': '1864256',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7fc'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8017998,
 'long': 146.088501,
 'record_id': '10131975',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 8, 22, 0, 0),
 'survey_id': '1982460',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-08'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7fd'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.801998100000006,
 'long': 146.08949280000002,
 'record_id': '10131977',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 8, 22, 0, 0),
 'survey_id': '1982461',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-08'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7fe'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.801601399999996,
 'long': 146.08909609999998,
 'record_id': '10131979',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 8, 22, 0, 0),
 'survey_id': '1982462',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-08'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac7ff'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.799598700000004,
 'long': 146.0904999,
 'record_id': '10131981',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 8, 22, 0, 0),
 'survey_id': '1982463',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-08'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac800'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.799598700000004,
 'long': 146.0895996,
 'record_id': '10131986',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 8, 22, 0, 0),
 'survey_id': '1982464',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-08'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac801'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.799400299999995,
 'long': 146.08909609999998,
 'record_id': '10131989',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 8, 22, 0, 0),
 'survey_id': '1982465',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-08'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac802'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.5439987,
 'long': 145.5601959,
 'record_id': '9622191',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 8, 25, 0, 0),
 'survey_id': '1864333',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-08'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac803'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.808200799999995,
 'long': 146.0854034,
 'record_id': '10131020',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 8, 28, 0, 0),
 'survey_id': '1982241',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-08'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac804'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8087997,
 'long': 146.08590700000002,
 'record_id': '10131029',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 8, 28, 0, 0),
 'survey_id': '1982242',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-08'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac805'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8088989,
 'long': 146.0852051,
 'record_id': '10131032',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 8, 28, 0, 0),
 'survey_id': '1982243',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-08'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac806'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.537300099999996,
 'long': 145.9125061,
 'record_id': '10132848',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 9, 3, 0, 0),
 'survey_id': '1982583',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac807'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.53710170000001,
 'long': 145.9131012,
 'record_id': '10132849',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 9, 3, 0, 0),
 'survey_id': '1982584',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac808'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.5415001,
 'long': 145.9080963,
 'record_id': '10132852',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 9, 3, 0, 0),
 'survey_id': '1982585',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac809'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.542301200000004,
 'long': 145.908493,
 'record_id': '10132854',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 9, 3, 0, 0),
 'survey_id': '1982586',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac80a'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.6099014,
 'long': 146.043396,
 'record_id': '10131038',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 9, 4, 0, 0),
 'survey_id': '1982245',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac80b'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.6086006,
 'long': 146.04949950000002,
 'record_id': '10131045',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 9, 4, 0, 0),
 'survey_id': '1982247',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac80c'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.6071014,
 'long': 146.05160519999998,
 'record_id': '10131049',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 9, 4, 0, 0),
 'survey_id': '1982249',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac80d'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.6068001,
 'long': 146.0520935,
 'record_id': '10131051',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 9, 4, 0, 0),
 'survey_id': '1982250',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac80e'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.77259829999999,
 'long': 145.8498993,
 'record_id': '10130996',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 9, 18, 0, 0),
 'survey_id': '1982230',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac80f'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7737999,
 'long': 145.84480290000002,
 'record_id': '10130998',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 9, 18, 0, 0),
 'survey_id': '1982232',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac810'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.773700700000006,
 'long': 145.84399409999997,
 'record_id': '10131002',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 9, 18, 0, 0),
 'survey_id': '1982233',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac811'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.757499700000004,
 'long': 145.8365021,
 'record_id': '10130948',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 9, 19, 0, 0),
 'survey_id': '1982217',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac812'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.5360985,
 'long': 145.60940549999998,
 'record_id': '9598689',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 9, 19, 0, 0),
 'survey_id': '1835201',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 2,
 'year_month': '2019-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac813'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.5354996,
 'long': 145.60870359999998,
 'record_id': '9598690',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 9, 19, 0, 0),
 'survey_id': '1835202',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 2,
 'year_month': '2019-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac814'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.654701200000005,
 'long': 146.14129640000002,
 'record_id': '10132860',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 9, 23, 0, 0),
 'survey_id': '1982590',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac815'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.651199299999995,
 'long': 146.1369019,
 'record_id': '10132870',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 9, 23, 0, 0),
 'survey_id': '1982594',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac816'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.650600399999995,
 'long': 146.1360016,
 'record_id': '10132871',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 9, 23, 0, 0),
 'survey_id': '1982595',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac817'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.6500015,
 'long': 146.1360016,
 'record_id': '10132878',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 9, 23, 0, 0),
 'survey_id': '1982596',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac818'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.6118011,
 'long': 146.23019409999998,
 'record_id': '10132841',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 9, 25, 0, 0),
 'survey_id': '1982580',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac819'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.611301399999995,
 'long': 146.22970580000003,
 'record_id': '10132842',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 9, 25, 0, 0),
 'survey_id': '1982581',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac81a'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.6111984,
 'long': 146.2290039,
 'record_id': '10132843',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 9, 25, 0, 0),
 'survey_id': '1982582',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-09'}

 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 11, 5, 0, 0),
 'survey_id': '1985736',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac82e'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.5956001,
 'long': 146.1546021,
 'record_id': '10132234',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 11, 6, 0, 0),
 'survey_id': '1982504',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac82f'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.596599600000005,
 'long': 146.1548004,
 'record_id': '10132227',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 11, 6, 0, 0),
 'survey_id': '1982502',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac830'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.5960999,
 'long': 146.1549072,
 'record_id': '10132229',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 11, 6, 0, 0),
 'survey_id': '1982503',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac831'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.5968018,
 'long': 146.19650269999997,
 'record_id': '10134776',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 11, 8, 0, 0),
 'survey_id': '1983160',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac832'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.5970001,
 'long': 146.1972046,
 'record_id': '10134778',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 11, 8, 0, 0),
 'survey_id': '1983161',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac833'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.5964012,
 'long': 146.19709780000002,
 'record_id': '10134780',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 11, 8, 0, 0),
 'survey_id': '1983162',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac834'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.60240170000001,
 'long': 146.1988983,
 'record_id': '10134803',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 11, 8, 0, 0),
 'survey_id': '1983169',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac835'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.6026993,
 'long': 146.1997986,
 'record_id': '10134811',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 11, 8, 0, 0),
 'survey_id': '1983170',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac836'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.6029015,
 'long': 146.20039369999998,
 'record_id': '10134824',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 11, 8, 0, 0),
 'survey_id': '1983171',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac837'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.4124985,
 'long': 145.9589996,
 'record_id': '10134743',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 11, 13, 0, 0),
 'survey_id': '1983144',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac838'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.4123993,
 'long': 145.9593048,
 'record_id': '10134747',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 11, 13, 0, 0),
 'survey_id': '1983146',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac839'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.776199299999995,
 'long': 145.94200130000002,
 'record_id': '10134733',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 11, 18, 0, 0),
 'survey_id': '1983140',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac83a'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7854996,
 'long': 145.947403,
 'record_id': '10134739',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 11, 18, 0, 0),
 'survey_id': '1983143',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac83b'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.778099100000006,
 'long': 145.944397,
 'record_id': '10134724',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 11, 18, 0, 0),
 'survey_id': '1983137',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac83c'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.777900700000004,
 'long': 145.9432983,
 'record_id': '10134729',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 11, 18, 0, 0),
 'survey_id': '1983138',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac83d'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7783012,
 'long': 145.94270319999998,
 'record_id': '10134731',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 11, 18, 0, 0),
 'survey_id': '1983139',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac83e'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.773201,
 'long': 145.94400019999998,
 'record_id': '10134774',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 11, 19, 0, 0),
 'survey_id': '1983159',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac83f'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.772701299999994,
 'long': 145.9449005,
 'record_id': '10134639',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 11, 19, 0, 0),
 'survey_id': '1983118',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac840'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7731018,
 'long': 145.9449005,
 'record_id': '10134643',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 11, 19, 0, 0),
 'survey_id': '1983119',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac841'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.775600399999995,
 'long': 145.94560239999998,
 'record_id': '10134646',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 11, 19, 0, 0),
 'survey_id': '1983120',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac842'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.775199900000004,
 'long': 145.9459076,
 'record_id': '10134649',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 11, 19, 0, 0),
 'survey_id': '1983121',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac843'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.775299100000005,
 'long': 145.94520569999997,
 'record_id': '10134651',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 11, 19, 0, 0),
 'survey_id': '1983122',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac844'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.779098499999996,
 'long': 145.94920349999998,
 'record_id': '10134655',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 11, 19, 0, 0),
 'survey_id': '1983123',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac845'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7779999,
 'long': 145.9490051,
 'record_id': '10134662',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 11, 19, 0, 0),
 'survey_id': '1983125',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac846'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.3928986,
 'long': 145.9481049,
 'record_id': '10134715',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 11, 20, 0, 0),
 'survey_id': '1983131',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac847'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.779098499999996,
 'long': 145.9454041,
 'record_id': '10142462',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 12, 9, 0, 0),
 'survey_id': '1985724',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac848'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.6473007,
 'long': 145.7259979,
 'record_id': '10132689',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 12, 11, 0, 0),
 'survey_id': '1982539',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 2,
 'year_month': '2019-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac849'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.64759829999999,
 'long': 145.7263947,
 'record_id': '10132688',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 12, 11, 0, 0),
 'survey_id': '1982538',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac84a'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7778015,
 'long': 145.9736938,
 'record_id': '10183058',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 12, 11, 0, 0),
 'survey_id': '2014678',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac84b'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.819599200000006,
 'long': 145.77020259999998,
 'record_id': '10149683',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 12, 14, 0, 0),
 'survey_id': '1988427',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac84c'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.8209,
 'long': 145.7736969,
 'record_id': '10149698',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 12, 14, 0, 0),
 'survey_id': '1988432',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac84d'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7756996,
 'long': 145.9732056,
 'record_id': '10183067',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 12, 16, 0, 0),
 'survey_id': '2014687',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac84e'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.773498499999995,
 'long': 145.97470090000002,
 'record_id': '10183069',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 12, 16, 0, 0),
 'survey_id': '2014689',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac84f'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.775600399999995,
 'long': 145.9732056,
 'record_id': '10183074',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 12, 16, 0, 0),
 'survey_id': '2014694',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac850'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.777401,
 'long': 145.9385071,
 'record_id': '10142465',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 12, 17, 0, 0),
 'survey_id': '1985727',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac851'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7793999,
 'long': 145.9398956,
 'record_id': '10142463',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 12, 17, 0, 0),
 'survey_id': '1985725',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac852'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.774601000000004,
 'long': 145.9734955,
 'record_id': '10183077',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 12, 17, 0, 0),
 'survey_id': '2014697',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac853'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.4679985,
 'long': 145.949295,
 'record_id': '10183174',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 12, 17, 0, 0),
 'survey_id': '2014786',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac854'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.467201200000005,
 'long': 145.9499054,
 'record_id': '10183175',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 12, 17, 0, 0),
 'survey_id': '2014787',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac855'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.4667015,
 'long': 145.94909669999998,
 'record_id': '10183177',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 12, 17, 0, 0),
 'survey_id': '2014788',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac856'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7914009,
 'long': 146.0861053,
 'record_id': '10149640',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 12, 18, 0, 0),
 'survey_id': '1988412',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac857'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7921982,
 'long': 146.08630369999997,
 'record_id': '10149642',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 12, 18, 0, 0),
 'survey_id': '1988413',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 2,
 'year_month': '2019-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac858'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.792800899999996,
 'long': 146.0865021,
 'record_id': '10149644',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 12, 18, 0, 0),
 'survey_id': '1988414',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac859'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7925987,
 'long': 146.0709991,
 'record_id': '10149648',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 12, 18, 0, 0),
 'survey_id': '1988415',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac85a'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.792099,
 'long': 146.0704041,
 'record_id': '10149649',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 12, 18, 0, 0),
 'survey_id': '1988416',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac85b'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7919998,
 'long': 146.0697937,
 'record_id': '10149651',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 12, 18, 0, 0),
 'survey_id': '1988417',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac85c'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.79370120000001,
 'long': 146.07699580000002,
 'record_id': '10149657',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 12, 18, 0, 0),
 'survey_id': '1988420',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac85d'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.3824005,
 'long': 145.934906,
 'record_id': '10183222',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 12, 19, 0, 0),
 'survey_id': '2014797',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac85e'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.382,
 'long': 145.93460080000003,
 'record_id': '10183234',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 12, 19, 0, 0),
 'survey_id': '2014798',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac85f'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.775600399999995,
 'long': 145.9382019,
 'record_id': '10183271',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 12, 24, 0, 0),
 'survey_id': '2014811',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac860'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.775600399999995,
 'long': 145.93890380000002,
 'record_id': '10183274',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 12, 24, 0, 0),
 'survey_id': '2014812',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac861'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7757988,
 'long': 145.9398041,
 'record_id': '10183275',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 12, 24, 0, 0),
 'survey_id': '2014813',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac862'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7804985,
 'long': 145.9369049,
 'record_id': '10183276',
 'sci_name': 'Gymnobelideus leadbeateri',
 'start_date': datetime.datetime(2019, 12, 24, 0, 0),
 'survey_id': '2014814',
 'taxon_id': '11141',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2019-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac863'),
 'comm_name': "Leadbeater's Possum",
 'lat': -37.7815018,
 'long': 145.93760680000003,
 'record_id': '10183278',

 'long': 141.69970700000002,
 'record_id': '8986186',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2015, 11, 10, 0, 0),
 'survey_id': '1734081',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2,
 'year_month': '2015-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac878'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -35.9561005,
 'long': 141.6651001,
 'record_id': '8986187',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2015, 11, 10, 0, 0),
 'survey_id': '1734082',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2,
 'year_month': '2015-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac879'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -35.9566994,
 'long': 141.66329960000002,
 'record_id': '8986188',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2015, 11, 10, 0, 0),
 'survey_id': '1734083',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2,
 'year_month': '2015-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac87a'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -35.8041992,
 'long': 141.5594025,
 'record_id': '8986208',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2015, 11, 11, 0, 0),
 'survey_id': '1734103',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 3,
 'year_month': '2015-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac87b'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -35.8050995,
 'long': 141.5467072,
 'record_id': '8986204',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2015, 11, 11, 0, 0),
 'survey_id': '1734099',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 4,
 'year_month': '2015-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac87c'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -35.9953995,
 'long': 141.628006,
 'record_id': '8986213',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2015, 11, 11, 0, 0),
 'survey_id': '1734108',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 3,
 'year_month': '2015-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac87d'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -35.801998100000006,
 'long': 141.5442963,
 'record_id': '8986202',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2015, 11, 11, 0, 0),
 'survey_id': '1734097',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2,
 'year_month': '2015-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac87e'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -35.8028984,
 'long': 141.5583038,
 'record_id': '8986207',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2015, 11, 11, 0, 0),
 'survey_id': '1734102',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2,
 'year_month': '2015-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac87f'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -35.799400299999995,
 'long': 141.552597,
 'record_id': '8986211',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2015, 11, 11, 0, 0),
 'survey_id': '1734106',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2,
 'year_month': '2015-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac880'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -35.9943008,
 'long': 141.6280975,
 'record_id': '8986214',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2015, 11, 11, 0, 0),
 'survey_id': '1734109',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2,
 'year_month': '2015-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac881'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -35.8002014,
 'long': 141.5578003,
 'record_id': '8986209',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2015, 11, 11, 0, 0),
 'survey_id': '1734104',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2,
 'year_month': '2015-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac882'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -35.7986984,
 'long': 141.5500031,
 'record_id': '8986212',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2015, 11, 11, 0, 0),
 'survey_id': '1734107',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2,
 'year_month': '2015-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac883'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -35.6450005,
 'long': 141.6976013,
 'record_id': '8986160',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2015, 11, 13, 0, 0),
 'survey_id': '1734055',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 1,
 'year_month': '2015-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac884'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -35.646701799999995,
 'long': 141.6968994,
 'record_id': '8986161',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2015, 11, 13, 0, 0),
 'survey_id': '1734056',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2,
 'year_month': '2015-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac885'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -35.647499100000005,
 'long': 141.69560239999998,
 'record_id': '8986163',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2015, 11, 13, 0, 0),
 'survey_id': '1734058',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 4,
 'year_month': '2015-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac886'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -35.6498985,
 'long': 141.6885071,
 'record_id': '8986167',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2015, 11, 13, 0, 0),
 'survey_id': '1734062',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 1,
 'year_month': '2015-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac887'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6763,
 'long': 142.2442017,
 'record_id': '8219892',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2016, 5, 15, 0, 0),
 'survey_id': '1222390',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2,
 'year_month': '2016-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac888'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6834984,
 'long': 142.23100280000003,
 'record_id': '8219890',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2016, 5, 15, 0, 0),
 'survey_id': '1222388',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 3,
 'year_month': '2016-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac889'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.669101700000006,
 'long': 142.22749330000002,
 'record_id': '8219887',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2016, 5, 15, 0, 0),
 'survey_id': '1222385',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 6,
 'year_month': '2016-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac88a'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6819992,
 'long': 142.2279053,
 'record_id': '8219889',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2016, 5, 15, 0, 0),
 'survey_id': '1222387',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 6,
 'year_month': '2016-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac88b'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.701400799999995,
 'long': 142.25410459999998,
 'record_id': '8219893',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2016, 5, 15, 0, 0),
 'survey_id': '1222391',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 4,
 'year_month': '2016-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac88c'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6848984,
 'long': 142.230896,
 'record_id': '8219891',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2016, 5, 15, 0, 0),
 'survey_id': '1222389',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 4,
 'year_month': '2016-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac88d'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10010458',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 2, 26, 0, 0),
 'survey_id': '1938117',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 5,
 'year_month': '2017-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac88e'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6850014,
 'long': 142.27110290000002,
 'record_id': '10011089',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 3, 5, 0, 0),
 'survey_id': '1938363',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 3,
 'year_month': '2017-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac88f'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6911011,
 'long': 142.2727051,
 'record_id': '10014261',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 4, 6, 0, 0),
 'survey_id': '1939474',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 11,
 'year_month': '2017-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac890'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6911011,
 'long': 142.2727051,
 'record_id': '10014330',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 4, 6, 0, 0),
 'survey_id': '1939481',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 5,
 'year_month': '2017-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac891'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10014660',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 4, 11, 0, 0),
 'survey_id': '1939587',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 7,
 'year_month': '2017-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac892'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7431984,
 'long': 142.3235016,
 'record_id': '10015135',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 4, 15, 0, 0),
 'survey_id': '1939767',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 4,
 'year_month': '2017-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac893'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6911011,
 'long': 142.2727051,
 'record_id': '10015144',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 4, 15, 0, 0),
 'survey_id': '1939774',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 4,
 'year_month': '2017-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac894'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.760299700000004,
 'long': 142.3222961,
 'record_id': '10015423',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 4, 17, 0, 0),
 'survey_id': '1939897',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 9,
 'year_month': '2017-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac895'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6911011,
 'long': 142.2727051,
 'record_id': '10015437',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 4, 17, 0, 0),
 'survey_id': '1939903',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 4,
 'year_month': '2017-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac896'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -35.0480003,
 'long': 141.7216034,
 'record_id': '10015421',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 4, 17, 0, 0),
 'survey_id': '1939895',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2,
 'year_month': '2017-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac897'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -35.0374985,
 'long': 141.74960330000002,
 'record_id': '10015426',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 4, 17, 0, 0),
 'survey_id': '1939898',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2,
 'year_month': '2017-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac898'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10015489',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 4, 18, 0, 0),
 'survey_id': '1939930',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 5,
 'year_month': '2017-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac899'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10015535',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 4, 19, 0, 0),
 'survey_id': '1939948',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2,
 'year_month': '2017-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac89a'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6911011,
 'long': 142.2727051,
 'record_id': '10015929',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 4, 23, 0, 0),
 'survey_id': '1940093',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 4,
 'year_month': '2017-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac89b'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6911011,
 'long': 142.2727051,
 'record_id': '10016075',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 4, 24, 0, 0),
 'survey_id': '1940149',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 15,
 'year_month': '2017-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac89c'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10016237',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 4, 28, 0, 0),
 'survey_id': '1940232',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 3,
 'year_month': '2017-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac89d'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6911011,
 'long': 142.2727051,
 'record_id': '10016347',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 4, 30, 0, 0),
 'survey_id': '1940303',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2,
 'year_month': '2017-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac89e'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6911011,
 'long': 142.2727051,
 'record_id': '10016976',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 5, 8, 0, 0),
 'survey_id': '1940545',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 4,
 'year_month': '2017-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac89f'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6911011,
 'long': 142.2727051,
 'record_id': '10016990',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 5, 8, 0, 0),
 'survey_id': '1940552',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 4,
 'year_month': '2017-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8a0'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10017641',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 5, 14, 0, 0),
 'survey_id': '1940790',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 4,
 'year_month': '2017-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8a1'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10017620',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 5, 14, 0, 0),
 'survey_id': '1940785',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 4,
 'year_month': '2017-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8a2'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10017712',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 5, 15, 0, 0),
 'survey_id': '1940815',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 6,
 'year_month': '2017-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8a3'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10017714',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 5, 15, 0, 0),
 'survey_id': '1940816',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 4,
 'year_month': '2017-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8a4'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.691600799999996,
 'long': 142.270401,
 'record_id': '10017863',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 5, 18, 0, 0),
 'survey_id': '1940870',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 3,
 'year_month': '2017-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8a5'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6911011,
 'long': 142.2727051,
 'record_id': '10018658',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 5, 28, 0, 0),
 'survey_id': '1941146',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 6,
 'year_month': '2017-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8a6'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6911011,
 'long': 142.2727051,
 'record_id': '10018653',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 5, 28, 0, 0),
 'survey_id': '1941143',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 6,
 'year_month': '2017-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8a7'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10018662',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 5, 28, 0, 0),
 'survey_id': '1941147',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 10,
 'year_month': '2017-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8a8'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10018666',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 5, 28, 0, 0),
 'survey_id': '1941148',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 10,
 'year_month': '2017-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8a9'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6911011,
 'long': 142.2727051,
 'record_id': '10018708',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 5, 29, 0, 0),
 'survey_id': '1941165',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 4,
 'year_month': '2017-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8aa'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6911011,
 'long': 142.2727051,
 'record_id': '10019535',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 6, 11, 0, 0),
 'survey_id': '1941458',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 1,
 'year_month': '2017-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8ab'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6911011,
 'long': 142.2727051,
 'record_id': '10019527',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 6, 11, 0, 0),
 'survey_id': '1941451',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 1,
 'year_month': '2017-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8ac'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10021535',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 7, 8, 0, 0),
 'survey_id': '1942151',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 5,
 'year_month': '2017-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8ad'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10022742',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 7, 31, 0, 0),
 'survey_id': '1942642',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 3,
 'year_month': '2017-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8ae'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6911011,

{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8ba'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10027210',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 10, 1, 0, 0),
 'survey_id': '1944542',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 1,
 'year_month': '2017-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8bb'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7505989,
 'long': 142.26199340000002,
 'record_id': '10027271',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 10, 2, 0, 0),
 'survey_id': '1944568',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 1,
 'year_month': '2017-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8bc'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -35.0480003,
 'long': 141.7216034,
 'record_id': '10027454',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 10, 3, 0, 0),
 'survey_id': '1944648',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2,
 'year_month': '2017-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8bd'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -35.0480003,
 'long': 141.7216034,
 'record_id': '10027458',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 10, 3, 0, 0),
 'survey_id': '1944649',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2,
 'year_month': '2017-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8be'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10028343',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 10, 12, 0, 0),
 'survey_id': '1944977',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2,
 'year_month': '2017-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8bf'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10028339',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 10, 12, 0, 0),
 'survey_id': '1944976',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2,
 'year_month': '2017-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8c0'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10028361',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 10, 12, 0, 0),
 'survey_id': '1944980',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2,
 'year_month': '2017-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8c1'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7131996,
 'long': 141.05960080000003,
 'record_id': '8598861',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 10, 14, 0, 0),
 'survey_id': '1406262',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 6,
 'year_month': '2017-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8c2'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7136002,
 'long': 142.2835999,
 'record_id': '10029487',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 10, 19, 0, 0),
 'survey_id': '1945442',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 4,
 'year_month': '2017-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8c3'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7136002,
 'long': 142.2835999,
 'record_id': '10029493',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 10, 19, 0, 0),
 'survey_id': '1945445',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 4,
 'year_month': '2017-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8c4'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7136002,
 'long': 142.2835999,
 'record_id': '10029501',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 10, 19, 0, 0),
 'survey_id': '1945448',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 4,
 'year_month': '2017-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8c5'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6911011,
 'long': 142.2727051,
 'record_id': '10029773',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 10, 21, 0, 0),
 'survey_id': '1945573',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 6,
 'year_month': '2017-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8c6'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6911011,
 'long': 142.2727051,
 'record_id': '10029807',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 10, 21, 0, 0),
 'survey_id': '1945592',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 3,
 'year_month': '2017-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8c7'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10029798',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 10, 21, 0, 0),
 'survey_id': '1945589',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 3,
 'year_month': '2017-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8c8'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6911011,
 'long': 142.2727051,
 'record_id': '10029959',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 10, 22, 0, 0),
 'survey_id': '1945667',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 3,
 'year_month': '2017-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8c9'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10029950',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 10, 22, 0, 0),
 'survey_id': '1945662',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 4,
 'year_month': '2017-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8ca'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.686199200000004,
 'long': 142.2709961,
 'record_id': '10030095',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 10, 23, 0, 0),
 'survey_id': '1945736',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 1,
 'year_month': '2017-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8cb'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6453018,
 'long': 142.2720032,
 'record_id': '10030592',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 10, 27, 0, 0),
 'survey_id': '1945940',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2,
 'year_month': '2017-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8cc'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7839012,
 'long': 141.0677948,
 'record_id': '10030798',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 10, 28, 0, 0),
 'survey_id': '1946038',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2,
 'year_month': '2017-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8cd'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.5940018,
 'long': 142.19529719999997,
 'record_id': '10030680',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 10, 28, 0, 0),
 'survey_id': '1945988',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 1,
 'year_month': '2017-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8ce'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10031282',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 10, 30, 0, 0),
 'survey_id': '1946182',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2,
 'year_month': '2017-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8cf'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6911011,
 'long': 142.2727051,
 'record_id': '10031417',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 11, 1, 0, 0),
 'survey_id': '1946250',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 4,
 'year_month': '2017-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8d0'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7042007,
 'long': 141.06199650000002,
 'record_id': '10032062',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 11, 5, 0, 0),
 'survey_id': '1946512',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 4,
 'year_month': '2017-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8d1'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10033472',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 11, 17, 0, 0),
 'survey_id': '1947115',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2,
 'year_month': '2017-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8d2'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10033477',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 11, 17, 0, 0),
 'survey_id': '1947118',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2,
 'year_month': '2017-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8d3'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10033767',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 11, 19, 0, 0),
 'survey_id': '1947231',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2,
 'year_month': '2017-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8d4'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10033798',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 11, 19, 0, 0),
 'survey_id': '1947242',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2,
 'year_month': '2017-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8d5'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6911011,
 'long': 142.2727051,
 'record_id': '10034859',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 11, 28, 0, 0),
 'survey_id': '1947610',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 12,
 'year_month': '2017-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8d6'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6911011,
 'long': 142.2727051,
 'record_id': '10035175',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 12, 4, 0, 0),
 'survey_id': '1947733',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 9,
 'year_month': '2017-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8d7'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6911011,
 'long': 142.2727051,
 'record_id': '10035454',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2017, 12, 4, 0, 0),
 'survey_id': '1947782',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 9,
 'year_month': '2017-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8d8'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10045236',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 2, 20, 0, 0),
 'survey_id': '1951340',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 3,
 'year_month': '2018-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8d9'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10048283',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 3, 20, 0, 0),
 'survey_id': '1952616',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2,
 'year_month': '2018-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8da'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7624016,
 'long': 142.3204041,
 'record_id': '10049614',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 4, 1, 0, 0),
 'survey_id': '1953200',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 4,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8db'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7560997,
 'long': 142.3247986,
 'record_id': '10049513',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 4, 1, 0, 0),
 'survey_id': '1953166',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8dc'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6935997,
 'long': 142.2707977,
 'record_id': '10049482',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 4, 1, 0, 0),
 'survey_id': '1953152',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 5,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8dd'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10050348',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 4, 5, 0, 0),
 'survey_id': '1953452',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 8,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8de'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10050330',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 4, 5, 0, 0),
 'survey_id': '1953447',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 8,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8df'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10050444',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 4, 6, 0, 0),
 'survey_id': '1953486',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 10,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8e0'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10050451',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 4, 6, 0, 0),
 'survey_id': '1953489',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 10,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8e1'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6911011,
 'long': 142.2727051,
 'record_id': '10050559',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 4, 7, 0, 0),
 'survey_id': '1953537',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 5,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8e2'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6911011,
 'long': 142.2727051,
 'record_id': '10050643',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 4, 7, 0, 0),
 'survey_id': '1953581',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 6,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8e3'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10050554',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 4, 7, 0, 0),
 'survey_id': '1953536',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 10,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8e4'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10051071',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 4, 11, 0, 0),
 'survey_id': '1953752',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8e5'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10052236',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 4, 22, 0, 0),
 'survey_id': '1954204',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8e6'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10052145',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 4, 22, 0, 0),
 'survey_id': '1954179',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8e7'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10052220',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 4, 22, 0, 0),
 'survey_id': '1954200',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8e8'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10052935',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 4, 27, 0, 0),
 'survey_id': '1954477',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 7,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8e9'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6911011,
 'long': 142.2727051,
 'record_id': '10053912',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 5, 7, 0, 0),
 'survey_id': '1954879',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 4,
 'year_month': '2018-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8ea'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6911011,
 'long': 142.2727051,
 'record_id': '10054032',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 5, 8, 0, 0),
 'survey_id': '1954917',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 1,
 'year_month': '2018-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8eb'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10054189',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 5, 11, 0, 0),
 'survey_id': '1954976',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 3,
 'year_month': '2018-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8ec'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10055551',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 5, 28, 0, 0),
 'survey_id': '1955562',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 1,
 'year_month': '2018-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8ed'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10060173',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 8, 4, 0, 0),
 'survey_id': '1957657',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 1,
 'year_month': '2018-08'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8ee'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10060188',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 8, 4, 0, 0),
 'survey_id': '1957660',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 1,
 'year_month': '2018-08'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8ef'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10060210',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 8, 4, 0, 0),
 'survey_id': '1957667',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 1,
 'year_month': '2018-08'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac8f0'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10060652',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 8, 11, 0, 0),
 'survey_id': '1957879',
 'taxon_id': '10527',

 'start_date': datetime.datetime(2018, 9, 28, 0, 0),
 'survey_id': '1959884',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 1,
 'year_month': '2018-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac901'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10065121',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 9, 29, 0, 0),
 'survey_id': '1959960',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 4,
 'year_month': '2018-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac902'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10065195',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 9, 29, 0, 0),
 'survey_id': '1959987',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2,
 'year_month': '2018-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac903'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10065244',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 9, 29, 0, 0),
 'survey_id': '1960013',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2,
 'year_month': '2018-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac904'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10065257',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 9, 29, 0, 0),
 'survey_id': '1960014',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2,
 'year_month': '2018-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac905'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10065259',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 9, 29, 0, 0),
 'survey_id': '1960016',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2,
 'year_month': '2018-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac906'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10067200',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 10, 15, 0, 0),
 'survey_id': '1960926',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 1,
 'year_month': '2018-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac907'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10067205',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 10, 15, 0, 0),
 'survey_id': '1960927',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 1,
 'year_month': '2018-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac908'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10067254',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 10, 15, 0, 0),
 'survey_id': '1960944',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 1,
 'year_month': '2018-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac909'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10067260',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 10, 15, 0, 0),
 'survey_id': '1960945',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 1,
 'year_month': '2018-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac90a'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10067317',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 10, 16, 0, 0),
 'survey_id': '1960974',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 1,
 'year_month': '2018-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac90b'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10067334',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 10, 16, 0, 0),
 'survey_id': '1960980',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 1,
 'year_month': '2018-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac90c'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10067341',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 10, 16, 0, 0),
 'survey_id': '1960981',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 1,
 'year_month': '2018-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac90d'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10067354',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 10, 16, 0, 0),
 'survey_id': '1960986',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 1,
 'year_month': '2018-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac90e'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6911011,
 'long': 142.2727051,
 'record_id': '10068046',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 10, 21, 0, 0),
 'survey_id': '1961273',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 5,
 'year_month': '2018-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac90f'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6911011,
 'long': 142.2727051,
 'record_id': '10068053',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 10, 21, 0, 0),
 'survey_id': '1961276',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 5,
 'year_month': '2018-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac910'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10069242',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 10, 29, 0, 0),
 'survey_id': '1961748',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 1,
 'year_month': '2018-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac911'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.68360139999999,
 'long': 142.27110290000002,
 'record_id': '10070169',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 11, 4, 0, 0),
 'survey_id': '1962106',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2,
 'year_month': '2018-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac912'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.674099,
 'long': 142.2709961,
 'record_id': '10070166',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 11, 4, 0, 0),
 'survey_id': '1962105',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2,
 'year_month': '2018-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac913'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6911011,
 'long': 142.2727051,
 'record_id': '10070110',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 11, 4, 0, 0),
 'survey_id': '1962084',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 1,
 'year_month': '2018-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac914'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6068001,
 'long': 142.27389530000002,
 'record_id': '10070161',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 11, 4, 0, 0),
 'survey_id': '1962104',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2,
 'year_month': '2018-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac915'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.68360139999999,
 'long': 142.27110290000002,
 'record_id': '10070827',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 11, 8, 0, 0),
 'survey_id': '1962442',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 3,
 'year_month': '2018-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac916'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.68360139999999,
 'long': 142.27110290000002,
 'record_id': '10070824',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 11, 8, 0, 0),
 'survey_id': '1962441',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 3,
 'year_month': '2018-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac917'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6911011,
 'long': 142.2727051,
 'record_id': '10071766',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 11, 15, 0, 0),
 'survey_id': '1962835',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2,
 'year_month': '2018-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac918'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -35.0480003,
 'long': 141.7216034,
 'record_id': '10071829',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 11, 15, 0, 0),
 'survey_id': '1962870',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2,
 'year_month': '2018-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac919'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6911011,
 'long': 142.2727051,
 'record_id': '10073224',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 11, 30, 0, 0),
 'survey_id': '1963489',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2,
 'year_month': '2018-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac91a'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6911011,
 'long': 142.2727051,
 'record_id': '10073271',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 11, 30, 0, 0),
 'survey_id': '1963512',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2,
 'year_month': '2018-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac91b'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10073921',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 12, 5, 0, 0),
 'survey_id': '1963818',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 7,
 'year_month': '2018-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac91c'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6911011,
 'long': 142.2727051,
 'record_id': '10074816',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 12, 12, 0, 0),
 'survey_id': '1964206',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 8,
 'year_month': '2018-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac91d'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6911011,
 'long': 142.2727051,
 'record_id': '10074793',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 12, 12, 0, 0),
 'survey_id': '1964196',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 8,
 'year_month': '2018-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac91e'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6911011,
 'long': 142.2727051,
 'record_id': '10074814',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 12, 12, 0, 0),
 'survey_id': '1964205',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 8,
 'year_month': '2018-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac91f'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6837997,
 'long': 142.2709961,
 'record_id': '10074842',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 12, 13, 0, 0),
 'survey_id': '1964220',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 5,
 'year_month': '2018-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac920'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6837997,
 'long': 142.2709961,
 'record_id': '10074871',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 12, 13, 0, 0),
 'survey_id': '1964226',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 5,
 'year_month': '2018-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac921'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10075220',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 12, 15, 0, 0),
 'survey_id': '1964327',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 4,
 'year_month': '2018-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac922'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10075229',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 12, 15, 0, 0),
 'survey_id': '1964330',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 4,
 'year_month': '2018-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac923'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6911011,
 'long': 142.2727051,
 'record_id': '10075655',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2018, 12, 20, 0, 0),
 'survey_id': '1964510',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 6,
 'year_month': '2018-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac924'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10078724',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2019, 1, 6, 0, 0),
 'survey_id': '1965555',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 4,
 'year_month': '2019-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac925'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10078729',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2019, 1, 6, 0, 0),
 'survey_id': '1965556',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 4,
 'year_month': '2019-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac926'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10078797',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2019, 1, 6, 0, 0),
 'survey_id': '1965573',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 4,
 'year_month': '2019-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac927'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10079102',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2019, 1, 7, 0, 0),
 'survey_id': '1965682',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2,
 'year_month': '2019-01'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac928'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.675499,
 'long': 142.27110290000002,
 'record_id': '10090394',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2019, 3, 23, 0, 0),
 'survey_id': '1969560',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 10,
 'year_month': '2019-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac929'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6911011,
 'long': 142.2727051,
 'record_id': '10090382',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2019, 3, 23, 0, 0),
 'survey_id': '1969553',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 8,
 'year_month': '2019-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac92a'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6911011,
 'long': 142.2727051,
 'record_id': '10090482',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2019, 3, 23, 0, 0),
 'survey_id': '1969601',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 8,
 'year_month': '2019-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac92b'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.6911011,
 'long': 142.2727051,
 'record_id': '10090722',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2019, 3, 25, 0, 0),
 'survey_id': '1969667',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 3,
 'year_month': '2019-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac92c'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.715400700000004,
 'long': 141.17979430000003,
 'record_id': '10090815',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2019, 3, 26, 0, 0),
 'survey_id': '1969724',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2,
 'year_month': '2019-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac92d'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.715400700000004,
 'long': 141.17979430000003,
 'record_id': '10090919',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2019, 3, 27, 0, 0),
 'survey_id': '1969767',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 6,
 'year_month': '2019-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac92e'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10092514',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2019, 4, 11, 0, 0),
 'survey_id': '1970375',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 2,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac92f'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10092539',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2019, 4, 12, 0, 0),
 'survey_id': '1970386',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 6,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac930'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10092549',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2019, 4, 12, 0, 0),
 'survey_id': '1970387',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 5,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac931'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10092554',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2019, 4, 12, 0, 0),
 'survey_id': '1970388',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 5,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac932'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.68360139999999,
 'long': 142.27110290000002,
 'record_id': '10095914',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2019, 5, 12, 0, 0),
 'survey_id': '1971800',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 4,
 'year_month': '2019-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac933'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10097112',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2019, 5, 26, 0, 0),
 'survey_id': '1972327',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 8,
 'year_month': '2019-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac934'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10099046',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2019, 6, 18, 0, 0),
 'survey_id': '1973108',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 3,
 'year_month': '2019-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac935'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.7555008,
 'long': 142.33839419999998,
 'record_id': '10099054',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2019, 6, 18, 0, 0),
 'survey_id': '1973111',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 3,
 'year_month': '2019-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac936'),
 'comm_name': 'Mallee Emu-wren',
 'lat': -34.708999600000006,
 'long': 142.2835999,
 'record_id': '10099855',
 'sci_name': 'Stipiturus mallee',
 'start_date': datetime.datetime(2019, 7, 3, 0, 0),
 'survey_id': '1973531',
 'taxon_id': '10527',
 'taxon_type': 'Passerine birds',
 'totalcount': 5,
 'year_month': '2019-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac937'),

{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac959'),
 'comm_name': 'Mountain Pygmy-possum',
 'lat': -36.990798999999996,
 'long': 147.15800480000001,
 'record_id': '8617172',
 'sci_name': 'Burramys parvus',
 'start_date': datetime.datetime(2017, 11, 23, 0, 0),
 'survey_id': '1410386',
 'taxon_id': '11156',
 'taxon_type': 'Mammals',
 'totalcount': 41,
 'year_month': '2017-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac95a'),
 'comm_name': 'Mountain Pygmy-possum',
 'lat': -36.9836006,
 'long': 147.1445007,
 'record_id': '8617169',
 'sci_name': 'Burramys parvus',
 'start_date': datetime.datetime(2017, 11, 24, 0, 0),
 'survey_id': '1410385',
 'taxon_id': '11156',
 'taxon_type': 'Mammals',
 'totalcount': 17,
 'year_month': '2017-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac95b'),
 'comm_name': 'Mountain Pygmy-possum',
 'lat': -36.985401200000005,
 'long': 147.1421967,
 'record_id': '8617165',
 'sci_name': 'Burramys parvus',
 'start_date': datetime.datetime(2017, 11, 26, 0, 0),
 'survey_id': '1410384',
 'taxon_id': '11156',
 'taxon_type': 'Mammals',
 'totalcount': 15,
 'year_month': '2017-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac95c'),
 'comm_name': 'Mountain Pygmy-possum',
 'lat': -36.9547997,
 'long': 147.1578979,
 'record_id': '8926482',
 'sci_name': 'Burramys parvus',
 'start_date': datetime.datetime(2017, 11, 30, 0, 0),
 'survey_id': '1705219',
 'taxon_id': '11156',
 'taxon_type': 'Mammals',
 'totalcount': 54,
 'year_month': '2017-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac95d'),
 'comm_name': 'Mountain Pygmy-possum',
 'lat': -36.896900200000005,
 'long': 147.218399,
 'record_id': '8926485',
 'sci_name': 'Burramys parvus',
 'start_date': datetime.datetime(2017, 12, 14, 0, 0),
 'survey_id': '1705220',
 'taxon_id': '11156',
 'taxon_type': 'Mammals',
 'totalcount': 4,
 'year_month': '2017-12'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac95e'),
 'comm_name': 'New Holland Mouse',
 'lat': -37.8829002,
 'long': 147.2924042,
 'record_id': '6918722',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2015, 3, 16, 0, 0),
 'survey_id': '1094487',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac95f'),
 'comm_name': 'New Holland Mouse',
 'lat': -37.9098015,
 'long': 147.2828064,
 'record_id': '6918730',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2015, 3, 16, 0, 0),
 'survey_id': '1094494',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac960'),
 'comm_name': 'New Holland Mouse',
 'lat': -37.9393005,
 'long': 147.280304,
 'record_id': '6918755',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2015, 3, 23, 0, 0),
 'survey_id': '1094515',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 3,
 'year_month': '2015-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac961'),
 'comm_name': 'New Holland Mouse',
 'lat': -37.9403992,
 'long': 147.28480530000002,
 'record_id': '6918757',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2015, 3, 23, 0, 0),
 'survey_id': '1094517',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac962'),
 'comm_name': 'New Holland Mouse',
 'lat': -37.9308014,
 'long': 147.28010559999998,
 'record_id': '6918763',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2015, 3, 23, 0, 0),
 'survey_id': '1094521',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac963'),
 'comm_name': 'New Holland Mouse',
 'lat': -37.9305,
 'long': 147.2799072,
 'record_id': '6918765',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2015, 3, 23, 0, 0),
 'survey_id': '1094522',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 2,
 'year_month': '2015-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac964'),
 'comm_name': 'New Holland Mouse',
 'lat': -37.9418983,
 'long': 147.2877045,
 'record_id': '6918759',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2015, 3, 23, 0, 0),
 'survey_id': '1094518',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 2,
 'year_month': '2015-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac965'),
 'comm_name': 'New Holland Mouse',
 'lat': -37.9345016,
 'long': 147.2870026,
 'record_id': '6918754',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2015, 3, 23, 0, 0),
 'survey_id': '1094514',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 7,
 'year_month': '2015-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac966'),
 'comm_name': 'New Holland Mouse',
 'lat': -37.9343987,
 'long': 147.2864075,
 'record_id': '6918753',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2015, 3, 23, 0, 0),
 'survey_id': '1094513',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 4,
 'year_month': '2015-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac967'),
 'comm_name': 'New Holland Mouse',
 'lat': -37.9329987,
 'long': 147.2808075,
 'record_id': '6918746',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2015, 3, 23, 0, 0),
 'survey_id': '1094509',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 2,
 'year_month': '2015-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac968'),
 'comm_name': 'New Holland Mouse',
 'lat': -37.9394989,
 'long': 147.2796021,
 'record_id': '6918756',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2015, 3, 23, 0, 0),
 'survey_id': '1094516',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 2,
 'year_month': '2015-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac969'),
 'comm_name': 'New Holland Mouse',
 'lat': -37.9333,
 'long': 147.28660580000002,
 'record_id': '6918748',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2015, 3, 23, 0, 0),
 'survey_id': '1094511',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac96a'),
 'comm_name': 'New Holland Mouse',
 'lat': -37.933399200000004,
 'long': 147.2807007,
 'record_id': '6918747',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2015, 3, 23, 0, 0),
 'survey_id': '1094510',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac96b'),
 'comm_name': 'New Holland Mouse',
 'lat': -37.9417,
 'long': 147.2870941,
 'record_id': '6918760',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2015, 3, 23, 0, 0),
 'survey_id': '1094519',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 5,
 'year_month': '2015-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac96c'),
 'comm_name': 'New Holland Mouse',
 'lat': -38.1080017,
 'long': 147.4611969,
 'record_id': '6918800',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2015, 4, 9, 0, 0),
 'survey_id': '1094543',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac96d'),
 'comm_name': 'New Holland Mouse',
 'lat': -38.105701399999994,
 'long': 147.4732971,
 'record_id': '6918794',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2015, 4, 9, 0, 0),
 'survey_id': '1094540',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 3,
 'year_month': '2015-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac96e'),
 'comm_name': 'New Holland Mouse',
 'lat': -38.10950089999999,
 'long': 147.4857941,
 'record_id': '6918787',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2015, 4, 9, 0, 0),
 'survey_id': '1094536',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 2,
 'year_month': '2015-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac96f'),
 'comm_name': 'New Holland Mouse',
 'lat': -38.123699200000004,
 'long': 147.45320130000002,
 'record_id': '6918792',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2015, 4, 9, 0, 0),
 'survey_id': '1094539',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac970'),
 'comm_name': 'New Holland Mouse',
 'lat': -38.1100006,
 'long': 147.449295,
 'record_id': '6918803',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2015, 4, 9, 0, 0),
 'survey_id': '1094545',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 3,
 'year_month': '2015-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac971'),
 'comm_name': 'New Holland Mouse',
 'lat': -38.1080017,
 'long': 147.46069340000003,
 'record_id': '6918798',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2015, 4, 9, 0, 0),
 'survey_id': '1094542',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2015-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac972'),
 'comm_name': 'New Holland Mouse',
 'lat': -38.1472015,
 'long': 147.4217072,
 'record_id': '6918805',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2015, 4, 9, 0, 0),
 'survey_id': '1094546',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 3,
 'year_month': '2015-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac973'),
 'comm_name': 'New Holland Mouse',
 'lat': -38.1054993,
 'long': 147.47300719999998,
 'record_id': '6918796',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2015, 4, 9, 0, 0),
 'survey_id': '1094541',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 6,
 'year_month': '2015-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac974'),
 'comm_name': 'New Holland Mouse',
 'lat': -37.9342995,
 'long': 147.2864075,
 'record_id': '8206817',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2016, 3, 14, 0, 0),
 'survey_id': '1218202',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac975'),
 'comm_name': 'New Holland Mouse',
 'lat': -37.909999799999994,
 'long': 147.28239440000002,
 'record_id': '8206800',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2016, 3, 14, 0, 0),
 'survey_id': '1218190',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac976'),
 'comm_name': 'New Holland Mouse',
 'lat': -37.9053001,
 'long': 147.2872925,
 'record_id': '8206808',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2016, 3, 14, 0, 0),
 'survey_id': '1218194',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac977'),
 'comm_name': 'New Holland Mouse',
 'lat': -37.91490170000001,
 'long': 147.2779999,
 'record_id': '8206803',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2016, 3, 14, 0, 0),
 'survey_id': '1218192',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 3,
 'year_month': '2016-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac978'),
 'comm_name': 'New Holland Mouse',
 'lat': -37.9343987,
 'long': 147.2870026,
 'record_id': '8206819',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2016, 3, 14, 0, 0),
 'survey_id': '1218203',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 6,
 'year_month': '2016-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac979'),
 'comm_name': 'New Holland Mouse',
 'lat': -37.908500700000005,
 'long': 147.2931061,
 'record_id': '8206812',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2016, 3, 14, 0, 0),
 'survey_id': '1218197',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 2,
 'year_month': '2016-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac97a'),
 'comm_name': 'New Holland Mouse',
 'lat': -37.8992004,
 'long': 147.2955933,
 'record_id': '8206806',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2016, 3, 14, 0, 0),
 'survey_id': '1218193',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 2,
 'year_month': '2016-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac97b'),
 'comm_name': 'New Holland Mouse',
 'lat': -37.9146004,
 'long': 147.2783966,
 'record_id': '8206801',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2016, 3, 14, 0, 0),
 'survey_id': '1218191',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2016-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac97c'),
 'comm_name': 'New Holland Mouse',
 'lat': -38.1971016,
 'long': 147.3614044,
 'record_id': '8512839',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2017, 4, 2, 0, 0),
 'survey_id': '1349587',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac97d'),
 'comm_name': 'New Holland Mouse',
 'lat': -38.242298100000006,
 'long': 147.3045044,
 'record_id': '8512869',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2017, 4, 3, 0, 0),
 'survey_id': '1349602',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 11,
 'year_month': '2017-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac97e'),
 'comm_name': 'New Holland Mouse',
 'lat': -38.24610139999999,
 'long': 147.2451019,
 'record_id': '8522199',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2017, 4, 3, 0, 0),
 'survey_id': '1349590',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac97f'),
 'comm_name': 'New Holland Mouse',
 'lat': -38.242298100000006,
 'long': 147.3045044,
 'record_id': '8512872',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2017, 4, 3, 0, 0),
 'survey_id': '1349602',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 2,
 'year_month': '2017-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac980'),
 'comm_name': 'New Holland Mouse',
 'lat': -38.2405014,
 'long': 147.3135986,
 'record_id': '8522190',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2017, 4, 3, 0, 0),
 'survey_id': '1349976',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 2,
 'year_month': '2017-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac981'),
 'comm_name': 'New Holland Mouse',
 'lat': -38.2405014,
 'long': 147.3135986,
 'record_id': '8522194',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2017, 4, 3, 0, 0),
 'survey_id': '1349976',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac982'),
 'comm_name': 'New Holland Mouse',
 'lat': -38.2405014,
 'long': 147.3135986,
 'record_id': '8522197',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2017, 4, 3, 0, 0),
 'survey_id': '1349976',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac983'),
 'comm_name': 'New Holland Mouse',
 'lat': -38.242298100000006,
 'long': 147.3045044,
 'record_id': '8516212',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2017, 4, 3, 0, 0),
 'survey_id': '1349602',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac984'),
 'comm_name': 'New Holland Mouse',
 'lat': -38.2424011,
 'long': 147.2462006,
 'record_id': '8512842',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2017, 4, 3, 0, 0),
 'survey_id': '1349589',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 2,
 'year_month': '2017-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac985'),
 'comm_name': 'New Holland Mouse',
 'lat': -38.2550011,
 'long': 147.2622986,
 'record_id': '8512843',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2017, 4, 3, 0, 0),
 'survey_id': '1349591',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 2,
 'year_month': '2017-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac986'),
 'comm_name': 'New Holland Mouse',
 'lat': -38.2532005,
 'long': 147.26220700000002,
 'record_id': '8512849',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2017, 4, 3, 0, 0),
 'survey_id': '1349592',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 6,
 'year_month': '2017-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac987'),
 'comm_name': 'New Holland Mouse',
 'lat': -38.0236015,
 'long': 147.6289063,
 'record_id': '9366726',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2017, 5, 31, 0, 0),
 'survey_id': '1812746',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac988'),
 'comm_name': 'New Holland Mouse',
 'lat': -37.9875984,
 'long': 147.67999269999999,
 'record_id': '9366725',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2017, 6, 1, 0, 0),
 'survey_id': '1812745',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac989'),
 'comm_name': 'New Holland Mouse',
 'lat': -37.976001700000005,
 'long': 147.7019043,
 'record_id': '9366723',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2017, 6, 2, 0, 0),
 'survey_id': '1812743',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac98a'),
 'comm_name': 'New Holland Mouse',
 'lat': -37.964698799999994,
 'long': 147.7120056,
 'record_id': '9366720',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2017, 6, 3, 0, 0),
 'survey_id': '1812740',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac98b'),
 'comm_name': 'New Holland Mouse',
 'lat': -37.9714012,
 'long': 147.6875,
 'record_id': '9366721',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2017, 6, 4, 0, 0),
 'survey_id': '1812741',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac98c'),
 'comm_name': 'New Holland Mouse',
 'lat': -37.975700399999994,
 'long': 147.675705,
 'record_id': '9366722',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2017, 6, 5, 0, 0),
 'survey_id': '1812742',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac98d'),
 'comm_name': 'New Holland Mouse',
 'lat': -37.9874992,
 'long': 147.6557007,
 'record_id': '9366724',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2017, 6, 6, 0, 0),
 'survey_id': '1812744',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 1,
 'year_month': '2017-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac98e'),
 'comm_name': 'New Holland Mouse',
 'lat': -38.2480011,
 'long': 147.31089780000002,
 'record_id': '8926365',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2018, 3, 13, 0, 0),
 'survey_id': '1705164',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 4,
 'year_month': '2018-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac98f'),
 'comm_name': 'New Holland Mouse',
 'lat': -38.2346992,
 'long': 147.300705,
 'record_id': '8926364',
 'sci_name': 'Pseudomys novaehollandiae',
 'start_date': datetime.datetime(2018, 3, 13, 0, 0),
 'survey_id': '1705163',
 'taxon_id': '11455',
 'taxon_type': 'Mammals',
 'totalcount': 8,

{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9a1'),
 'comm_name': 'Swift Parrot',
 'lat': -38.044899,
 'long': 144.1750946,
 'record_id': '9799952',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2015, 7, 12, 0, 0),
 'survey_id': '1911532',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 6,
 'year_month': '2015-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9a2'),
 'comm_name': 'Swift Parrot',
 'lat': -37.9625015,
 'long': 144.4104004,
 'record_id': '9809188',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2015, 8, 15, 0, 0),
 'survey_id': '1912347',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 4,
 'year_month': '2015-08'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9a3'),
 'comm_name': 'Swift Parrot',
 'lat': -37.9625015,
 'long': 144.4104004,
 'record_id': '9808692',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2015, 8, 15, 0, 0),
 'survey_id': '1912325',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 4,
 'year_month': '2015-08'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9a4'),
 'comm_name': 'Swift Parrot',
 'lat': -37.9625015,
 'long': 144.4104004,
 'record_id': '9809006',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2015, 8, 15, 0, 0),
 'survey_id': '1912342',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 4,
 'year_month': '2015-08'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9a5'),
 'comm_name': 'Swift Parrot',
 'lat': -38.6318016,
 'long': 145.6925964,
 'record_id': '6953987',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2016, 3, 31, 0, 0),
 'survey_id': '1107871',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 1,
 'year_month': '2016-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9a6'),
 'comm_name': 'Swift Parrot',
 'lat': -36.2140999,
 'long': 146.19839480000002,
 'record_id': '6954348',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2016, 4, 2, 0, 0),
 'survey_id': '1107948',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 10,
 'year_month': '2016-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9a7'),
 'comm_name': 'Swift Parrot',
 'lat': -37.95240020000001,
 'long': 144.4232941,
 'record_id': '9898445',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2016, 4, 3, 0, 0),
 'survey_id': '1918580',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 6,
 'year_month': '2016-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9a8'),
 'comm_name': 'Swift Parrot',
 'lat': -38.5521011,
 'long': 145.9134064,
 'record_id': '6953988',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2016, 4, 3, 0, 0),
 'survey_id': '1107872',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 20,
 'year_month': '2016-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9a9'),
 'comm_name': 'Swift Parrot',
 'lat': -36.134300200000006,
 'long': 146.59199519999999,
 'record_id': '6954349',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2016, 4, 8, 0, 0),
 'survey_id': '1107949',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 18,
 'year_month': '2016-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9aa'),
 'comm_name': 'Swift Parrot',
 'lat': -37.561798100000004,
 'long': 144.7203064,
 'record_id': '8961226',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2016, 6, 2, 0, 0),
 'survey_id': '1716600',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 13,
 'year_month': '2016-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9ab'),
 'comm_name': 'Swift Parrot',
 'lat': -37.0163002,
 'long': 142.74780269999997,
 'record_id': '8493353',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2016, 6, 10, 0, 0),
 'survey_id': '1343373',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2,
 'year_month': '2016-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9ac'),
 'comm_name': 'Swift Parrot',
 'lat': -37.561798100000004,
 'long': 144.7203064,
 'record_id': '8961227',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2016, 6, 15, 0, 0),
 'survey_id': '1716602',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 26,
 'year_month': '2016-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9ad'),
 'comm_name': 'Swift Parrot',
 'lat': -37.6883011,
 'long': 145.10859680000002,
 'record_id': '8222049',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2016, 6, 16, 0, 0),
 'survey_id': '1223421',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 6,
 'year_month': '2016-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9ae'),
 'comm_name': 'Swift Parrot',
 'lat': -37.6883011,
 'long': 145.10859680000002,
 'record_id': '8426391',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2016, 8, 10, 0, 0),
 'survey_id': '1289041',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 4,
 'year_month': '2016-08'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9af'),
 'comm_name': 'Swift Parrot',
 'lat': -38.0051994,
 'long': 144.4125061,
 'record_id': '9944059',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2016, 9, 14, 0, 0),
 'survey_id': '1922715',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 3,
 'year_month': '2016-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9b0'),
 'comm_name': 'Swift Parrot',
 'lat': -37.898201,
 'long': 144.6470947,
 'record_id': '9949608',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2016, 10, 4, 0, 0),
 'survey_id': '1923151',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2,
 'year_month': '2016-10'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9b1'),
 'comm_name': 'Swift Parrot',
 'lat': -38.254100799999996,
 'long': 144.53100590000003,
 'record_id': '9959648',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2016, 11, 4, 0, 0),
 'survey_id': '1924028',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 1,
 'year_month': '2016-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9b2'),
 'comm_name': 'Swift Parrot',
 'lat': -37.6827011,
 'long': 144.58670039999998,
 'record_id': '9961067',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2016, 11, 8, 0, 0),
 'survey_id': '1924163',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 1,
 'year_month': '2016-11'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9b3'),
 'comm_name': 'Swift Parrot',
 'lat': -37.7891998,
 'long': 144.9508057,
 'record_id': '10009506',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 2, 15, 0, 0),
 'survey_id': '1937735',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 1,
 'year_month': '2017-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9b4'),
 'comm_name': 'Swift Parrot',
 'lat': -38.254100799999996,
 'long': 144.53100590000003,
 'record_id': '9983665',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 3, 27, 0, 0),
 'survey_id': '1927046',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2,
 'year_month': '2017-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9b5'),
 'comm_name': 'Swift Parrot',
 'lat': -36.9071007,
 'long': 144.6786957,
 'record_id': '10013597',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 4, 1, 0, 0),
 'survey_id': '1939256',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 1,
 'year_month': '2017-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9b6'),
 'comm_name': 'Swift Parrot',
 'lat': -36.6399994,
 'long': 145.1177063,
 'record_id': '10015908',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 4, 23, 0, 0),
 'survey_id': '1940082',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 7,
 'year_month': '2017-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9b7'),
 'comm_name': 'Swift Parrot',
 'lat': -36.6399994,
 'long': 145.1177063,
 'record_id': '10015945',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 4, 23, 0, 0),
 'survey_id': '1940099',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 7,
 'year_month': '2017-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9b8'),
 'comm_name': 'Swift Parrot',
 'lat': -36.6399994,
 'long': 145.1177063,
 'record_id': '10016003',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 4, 23, 0, 0),
 'survey_id': '1940123',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 7,
 'year_month': '2017-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9b9'),
 'comm_name': 'Swift Parrot',
 'lat': -36.608501399999994,
 'long': 145.0245056,
 'record_id': '10015957',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 4, 23, 0, 0),
 'survey_id': '1940103',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 7,
 'year_month': '2017-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9ba'),
 'comm_name': 'Swift Parrot',
 'lat': -38.2141991,
 'long': 144.54420469999997,
 'record_id': '9984149',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 5, 8, 0, 0),
 'survey_id': '1927302',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 1,
 'year_month': '2017-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9bb'),
 'comm_name': 'Swift Parrot',
 'lat': -36.141201,
 'long': 146.6553955,
 'record_id': '10017674',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 5, 15, 0, 0),
 'survey_id': '1940800',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 3,
 'year_month': '2017-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9bc'),
 'comm_name': 'Swift Parrot',
 'lat': -36.1400986,
 'long': 146.5816956,
 'record_id': '8563619',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 5, 22, 0, 0),
 'survey_id': '1393972',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 3,
 'year_month': '2017-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9bd'),
 'comm_name': 'Swift Parrot',
 'lat': -37.0248985,
 'long': 144.0747986,
 'record_id': '10019027',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 6, 4, 0, 0),
 'survey_id': '1941286',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 7,
 'year_month': '2017-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9be'),
 'comm_name': 'Swift Parrot',
 'lat': -36.8147011,
 'long': 144.3186035,
 'record_id': '10019545',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 6, 12, 0, 0),
 'survey_id': '1941464',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 6,
 'year_month': '2017-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9bf'),
 'comm_name': 'Swift Parrot',
 'lat': -37.6796989,
 'long': 145.1166992,
 'record_id': '10019602',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 6, 13, 0, 0),
 'survey_id': '1941495',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 15,
 'year_month': '2017-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9c0'),
 'comm_name': 'Swift Parrot',
 'lat': -37.6796989,
 'long': 145.1166992,
 'record_id': '10019640',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 6, 14, 0, 0),
 'survey_id': '1941518',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 20,
 'year_month': '2017-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9c1'),
 'comm_name': 'Swift Parrot',
 'lat': -37.9082985,
 'long': 145.13960269999998,
 'record_id': '10019677',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 6, 15, 0, 0),
 'survey_id': '1941532',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2,
 'year_month': '2017-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9c2'),
 'comm_name': 'Swift Parrot',
 'lat': -37.6799011,
 'long': 145.1163025,
 'record_id': '10019703',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 6, 16, 0, 0),
 'survey_id': '1941546',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 30,
 'year_month': '2017-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9c3'),
 'comm_name': 'Swift Parrot',
 'lat': -37.782798799999995,
 'long': 144.9441071,
 'record_id': '10019719',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 6, 16, 0, 0),
 'survey_id': '1941556',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2,
 'year_month': '2017-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9c4'),
 'comm_name': 'Swift Parrot',
 'lat': -37.6799011,
 'long': 145.1163025,
 'record_id': '10019700',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 6, 16, 0, 0),
 'survey_id': '1941543',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 22,
 'year_month': '2017-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9c5'),
 'comm_name': 'Swift Parrot',
 'lat': -37.6799011,
 'long': 145.11639399999999,
 'record_id': '10019701',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 6, 16, 0, 0),
 'survey_id': '1941544',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 12,
 'year_month': '2017-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9c6'),
 'comm_name': 'Swift Parrot',
 'lat': -37.679798100000006,
 'long': 145.1165924,
 'record_id': '10019725',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 6, 17, 0, 0),
 'survey_id': '1941560',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 15,
 'year_month': '2017-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9c7'),
 'comm_name': 'Swift Parrot',
 'lat': -37.6799011,
 'long': 145.11639399999999,
 'record_id': '10019734',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 6, 17, 0, 0),
 'survey_id': '1941563',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 3,
 'year_month': '2017-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9c8'),
 'comm_name': 'Swift Parrot',
 'lat': -37.73440170000001,
 'long': 144.330307,
 'record_id': '9984641',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 6, 18, 0, 0),
 'survey_id': '1927609',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2,
 'year_month': '2017-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9c9'),
 'comm_name': 'Swift Parrot',
 'lat': -37.679798100000006,
 'long': 145.1165924,
 'record_id': '10019869',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 6, 18, 0, 0),
 'survey_id': '1941614',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 3,
 'year_month': '2017-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9ca'),
 'comm_name': 'Swift Parrot',
 'lat': -37.679798100000006,
 'long': 145.1165924,
 'record_id': '10019833',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 6, 18, 0, 0),
 'survey_id': '1941597',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 8,
 'year_month': '2017-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9cb'),
 'comm_name': 'Swift Parrot',
 'lat': -37.679798100000006,
 'long': 145.1166992,
 'record_id': '10019853',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 6, 18, 0, 0),
 'survey_id': '1941607',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 10,
 'year_month': '2017-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9cc'),
 'comm_name': 'Swift Parrot',
 'lat': -37.679798100000006,
 'long': 145.1165924,
 'record_id': '10019941',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 6, 19, 0, 0),
 'survey_id': '1941645',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 5,
 'year_month': '2017-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9cd'),
 'comm_name': 'Swift Parrot',
 'lat': -37.679798100000006,
 'long': 145.1165924,
 'record_id': '10020132',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 6, 22, 0, 0),
 'survey_id': '1941728',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 3,
 'year_month': '2017-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9ce'),
 'comm_name': 'Swift Parrot',
 'lat': -37.679798100000006,
 'long': 145.1165924,
 'record_id': '10020215',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 6, 23, 0, 0),
 'survey_id': '1941751',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 3,
 'year_month': '2017-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9cf'),
 'comm_name': 'Swift Parrot',
 'lat': -37.679798100000006,
 'long': 145.1165924,
 'record_id': '10020335',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 6, 24, 0, 0),
 'survey_id': '1941788',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2,
 'year_month': '2017-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9d0'),
 'comm_name': 'Swift Parrot',
 'lat': -37.679798100000006,
 'long': 145.1165924,
 'record_id': '10020277',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 6, 24, 0, 0),
 'survey_id': '1941776',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 4,
 'year_month': '2017-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9d1'),
 'comm_name': 'Swift Parrot',
 'lat': -37.910301200000006,
 'long': 145.13670349999998,
 'record_id': '10020380',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 6, 24, 0, 0),
 'survey_id': '1941797',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2,
 'year_month': '2017-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9d2'),
 'comm_name': 'Swift Parrot',
 'lat': -37.679798100000006,
 'long': 145.1165924,
 'record_id': '10020390',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 6, 25, 0, 0),
 'survey_id': '1941804',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 4,
 'year_month': '2017-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9d3'),
 'comm_name': 'Swift Parrot',
 'lat': -37.679798100000006,
 'long': 145.1165924,
 'record_id': '10020728',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 6, 29, 0, 0),
 'survey_id': '1941898',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 15,
 'year_month': '2017-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9d4'),
 'comm_name': 'Swift Parrot',
 'lat': -37.679798100000006,
 'long': 145.1165924,
 'record_id': '10020820',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 7, 1, 0, 0),
 'survey_id': '1941926',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 12,
 'year_month': '2017-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9d5'),
 'comm_name': 'Swift Parrot',
 'lat': -37.679798100000006,
 'long': 145.1165924,
 'record_id': '8564492',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 7, 2, 0, 0),
 'survey_id': '1394208',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 8,
 'year_month': '2017-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9d6'),
 'comm_name': 'Swift Parrot',
 'lat': -36.9071007,
 'long': 144.6786957,
 'record_id': '10020991',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 7, 2, 0, 0),
 'survey_id': '1941979',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2,
 'year_month': '2017-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9d7'),
 'comm_name': 'Swift Parrot',
 'lat': -37.679798100000006,
 'long': 145.1165924,
 'record_id': '10021130',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 7, 3, 0, 0),

 'survey_id': '1928155',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 5,
 'year_month': '2017-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9e6'),
 'comm_name': 'Swift Parrot',
 'lat': -37.676399200000006,
 'long': 145.10839840000003,
 'record_id': '8596613',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2017, 9, 25, 0, 0),
 'survey_id': '1405576',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 5,
 'year_month': '2017-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9e7'),
 'comm_name': 'Swift Parrot',
 'lat': -38.2588997,
 'long': 144.5307007,
 'record_id': '9989442',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 2, 11, 0, 0),
 'survey_id': '1929691',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 1,
 'year_month': '2018-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9e8'),
 'comm_name': 'Swift Parrot',
 'lat': -38.2588005,
 'long': 144.530304,
 'record_id': '9989443',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 2, 11, 0, 0),
 'survey_id': '1929692',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 1,
 'year_month': '2018-02'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9e9'),
 'comm_name': 'Swift Parrot',
 'lat': -37.0303001,
 'long': 145.1334991,
 'record_id': '10047165',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 3, 10, 0, 0),
 'survey_id': '1952138',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2,
 'year_month': '2018-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9ea'),
 'comm_name': 'Swift Parrot',
 'lat': -37.6901016,
 'long': 145.0993958,
 'record_id': '10048723',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 3, 25, 0, 0),
 'survey_id': '1952804',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2,
 'year_month': '2018-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9eb'),
 'comm_name': 'Swift Parrot',
 'lat': -37.6901016,
 'long': 145.0995941,
 'record_id': '8908206',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 3, 27, 0, 0),
 'survey_id': '1691366',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 3,
 'year_month': '2018-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9ec'),
 'comm_name': 'Swift Parrot',
 'lat': -37.7206001,
 'long': 145.04840090000002,
 'record_id': '10048993',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 3, 28, 0, 0),
 'survey_id': '1952929',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 1,
 'year_month': '2018-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9ed'),
 'comm_name': 'Swift Parrot',
 'lat': -37.7206001,
 'long': 145.04840090000002,
 'record_id': '10049025',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 3, 28, 0, 0),
 'survey_id': '1952945',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 1,
 'year_month': '2018-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9ee'),
 'comm_name': 'Swift Parrot',
 'lat': -36.3793983,
 'long': 145.3592072,
 'record_id': '10049277',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 3, 31, 0, 0),
 'survey_id': '1953070',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 3,
 'year_month': '2018-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9ef'),
 'comm_name': 'Swift Parrot',
 'lat': -37.7206001,
 'long': 145.04840090000002,
 'record_id': '10049786',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 1, 0, 0),
 'survey_id': '1953245',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 1,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9f0'),
 'comm_name': 'Swift Parrot',
 'lat': -38.678901700000004,
 'long': 146.8161926,
 'record_id': '10049743',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 1, 0, 0),
 'survey_id': '1953224',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 7,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9f1'),
 'comm_name': 'Swift Parrot',
 'lat': -38.678901700000004,
 'long': 146.8161926,
 'record_id': '10049725',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 1, 0, 0),
 'survey_id': '1953221',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 7,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9f2'),
 'comm_name': 'Swift Parrot',
 'lat': -38.678901700000004,
 'long': 146.8161926,
 'record_id': '10049709',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 1, 0, 0),
 'survey_id': '1953218',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 7,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9f3'),
 'comm_name': 'Swift Parrot',
 'lat': -36.5056992,
 'long': 144.3780975,
 'record_id': '10049521',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 1, 0, 0),
 'survey_id': '1953170',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 1,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9f4'),
 'comm_name': 'Swift Parrot',
 'lat': -36.5056992,
 'long': 144.3780975,
 'record_id': '10049595',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 1, 0, 0),
 'survey_id': '1953187',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 1,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9f5'),
 'comm_name': 'Swift Parrot',
 'lat': -36.5056992,
 'long': 144.3780975,
 'record_id': '10049620',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 1, 0, 0),
 'survey_id': '1953203',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 1,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9f6'),
 'comm_name': 'Swift Parrot',
 'lat': -37.7462006,
 'long': 145.17289730000002,
 'record_id': '10050178',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 4, 0, 0),
 'survey_id': '1953396',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 10,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9f7'),
 'comm_name': 'Swift Parrot',
 'lat': -37.7206001,
 'long': 145.04840090000002,
 'record_id': '10050179',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 4, 0, 0),
 'survey_id': '1953397',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 20,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9f8'),
 'comm_name': 'Swift Parrot',
 'lat': -37.7206001,
 'long': 145.04840090000002,
 'record_id': '10050137',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 4, 0, 0),
 'survey_id': '1953377',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 16,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9f9'),
 'comm_name': 'Swift Parrot',
 'lat': -37.7456017,
 'long': 145.1714935,
 'record_id': '10050157',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 4, 0, 0),
 'survey_id': '1953386',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 17,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9fa'),
 'comm_name': 'Swift Parrot',
 'lat': -37.7206001,
 'long': 145.04840090000002,
 'record_id': '10050312',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 5, 0, 0),
 'survey_id': '1953438',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 15,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9fb'),
 'comm_name': 'Swift Parrot',
 'lat': -37.7206001,
 'long': 145.04840090000002,
 'record_id': '10050318',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 5, 0, 0),
 'survey_id': '1953443',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 15,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9fc'),
 'comm_name': 'Swift Parrot',
 'lat': -37.7206001,
 'long': 145.04840090000002,
 'record_id': '10050491',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 6, 0, 0),
 'survey_id': '1953506',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 50,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9fd'),
 'comm_name': 'Swift Parrot',
 'lat': -37.7206001,
 'long': 145.04840090000002,
 'record_id': '10050501',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 6, 0, 0),
 'survey_id': '1953514',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 50,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9fe'),
 'comm_name': 'Swift Parrot',
 'lat': -37.7206001,
 'long': 145.04840090000002,
 'record_id': '10050504',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 6, 0, 0),
 'survey_id': '1953516',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 5,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4ac9ff'),
 'comm_name': 'Swift Parrot',
 'lat': -37.713699299999995,
 'long': 145.05630490000001,
 'record_id': '10050479',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 6, 0, 0),
 'survey_id': '1953498',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 5,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca00'),
 'comm_name': 'Swift Parrot',
 'lat': -37.7206001,
 'long': 145.04840090000002,
 'record_id': '10050606',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 7, 0, 0),
 'survey_id': '1953562',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 25,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca01'),
 'comm_name': 'Swift Parrot',
 'lat': -37.7206001,
 'long': 145.04840090000002,
 'record_id': '10050779',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 8, 0, 0),
 'survey_id': '1953628',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 20,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca02'),
 'comm_name': 'Swift Parrot',
 'lat': -37.7206001,
 'long': 145.04840090000002,
 'record_id': '10050781',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 8, 0, 0),
 'survey_id': '1953629',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 8,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca03'),
 'comm_name': 'Swift Parrot',
 'lat': -37.7206001,
 'long': 145.04840090000002,
 'record_id': '10050723',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 8, 0, 0),
 'survey_id': '1953610',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 1,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca04'),
 'comm_name': 'Swift Parrot',
 'lat': -37.7206001,
 'long': 145.04840090000002,
 'record_id': '10050733',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 8, 0, 0),
 'survey_id': '1953615',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 10,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca05'),
 'comm_name': 'Swift Parrot',
 'lat': -37.7206001,
 'long': 145.04840090000002,
 'record_id': '10050678',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 8, 0, 0),
 'survey_id': '1953597',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 4,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca06'),
 'comm_name': 'Swift Parrot',
 'lat': -38.419899,
 'long': 145.050705,
 'record_id': '10050668',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 8, 0, 0),
 'survey_id': '1953592',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca07'),
 'comm_name': 'Swift Parrot',
 'lat': -37.8347015,
 'long': 144.9356995,
 'record_id': '8926426',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 8, 0, 0),
 'survey_id': '1705189',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 3,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca08'),
 'comm_name': 'Swift Parrot',
 'lat': -37.7206001,
 'long': 145.04840090000002,
 'record_id': '10050911',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 9, 0, 0),
 'survey_id': '1953689',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 35,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca09'),
 'comm_name': 'Swift Parrot',
 'lat': -37.7206001,
 'long': 145.04840090000002,
 'record_id': '10050998',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 11, 0, 0),
 'survey_id': '1953724',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 10,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca0a'),
 'comm_name': 'Swift Parrot',
 'lat': -37.7206001,
 'long': 145.04840090000002,
 'record_id': '10051000',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 11, 0, 0),
 'survey_id': '1953725',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca0b'),
 'comm_name': 'Swift Parrot',
 'lat': -37.7206001,
 'long': 145.04840090000002,
 'record_id': '10051035',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 11, 0, 0),
 'survey_id': '1953738',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 50,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca0c'),
 'comm_name': 'Swift Parrot',
 'lat': -37.7206001,
 'long': 145.04840090000002,
 'record_id': '10051003',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 11, 0, 0),
 'survey_id': '1953727',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 30,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca0d'),
 'comm_name': 'Swift Parrot',
 'lat': -37.7206001,
 'long': 145.04840090000002,
 'record_id': '10051144',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 13, 0, 0),
 'survey_id': '1953788',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca0e'),
 'comm_name': 'Swift Parrot',
 'lat': -37.7206001,
 'long': 145.04840090000002,
 'record_id': '10051273',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 13, 0, 0),
 'survey_id': '1953823',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 1,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca0f'),
 'comm_name': 'Swift Parrot',
 'lat': -37.7164001,
 'long': 145.05540469999997,
 'record_id': '10051139',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 13, 0, 0),
 'survey_id': '1953784',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 10,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca10'),
 'comm_name': 'Swift Parrot',
 'lat': -37.7164001,
 'long': 145.05540469999997,
 'record_id': '10051207',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 13, 0, 0),
 'survey_id': '1953810',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 5,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca11'),
 'comm_name': 'Swift Parrot',
 'lat': -37.7206001,
 'long': 145.04840090000002,
 'record_id': '10051287',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 14, 0, 0),
 'survey_id': '1953831',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 10,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca12'),
 'comm_name': 'Swift Parrot',
 'lat': -37.7206001,
 'long': 145.04840090000002,
 'record_id': '10051296',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 14, 0, 0),
 'survey_id': '1953838',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 20,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca13'),
 'comm_name': 'Swift Parrot',
 'lat': -37.7206001,
 'long': 145.04840090000002,
 'record_id': '10051345',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 15, 0, 0),
 'survey_id': '1953859',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 20,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca14'),
 'comm_name': 'Swift Parrot',
 'lat': -37.7206001,
 'long': 145.04840090000002,
 'record_id': '10051349',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 15, 0, 0),
 'survey_id': '1953861',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 30,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca15'),
 'comm_name': 'Swift Parrot',
 'lat': -37.7164001,
 'long': 145.05540469999997,
 'record_id': '10051388',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 15, 0, 0),
 'survey_id': '1953875',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca16'),
 'comm_name': 'Swift Parrot',
 'lat': -37.7164001,
 'long': 145.05540469999997,
 'record_id': '10051390',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 15, 0, 0),
 'survey_id': '1953876',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca17'),
 'comm_name': 'Swift Parrot',
 'lat': -37.7164001,
 'long': 145.05540469999997,
 'record_id': '10051364',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 15, 0, 0),
 'survey_id': '1953863',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca18'),
 'comm_name': 'Swift Parrot',
 'lat': -37.719101,
 'long': 145.0516968,
 'record_id': '10051406',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 16, 0, 0),
 'survey_id': '1953887',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 8,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca19'),
 'comm_name': 'Swift Parrot',
 'lat': -37.7206001,
 'long': 145.04840090000002,
 'record_id': '10051521',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 18, 0, 0),
 'survey_id': '1953926',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 4,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca1a'),
 'comm_name': 'Swift Parrot',
 'lat': -36.3793983,
 'long': 145.3592072,
 'record_id': '10051702',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 20, 0, 0),
 'survey_id': '1954002',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca1b'),
 'comm_name': 'Swift Parrot',
 'lat': -37.7206001,
 'long': 145.04840090000002,
 'record_id': '10051921',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 4, 21, 0, 0),
 'survey_id': '1954086',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 7,
 'year_month': '2018-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca1c'),
 'comm_name': 'Swift Parrot',

 'comm_name': 'Swift Parrot',
 'lat': -37.7893982,
 'long': 144.57209780000002,
 'record_id': '8943027',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 6, 12, 0, 0),
 'survey_id': '1709982',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 7,
 'year_month': '2018-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca30'),
 'comm_name': 'Swift Parrot',
 'lat': -36.3793983,
 'long': 145.3592072,
 'record_id': '10057095',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 6, 24, 0, 0),
 'survey_id': '1956303',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 4,
 'year_month': '2018-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca31'),
 'comm_name': 'Swift Parrot',
 'lat': -36.3793983,
 'long': 145.3592072,
 'record_id': '10057700',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 7, 1, 0, 0),
 'survey_id': '1956528',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 4,
 'year_month': '2018-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca32'),
 'comm_name': 'Swift Parrot',
 'lat': -36.3793983,
 'long': 145.3592072,
 'record_id': '10058459',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 7, 12, 0, 0),
 'survey_id': '1956911',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2,
 'year_month': '2018-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca33'),
 'comm_name': 'Swift Parrot',
 'lat': -38.1570015,
 'long': 144.3312988,
 'record_id': '9991927',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 7, 13, 0, 0),
 'survey_id': '1930845',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 17,
 'year_month': '2018-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca34'),
 'comm_name': 'Swift Parrot',
 'lat': -36.4954987,
 'long': 144.36639399999999,
 'record_id': '10058608',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 7, 14, 0, 0),
 'survey_id': '1956978',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 6,
 'year_month': '2018-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca35'),
 'comm_name': 'Swift Parrot',
 'lat': -36.3793983,
 'long': 145.3592072,
 'record_id': '10058916',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 7, 19, 0, 0),
 'survey_id': '1957112',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2,
 'year_month': '2018-07'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca36'),
 'comm_name': 'Swift Parrot',
 'lat': -37.9482994,
 'long': 145.29789730000002,
 'record_id': '10059934',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 8, 1, 0, 0),
 'survey_id': '1957538',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 7,
 'year_month': '2018-08'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca37'),
 'comm_name': 'Swift Parrot',
 'lat': -37.763900799999995,
 'long': 145.00709530000003,
 'record_id': '10059958',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 8, 2, 0, 0),
 'survey_id': '1957551',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 1,
 'year_month': '2018-08'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca38'),
 'comm_name': 'Swift Parrot',
 'lat': -37.9482994,
 'long': 145.29789730000002,
 'record_id': '10060048',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 8, 3, 0, 0),
 'survey_id': '1957602',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 9,
 'year_month': '2018-08'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca39'),
 'comm_name': 'Swift Parrot',
 'lat': -37.9482994,
 'long': 145.29789730000002,
 'record_id': '10060060',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 8, 3, 0, 0),
 'survey_id': '1957609',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 20,
 'year_month': '2018-08'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca3a'),
 'comm_name': 'Swift Parrot',
 'lat': -37.9482994,
 'long': 145.29789730000002,
 'record_id': '10060107',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 8, 4, 0, 0),
 'survey_id': '1957629',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2,
 'year_month': '2018-08'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca3b'),
 'comm_name': 'Swift Parrot',
 'lat': -36.1411018,
 'long': 146.6623993,
 'record_id': '10060321',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 8, 5, 0, 0),
 'survey_id': '1957722',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2,
 'year_month': '2018-08'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca3c'),
 'comm_name': 'Swift Parrot',
 'lat': -37.9482994,
 'long': 145.29789730000002,
 'record_id': '10060239',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 8, 5, 0, 0),
 'survey_id': '1957682',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 5,
 'year_month': '2018-08'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca3d'),
 'comm_name': 'Swift Parrot',
 'lat': -37.9482994,
 'long': 145.29789730000002,
 'record_id': '10060436',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 8, 7, 0, 0),
 'survey_id': '1957766',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 24,
 'year_month': '2018-08'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca3e'),
 'comm_name': 'Swift Parrot',
 'lat': -36.9822006,
 'long': 143.7362976,
 'record_id': '10060865',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 8, 13, 0, 0),
 'survey_id': '1957984',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 8,
 'year_month': '2018-08'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca3f'),
 'comm_name': 'Swift Parrot',
 'lat': -36.7675018,
 'long': 142.212204,
 'record_id': '10060915',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 8, 14, 0, 0),
 'survey_id': '1958016',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 4,
 'year_month': '2018-08'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca40'),
 'comm_name': 'Swift Parrot',
 'lat': -36.7249985,
 'long': 144.2341003,
 'record_id': '10061114',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 8, 18, 0, 0),
 'survey_id': '1958119',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 5,
 'year_month': '2018-08'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca41'),
 'comm_name': 'Swift Parrot',
 'lat': -36.1393013,
 'long': 146.6620941,
 'record_id': '10061303',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 8, 21, 0, 0),
 'survey_id': '1958204',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 1,
 'year_month': '2018-08'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca42'),
 'comm_name': 'Swift Parrot',
 'lat': -36.7249985,
 'long': 144.2341003,
 'record_id': '10061403',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 8, 23, 0, 0),
 'survey_id': '1958250',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 4,
 'year_month': '2018-08'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca43'),
 'comm_name': 'Swift Parrot',
 'lat': -36.159099600000005,
 'long': 146.64160159999997,
 'record_id': '10061523',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 8, 25, 0, 0),
 'survey_id': '1958317',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 1,
 'year_month': '2018-08'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca44'),
 'comm_name': 'Swift Parrot',
 'lat': -37.880100299999995,
 'long': 145.1923065,
 'record_id': '10061795',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 8, 28, 0, 0),
 'survey_id': '1958450',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2,
 'year_month': '2018-08'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca45'),
 'comm_name': 'Swift Parrot',
 'lat': -37.883598299999996,
 'long': 145.18910219999998,
 'record_id': '10062011',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 9, 1, 0, 0),
 'survey_id': '1958553',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 4,
 'year_month': '2018-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca46'),
 'comm_name': 'Swift Parrot',
 'lat': -36.608501399999994,
 'long': 145.0245056,
 'record_id': '10062076',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 9, 1, 0, 0),
 'survey_id': '1958584',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 6,
 'year_month': '2018-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca47'),
 'comm_name': 'Swift Parrot',
 'lat': -37.0838013,
 'long': 143.69160459999998,
 'record_id': '10062744',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 9, 8, 0, 0),
 'survey_id': '1958882',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 25,
 'year_month': '2018-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca48'),
 'comm_name': 'Swift Parrot',
 'lat': -36.159099600000005,
 'long': 146.64160159999997,
 'record_id': '10065215',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 9, 29, 0, 0),
 'survey_id': '1960000',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 1,
 'year_month': '2018-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca49'),
 'comm_name': 'Swift Parrot',
 'lat': -36.159099600000005,
 'long': 146.64160159999997,
 'record_id': '10065325',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2018, 9, 30, 0, 0),
 'survey_id': '1960049',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2,
 'year_month': '2018-09'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca4a'),
 'comm_name': 'Swift Parrot',
 'lat': -37.8981018,
 'long': 145.1997986,
 'record_id': '10091078',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 3, 29, 0, 0),
 'survey_id': '1969842',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 3,
 'year_month': '2019-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca4b'),
 'comm_name': 'Swift Parrot',
 'lat': -38.0051994,
 'long': 144.4125061,
 'record_id': '10000511',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 3, 29, 0, 0),
 'survey_id': '1933979',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 1,
 'year_month': '2019-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca4c'),
 'comm_name': 'Swift Parrot',
 'lat': -37.8981018,
 'long': 145.1997986,
 'record_id': '10091163',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 3, 30, 0, 0),
 'survey_id': '1969870',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 1,
 'year_month': '2019-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca4d'),
 'comm_name': 'Swift Parrot',
 'lat': -37.9978981,
 'long': 144.5917053,
 'record_id': '10091115',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 3, 30, 0, 0),
 'survey_id': '1969854',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 1,
 'year_month': '2019-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca4e'),
 'comm_name': 'Swift Parrot',
 'lat': -36.958999600000006,
 'long': 144.7247925,
 'record_id': '10091218',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 3, 31, 0, 0),
 'survey_id': '1969884',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2,
 'year_month': '2019-03'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca4f'),
 'comm_name': 'Swift Parrot',
 'lat': -37.3040009,
 'long': 144.9635925,
 'record_id': '10091562',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 4, 2, 0, 0),
 'survey_id': '1970005',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 4,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca50'),
 'comm_name': 'Swift Parrot',
 'lat': -36.978298200000005,
 'long': 143.7667999,
 'record_id': '10091695',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 4, 4, 0, 0),
 'survey_id': '1970060',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 1,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca51'),
 'comm_name': 'Swift Parrot',
 'lat': -37.7206001,
 'long': 145.04840090000002,
 'record_id': '10092050',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 4, 7, 0, 0),
 'survey_id': '1970208',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 5,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca52'),
 'comm_name': 'Swift Parrot',
 'lat': -38.254100799999996,
 'long': 144.53100590000003,
 'record_id': '10000763',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 4, 8, 0, 0),
 'survey_id': '1934065',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 1,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca53'),
 'comm_name': 'Swift Parrot',
 'lat': -36.958999600000006,
 'long': 144.7247925,
 'record_id': '10092338',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 4, 10, 0, 0),
 'survey_id': '1970306',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca54'),
 'comm_name': 'Swift Parrot',
 'lat': -38.419899,
 'long': 145.050705,
 'record_id': '10092810',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 4, 13, 0, 0),
 'survey_id': '1970468',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 4,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca55'),
 'comm_name': 'Swift Parrot',
 'lat': -38.419899,
 'long': 145.050705,
 'record_id': '10093064',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 4, 14, 0, 0),
 'survey_id': '1970567',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 4,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca56'),
 'comm_name': 'Swift Parrot',
 'lat': -37.9978981,
 'long': 144.5917053,
 'record_id': '10092964',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 4, 14, 0, 0),
 'survey_id': '1970529',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 15,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca57'),
 'comm_name': 'Swift Parrot',
 'lat': -37.9978981,
 'long': 144.5917053,
 'record_id': '10092978',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 4, 14, 0, 0),
 'survey_id': '1970530',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 15,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca58'),
 'comm_name': 'Swift Parrot',
 'lat': -38.0036011,
 'long': 144.5308075,
 'record_id': '10092947',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 4, 14, 0, 0),
 'survey_id': '1970525',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 35,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca59'),
 'comm_name': 'Swift Parrot',
 'lat': -36.958999600000006,
 'long': 144.7247925,
 'record_id': '10093000',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 4, 14, 0, 0),
 'survey_id': '1970539',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 1,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca5a'),
 'comm_name': 'Swift Parrot',
 'lat': -36.97069929999999,
 'long': 144.7489929,
 'record_id': '10093334',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 4, 18, 0, 0),
 'survey_id': '1970682',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 5,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca5b'),
 'comm_name': 'Swift Parrot',
 'lat': -38.00719829999999,
 'long': 144.52949519999999,
 'record_id': '10000995',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 4, 18, 0, 0),
 'survey_id': '1934155',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 30,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca5c'),
 'comm_name': 'Swift Parrot',
 'lat': -36.958999600000006,
 'long': 144.7247925,
 'record_id': '10093341',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 4, 18, 0, 0),
 'survey_id': '1970689',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca5d'),
 'comm_name': 'Swift Parrot',
 'lat': -37.9978981,
 'long': 144.5917053,
 'record_id': '10093362',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 4, 18, 0, 0),
 'survey_id': '1970693',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 40,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca5e'),
 'comm_name': 'Swift Parrot',
 'lat': -37.9978981,
 'long': 144.5917053,
 'record_id': '10093385',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 4, 18, 0, 0),
 'survey_id': '1970701',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 30,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca5f'),
 'comm_name': 'Swift Parrot',
 'lat': -37.9978981,
 'long': 144.5917053,
 'record_id': '10093401',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 4, 18, 0, 0),
 'survey_id': '1970702',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 30,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca60'),
 'comm_name': 'Swift Parrot',
 'lat': -37.9978981,
 'long': 144.5917053,
 'record_id': '10093485',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 4, 18, 0, 0),
 'survey_id': '1970727',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 20,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca61'),
 'comm_name': 'Swift Parrot',
 'lat': -36.8949013,
 'long': 144.6611023,
 'record_id': '10093538',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 4, 19, 0, 0),
 'survey_id': '1970756',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca62'),
 'comm_name': 'Swift Parrot',
 'lat': -36.899501799999996,
 'long': 144.6694946,
 'record_id': '10093536',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 4, 19, 0, 0),
 'survey_id': '1970755',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 6,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca63'),
 'comm_name': 'Swift Parrot',
 'lat': -36.8956985,
 'long': 144.66999819999998,
 'record_id': '10093535',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 4, 19, 0, 0),
 'survey_id': '1970754',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 4,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca64'),
 'comm_name': 'Swift Parrot',
 'lat': -36.9286995,
 'long': 144.6703949,
 'record_id': '10093552',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 4, 19, 0, 0),
 'survey_id': '1970760',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca65'),
 'comm_name': 'Swift Parrot',
 'lat': -37.9978981,
 'long': 144.5917053,
 'record_id': '10093549',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 4, 19, 0, 0),
 'survey_id': '1970759',
 'taxon_id': '10309',

 'lat': -38.00719829999999,
 'long': 144.52949519999999,
 'record_id': '10001022',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 4, 20, 0, 0),
 'survey_id': '1934173',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 30,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca6c'),
 'comm_name': 'Swift Parrot',
 'lat': -37.9990005,
 'long': 144.5312958,
 'record_id': '10093681',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 4, 20, 0, 0),
 'survey_id': '1970817',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 20,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca6d'),
 'comm_name': 'Swift Parrot',
 'lat': -37.9978981,
 'long': 144.5917053,
 'record_id': '10093757',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 4, 20, 0, 0),
 'survey_id': '1970844',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 20,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca6e'),
 'comm_name': 'Swift Parrot',
 'lat': -37.9978981,
 'long': 144.5917053,
 'record_id': '10093765',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 4, 20, 0, 0),
 'survey_id': '1970846',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 20,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca6f'),
 'comm_name': 'Swift Parrot',
 'lat': -37.9996986,
 'long': 144.5312042,
 'record_id': '9047903',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 4, 20, 0, 0),
 'survey_id': '1761135',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 27,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca70'),
 'comm_name': 'Swift Parrot',
 'lat': -38.00719829999999,
 'long': 144.52949519999999,
 'record_id': '10001037',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 4, 21, 0, 0),
 'survey_id': '1934182',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 20,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca71'),
 'comm_name': 'Swift Parrot',
 'lat': -37.9936981,
 'long': 144.6020966,
 'record_id': '10093901',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 4, 21, 0, 0),
 'survey_id': '1970919',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 15,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca72'),
 'comm_name': 'Swift Parrot',
 'lat': -37.9990005,
 'long': 144.5312958,
 'record_id': '10093954',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 4, 21, 0, 0),
 'survey_id': '1970933',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 20,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca73'),
 'comm_name': 'Swift Parrot',
 'lat': -38.00719829999999,
 'long': 144.52949519999999,
 'record_id': '10001080',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 4, 22, 0, 0),
 'survey_id': '1934202',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 30,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca74'),
 'comm_name': 'Swift Parrot',
 'lat': -38.00719829999999,
 'long': 144.52949519999999,
 'record_id': '10001071',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 4, 22, 0, 0),
 'survey_id': '1934198',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 30,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca75'),
 'comm_name': 'Swift Parrot',
 'lat': -37.9978981,
 'long': 144.5917053,
 'record_id': '10094056',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 4, 22, 0, 0),
 'survey_id': '1970978',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 20,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca76'),
 'comm_name': 'Swift Parrot',
 'lat': -37.9978981,
 'long': 144.5917053,
 'record_id': '10094072',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 4, 22, 0, 0),
 'survey_id': '1970983',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 20,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca77'),
 'comm_name': 'Swift Parrot',
 'lat': -36.9071999,
 'long': 144.68719480000001,
 'record_id': '10094295',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 4, 24, 0, 0),
 'survey_id': '1971076',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 10,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca78'),
 'comm_name': 'Swift Parrot',
 'lat': -38.0024986,
 'long': 144.57910159999997,
 'record_id': '10094460',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 4, 25, 0, 0),
 'survey_id': '1971145',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 5,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca79'),
 'comm_name': 'Swift Parrot',
 'lat': -38.0024986,
 'long': 144.57910159999997,
 'record_id': '10094487',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 4, 25, 0, 0),
 'survey_id': '1971149',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 5,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca7a'),
 'comm_name': 'Swift Parrot',
 'lat': -38.0231018,
 'long': 144.52659609999998,
 'record_id': '10001136',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 4, 25, 0, 0),
 'survey_id': '1934226',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 22,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca7b'),
 'comm_name': 'Swift Parrot',
 'lat': -38.254100799999996,
 'long': 144.53100590000003,
 'record_id': '10001137',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 4, 25, 0, 0),
 'survey_id': '1934227',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 7,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca7c'),
 'comm_name': 'Swift Parrot',
 'lat': -38.0231018,
 'long': 144.52659609999998,
 'record_id': '10001138',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 4, 25, 0, 0),
 'survey_id': '1934228',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 5,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca7d'),
 'comm_name': 'Swift Parrot',
 'lat': -37.9990005,
 'long': 144.5312958,
 'record_id': '10094314',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 4, 25, 0, 0),
 'survey_id': '1971087',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 10,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca7e'),
 'comm_name': 'Swift Parrot',
 'lat': -38.254100799999996,
 'long': 144.53100590000003,
 'record_id': '10001186',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 4, 26, 0, 0),
 'survey_id': '1934246',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 8,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca7f'),
 'comm_name': 'Swift Parrot',
 'lat': -38.319999700000004,
 'long': 144.3114929,
 'record_id': '10001193',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 4, 26, 0, 0),
 'survey_id': '1934251',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 7,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca80'),
 'comm_name': 'Swift Parrot',
 'lat': -38.3200989,
 'long': 144.315506,
 'record_id': '10001194',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 4, 26, 0, 0),
 'survey_id': '1934252',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 7,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca81'),
 'comm_name': 'Swift Parrot',
 'lat': -38.156200399999996,
 'long': 144.33140559999998,
 'record_id': '10001187',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 4, 26, 0, 0),
 'survey_id': '1934247',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 3,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca82'),
 'comm_name': 'Swift Parrot',
 'lat': -38.2533989,
 'long': 144.5339966,
 'record_id': '10001209',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 4, 27, 0, 0),
 'survey_id': '1934259',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 17,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca83'),
 'comm_name': 'Swift Parrot',
 'lat': -36.978099799999995,
 'long': 144.7512054,
 'record_id': '10094896',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 4, 29, 0, 0),
 'survey_id': '1971333',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 1,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca84'),
 'comm_name': 'Swift Parrot',
 'lat': -36.8956985,
 'long': 144.66999819999998,
 'record_id': '10094898',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 4, 29, 0, 0),
 'survey_id': '1971335',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca85'),
 'comm_name': 'Swift Parrot',
 'lat': -36.8956985,
 'long': 144.66999819999998,
 'record_id': '10094925',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 4, 29, 0, 0),
 'survey_id': '1971347',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2,
 'year_month': '2019-04'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca86'),
 'comm_name': 'Swift Parrot',
 'lat': -37.7142982,
 'long': 144.31770319999998,
 'record_id': '10001261',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 5, 2, 0, 0),
 'survey_id': '1934284',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 20,
 'year_month': '2019-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca87'),
 'comm_name': 'Swift Parrot',
 'lat': -38.2668991,
 'long': 144.5222015,
 'record_id': '10001362',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 5, 7, 0, 0),
 'survey_id': '1934331',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2,
 'year_month': '2019-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca88'),
 'comm_name': 'Swift Parrot',
 'lat': -38.254100799999996,
 'long': 144.53100590000003,
 'record_id': '10001385',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 5, 11, 0, 0),
 'survey_id': '1934344',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 30,
 'year_month': '2019-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca89'),
 'comm_name': 'Swift Parrot',
 'lat': -37.7610016,
 'long': 145.6835938,
 'record_id': '10095792',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 5, 11, 0, 0),
 'survey_id': '1971731',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 1,
 'year_month': '2019-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca8a'),
 'comm_name': 'Swift Parrot',
 'lat': -38.2668991,
 'long': 144.5222015,
 'record_id': '10001388',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 5, 11, 0, 0),
 'survey_id': '1934346',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 35,
 'year_month': '2019-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca8b'),
 'comm_name': 'Swift Parrot',
 'lat': -38.254100799999996,
 'long': 144.53100590000003,
 'record_id': '10001419',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 5, 13, 0, 0),
 'survey_id': '1934361',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 25,
 'year_month': '2019-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca8c'),
 'comm_name': 'Swift Parrot',
 'lat': -36.8274994,
 'long': 142.9756012,
 'record_id': '10096050',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 5, 14, 0, 0),
 'survey_id': '1971870',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 32,
 'year_month': '2019-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca8d'),
 'comm_name': 'Swift Parrot',
 'lat': -36.839698799999994,
 'long': 143.017395,
 'record_id': '10096041',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 5, 14, 0, 0),
 'survey_id': '1971866',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2,
 'year_month': '2019-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca8e'),
 'comm_name': 'Swift Parrot',
 'lat': -36.8917007,
 'long': 142.82710269999998,
 'record_id': '10096056',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 5, 14, 0, 0),
 'survey_id': '1971874',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2,
 'year_month': '2019-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca8f'),
 'comm_name': 'Swift Parrot',
 'lat': -36.73509979999999,
 'long': 143.0818939,
 'record_id': '10096029',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 5, 14, 0, 0),
 'survey_id': '1971860',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 12,
 'year_month': '2019-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca90'),
 'comm_name': 'Swift Parrot',
 'lat': -38.254100799999996,
 'long': 144.53100590000003,
 'record_id': '10001458',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 5, 15, 0, 0),
 'survey_id': '1934375',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 9,
 'year_month': '2019-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca91'),
 'comm_name': 'Swift Parrot',
 'lat': -37.0718994,
 'long': 142.7003021,
 'record_id': '10096189',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 5, 15, 0, 0),
 'survey_id': '1971932',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 6,
 'year_month': '2019-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca92'),
 'comm_name': 'Swift Parrot',
 'lat': -38.2668991,
 'long': 144.5222015,
 'record_id': '10001439',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 5, 15, 0, 0),
 'survey_id': '1934371',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 26,
 'year_month': '2019-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca93'),
 'comm_name': 'Swift Parrot',
 'lat': -36.906200399999996,
 'long': 142.8491974,
 'record_id': '10096123',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 5, 15, 0, 0),
 'survey_id': '1971900',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 7,
 'year_month': '2019-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca94'),
 'comm_name': 'Swift Parrot',
 'lat': -37.0001984,
 'long': 142.7285004,
 'record_id': '10096158',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 5, 15, 0, 0),
 'survey_id': '1971914',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 51,
 'year_month': '2019-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca95'),
 'comm_name': 'Swift Parrot',
 'lat': -36.8998985,
 'long': 142.8677063,
 'record_id': '10096199',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 5, 16, 0, 0),
 'survey_id': '1971937',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 2,
 'year_month': '2019-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca96'),
 'comm_name': 'Swift Parrot',
 'lat': -36.906200399999996,
 'long': 142.8491974,
 'record_id': '10096263',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 5, 16, 0, 0),
 'survey_id': '1971967',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 16,
 'year_month': '2019-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca97'),
 'comm_name': 'Swift Parrot',
 'lat': -37.231098200000005,
 'long': 142.88960269999998,
 'record_id': '10096306',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 5, 17, 0, 0),
 'survey_id': '1971989',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 12,
 'year_month': '2019-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca98'),
 'comm_name': 'Swift Parrot',
 'lat': -37.947799700000004,
 'long': 145.172699,
 'record_id': '10096440',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 5, 18, 0, 0),
 'survey_id': '1972055',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 4,
 'year_month': '2019-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca99'),
 'comm_name': 'Swift Parrot',
 'lat': -37.7142982,
 'long': 144.31770319999998,
 'record_id': '10001614',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 5, 22, 0, 0),
 'survey_id': '1934456',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 14,
 'year_month': '2019-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca9a'),
 'comm_name': 'Swift Parrot',
 'lat': -37.231098200000005,
 'long': 142.88960269999998,
 'record_id': '10097184',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 5, 26, 0, 0),
 'survey_id': '1972358',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 12,
 'year_month': '2019-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca9b'),
 'comm_name': 'Swift Parrot',
 'lat': -37.62829970000001,
 'long': 145.10110469999998,
 'record_id': '10097292',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 5, 30, 0, 0),
 'survey_id': '1972418',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 1,
 'year_month': '2019-05'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca9c'),
 'comm_name': 'Swift Parrot',
 'lat': -36.73440170000001,
 'long': 142.6175995,
 'record_id': '10097546',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 6, 2, 0, 0),
 'survey_id': '1972503',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 4,
 'year_month': '2019-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca9d'),
 'comm_name': 'Swift Parrot',
 'lat': -36.9976006,
 'long': 142.7348022,
 'record_id': '9598831',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 6, 7, 0, 0),
 'survey_id': '1835244',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 5,
 'year_month': '2019-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca9e'),
 'comm_name': 'Swift Parrot',
 'lat': -37.198600799999994,
 'long': 142.8657074,
 'record_id': '10098063',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 6, 8, 0, 0),
 'survey_id': '1972713',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 20,
 'year_month': '2019-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4aca9f'),
 'comm_name': 'Swift Parrot',
 'lat': -37.207698799999996,
 'long': 142.87089540000002,
 'record_id': '10098065',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 6, 8, 0, 0),
 'survey_id': '1972714',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 40,
 'year_month': '2019-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4acaa0'),
 'comm_name': 'Swift Parrot',
 'lat': -37.231098200000005,
 'long': 142.88960269999998,
 'record_id': '10098060',
 'sci_name': 'Lathamus discolor',
 'start_date': datetime.datetime(2019, 6, 8, 0, 0),
 'survey_id': '1972712',
 'taxon_id': '10309',
 'taxon_type': 'Non-passerine birds',
 'totalcount': 12,
 'year_month': '2019-06'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4acaa1'),
 'comm_name': 'Swift Parrot',
 'lat': -37.0079994,
 'long': 142.719696,
 'record_id': '9070967',
 'sci_name': 'Lathamus discolor',

In [45]:
for record in scraped_fauna.find():
    pprint(record)

{'_id': ObjectId('5f6c17a1a31fd3a5ac4acabf'),
 'animal_name': 'Giant Burrowing Frog',
 'image_alternative': 'Giant Burrowing Frog on wet rocks side view. The frog '
                      'is dark brown with yellow lips and spots on its side.',
 'image_url': 'https://www.zoo.org.au/media/2056/23479_giant_burrowing_frog_-_credit_required_offsite1.jpg?anchor=center&mode=crop&quality=75&width=2000&height=570&rnd=132131643480000000',
 'introduction': 'Although we know that populations of the Giant Burrowing '
                 'Frog are in decline, this elusive digger is one of '
                 'Victoria’s most poorly understood species.',
 'threat_paragraph': "['Over the next five years, Zoos Victoria will carry out "
                     'important on-the-ground surveys to discover more about '
                     'the Giant Burrowing Frog and its remote habitat. In the '
                     'meantime, we are securing the wellbeing of the '
                     "individual frogs in our care.', 'Photo: Rohan Bilney', "
                     "'Conservation Status']"}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4acac0'),
 'animal_name': "Leadbeater's Possum",
 'image_alternative': 'Close up view of the face of a Leadbeater Possum '
                      'wrapped in blanket. Big eyes and fine facial details '
                      'can be seen as it looks to the right of the camera.',
 'image_url': 'https://www.zoo.org.au/media/2057/22861_leadbeater_s_possum_monitoring_offsite.jpg?anchor=center&mode=crop&quality=75&width=2000&height=570&rnd=132131644540000000',
 'introduction': "Once thought to be extinct, the Leadbeater's Possum was "
                 'rediscovered in 1961.',
 'threat_paragraph': 'The major threats\r\n'
                     "The loss of hollow-bearing trees is the possums' biggest "
                     'threat. Hollows can take 150 years to develop in living '
                     'trees, and old trees with suitable hollows have '
                     'decreased due to logging and bushfires. The animal’s '
                     'vulnerability to fire makes climate change a severe '
                     'danger.'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4acac1'),
 'animal_name': 'Mallee Emu-wren',
 'image_alternative': 'Mallee Emu-wren in long dry grass looking at the '
                      'camera. It has a bright orange head, white chest and a '
                      'pale orange body.',
 'image_url': 'https://www.zoo.org.au/media/1961/23483_mallee_emu-wren_offsite.jpg?anchor=center&mode=crop&quality=75&width=2000&height=570&rnd=132131595290000000',
 'introduction': 'The Mallee Emu-wren is particularly vulnerable to the '
                 'impacts of bushfire.',
 'threat_paragraph': "['In fact, it was a series of fires that caused the "
                     'Mallee Emu-wren to become extinct in South Australia. '
                     'The tiny songbird was recently moved from one location '
                     'and successfully returned to its former range in that '
                     'state. The Mallee Emu- wren also exists in three '
                     "populations across Victoria’s largest Mallee parks.', "
                     "'It is a striking little bird. The male features a sky "
                     'blue face and bib which contrasts with a rusty orange '
                     "cap.', 'Bush fires are a significant risk for the Mallee "
                     'Emu-wren. The bird’s restriction to a small number of '
                     "locations has also prompted great concern.']"}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4acac2'),
 'animal_name': 'Mountain Pygmy-possum',
 'image_alternative': 'Mountain Pygmy Possum standing on its hind legs holding '
                      'a peanut that was given as a christmas gift.',
 'image_url': 'https://www.zoo.org.au/media/2058/16910_mountain_pygmy-possum_christmas_enrichment_2018_healesville_sanctuary.jpg?anchor=center&mode=crop&quality=75&width=2000&height=570&rnd=132131645290000000',
 'introduction': 'Mountain Pygmy-possums were thought to be extinct until they '
                 'were rediscovered at Mt Hotham in the 1960s.',
 'threat_paragraph': 'The major threats \r\n'
                     'Climate change, the loss of habitat and predators, '
                     'mainly feral cats and foxes, are all severe threats to '
                     'the Mountain Pygmy-possum.\xa0\r\n'
                     "An emerging threat is the reduction in the possum's key "
                     'food source over spring, the Bogong Moth. This is a '
                     'currently particular focus within the Mountain '
                     'Pygmy-possum Recovery Team.'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4acac3'),
 'animal_name': 'New Holland Mouse',
 'image_alternative': 'New Holland Mouse getting a health check wrapped in '
                      'blanket with just its head peaking out.',
 'image_url': 'https://www.zoo.org.au/media/1732/new-holland-mouse.jpg?anchor=center&mode=crop&quality=75&width=2000&height=570&rnd=132127425380000000',
 'introduction': 'The New Holland Mouse is classified as extinct in seven out '
                 'of 12 of its known Victorian locations.',
 'threat_paragraph': 'The major threats\r\n'
                     'The New Holland Mouse is increasingly under threat from '
                     'loss of habitat as well as predators such as feral cats '
                     'and foxes. Dieback caused by Cinnamon Fungus to its food '
                     'source is a major issue. Bushfires and the competition '
                     'from introduced rodents also put this native mouse at '
                     'risk.'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4acac4'),
 'animal_name': 'Regent Honeyeater',
 'image_alternative': 'Regent Honeyeater bird on a branch looking down. It is '
                      'mostly black with yellow speckles.',
 'image_url': 'https://www.zoo.org.au/media/2055/22249_regent_honeyeater_melbourne_zoo.jpg?center=0.42690058479532161,0.39666666666666667&mode=crop&quality=75&width=2000&height=570&rnd=132131643320000000',
 'introduction': 'The Regent Honeyeater has been in decline since the 1940s, '
                 'and its soft, metallic chiming call is rarely heard.',
 'threat_paragraph': 'The major threats\r\n'
                     'The loss of the Box-Ironbark forests is the major reason '
                     'for the diminishing number of Regent Honeyeaters. The '
                     'forests have been cut down for agriculture, suffer from '
                     'dieback, and have been removed for their timber. Many '
                     'large, spreading trees in the woodlands have been lost '
                     'through forestry practices.'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4acac5'),
 'animal_name': 'Swift Parrot',
 'image_alternative': 'Green Swift Parrot perched on a branch looking sideways '
                      'towards the camera.',
 'image_url': 'https://www.zoo.org.au/media/1960/23484_swift_parrot_offsite.jpg?center=0.27666666666666667,0.59666666666666668&mode=crop&quality=75&width=2000&height=570&rnd=132131594410000000',
 'introduction': 'The Swift Parrot is critically endangered.',
 'threat_paragraph': "['Unless we can solve the issues surrounding its "
                     'continued existence, there’s a 31% likelihood the parrot '
                     "will become extinct over the next 20 years.', "
                     "'Streamlined for speed, the Swift Parrot is one of the "
                     'few truly migratory parrots in the world. The Swift '
                     'Parrot is small, brightly coloured and feeds on nectar '
                     'from flowering eucalypts. In autumn, the entire wild '
                     'population migrates from Tasmania to Victoria’s Great '
                     "Dividing Range.', 'Major habitat loss has created a "
                     'serious problem for the Swift Parrot. More than 70% of '
                     'the forests and woodlands they rely upon is no longer '
                     "present.']"}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4acac6'),
 'animal_name': 'Greater Glider',
 'image_alternative': 'Greater Glider',
 'image_url': 'https://www.environment.vic.gov.au/__data/assets/image/0024/440367/Greater-Glider-black-Steve-Smith.jpg',
 'introduction': None,
 'threat_paragraph': 'Species InformationThe Greater Glider is Australia’s '
                     'largest gliding mammal. Greater Gliders have thick, dark '
                     'grey-brown fur on their back and creamy white fur on '
                     'their under-side, and can be found in different dark and '
                     'light-coloured morphs. They have a long, furry '
                     'prehensile tail and large furry ears.Greater Gliders are '
                     'found along the east coast of mainland Australia, from '
                     'central Queensland to central Victoria. Within Victoria, '
                     'Greater Gliders are distributed throughout forested '
                     'parts of eastern Victoria, including inland and southern '
                     'falls of the Great Dividing Range, as well as the '
                     'Strzelecki and Strathbogie Ranges. In eastern Victoria, '
                     'Greater Gliders are absent from high altitude alpine and '
                     'sub-alpine habitats, Wilson’s Promontory and cleared '
                     'areas. They can be found as far west as Daylesford and '
                     'the surrounding forested areas but do not occur in the '
                     'Otway Ranges.Greater Gliders are forest dependent and '
                     'prefer older tree age classes in moist forest types. '
                     'They use hollow-bearing trees for shelter and nesting, '
                     'with each family group using multiple den trees within '
                     'its home range. They eat mainly young eucalypt leaves, '
                     'with a preference for certain species.ThreatsGiven their '
                     'high dependence on forest and large hollow-bearing '
                     'trees, habitat loss and fragmentation through clearing '
                     'and bushfires pose a threat to Greater Gliders. Climate '
                     'change may also contribute to the contraction of '
                     'suitable habitat. Fragmented populations have a reduced '
                     'ability to recolonise suitable habitat and are at risk '
                     'of genetic decline.Some populations have been found to '
                     'have an increased risk of predation from Powerful '
                     'Owls.What’s being doneThere has been an array of recent '
                     'surveys conducted for the Greater Glider, '
                     'including:surveys of the Strathbogie Ranges in 2017 to '
                     'determine distribution and abundance;pre-harvest surveys '
                     'of proposed timber coupes as part of the Forest '
                     'Protection Survey Program; andlandscape scale surveys as '
                     'part of the modernisation of Victoria’s Regional Forest '
                     'Agreements.Parks Victoria manages large areas of '
                     'suitable habitat for the Greater Glider in the parks and '
                     'reserves system.Greater Gliders are among the species '
                     'being monitored as part of the long-term monitoring of '
                     'montane ash forests in the Central Highlands conducted '
                     'by the Australian National University.The Arthur Rylah '
                     'Institute (part of DELWP) has developed habitat '
                     'distribution models to assist in predicting where '
                     'suitable habitat might occur.The University of Melbourne '
                     'is undertaking spatial analyses to identify the best '
                     'areas for long-term protection.Greening Australia is '
                     'leading revegetation work across private land to expand '
                     'and link habitat in the Strzelecki Ranges as part of the '
                     'National Landcare Program.More information on new '
                     'measures to protect this species can be found in the '
                     "Action Statement.Who’s helpingConserving Victoria's "
                     'threatened species requires a collaborative approach. '
                     'There are a number of organisations and groups working '
                     'to protect Greater Gliders, these include:Arthur Rylah '
                     'Institute, Department of Environment, Land, Water and '
                     'PlanningAustralian National UniversityGreening '
                     'AustraliaParks VictoriaUniversity of '
                     'MelbourneResourcesGreater Glider Action Statement (PDF, '
                     '1.8 MB)'}
{'_id': ObjectId('5f6c17a1a31fd3a5ac4acac7'),
 'animal_name': 'Hooded Plover',
 'image_alternative': 'Hooded Plover',
 'image_url': 'https://www.environment.vic.gov.au/__data/assets/image/0030/428808/IMG_3825lr.jpg',
 'introduction': 'Species Information\r\n'
                 '\r\n'
                 'Hooded Plovers are a resident shorebird found along the '
                 'southern and eastern coasts of Australia. Hooded Plovers are '
                 'ocean beach specialists, highly selective of beach habitats '
                 'that support their survival and reproductive needs. Each '
                 'pair occupies a distinct territory, and the species is '
                 'widely dispersed.Hooded Plovers nest from August to March '
                 '(and sometimes April), which overlaps with the peak period '
                 'of human use of their beach habitats. They generally lay 1-3 '
                 'eggs in a simple nest scrape on the beach above the high '
                 'tide mark, foredune or dune, preferring open areas with '
                 'sparse to no vegetation. Incubation is for 28 days and they '
                 'use passive nest defence and heavy camouflage of the eggs to '
                 'reduce the chances of predation.After hatching it takes 35 '
                 'days until the chicks can fly. During this period, they are '
                 'active on the beach needing to find their own food, being '
                 'warned into hiding by calls from their parents. The chicks '
                 'will run to cover and crouch until the perceived threat is '
                 'gone and the parents call them out from hiding. The chicks '
                 'require brooding in their first two weeks as they are unable '
                 "to thermoregulate. They feed mostly at the water's edge and "
                 'along the wrack line amongst beach cast seaweed. They '
                 'commonly run from danger toward the dune and they crouch by '
                 'or under shelter such as rocks, vegetation or beach debris.',
 'threat_paragraph': 'Threats\r\n'
                     '\r\n'
                     'Hooded Plovers often share their ocean beach habitats '
                     'with people. Their habitat is suffering loss and '
                     'degradation via coastal development, weed infestations '
                     'and introductions of predators. Their nest defence '
                     'strategy is to leave the nest when a predator approaches '
                     'and stay distant from the eggs until the predator leaves '
                     'and it is safe to return. If the adult remains away for '
                     'too long or if disturbances are too frequent, the eggs '
                     'can be exposed to harsh temperatures that lead to the '
                     'death of the embryo inside or can be exposed to other '
                     'approaching predators. People using beaches for '
                     'recreation pose a high disturbance threat to incubating '
                     'birds, and some threats have been identified as having '
                     'higher disturbance impacts, for example dogs off leash '
                     'and recreational activities.'}

In [46]:
type(vba_fauna.find())

pymongo.cursor.Cursor

In [47]:
type(scraped_fauna.find())

pymongo.cursor.Cursor

## Test aggregations by animal names

In [48]:
# Aggregate total sightings by each animal (represented in common names, science names, taxon ids and taxon types) over 5 years
metadata = list(
    vba_fauna.aggregate(
    [
          {
                  "$group" : {
                      "_id" :"$comm_name",
                      "scientific_name": { "$first": "$sci_name" },
                      "taxon_id": { "$first": "$taxon_id" },
                      "taxon_type": { "$first": "$taxon_type" },
                      "total_sightings": { "$sum": "$totalcount" }
                  }
          }
    ]))

metadata

[{'_id': 'Mountain Pygmy-possum',
  'scientific_name': 'Burramys parvus',
  'taxon_id': '11156',
  'taxon_type': 'Mammals',
  'total_sightings': 823},
 {'_id': 'Greater Glider',
  'scientific_name': 'fam. Pseudocheiridae gen. Petauroides',
  'taxon_id': '527397',
  'taxon_type': 'Mammals',
  'total_sightings': 1},
 {'_id': 'Regent Honeyeater',
  'scientific_name': 'Anthochaera phrygia',
  'taxon_id': '10603',
  'taxon_type': 'Passerine birds',
  'total_sightings': 41},
 {'_id': 'Giant Burrowing Frog',
  'scientific_name': 'Heleioporus australiacus',
  'taxon_id': '13042',
  'taxon_type': 'Amphibians',
  'total_sightings': 2},
 {'_id': 'Hooded Plover',
  'scientific_name': 'Thinornis cucullatus',
  'taxon_id': '10138',
  'taxon_type': 'Waders',
  'total_sightings': 3208},
 {'_id': 'Mallee Emu-wren',
  'scientific_name': 'Stipiturus mallee',
  'taxon_id': '10527',
  'taxon_type': 'Passerine birds',
  'total_sightings': 722},
 {'_id': 'New Holland Mouse',
  'scientific_name': 'Pseudomys novaehollandiae',
  'taxon_id': '11455',
  'taxon_type': 'Mammals',
  'total_sightings': 119},
 {'_id': 'Swift Parrot',
  'scientific_name': 'Lathamus discolor',
  'taxon_id': '10309',
  'taxon_type': 'Non-passerine birds',
  'total_sightings': 2695},
 {'_id': "Leadbeater's Possum",
  'scientific_name': 'Gymnobelideus leadbeateri',
  'taxon_id': '11141',
  'taxon_type': 'Mammals',
  'total_sightings': 654}]

In [49]:
# Aggregate records by animal name
records_by_animal = list(vba_fauna.aggregate([
    {
        "$group" : {
            "_id" : "$comm_name",
            "record_id": { "$push": "$record_id" },
            "survey_id": { "$push": "$survey_id" },
            "number_sightings": { "$push": "$totalcount" },
            "long": { "$push": "$long" },
            "lat": { "$push": "$lat" },
            "start_date": { "$push": "$start_date" }
        }
    }
]))

records_by_animal[2]

{'_id': 'Regent Honeyeater',
 'record_id': ['10014718',
  '10015751',
  '10016087',
  '10016095',
  '10017362',
  '10017675',
  '10018806',
  '10018932',
  '10029738',
  '10031967',
  '10036445',
  '10054989'],
 'survey_id': ['1939609',
  '1940026',
  '1940157',
  '1940162',
  '1940695',
  '1940800',
  '1941200',
  '1941255',
  '1945556',
  '1946456',
  '1948156',
  '1955342'],
 'number_sightings': [1, 2, 2, 2, 9, 2, 8, 7, 2, 2, 2, 2],
 'long': [146.6318054,
  146.6318054,
  146.6318054,
  146.63279719999997,
  146.6318054,
  146.6553955,
  146.6622925,
  146.6318054,
  146.6737976,
  146.32060239999998,
  148.1578064,
  146.661499],
 'lat': [-36.1671982,
  -36.1671982,
  -36.1671982,
  -36.1651001,
  -36.1671982,
  -36.141201,
  -36.1400986,
  -36.1671982,
  -36.1417999,
  -36.3634987,
  -37.7052002,
  -36.1310005],
 'start_date': [datetime.datetime(2017, 4, 12, 0, 0),
  datetime.datetime(2017, 4, 22, 0, 0),
  datetime.datetime(2017, 4, 24, 0, 0),
  datetime.datetime(2017, 4, 24, 0, 0),
  datetime.datetime(2017, 5, 13, 0, 0),
  datetime.datetime(2017, 5, 15, 0, 0),
  datetime.datetime(2017, 6, 1, 0, 0),
  datetime.datetime(2017, 6, 3, 0, 0),
  datetime.datetime(2017, 10, 21, 0, 0),
  datetime.datetime(2017, 11, 5, 0, 0),
  datetime.datetime(2017, 12, 14, 0, 0),
  datetime.datetime(2018, 5, 21, 0, 0)]}

In [50]:
# Aggregrate total sightings for each animal by month
sightings_by_month = list(vba_fauna.aggregate([
    {
        "$group": {
            "_id": {
                "animal_name": "$comm_name",
                "year_month": "$year_month"
            },
            "total_sightings": { "$sum": "$totalcount" }
        }
    }
]))
sightings_by_month[0:10]

[{'_id': {'animal_name': 'Hooded Plover', 'year_month': '2015-11'},
  'total_sightings': 23},
 {'_id': {'animal_name': 'Mallee Emu-wren', 'year_month': '2017-02'},
  'total_sightings': 5},
 {'_id': {'animal_name': 'New Holland Mouse', 'year_month': '2015-03'},
  'total_sightings': 33},
 {'_id': {'animal_name': 'Hooded Plover', 'year_month': '2015-07'},
  'total_sightings': 10},
 {'_id': {'animal_name': "Leadbeater's Possum", 'year_month': '2018-10'},
  'total_sightings': 15},
 {'_id': {'animal_name': "Leadbeater's Possum", 'year_month': '2019-10'},
  'total_sightings': 12},
 {'_id': {'animal_name': 'Regent Honeyeater', 'year_month': '2017-06'},
  'total_sightings': 15},
 {'_id': {'animal_name': 'Mallee Emu-wren', 'year_month': '2018-02'},
  'total_sightings': 3},
 {'_id': {'animal_name': 'Swift Parrot', 'year_month': '2016-09'},
  'total_sightings': 3},
 {'_id': {'animal_name': 'Swift Parrot', 'year_month': '2017-04'},
  'total_sightings': 29}]

In [51]:
# Remove "_id" field in vba_fauna to make the table more presentable
data_table = list(vba_fauna.aggregate([ { "$unset": ["_id"] } ]))
data_table[0:2]

[{'record_id': '8492998',
  'survey_id': '1343293',
  'taxon_id': '13042',
  'taxon_type': 'Amphibians',
  'comm_name': 'Giant Burrowing Frog',
  'sci_name': 'Heleioporus australiacus',
  'totalcount': 1,
  'long': 147.4629059,
  'lat': -37.7196007,
  'start_date': datetime.datetime(2016, 3, 5, 0, 0),
  'year_month': '2016-03'},
 {'record_id': '8952200',
  'survey_id': '1714254',
  'taxon_id': '13042',
  'taxon_type': 'Amphibians',
  'comm_name': 'Giant Burrowing Frog',
  'sci_name': 'Heleioporus australiacus',
  'totalcount': 1,
  'long': 147.6287994,
  'lat': -37.3727989,
  'start_date': datetime.datetime(2018, 6, 26, 0, 0),
  'year_month': '2018-06'}]